@import "init";

@media(max-device-width:420px) {
	.pro-grid {
		padding: 10px;
	}
	.cm_person .pro-grid li {
		width: 100%;
		display: block;
		vertical-align: middle;
		margin-bottom: 0;
		&:nth-child(1) {
			width: 40% !important;
			margin: auto;
		}
	}
	#edit-basic .form-item {
		width: 60% !important;
	}
	.custom_filter_css .item-list ul li {
		padding: 6px 5px !important;
		a {
			letter-spacing: 0 !important;
			font-size: 13px;
		}
	}
}

@media(min-width:240px) and(max-width:767px) {
	.col-sm-12.calender {
		display: none;
	}
}
@media(min-width:768px) {
	.mobile-calender {
		display: none;
	}
}
@media(min-width:768px) and(max-width:1024px) {
	.pane-menu-tree {
		h2 {
			font-size: 12px;
		}
		&.col-md-3 {
			float: left;
			padding-left: 20px;
			padding-right: 5px;
			width: 25%;
		}
		.menu.nav li a {
			font-size: 12px;
		}
	}
	.col-md-3 {
		&.sponser-pane {
			padding: 0 10px;
			width: 170px;
		}
		&.social.icon {
			padding: 0 10px;
			width: 170px;
		}
	}
	.news-leter {
		.webform-client-form.webform-client-form-18 {
			padding-left: 5px;
		}
		.webform-submit.button-primary {
			height: 28px;
		}
		.webform-component input {
			font-size: 11px;
		}
	}
	.webform-component {
		width: 20%;
	}
	.hamburger .modal-dialog {
		width: 700px;
	}
	.popup.region {
		.views-field {
			&.views-field-field-cm-info-block-icon {
				padding: 2px;
			}
			&.views-field-label {
				padding-left: 5px;
				padding-right: 0;
				width: 80%;
			}
			&.views-field-field-cm-info-block-text {
				padding-left: 5px;
				padding-right: 0;
				width: 80%;
			}
		}
		.pane-menu-tree .menu.nav li {
			line-height: 28px;
		}
		.view-bean-infomation-block-view tr {
			width: 25%;
			float: left;
		}
		.social img {
			height: auto;
			width: 90%;
		}
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		padding: 8px 8px 0;
		width: 25%;
		a {
			font-size: 12px;
		}
		li {
			line-height: 32px;
			a {
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
	.panel-pane.pane-block.news-leter {
		float: left;
		padding-right: 0;
		width: 50%;
	}
}
@media(min-width:850px) and(max-width:980px) {
	.webform-component {
		width: 22%;
	}
	.col-md-3 {
		&.sponser-pane {
			width: 198px;
		}
		&.social.icon {
			width: 198px;
		}
	}
	.hamburger .modal-dialog {
		width: 800px;
	}
}
@media(min-width:981px) and(max-width:1024px) {
	.webform-component {
		width: 24%;
	}
	.col-md-3 {
		&.sponser-pane {
			width: 210px;
		}
		&.social.icon {
			width: 210px;
		}
	}
	.hamburger .modal-dialog {
		width: 900px;
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		width: 33%;
	}
}
@media(min-width:1025px) and(max-width:1199px) {
	.webform-component {
		width: 23%;
	}
	.col-md-3 {
		&.sponser-pane {
			width: 240px;
		}
		&.social.icon {
			width: 240px;
		}
	}
	.hamburger .modal-dialog {
		width: 980px;
	}
	.popup.region {
		.views-field {
			&.views-field-field-cm-info-block-icon {
				padding: 4px;
			}
			&.views-field-label {
				padding-left: 5px;
			}
			&.views-field-field-cm-info-block-text {
				padding-left: 5px;
			}
		}
		.social.icon img {
			height: auto;
			width: 90%;
		}
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		width: 32%;
	}
	.pane-menu-tree.col-md-3 {
		padding-left: 38px;
		padding-right: 10px;
		width: 25%;
	}
}
@media(min-width:320px) and(max-width:480px) {
	.navbar-header {
		width: 100%;
	}
	.sticky-header {
		&.header .hambruger.-menu.navbar-toggle {
			margin-left: 15px;
			margin-top: 8px;
		}
		.navbar-toggle .icon-bar {
			height: 1px;
			width: 12px;
		}
		.navbar-brand > img {
			height: 48px;
		}
	}
	.hamburger {
		.modal-dialog {
			margin: 0 auto;
			width: 300px;
		}
		.modal-body .close {
			padding: 10px;
		}
	}
	.col-md-3 {
		&.sponser-pane {
			text-align: center;
			width: 100%;
		}
		&.social.icon {
			text-align: center;
			width: 100%;
		}
	}
	.news-leter {
		.webform-client-form.webform-client-form-18 {
			padding-left: 15px;
			padding-right: 15px;
		}
		.webform-component input {
			border-radius: 0 !important;
		}
		.webform-submit.button-primary {
			border-radius: 0 !important;
		}
	}
	.webform-component {
		margin: 0;
		width: 98%;
	}
	.hambruger.-menu.navbar-toggle {
		border: 1px solid $white;
		margin-left: 15px;
		margin-top: 8px;
	}
	.navbar .navbar-brand {
		height: 70px!important;
	}
	.navbar-toggle .icon-bar {
		transition: all 0.5s ease 0s;
	}
	.pane-menu-tree.col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		float: left;
		padding: 0;
		width: 100%;
		li a {
			font-weight: normal;
		}
	}
	.popup.region .view-bean-infomation-block-view {
		tr {
			border: 1px solid $color_celeste_approx;
		}
		tbody {
			border: 1px solid $color_celeste_approx;
		}
	}
	.panel-pane.pane-block.news-leter {
		float: left;
		padding: 0;
	}
}
@media(min-width:360px) and(max-width:399px) {
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 330px;
	}
}
@media(min-width:400px) and(max-width:450px) {
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 350px;
	}
}
@media(min-width:451px) and(max-width:480px) {
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 400px;
	}
}
@media(min-width:481px) and(max-width:640px) {
	.navbar-header {
		width: 100%;
	}
	.sticky-header {
		&.header {
			.navbar-default {
				min-height: 52px;
			}
			.hambruger.-menu.navbar-toggle {
				margin-left: 30px;
				margin-top: 8px;
			}
		}
		.navbar-toggle .icon-bar {
			height: 1px;
			width: 12px;
		}
	}
	.navbar {
		min-height: 70px;
	}
	.col-md-3 {
		&.sponser-pane {
			text-align: center;
			width: 100%;
		}
		&.social.icon {
			text-align: center;
			width: 100%;
		}
	}
	.webform-component {
		width: 23%;
	}
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 440px;
	}
	.hambruger.-menu.navbar-toggle {
		border: 1px solid $white;
		margin-top: 8px;
	}
	.navbar-toggle .icon-bar {
		transition: all 0.5s ease 0s;
	}
	.pane-menu-tree.col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		padding: 0;
		width: 100%;
		li a {
			font-weight: normal;
		}
	}
	.popup.region .view-bean-infomation-block-view {
		tr {
			border: 1px solid $color_celeste_approx;
		}
		tbody {
			border: 1px solid $color_celeste_approx;
		}
	}
	.panel-pane.pane-block.news-leter {
		float: left;
		width: 100%;
	}
	.news-leter .webform-client-form.webform-client-form-18 {
		padding-left: 10px;
	}
}
@media(min-width:560px) and(max-width:640px) {
	.webform-component {
		width: 25%;
	}
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 530px;
	}
}
@media(min-width:641px) and(max-width:767px) {
	.navbar-header {
		width: 100%;
	}
	.sticky-header {
		&.header {
			.navbar-default {
				min-height: 52px;
			}
			.hambruger.-menu.navbar-toggle {
				margin-left: 30px;
				margin-top: 8px;
			}
		}
		.navbar-toggle .icon-bar {
			height: 1px;
			width: 12px;
		}
	}
	.navbar {
		min-height: 70px;
	}
	.col-md-3 {
		&.sponser-pane {
			text-align: center;
			width: 100%;
		}
		&.social.icon {
			text-align: center;
			width: 100%;
		}
	}
	.webform-component {
		width: 26%;
	}
	.hamburger .modal-dialog {
		margin: 0 auto;
		width: 600px;
	}
	.hambruger.-menu.navbar-toggle {
		border: 1px solid $white;
		margin-top: 8px;
	}
	.navbar-toggle .icon-bar {
		transition: all 0.5s ease 0s;
	}
	.pane-menu-tree.col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.pane-menu-menu-site-main-menu .menu.nav li.expanded {
		padding: 0;
		width: 100%;
		li a {
			font-weight: normal;
		}
	}
	.popup.region .view-bean-infomation-block-view {
		tr {
			border: 1px solid $color_celeste_approx;
		}
		tbody {
			border: 1px solid $color_celeste_approx;
		}
	}
	.panel-pane.pane-block.news-leter {
		float: left;
		width: 100%;
	}
	.news-leter .webform-client-form.webform-client-form-18 {
		padding-left: 10px;
	}
}

@media(min-device-width:620px) {
	.search_result ol {
		padding: 0;
		margin: auto;
	}
}

@media only screen and(max-width: 500px) {
}
@media only screen and(max-width: 760px),(min-device-width: 768px) and(max-device-width: 1024px) {
	table {
		display: block;
	}
	thead {
		display: block;
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	tbody {
		display: block;
	}
	th {
		display: block;
	}
	td {
		display: block;
		border: none;
		border-bottom: 1px solid $color_gallery_approx;
		position: relative;
		padding-left: 50%;
		&:before {
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
	}
	tr {
		display: block;
		border: 1px solid $color_celeste_approx;
	}
}
@media only screen and(min-device-width : 320px) and(max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0 auto;
		width: 320px;
	}
}

@media(max-width:320px) {
	.sticky-header {
		&.header {
			.navbar-default {
				height: 42px !important;
			}
			.hambruger.-menu.navbar-toggle {
				margin-top: 8px !important;
				margin-left: 8px !important;
				border: 1px solid $white !important;
			}
		}
		.navbar-toggle {
			margin-right: 10px !important;
			padding: 5px 9px !important;
		}
		.navbar-collapse {
			background-color: $black !important;
		}
		.navbar .navbar-toggle .icon-bar {
			height: 1px !important;
			width: 8px !important;
		}
		.navbar-brand > img {
			height: 40px !important;
		}
	}
	.navbar-default {
		height: 50px !important;
	}
	.navbar-header {
		width: 100% !important;
	}
	.navbar-toggle {
		padding: 8px 10px !important;
	}
	.navbar {
		.navbar-brand {
			height: 50px !important;
			padding: 8px 8px !important;
		}
		.navbar-collapse {
			background-color: $main_color !important;
			padding: 2px;
			overflow-x: hidden;
		}
		.navbar-toggle .icon-bar {
			height: 1px !important;
			width: 14px !important;
		}
	}
	.col-md-3 {
		padding-left: 6px;
		padding-right: 6px;
		&.header-right > li {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	.hambruger.-menu.navbar-toggle {
		margin-top: 8px !important;
		margin-left: 8px !important;
		border: 1px solid $white !important;
	}
	.navbar-brand > img {
		height: 42px !important;
	}
}
@media(min-width:320px) and(max-width:480px) {
	.node-type-cm-movie {
		.view-display-id-panel_pane_2 {
			.slide-over-content {
				bottom: 1em;
				left: 0;
			}
			.slide-left-ct {
				position: relative;
				width: 85%;
				float: right;
				left: 15%;
				.slide-movie-title {
					font-size: 1.56rem;
				}
			}
			.slide-right-ct {
				float: left;
				position: relative;
				margin-top: 0;
				width: 10%;
				a {
					height: 48px;
					width: 48px;
				}
			}
		}
		.table-responsive {
			overflow-x: hidden;
		}
		.panels-flexible-row {
			&.content {
				width: 100%;
			}
			&.bottom.content {
				width: 100%;
			}
		}
		.views-field {
			&.views-field-field-cm-movie-country {
				font-size: .7rem;
			}
			&.views-field-field-cm-movie-body p {
				font-weight: 600;
				font-size: 1.2rem;
				margin: 0;
			}
		}
		table thead {
			display: none;
		}
		.view-id-movie_top_pane_view.view-display-id-panel_pane_7 {
			td {
				&:nth-of-type(2) {
					display: none;
				}
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: none;
				}
			}
			.views-field-field-toptix-purchase {
				float: left;
				button {
					padding: 3px 5px;
				}
			}
			.views-field-field-cm-event-hall {
				float: left;
			}
			.views-field-field-cm-event-time {
				float: left;
				color: $color_celeste_approx;
			}
			.views-field-field-cm-event-time-1 {
				color: $color_celeste_approx;
			}
			table tr {
				padding: 0.2em 0;
				border-bottom: 1px solid $color_celeste_approx !important;
				clear: both;
				min-height: 80px;
			}
		}
		.content.middle {
			.panels-flexible-region-node_page-content_left {
				width: 100%;
			}
			.panels-flexible-region-node_page-content_right {
				display: none;
			}
			.inside.panels-flexible-row-inside {
				width: 100%;
			}
		}
		#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
			margin-right: 0;
			margin-top: 0;
			width: auto;
			padding-left: 0;
		}
		.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
			padding-right: 0;
			width: 100%;
			tr {
				padding: 0;
			}
			.views-field-field-cm-person-last-name {
				float: left;
			}
		}
	}
	.table-responsive {
		border: 0 solid $color_alto_approx;
	}
}
@media(max-width: 640px) and(min-width: 481px) {
	.node-type-cm-movie {
		.slide-over-content {
			left: 30%;
		}
		.panels-flexible-row {
			&.content {
				width: 100%;
			}
			&.bottom.content {
				width: 100%;
			}
		}
		.views-field {
			&.views-field-field-cm-movie-country {
				font-size: .7rem;
			}
			&.views-field-field-cm-movie-body p {
				font-weight: 600;
				font-size: 1.2rem;
				margin: 0;
			}
		}
		table thead {
			display: none;
		}
		.view-id-movie_top_pane_view.view-display-id-panel_pane_7 {
			td {
				&:nth-of-type(2) {
					display: none;
				}
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: none;
				}
			}
			.views-field-field-toptix-purchase {
				float: left;
				button {
					padding: 3px 5px;
				}
			}
			.views-field-field-cm-event-hall {
				float: left;
			}
			.views-field-field-cm-event-time {
				float: left;
				color: $color_celeste_approx;
			}
			.views-field-field-cm-event-time-1 {
				color: $color_celeste_approx;
			}
			table tr {
				padding: 0.2em 0;
				border-bottom: 1px solid $color_celeste_approx !important;
				clear: both;
				min-height: 80px;
			}
		}
		.content.middle {
			.panels-flexible-region-node_page-content_left {
				width: 100%;
			}
			.panels-flexible-region-node_page-content_right {
				display: none;
			}
			.inside.panels-flexible-row-inside {
				width: 100%;
			}
		}
		#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
			margin-right: 0;
			margin-top: 0;
			width: auto;
			padding-left: 0;
		}
		.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
			padding-right: 0;
			width: 100%;
			tr {
				padding: 0;
			}
			.views-field-field-cm-person-last-name {
				float: left;
			}
		}
	}
	.table-responsive {
		border: 0 solid $color_alto_approx;
	}
}
@media(min-width: 768px) {
	.node-type-cm-movie .content.middle {
		.panels-flexible-region-node_page-content_left {
			width: 100%;
		}
		.panels-flexible-region-node_page-content_right {
			display: none;
		}
		.inside.panels-flexible-row-inside {
			width: 100%;
		}
	}
}

