@import "init";

.calender{
	padding: 0;
	overflow: hidden;
}
.calender-header {
	background: $white none repeat scroll 0 0;
	float: left;
	margin-top: 10px;
	min-width: 94%;
	padding: 0;
	left: 0;
	position: relative;
}
.calender-body {
	background-color: $color_pampas_approx;
	float: left;
	font-size: 12px;
	min-width: 94%;
	left: 0;
	position: relative;
	padding: 0;
	min-width: 100%;
}

.calender-full-row {
	padding: 10px;
	float: left;
	padding: 5px 0;
	width: 100%;
	.custom-row:nth-child(1){
		width: 100px;
	}
	.col-sm-2 {
		padding-left: 5px;
		padding-right: 5px;
	}
	> div {
		float: left;
		min-height: 100px;
		width: 217px;
	}
}
.calender-row {
	width: 210px;
	min-height: 80px!important;
	&.inner {
		background: $white none repeat scroll 0 0;
		box-shadow: 0 1px 3px 0px;
		cursor: pointer;
		padding: 7px 15px;
		float: left;
		min-height: 160px;
	}
	.time {
		float: left;
		margin-top: 0;
	}
	.title {
		float: left;
		line-height: 16px;
		padding-top: 10px;
		width: 100%;
	}
	.subtitle {
		float: left;
		line-height: 16px;
		padding-top: 6px;
		width: 100%;
		padding-bottom: 10px;
	}
	.comment{
		clear: both
	}
}
.calendar-agenda-items {
	float: left;
	text-align: center;
	margin: 0;
}
.tickets {
	> a {
		color: $white;
		font-weight: bold;
		padding: 6px 26px;
	}
}

.calender-row .internal-id{
	bottom: 20px;
}
.calender-popup {
	display: none;
	margin-left: 80px;
	margin-top: 45px;
	position: absolute;
	width: 500px;
	z-index: 9;
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
			margin: 15px;
		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	> img.close-calender-popup {
		float: right;
		position: absolute;
		right: -8px;
		top: -15px;
		cursor: pointer;
	}
	.calender-row.inner {
		cursor: default;
		padding: 20px;
		width: 210px;
	}
	.body > p {
		font-size: 14px;
	}
}

#calender-top-popup{
		.read-more{
			color: #000;
			padding-top: 10px;
			position: relative;
			float: left;
			&:before{
			    border-style: solid;
			    border-width: 5px 0 5px 5px;
			    content: "";
			    display: block;
			    height: 0;
			    position: absolute;
			    right: -10px;
			    top: 16px;
			    width: 0;
			}
		}
		.toptix-purchase, .sold-out{
			width: 20%;
			padding: 6px 0;
		}
}

.calender-filter {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	width: 100%;
	left: 0!important;
	transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
	&.scroll-to-fixed-fixed{
		padding-bottom: 107px;
	}
	> p {
		background-color: $wild_sand;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		padding-bottom: 10px;
		padding-top: 5px;
		text-align: center;
		width: 80px;
		box-sizing: border-box;
		@include res(s-m){
			margin: 0;
			border-left: 1px solid;
			padding-top: 2px;
			padding-bottom: 5px;
		}
		&:hover {
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
		&.active {
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
	}
	span {
		color: $color_bazaar_approx;
		float: left;
		font-size: 14px;
		font-weight: normal;
		width: 100%;
		@include res(s-m){
			font-size: 12px;
		}
	}
}

.calenders{
		.filter-cantrol{
    		position: absolute;
    		z-index: 199;
    		font-size: 35px;
    		background-color: #fff;
    		padding-bottom: 5px;
    		cursor: pointer;
    		&.no-active{
    			opacity: 0.2;
    		}
    	}
    	.prevday{
    		padding-left: 5px;
    		padding-right: 12px;
    		padding-top: 10px;
    		padding-bottom: 10px;
    		@include res(s-m){
    			padding-top: 0;
    			padding-bottom: 5px;
    		}
    	}
    	.nextday{
    		padding-right: 5px;
    		padding-left: 12px;
    		right: 0;
    		padding-top: 10px;
    		padding-bottom: 10px;
    		@include res(s-m){
    			padding-top: 0;
    			padding-bottom: 5px;
    		}
    	}
}

/*.filter-wrapper.fixedPos{
    background-color: #fff;
    position: fixed!important;
    top: 50px!important;
    width: 100%;
    z-index: 200;
    .calender-filter{
    	margin-bottom: 0!important;
    }
}
*/
.filter{
	width: 100%;
	padding: 0;
	.filter-wrapper{
	   background-color: #fff;
	    padding-top: 69px;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 300;
	    height: 160px;
	    overflow: hidden;
	    @include res(s-m){
	    	height: 135px;
	    }
	    .inner{
	    	@include width;
	    	padding: 0;
	    	width: 960px!important;
	    	overflow: hidden;
	    	position: relative;
	    	&.noleft{
	    		.prevday{
	    			opacity: 0;
	    		}
	    	}
	    	&.noright{
	    		.nextday{
	    			opacity: 0;
	    		}
	    	}
	    }
	}
}
/*
.calendar-dayview-hour {
	float: left;
	height: 30px;
	width: 100px;
	margin: 0;
}

.pane-complex-calender-view-pane{
	.ajax-inner {
		float: left;
		overflow: hidden;
		width: 100%;
	}
	.flag-wrapper{
		float: right;
		.flag {
			margin: 0;
			background-size: 100% 100%;
			float: left;
			font-size: 0;
			height: 16px;
			overflow: hidden;
			width: 18px;
		}
	}
}

#calender-top-popup {
	float: left;
	left: 40%;
	position: absolute;
	top: 50%;
	width: 500px;
	display: none;
	.close-calender-popup {
		position: absolute;
		right: -10px;
		top: -10px;
		cursor: pointer;
	}
	&.visible {
		display: block;
		z-index: 99;
	}
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
		    box-sizing: border-box;
		    display: inline-block;
		    padding: 8px 8px 8px 0;
		    width: 20%;
  		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	.calender-row.inner {
		width: 500px;
		cursor: default;
		padding: 20px;
	}
	.body > p {
		font-size: 14px;
	}
}

.scroll-date{
	position: relative;
	padding: 0;
	overflow: hidden;
	width: 100%;
	border-bottom: 2px solid $wild_sand;
	padding-bottom: 8px;
	.wrapper{
		@include width;
	}
}

.calender-filter-date{
	float: left;
	margin-top: 10px;
	width: 30%;
	padding: 0;
}

.calender-scroll{
	width: 30%;
	float: right;
	background: none;
	text-align: right;
	margin-top: 13px;
	p{
		margin: 0;
		display: inline-block;
		font-size: 0px;
		height: 19px;
	    width: 10px;
	    cursor: pointer;
	    margin-top: 5px;
	    position: relative;
	    top: -16px;
	}
	> span {
		  font-size: 18px;
		  font-weight: bold;
		  margin-right: 5px;
	}
	.scrollright{
		background: url("../images/more-gold-right.png") no-repeat center center;
		margin-left: 20px;
	}
	.scrollleft{
		background: url("../images/more-gold-left.png") no-repeat center center;
		margin-right: 20px;
	}
}

.pane-complex-calender-view-pane{
	.pane-title{
	   font-size: 50px;
	    font-weight: normal;
	    margin-top: 70px;
	    padding: 0 3%;
	    text-align: center;
	}
}

.page-node-3261, .page-node-3284{
	.panel-panel{
		padding: 0;
	}
	#main-wrapper{
		background-color: #fff;
	}
	#page-header .page-header{
		display: block;
		border: none;
	}
}

.fixed-header-calendar .calender-filter{
	position: fixed;
}

.scroll-calendar{
	.calender-filter{
		position: fixed;
		z-index: 400;
		padding-bottom: 96px;
		top: 0;
	}
	.scroll-date{
		position: fixed;
		top: 132px;
		z-index: 500;
	}
	.calender-header{
		position: fixed;
		top: 183px;
		z-index: 400;
		.calendar-agenda-items{
			left: 60px;
			position: relative;
		}		
	}
}

.node-type-cm-article{
	&.page-node-3261, &.page-node-3284{
		.panel-panel-inner .panel-pane{
			width: 100%!important;
		}
	}
}*/

/******  float-calendar  ***********/

.float-calendar-wrapper{
	z-index: 400;
	position: fixed;
	top:60px;
	box-sizing: border-box;
	width: 300px;
	right: 30px;
	opacity: 1;
	transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	@include res(s-m){
		width: 100%;
		padding: 0!important;
		left: 0;
		top: 50px;
		overflow-y: auto;
		max-height: 100%;
		background-color: #ececec;
	}
	.toptix-purchase, .sold-out{
		width: 62px;
	}
	button{
		margin: 0!important;
	}
	&.hide-float{
		top: -100px;
		opacity: 0;
		z-index: -100;
	}
	.close-button{
		background-color: #ececeb;
		padding: 6px 12px 5px;
		overflow: hidden;
		border: 1px solid #B3B3B3;
		.close{
			opacity: 1;
			background-position: left center!important;
			padding-left: 30px;
			font-size: 13px;
			font-weight: normal;
			float: left;
			background-size: 14px!important;
			@include res(s-m){
				font-size: 16px;
				background-size: 17px!important;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		.link-main-calendar{
		    float: right;
		    font-size: 13px;
		    line-height: 1px;
		    padding: 6px 0;
		    @include res(s-m){
		    	font-size: 16px;
		    	padding: 12px 0;
		    }
		}
	}
	
	.ajax-progress{
				display: none;
			}

}

.play .float-calendar-wrapper{
	z-index: -1;
}

#main-menu .mini-calendar {
	cursor: pointer;
}

.view-custom-calendar-floating-pane{
	tbody th{
		display: none;
	}
	tbody tr:first-child{
		display: none;
	}
	.calendar-calendar div.calendar{
		font-size: 18px;
	}
	.views-field-field-cm-event-time{
		width: 43px;
		float: left;
	}
	.views-field-field-toptix-purchase, .views-field-field-tickets-sold-out{
		float: right;
		width: 62px!important;
		margin: 0!important;
		font-size: 13px;
		height: 20px;
		button{
			margin: 0;
			width: 62px!important;
		}
	}
	.views-field-views-conditional{
		width: 100%!important;
		clear: left;
		float: left;
	}
	colgroup{
		display: none;
	}
	.calendar.dayview{
		padding: 0!important;
		margin: 0!important;
		.contents{
		    box-sizing: border-box;
		    margin: 0;
		    padding: 8px 8px 5px;
		}
	}
	.view-content{
		width: 100%;
		border-top: none;
		overflow-y: auto; 
		overflow-x: hidden; 
		@include res(s-m){
			overflow-y: auto;
		}
	}
	.contents{
		display: inline-block;
		font-size: 0.8em;
		color: #333;
		width: 100%;
		a{
			color: #333!important;
		}
	}
	.toptix-purchase, .sold-out{
		float: right;
		margin-right: 5px;
	}
	.view-custom-calendar-floating-pane{
		position: relative!important;
		left: auto!important;
		width: 300px!important;
		float: right;
		z-index: 50;
	}
	.calendar-agenda-items{
		padding: 0!important;
		width: 100%;
	}
	.date-nav-wrapper{
		margin: 0;
		.pager{
			margin:0;
		}
	}
	.holder td{
		padding: 0!important;
	}
}

.page-node-4284, .page-node-4285{
	background-color: #f9f4ee;
	.col-md-12{
		position: unset;
	}
	.pane-article-ct-panes-panel-pane-1{
		display: none;
	}
	.share-this-pane-mobile{
		display: none;
	}
}

.pane-calendar-full-width-calendar{
	.lobby-container{
		margin-bottom: 20px;
		background-color: #fff;
	}
		.ticket-details{
			width: 17%;
			float: left;
			padding: 14px 10px;
			@include res(s-m){
				width: 100%;
				 font-size: 14px;
			}
			.time{
				@include res(s-m){
					padding: 11px 0!important;
					width: 50px!important;
					float: left!important;
				}
			}
			.hall{
				font-size: 16px;
				@include res(l){
					font-size: 12px;
				}
				@include res(s-m){
					width: -webkit-calc(100% - 176px)!important;
    				width: -moz-calc(100% - 176px)!important;
    				width: calc(100% - 176px)!important;
					text-align: center!important;
					float: none!important;
					display: inline-block;
					padding: 11px 0!important;
				}
			}
			.row-custom-lobby .calendar-flag{
				@include res(s-m){
					width: 111px!important;
					float: right!important;
					padding: 8px 0!important;
					font-size: 14px;
					.purchase{
						float: right;
					}
				}
			}
			.row-custom-lobby{
				@include res(s-m){
					margin: 0;
				}
			}
			.row-custom-lobby > div{
				width: 100%;
				padding-bottom: 15px;
				@include res(s-m){
					float: left;	
					margin-top: 0;
					padding-bottom: 0;
				}
				> span{
					width: 36px!important;
					float: left;
					padding: 0!important;
					a{
						float: left;
					}
				}
				.like-flag{
					height: 25px;
					padding-top: 7px!important;
					.flag-throbber{
						position: absolute;
					}
				}
				&.calendar-flag{
					height: 40px;
				}
			}
			.time{
				font-weight: bold;
				font-size: 42px;
				@include res(s-m){
					width: 70px;
					font-size: 17px;
					padding-top: 8px!important;
				}
				@include res(l){
					font-size: 36px;
				}
			}
			.hall{
				@include res(s-m){
					width: -webkit-calc(100% - 150px);
    				width: -moz-calc(100% - 150px);
    				width: calc(100% - 150px);
					text-align: center;
					font-size: 0.9em;
				}
			}
			.purchase{
				padding-bottom: 0;
				width: 73px;
				float: left;
				margin-right: 15px;
				button{
					font-size: 12px;
					padding: 5px 7px;
					float: left;
				}
				@include res(l){
					width: 100%;
					margin-bottom: 10px;
					margin-right: 0;
				}
				@include res(s-m){
					padding-top: 0;
					margin: 0;
				}
			}
		}
		.lobby-term-left{
			float: left;
			width: 30%;
			position: relative;
			@include res(s-m){
				width: 100%;
			}
			.flag {
			    position: absolute;
			    right: 10px;
			    z-index: 100;
			    top: 10px;
			}
		}
		.lobby-term-right{
			float: right;
			width: 53%;
			padding: 14px 20px;
			box-sizing: border-box;
			@include res(s-m){
				width: 100%;
			}
			.lobby-summary{
				font-size: 16px;
				p{
				  font-size: 16px;
				  margin-bottom: 0;
				}
			}
			table tbody{
				border: none;
			}
			.lobby-length{
				color: #919191;
			}
			.table-responsive{
				overflow: visible;
				table{
					margin-bottom: 0;
				}
			}
			.lobby-title{
				margin: 0px;
			}
			.calendar-below-title-content{
				   color: #919191;
    				font-size: 0.9em;
    				line-height: 28px;
    				span{
    					border-right: 2px solid;
    					margin-right: 8px;
    					padding-right: 8px;
    					line-height: 20px;
    					display: inline-block;
    				}
    				span:last-child{
    					border:none;
    				}
    			}
		}
		.row-custom-lobby{
			@include res(s-m){
				margin-top: 20px;
			}
			td{
				padding-top: 0;
				padding-bottom: 0;
				@include res(s-m){
					padding-right: 0!important;
				}
			}
			.left{
				float: left;
				width: auto;
				border-right: 2px solid!important;
				margin-right: 8px;
				font-weight: bold;
				font-size: 19px;
				line-height: 23px;
				@include res(l){
					font-size: 13px;
				}
				@include res(s-m){
					font-size: 13px;
					border:none!important;
					font-weight: normal;
					margin: 0;
					vertical-align: middle;
					float: none!important;
				}
				&.hall{
					border:none!important;
				}
			}
			.hall{
				border:none!important;
			}
			.right{
				float: right;
				@include res(s-m){
					float: none!important;
					vertical-align: middle;
				}
			}
			.purchase{
				padding-right: 0;
				padding-left: 0;
				min-height: 1px;
			}
		}
}






.calendar-calendar td.calendar-agenda-items{
	border:none;
}

.calendar-calendar td.calendar-agenda-items div.calendar{
	padding: 0;
}

.pane-calendar-full-width-calendar .pane-title{
    display: none;
}
.pane-calendar-full-width-calendar .ajax-inner{
   background-color: #f9f4ee;
   padding-bottom: 90px;
   overflow: hidden;
   margin-top: 100px;
   @include res(s-m){
   	margin-top: 94px;
   }
}
.loading{
    background-color: #000;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .image{
	    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0;
	    height: 38px;
	    left: 48%;
	    position: absolute;
	    top: 48%;
	    width: 38px;
    }
}
.pane-calendar-full-width-calendar .ajax-inner .calendar-full-container{
    width: 1280px !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 6% 0;
    box-sizing: border-box;
   background-color: #f9f4ee;
}
.pane-calendar-full-width-calendar .calenders-filter-date p,
.pane-calendar-full-width-calendar .calendar-floating-top-content span,
.pane-calendar-full-width-calendar .lobby-title a,
.pane-calendar-full-width-calendar .lobby-title{
    color: #000000!important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2%;
}

.pane-calendar-full-width-calendar .lobby-title.second{
	padding-top: 10px;
}

.pane-calendar-full-width-calendar .lobby-container{
  margin-top: 3%; 
  .table{
  	margin-bottom: 5px;
  } 
}

.pane-calendar-full-width-calendar .addthisevent-drop{
    padding-top: 20px !important;
}
.cal-add-event {
    margin-left: 45%;
}
.pane-calendar-full-width-calendar .calenders-filter-date p{
    margin: 3% 0 2%;
}


.view-custom-calendar-floating-pane .view-header{
   background-color: #000; 
   height: 50px;
}
.view-custom-calendar-floating-pane #multi-day-container{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: 100% !important;
}
.view-custom-calendar-floating-pane #multi-day-container,
.view-custom-calendar-floating-pane #multi-day-container tbody,
.view-custom-calendar-floating-pane #multi-day-container tbody tr,
.view-custom-calendar-floating-pane #multi-day-container table,
.view-custom-calendar-floating-pane #multi-day-container tr td{
    border: none;
}
.view-custom-calendar-floating-pane .header-body-divider,
.view-custom-calendar-floating-pane #single-day-container,
.view-custom-calendar-floating-pane .single-day-footer,
.view-custom-calendar-floating-pane tbody tr td.calendar-agenda-hour{
 display: none;   
}
.view-custom-calendar-floating-pane #multi-day-container tr td .calendar{
    padding: 0;
    margin: 0;
}
.view-custom-calendar-floating-pane  h3.pull-left{
    color: #fff;
    font-size: 1em;
    margin: 15px 0;
    text-align: center;
    width: 100%;
}
.view-custom-calendar-floating-pane .view-header .btn-group{
    position: initial;
}

.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group a{
    text-indent: -9999px;
    position: absolute;
    margin: -5px 0 0;
    box-shadow: none;
    padding: 0px 10px;
    border:none;
    border-radius: 0;
    outline: 0;
    width: 25px;
	cursor: pointer!important;
}

.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .prev a{
    background: url("../images/more-white-left.png") no-repeat center 0 !important;
    left: 0;
    top: 20px;
}

.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .next a{
    background: url("../images/more-white-right.png") no-repeat center 0 !important;
    right: 1px;
    top: 20px;
}

.view-custom-calendar-floating-pane .calendar.dayview{
    border-radius: 0 !important;
    background-color: #ECECEB !important;
}

.view-custom-calendar-floating-pane .calendar.dayview .toptix-purchase{
	font-size: 11px;
	padding: 2px 4px 2px;
}


.view-custom-calendar-floating-pane .calendar.dayview span.date-display-single {
    display: inline-block;
    width: 38px !important;
}

.view-custom-calendar-floating-pane #multi-day-container tr td .item{
    background-color: #ECECEB !important;
    border-bottom: 1px solid #B3B3B3;
}

.view-custom-calendar-floating-pane #multi-day-container tr td .item:last-child{
    border: none;
}

.view-custom-calendar-floating-pane #multi-day-container tr td .item .view-item-custom_calendar_floating_pane{
    padding: 3px 12px 7px;
}

.calendar-calendar .day-view .full td .inner div.calendar div, .calendar-calendar .day-view .full td .inner div.calendar div a{
	margin: 0;
}

.calendar-calendar .day-view td div.dayview{
	border:1px solid #b3b3b3;
	border-top: none;
}


/**
 * AddToCalendar Icon Style
 */

.addtocalendar var{
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover{
    visibility:visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
}

.atcb-list,
.atcb-item
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link
{
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


/* Icon */

.atc-style-button-icon .atcb-link,
.atc-style-button-icon .atcb-link:hover,
.atc-style-button-icon .atcb-link:active,
.atc-style-button-icon .atcb-link:focus
{
    text-decoration: none;
    outline: none;
    padding: 2px 2px;
}

/*Festival calendar*/
.page-festival-calendar {
	.region-content{
		width: 1355px !important;
	    max-width: 100%;
		margin: 0 auto;
		padding: 0 5%;
	    box-sizing: border-box;
	}	
	.view-festival-calendar {
		.view-filters{
			position:absolute;
			opacity: 0;
			height: 0;
			
		}
		.view-display-id-block_1 {
			margin-top:120px;
			overflow:hidden;
			font-weight: bold;
			.views-row {
				height: 42px!important;
				display:inline-block;
				width:190px;
				overflow:hidden;
			}
			.view-content{
				position: fixed;
				overflow:hidden;
				background-color: #fff;
				z-index: 100;
				.views-row{
					text-align: center;
				}
				.views-row-firsts{
					transition: margin-left 0.5s;
    				-webkit-transition: margin-left 0.5s;
				}
			}	
		}
		.filter{
			.filter-wrapper{
				height: 171px;
				.inner{
		    		width: 1152px!important;
					}
				}
			}
			.calender-filter{
				.active a{
					color: #fff!important;
				}
			}
		.time-group {
			display:inline-block;
			width:190px;
			height: 160px;
			vertical-align: top;
		}
		.group {
			height: 160px;
			position: relative;
		}
	}
	.popup-style-bent_white .popup-element-body .top .left {
		padding-left: 55px !important;
	}
	#popup-active-overlay {
		z-index:0;
	}
	a.popup-element-title{
		color:#000000!important;
	}
	.view-festival-calendar.view-display-id-page > .view-header{
		position: relative;
		.hall-next, .hall-prev{
			position: absolute;
			top: 0;
			z-index: 101;
			cursor: pointer;
			font-size: 12px;
			background-color: #fff;
			i{
				font-size: 28px;
			}
		}
		.hall-next{
			right: -71px;
			span{
				margin: 6px 10px 0 0;
				float: left;
			}
		}
		.hall-prev{
			left: -71px;
			span{
				margin: 6px 0px 0 10px;
				float: right;
			}
		}
	}
	.view-festival-calendar.view-display-id-page > .view-content{
		overflow: hidden;
		h3{
			opacity: 0;
			height: 0;
		}
		.views-row{
			box-shadow: 0px 1px 3px #c2c2c2;
			border: 1px solid #dededf;
			padding: 10px;
			font-size: 14px;
			transition: left 0.5s;
    		-webkit-transition: left 0.5s;
			a{
				font-size: 14px;
			}
			.views-field-field-cm-event-time-1{
				float: left;
				font-weight: bold;
				margin-right: 6px;
			}
			.views-field-field-cm-event-duration{
				float: left;
				.interval-value{
					float: right;
					margin-left: 6px;
				}
			}
			.views-field-ops{
				float: right;
				padding-top: 3px;
			}
			.views-field-popup{
				font-weight: bold;
				padding-top: 7px;
				clear: both;
			}
			.views-field-field-cm-event-comment{
				height: 34px;
			}
			.views-field-field-cm-event-comment, .views-field-field-cm-event-internal-id{
				font-size: 12px;
				color: #b1aeae;
			}
			.views-field-field-cm-event-internal-id{
				float: left;
				padding-top: 13px;
			}
			.views-field-field-toptix-purchase{
				float: right;
				height: 24px;
				margin-top: 10px;
				button{
					width: 71px;
				}
			}
		}
	}
	#popup-active-overlay{
		table td{
			background: none!important;
		}
		table.popup-layout{
			background-color: #fdf9f9;
			border: 1px solid #c7c8c8;
			box-shadow: 0px 1px 3px #c2c2c2;
			.table-responsive{
				table{
					margin-bottom: 0;
				}
				.title, .table_remark, .code, .like-flag, .add-event{
					display: none;
				}
				.date, .hall{
					width: auto;
				}
				.time{
					padding-right: 10px;
				}
				.purchase{
					padding-top: 0!important;
				}
				td{
					font-size: 14px;
				}
				button{
					width: 71px;
				}
				.view-footer{
					overflow: hidden;
				}
			}
			> tbody{
				> .top, > .bottom{
					display: none;
				}
			}
		}
		.center .center .inner{
			margin: 0;
			padding: 30px;
			.title{
				margin-bottom: 20px;
				a{
					font-weight: bold;
					font-size: 20px;
				}
			}
			.description{
				font-size: 16px;
			}
			.title-link{
				padding: 20px 0;
				a{
					position: relative;
				}
				a:after{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 0 4px 6px;
					display: block;
					content: "";
					position: absolute;
    				right: -17px;
    				top: 9px;
    				border-top-color: transparent!important;
					border-right-color: transparent!important;
					border-bottom-color: transparent!important;
				}
			}
		}
		.popup-close{
			background: url("../images/close42.png") no-repeat center center;
			border-radius: 50%;
		    height: 30px;
		    position: absolute;
		    right: -10px;
		    top: -10px;
		    width: 30px;
		    background-size: 15px;
		}
	}
}