@import "init";

.calender{
	padding: 0;
	overflow: hidden;
}
.calender-header {
	background: $white none repeat scroll 0 0;
	border-top: 2px solid $wild_sand;
	float: left;
	margin-top: 10px;
	min-width: 94%;
	padding: 0;
	left: 0;
	position: relative;
}
.calender-body {
	background-color: $color_pampas_approx;
	float: left;
	font-size: 12px;
	min-width: 94%;
	left: 0;
	position: relative;
	height: 850px;
	overflow-y: scroll;
	padding: 0px;
}
.calender-filter-date{
	float: left;
	margin-left: 3%;
	width: 30%;
	margin-top: 10px;
}
.calender-full-row {
	padding: 10px;
	float: left;
	padding: 5px 0;
	width: 100%;
	.col-sm-2 {
		padding-left: 5px;
		padding-right: 5px;
	}
	> div {
		float: left;
		min-height: 100px;
		width: 217px;
	}
}
.calender-row {
	width: 210px;
	margin: 0;
	min-height:150px !important;
	&.inner {
		background: $white none repeat scroll 0 0;
		box-shadow: 0 1px 3px 0px;
		cursor: pointer;
		padding: 7px 15px;
		float: left;
		min-height: 160px;
	}
	.time {
		float: left;
	}
	.bold.time{
		margin-top: 0;
	}
	.title {
		float: left;
		line-height: 16px;
		padding-top: 10px;
		width: 100%;
	}
	.subtitle {
		float: left;
		line-height: 16px;
		padding-top: 6px;
		width: 100%;
		padding-bottom: 10px;
	}
	.comment{
		clear: both
	}
}
.calendar-agenda-items {
	float: left;
	font-weight: bold;
	text-align: center;
	width: 217px;
	margin: 0;
}
.tickets {
	position: absolute;
	bottom: 20px;
	right: 15px;
	left: auto;
	> a {
		background-color: $color_mongoose_approx;
		color: $white;
		font-weight: bold;
		padding: 6px 26px;
	}
}

.calender-row .internal-id{
	bottom: 20px;
}
.calender-popup {
	display: none;
	margin-left: 80px;
	margin-top: 45px;
	position: absolute;
	width: 500px;
	z-index: 9;
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
			margin: 15px;
		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	> img.close-calender-popup {
		float: right;
		position: absolute;
		right: -8px;
		top: -15px;
		cursor: pointer;
	}
	.calender-row.inner {
		cursor: default;
		padding: 20px;
		width: 500px;
	}
	.body > p {
		font-size: 14px;
	}
}

#calender-top-popup{
		.read-more{
			color: #000;
			padding-top: 10px;
			position: relative;
			float: left;
			&:before{
			    border-style: solid;
			    border-width: 5px 0 5px 5px;
			    content: "";
			    display: block;
			    height: 0;
			    position: absolute;
			    right: -10px;
			    top: 16px;
			    width: 0;
				border-color: transparent transparent transparent $main-color;
			}
		}
		.toptix-purchase{
			width: 20%;
			padding: 6px 0;
		}
}

.calender-filter {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	> p {
		background-color: $wild_sand;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		padding-bottom: 10px;
		padding-top: 5px;
		text-align: center;
		width: 80px;
		&:hover {
			background-color: $color_mongoose_approx;
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
		&.active {
			background-color: $color_mongoose_approx;
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
	}
	span {
		color: $color_bazaar_approx;
		float: left;
		font-size: 12px;
		font-weight: normal;
		width: 100%;
	}
}
.calendar-dayview-hour {
	float: left;
	height: 30px;
	width: 217px;
	margin: 0;
}

.pane-complex-calender-view-pane{
	.ajax-inner {
		float: left;
		overflow: hidden;
		width: 100%;
	}
	.flag-wrapper{
		float: right;
		.flag {
			margin: 0;
			background-size: 100% 100%;
			float: left;
			font-size: 0;
			height: 16px;
			overflow: hidden;
			width: 18px;
			&.unflag-action {
				background-image: url("../images/unlike-gold.png");
			}
			&.flag-action {
				background-image: url("../images/like-gold.png");
			}
		}
	}
}

#calender-top-popup {
	float: left;
	left: 40%;
	position: absolute;
	top: 50%;
	width: 500px;
	display: none;
	.close-calender-popup {
		position: absolute;
		right: -10px;
		top: -10px;
		cursor: pointer;
	}
	&.visible {
		display: block;
		z-index: 99;
	}
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
		    box-sizing: border-box;
		    display: inline-block;
		    padding: 8px 8px 8px 0;
		    width: 20%;
  		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	.calender-row.inner {
		width: 500px;
		cursor: default;
		padding: 20px;
	}
	.body > p {
		font-size: 14px;
	}
}

.calender-full-row{
	.calender-row.inner{
		margin: 0!important;
	}	
}

.calender-scroll{
	margin-top: 10px;
	float: right;
	background: url("../images/arrow-right--black.png") no-repeat right center;
	background-size: 33px;
	padding-right: 30px;
	margin-right: 3%;
	text-align: right;
	cursor: pointer;
	p{
		margin: 0;
		top: 132px;
	}
	
}

.pane-complex-calender-view-pane{
	.pane-title{
	   font-size: 50px;
	    font-weight: normal;
	    margin-top: 70px;
	    padding: 0 3%;
	    text-align: center;
	}
}

.page-node-3261, .page-node-3284{
	#page-header .page-header{
		display: block;
	}
	.panel-panel{
		padding: 0;
	}
	#main-wrapper{
		background-color: #fff;
	}
}