@import "init";

.calender{
	padding: 0;
	overflow: hidden;
}
.calender-header {
	background: $white none repeat scroll 0 0;
	float: left;
	margin-top: 10px;
	min-width: 94%;
	padding: 0;
	left: 0;
	position: relative;
}
.calender-body {
	background-color: $color_pampas_approx;
	float: left;
	font-size: 12px;
	min-width: 94%;
	left: 0;
	position: relative;
	padding: 0;
	min-width: 100%;
}

.calender-full-row {
	padding: 10px;
	float: left;
	padding: 5px 0;
	width: 100%;
	.custom-row:nth-child(1){
		width: 100px;
	}
	.col-sm-2 {
		padding-left: 5px;
		padding-right: 5px;
	}
	> div {
		float: left;
		min-height: 100px;
		width: 217px;
	}
}
.calender-row {
	width: 210px;
	min-height: 80px!important;
	&.inner {
		background: $white none repeat scroll 0 0;
		box-shadow: 0 1px 3px 0px;
		cursor: pointer;
		padding: 7px 15px;
		float: left;
		min-height: 160px;
	}
	.time {
		float: left;
		margin-top: 0;
	}
	.title {
		float: left;
		line-height: 16px;
		padding-top: 10px;
		width: 100%;
	}
	.subtitle {
		float: left;
		line-height: 16px;
		padding-top: 6px;
		width: 100%;
		padding-bottom: 10px;
	}
	.comment{
		clear: both
	}
}
.calendar-agenda-items {
	float: left;
	text-align: center;
	margin: 0;
}
.tickets {
	> a {
		@include bg-main-color;
		color: $white;
		font-weight: bold;
		padding: 6px 26px;
	}
}

.calender-row .internal-id{
	bottom: 20px;
}
.calender-popup {
	display: none;
	margin-left: 80px;
	margin-top: 45px;
	position: absolute;
	width: 500px;
	z-index: 9;
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
			margin: 15px;
		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	> img.close-calender-popup {
		float: right;
		position: absolute;
		right: -8px;
		top: -15px;
		cursor: pointer;
	}
	.calender-row.inner {
		cursor: default;
		padding: 20px;
		width: 210px;
	}
	.body > p {
		font-size: 14px;
	}
}

#calender-top-popup{
		.read-more{
			color: #000;
			padding-top: 10px;
			position: relative;
			float: left;
			&:before{
			    border-style: solid;
			    border-width: 5px 0 5px 5px;
			    content: "";
			    display: block;
			    height: 0;
			    position: absolute;
			    right: -10px;
			    top: 16px;
			    width: 0;
				@include border-4-main-color;
			}
		}
		.toptix-purchase{
			width: 20%;
			padding: 6px 0;
		}
}

.calender-filter {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	width: 100%!important;
	left: 0!important;
	margin-top: 50px;
	&.scroll-to-fixed-fixed{
		padding-bottom: 107px;
	}
	> p {
		background-color: $wild_sand;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		padding-bottom: 10px;
		padding-top: 5px;
		text-align: center;
		width: 80px;
		&:hover {
			@include bg-main-color();
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
		&.active {
			@include bg-main-color;
			box-shadow: 0 0 3px 2px $wild_sand;
			color: $white;
			cursor: pointer;
			span {
				color: $white;
			}
		}
	}
	span {
		color: $color_bazaar_approx;
		float: left;
		font-size: 12px;
		font-weight: normal;
		width: 100%;
	}
}
.calendar-dayview-hour {
	float: left;
	height: 30px;
	width: 100px;
	margin: 0;
}

.pane-complex-calender-view-pane{
	.ajax-inner {
		float: left;
		overflow: hidden;
		width: 100%;
	}
	.flag-wrapper{
		float: right;
		.flag {
			margin: 0;
			background-size: 100% 100%;
			float: left;
			font-size: 0;
			height: 16px;
			overflow: hidden;
			width: 18px;
		}
	}
}

#calender-top-popup {
	float: left;
	left: 40%;
	position: absolute;
	top: 50%;
	width: 500px;
	display: none;
	.close-calender-popup {
		position: absolute;
		right: -10px;
		top: -10px;
		cursor: pointer;
	}
	&.visible {
		display: block;
		z-index: 99;
	}
	.tickets {
		float: left;
		padding-top: 10px;
		width: 100%;
		span {
		    box-sizing: border-box;
		    display: inline-block;
		    padding: 8px 8px 8px 0;
		    width: 20%;
  		}
	}
	.title {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 25px;
	}
	.calender-row.inner {
		width: 500px;
		cursor: default;
		padding: 20px;
	}
	.body > p {
		font-size: 14px;
	}
}

.scroll-date{
	position: relative;
	padding: 0;
	overflow: hidden;
	width: 100%;
	border-bottom: 2px solid $wild_sand;
	padding-bottom: 8px;
	.wrapper{
		@include width;
	}
}

.calender-filter-date{
	float: left;
	margin-top: 10px;
	width: 30%;
	padding: 0;
}

.calender-scroll{
	width: 30%;
	float: right;
	background: none;
	text-align: right;
	margin-top: 13px;
	p{
		margin: 0;
		display: inline-block;
		font-size: 0px;
		height: 19px;
	    width: 10px;
	    cursor: pointer;
	    margin-top: 5px;
	    position: relative;
	    top: -16px;
	}
	> span {
		  font-size: 18px;
		  font-weight: bold;
		  margin-right: 5px;
	}
	.scrollright{
		background: url("../images/more-gold-right.png") no-repeat center center;
		margin-left: 20px;
	}
	.scrollleft{
		background: url("../images/more-gold-left.png") no-repeat center center;
		margin-right: 20px;
	}
}

.pane-complex-calender-view-pane{
	.pane-title{
	   font-size: 50px;
	    font-weight: normal;
	    margin-top: 70px;
	    padding: 0 3%;
	    text-align: center;
	}
}

.page-node-3261, .page-node-3284{
	.panel-panel{
		padding: 0;
	}
	#main-wrapper{
		background-color: #fff;
	}
	#page-header .page-header{
		display: block;
		border: none;
	}
}

.fixed-header-calendar .calender-filter{
	position: fixed;
}

.scroll-calendar{
	.calender-filter{
		position: fixed;
		top: 50px;
		z-index: 400;
		padding-bottom: 96px;
	}
	.scroll-date{
		position: fixed;
		top: 132px;
		z-index: 500;
	}
	.calender-header{
		position: fixed;
		top: 183px;
		z-index: 400;
		.calendar-agenda-items{
			left: 60px;
			position: relative;
		}		
	}
}

.node-type-cm-article{
	&.page-node-3261, &.page-node-3284{
		.panel-panel-inner .panel-pane{
			width: 100%!important;
		}
	}
}




/******  calendar this month page  ********/

.page-node-3487{
	#header{
		background-color: transparent;
		&.sticky-header{
			background-color: #000;
		}
	}
	#main-wrapper{
		margin-top: 0!important;
	}
	.text-main-image {
	    bottom: 60px;
	    color: #fff!important;
	    padding: 0;
	    position: absolute!important;
	    width: 100%;
	    z-index: 100;
	}
	.gradient {
    	display: block;
	}
	.calender-filter.fixedPos{
		position: fixed;
		background-color: #fff;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 200;
	}
}

.pane-custom-calendar-floating-pane-panel-pane-1{
	position: absolute;
	width: 100%;
	top:120px;
	.pane-content{
		padding: 0 30px;
		box-sizing: border-box;
	}
	.calendar-calendar div.calendar{
		font-size: 18px;
	}
	.contents{
		display: inline-block;
		font-size: 0.8em;
		color: #333;
		width: 100%;
		a{
			color: #333;
		}
	}
	.toptix-purchase{
		float: right;
	}
	.view-custom-calendar-floating-pane{
		position: relative!important;
		left: auto!important;
		width: 300px!important;
		float: right;
		z-index: 50;
	}
	.calendar-agenda-items{
		width: 300px;
		padding: 0!important;
	}
	.date-nav-wrapper{

	}
}

.pane-calendar-full-width-calendar{
	.lobby-container{
		margin-bottom: 20px;
	}
		.lobby-term-left{
			float: left;
			width: 30%;
			position: relative;
			@include res(s-m){
				width: 100%;
			}
			.flag {
			    position: absolute;
			    right: 10px;
			    z-index: 100;
			    top: 10px;
			}
		}
		.lobby-term-right{
			float: right;
			width: 70%;
			padding: 0 20px;
			box-sizing: border-box;
			@include res(s-m){
				width: 100%;
			}
			table tbody{
				border: none;
			}
			.lobby-length{
				color: #919191;
			}
			.table-responsive{
				overflow: visible;
				table{
					margin-bottom: 0;
				}
			}
			.lobby-title{
				margin: 6px 0;
			}
			.calendar-below-title-content{
				   color: #919191;
    				font-size: 0.9em;
    				line-height: 28px;
    				margin-bottom: 6px;
    				span{
    					border-right: 2px solid;
    					padding-right: 8px;
    					margin-right: 8px;
    					line-height: 20px;
    					display: inline-block;
    				}
    				span:last-child{
    					border:none;
    				}
    			}
		}
		.row-custom-lobby{
			td{
				padding-top: 0;
				padding-bottom: 0;
				@include res(s-m){
					padding-right: 0!important;
				}
			}
			.left{
				float: left;
				width: auto;
				border-right: 2px solid!important;
				margin-right: 8px;
				font-weight: bold;
				font-size: 19px;
				line-height: 23px;
			}
			.hall{
				border:none!important;
			}
			.right{
				float: right;
			}
			.purchase{
				padding-right: 0;
				padding-left: 0;
				width: 80px!important;
				min-height: 1px;
			}
		}
}









.pane-calendar-full-width-calendar .pane-title{
    display: none;
}
.pane-calendar-full-width-calendar .ajax-inner{
   background-color: #f9f4ee;
   margin-top: 3%;
}
.loading{
    background: url("loading-small.gif") no-repeat scroll 0 0;
    width: 2%;
    height: 30px;
    margin: auto;
    background-position: 0px 6px;
    padding-top: 2%;
}
.pane-calendar-full-width-calendar .ajax-inner .calendar-full-container{
    width: 1280px !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 6%;
    box-sizing: border-box;
   background-color: #f9f4ee;
}
.pane-calendar-full-width-calendar .calenders-filter-date p,
.pane-calendar-full-width-calendar .calendar-floating-top-content span,
.pane-calendar-full-width-calendar .lobby-title a{
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2%;
}
.pane-calendar-full-width-calendar .lobby-summary {
    font-size: 1.1em;
    line-height: 28px;
}
.pane-calendar-full-width-calendar .lobby-container{
  margin-top: 3%;  
}

.pane-calendar-full-width-calendar .addthisevent-drop{
    padding-top: 20px !important;
}
.cal-add-event {
    margin-left: 45%;
}
.pane-calendar-full-width-calendar .calenders-filter-date p{
    margin: 3% 0 2%;
}
.ajax-data-calendar .calenders-filter-date p{
    margin-left: 6% !important;
}

.view-custom-calendar-floating-pane{
    width: 20%;
    margin: 0;
    padding: 0;
}
.view-custom-calendar-floating-pane .view-header{
   background-color: #000; 
}
.view-custom-calendar-floating-pane #multi-day-container{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: 100% !important;
}
.view-custom-calendar-floating-pane #multi-day-container,
.view-custom-calendar-floating-pane #multi-day-container tbody,
.view-custom-calendar-floating-pane #multi-day-container tbody tr,
.view-custom-calendar-floating-pane #multi-day-container table,
.view-custom-calendar-floating-pane #multi-day-container tr td{
    border: none;
}
.view-custom-calendar-floating-pane .header-body-divider,
.view-custom-calendar-floating-pane #single-day-container,
.view-custom-calendar-floating-pane .single-day-footer,
.view-custom-calendar-floating-pane tbody tr td.calendar-agenda-hour{
 display: none;   
}
.view-custom-calendar-floating-pane #multi-day-container tr td .calendar{
    padding: 0;
    margin: 0;
}
.view-custom-calendar-floating-pane  h3.pull-left{
    color: #fff;
    font-size: 1em;
    margin: 15px 0;
    text-align: center;
    width: 100%;
}
.view-custom-calendar-floating-pane .view-header .btn-group{
    position: initial;
}

.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group a:first-child{
    background: url("../images/more-white-left.png") no-repeat right 0 !important;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    margin: 5% 0 0;
    box-shadow: none;
    padding: 0px 10px;
    border:none;
    border-radius: 0;
    outline: 0;
}
.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group a:last-child{
    background: url("../images/more-white-right.png") no-repeat right 0 !important;
    text-indent: -9999px;
    position: absolute;
    right: 4%;
    margin: 5% 0 0;
    box-shadow: none;
    padding: 0px 5px;
    border:none;
    border-radius: 0;
    outline: 0;
}
.view-custom-calendar-floating-pane .calendar.dayview{
    border-radius: 0 !important;
    background-color: #ECECEB !important;
}
.view-custom-calendar-floating-pane #multi-day-container tr td .item{
    background-color: #ECECEB !important;
    border-bottom: 1px solid #B3B3B3;
}
.view-custom-calendar-floating-pane #multi-day-container tr td .item .view-item-custom_calendar_floating_pane{
    padding: 4% 3%;
}

