@import "init";

.footer {
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew, .pane-bean-main-info-english-mobile, .pane-bean-main-info-hebrew-mobile{
		.pane-content{
			.field-name-field-content-info > .field-items > .field-item{
			    float: right;
			}
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-text {
			margin-left: 0%;
			margin-right: 10%;
		}
	}
	.pane-webform-client-block-19{
		padding-top: 30px!important;
	}
	.webform-client-form {
		.webform-component--join-our-newsletter{
			margin-left: 30px!important;
			margin-right: 0;
		}
		.webform-component {
			float: right;
			margin-right: 0px;
			margin-left: 14px;
			input {
				padding-left: 0px;
				padding-right: 10px;
			}
		}
		label{
			padding: 10px;	
		}
		.webform-component--approve-recieving-e-mail{
			margin-left: 0%;
			margin-right: 23%;
			label{
				position: relative!important;
				&.element-invisible{
					display: none;
				}
			}
		}
		.form-submit{
			margin: 0 5px 0 0px;
		}
		.form-actions{
			margin: 0;
		}
	}
	.social {
		&.icon {
			float: right;
		}
		.pane-content span {
			padding-right: 25px;
			padding-left: 1px;
		}
	}
	.copyrignt-block {
		.copyright{
			float: right;
		}
		.design-development{
			float: left;
		}
	}
	.news-letter h2 {
		float: right;
	}
}

.front{
	.pane-bundle-gallery .slider-readmore{
		float: right;
	}
}

.teaser-row .ticket {
  margin-right: 10px;
  margin-left: 0;
}

.header-right{
	float: left!important;
	.language-switcher-locale-url{
		a{
			background: url("../images/english-icon.png") no-repeat 0 0px!important;
			width: 13px;
		}
		span{
			background: url("../images/english-icon.png") no-repeat 0 0px!important;
			}
	}
}

.header #site-main-menu{
	li{
		padding: 0;
		margin: 0;
 		a{
			text-align: right;
	 	}
	}
	.dropdown-menu{
		right: 0;
		left: auto;
	}
}

.col-md-3.header-right{
	margin-left: 10px;
	margin-right: 0;
	> li{
		padding-right: 30px;
		padding-left: 0;
		@include res(l){
			padding-right: 10px;
		}
	}
}

.navbar-header {
	float: right !important;
}

.block-image {
	float: right;
	text-align: left;
}

.navbar-brand {
	float: left!important;
	margin: 7px 30px 0 5px!important;
}

@media (max-width: 360px){
	.col-md-3.header-right > li{
		padding-left: 5px!important;
		padding-right: 0;
	}
}

.navbar-brand{
	> img {
		float: right;
	}
	.site-name{
	    float: left;
	    margin-right: 10px;
	    margin-left: 0;
	    width: 170px;
	}
}


#myModal {
	.webform-component {
		float: right;
	}
}

.radio {
	label {
		padding-left: 0;
		padding-right: 0;
	}
	input[type="radio"] {
		margin-left: 6px;
		margin-top: 0;
		position: relative;
	}
}

.site-custom-menu.menu.nav.navbar-nav {
	float: right;
}

.hambruger.-menu.navbar-toggle {
	float: right;
	margin-left: 0;
	margin-right: 30px;
}

.social .pane-content {
	li {
		float: right;
	}
	span {
		float: right;
	}
}

.sponser-pane .pane-content li {
	float: right;
	float: right;
}

.design-development > p {
	text-align: left;
}

.view-bean-infomation-block-view table tr {
	float: right;
}

.pane-menu-menu-site-main-menu .menu.nav li.expanded {
	float: right;
}

.col-md-6.news-leter {
	float: right;
}

.news-leter .webform-component input {
	padding-left: 0;
	padding-right: 4px;
}

.checkbox input[type="checkbox"] {
	margin-left: 6px;
	margin-right: 0;
}

.checkbox-inline input[type="checkbox"] {
	margin-left: 6px;
	margin-top: 0;
	position: relative;
}

.radio-inline input[type="radio"] {
	margin-left: 6px;
	margin-top: 0;
	position: relative;
}

.popup.region .views-field {
	&.views-field-field-cm-info-block-icon {
		float: right;
	}
	&.views-field-label {
		float: right;
	}
	&.views-field-field-cm-info-block-text {
		float: right;
	}
}

/*******  home page & taxonomy *********/

.node-type-front-page #main-wrapper, .page-taxonomy #main{
	.all-image{
		left: auto;
		right: 0;
	}
	.views-field-ops{
		right: auto;
		left: 20px;
	}
	.paragraphs-item-one-item-static, .view-lobby.view-display-id-panel_pane_5, .view-lobby.view-display-id-panel_pane_11{
		.node-cm-movie .date-wrapper:after{
			padding-left: 0;
			padding-right: 5px;
		}
		.field-name-field-cm-event-time{
			@include res(s-m){
				margin-right: 0px;
				margin-left: 10px;
			}
		}
		.screaning{
			.table{
				td{
					float: right;
				}
			}
			.purchase{
				button{
					float: left;
				}
			}
		}
		.on-image{
			@include res(s-m){
				.field-name-field-toptix-purchase, .views-field-field-tickets-sold-out{
					float: left!important;
				}
			}
		}
		.video-link{
			right: auto;
			left: 40px;
			@include res(s-m){
				right: auto;
				left: 5%;
			}
		}
	}
	.one-item-static{
		.on-image{
			.field-name-field-cm-event-time{
				float: right;
			}
			.purchase{
				float: right;
			}
			.time{
				@include res(s-m){
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}
		.views-field-ops{
			right: auto;
			left: 20px;
		}
		.date{
			@include res(s-m){
				float: right;
			}
		}
	}
	.paragraphs-item-special-grid{
		.video-link{
			right: auto;
			left: 20px;
		}
	}
	.field-name-field-item-top-gallery{
		.screaning{
			.table{
				td{
					float: right;
				}
			}
			.date, .time{
				.date-wrapper:after{
					padding-left: 0px;	
					padding-right: 5px;				
				}
			}
			.time{
				@include res(s-m){
					margin-right: 0px;
					margin-left: 10px;
				}
			}
		}
		.time{
			@include res(s-m){
				float: right;
				margin-right: 0px;
				margin-left: 10px;
			}
		}
		> .field-items > .field-item{
			@include res(s-m){
				.slide-right-ct{
					margin-right: 0px;
					margin-left: 20px;
				}
			}
			.slide-right-ct{
				padding-left: 0;
			}
		}
		.purchase{
			float: right;
		}
		.node-cm-event .views-field-ops{
				float: right;
				margin: 4px 10px 0 0px;
		}
	}
	.paragraphs-item-special-grid{
		.special-group{
			float: right;
		}
		.views-field-ops{
			right: auto;
			left: 10px;
		}
		.date{
			float: right;
			.date-wrapper:after{
				padding-left: 0px;
				padding-right: 5px;
			}
		}
		.purchase{
			float: left;
		}
		.screaning{
			td{
				&.date, &.time, &.purchase{
					@include res(s-m){
						float: right;
					}
				}
			}
			@include res(s-m){
				.time{
					margin-right: 0px;
					margin-left: 10px;
				}
			}
		}
		.node-cm-event{
			@include res(s-m){
				.purchase{
					float: right!important;
				}
				.date{
					margin-right: 0px;
					margin-left: 10px;
				}
			}
		}
		.group-item1, .group-item2{
			margin-right: 0;
			margin-left: 2%;
			@include res(s-m){
				margin-left: 0;
			}
			@include res(l){
				margin-left: 0;
			}
		}
		.group-item1{
			@include res(l){
				margin-right: 0;
				margin-left: 4%;
			}
		}
		.group-item3{
			float: left;			
		}
		.group-item1{
			.all-image{
				.on-image{
					padding: 0 0 0 22px;
				}
			}
		}
		.group-item2{
			.field-name-field-item-special-grid-2, .field-name-field-lobby-special-grid-2{
				@include res(l){
					float: right;
				}
			}
			.field-name-field-item-special-grid-3, .field-name-field-lobby-special-grid-3{
				@include res(l){
					float: left;
				}
			}
		}
		.on-image{
			.title{
				float: right;				
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-1{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				margin-right: 0;
				margin-left: 2%;
				&:nth-child(3n){
					margin-left: 0;
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-2{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					margin-right: 0;
					margin-left: 2%;
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-3{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					margin-right: 0;
					margin-left: 2%;
					.purchase{
						float: right!important;
						margin-left: 0px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-4{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					margin-right: 0;
					margin-left: 2%;
					.purchase{
						float: right!important;
						margin-left: 0px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	.field-name-field-item-special-dynamic{
		@include res(s-m){
			.date{
				margin-right: 0;
				margin-left: 10px;
			}
			.purchase{
				float: right!important;
			}
			.field-name-field-cm-event-time{
				margin-right: 0;
				margin-left: 10px;
			}
		}
		.screaning{
			.table{
				td{
					float: right;
				}
			}
			.date, .time{
				.date-wrapper:after{
					padding-left: 0;
					padding-right: 5px;
				}
			}
			@include res(s-m){
				.date{
					margin-left: 0;
				}
				.time{
					margin-right: 0;
					margin-left: 10px;
				}
			}
			.purchase{
				float: left!important;
				@include res(s-m){
					float: right!important;
				}
				button{
					float: left;
				}
			}
		}
		> .field-items > .field-item{
			float: right;					
			.on-image{
				.title{
		    		float: right;
				}
			}
			.date{
				float: right;
			}
			.purchase{
				float: left;
			}
		}
		.content{
			.withoutimage{
				.video-link{
					right: auto;
					left: 48px;
				}
			}
		}
		.video-link{
			right: auto;
			left: 20px
		}
	}
}

	.list_wide_image, .list_normal_image_width{
		.video-link{
			right: auto;
			left: 20px
		}
		.left-area{
			float: right;
			.views-field-ops{
				right: auto;
				left: 20px;
			}
		}
		.right-area{
			float: left;
			table{
				.date{
					float: right;
				}
				.add-event{
					padding-right: 0px!important;
					padding-left: 10px!important;
				}
			}
		}
	}
	.list_wide_image{
		.right-area{
			float: left;
		}

	}

	.field-name-field-item-grid-3 > .field-items > .field-item, .view-lobby.view-display-id-panel_pane_4 .views-row, .view-lobby.view-display-id-panel_pane_2 .views-row, 
	.view-lobby.view-display-id-panel_pane_10 .views-row, .view-id-similar_user_flagged_content .views-row{
		margin-right: 0;
		margin-left: 2%;
		float: right;
		@include res(s-m){
			width: 100%;
		}
		@include res(l){
			margin-left: 4%!important;
			margin-right: 0!important;
			&:nth-child(2n){
				margin-left: 0!important;
			}	
		}
		&:nth-child(3n){
			margin-left: 0;
		}
		.video-link{
			float: left;
			right: auto;
			left: 20px;
			right: auto;
		}
		.node-cm-movie .date-wrapper:after{
			padding-left: 0px;
			padding-right: 5px;
		}
		.screaning{
			.table{
				td{
					float: right;
					@include res(s-m){
						float: right!important;
					}
				}
			}
			.time{
				@include res(s-m){
					padding-right: 0px;
					padding-left: 10px;
				}
			}
			.purchase{
				float: left!important;
				button{
					float: left;
				}
			}
		}
		.title-area{
			.title{
				float: right;
			}
		}
	}
/****  taxonomy page  *******/

.page-taxonomy #main-wrapper{
	.panels-flexible-region.content{
		right: 5%;
		left: 0;
		float: none;
	}
}


				

/******  pager  *******/

.item-list {
	.pager li {
		a{
			float: right!important;
		}
	}
	.pager-ellipsis{
		margin-left: 9px !important;
		margin-right: 0!important;
	}
}

/*****  message area  *******/

.region-messages{
    .view-content{
    	padding-right: 33px;
    	padding-left: 0;
    }
    .views-field-title{
    	margin-right: 10px;
    	margin-left: 0;
    }
}