@import "init";

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

a, a:hover, a:focus{
	text-decoration: none!important;
}

.tabledrag-toggle-weight-wrapper {
	display: none;
}
.view-bean-infomation-block-view {
	thead {
		display: none;
	}
	table {
		border: medium none;
	}
}
.views-field {
	&.views-field-field-cm-info-block-icon {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
	}
	&.views-field-label {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
		p {
			margin-top: 0;
		}
	}
	&.views-field-field-cm-info-block-text {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
		p {
			margin-top: 0;
		}
	}
}
.pane-menu-menu-demo-menu-1 {
	h2 {
		font-size: 16px;
		font-weight: bold;
	}
	&.col-md-3 {
		padding-left: 50px;
		padding-right: 50px;
		width: 25%;
	}
	.menu.nav li {
		border-bottom: 2px solid $color_chicago_approx;
		line-height: 40px;
		a {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: $white;
			font-size: 14px;
			&:hover {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			}
			&:active {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			}
		}
	}
}


.col-md-3 {
	&.sponser-pane {
		float: right;
		margin-top: 20px;
	}
	&.social.icon {
		float: right;
		margin-top: 20px;
	}
	&.header-right{
		margin-right: 15px;
		@include res(s-m){
			margin: 0!important;
		}
		> li {
			display: inline-block;
			padding-left: 30px;
			padding-right: 0px;
			padding-top: 15px;
			transition: all 0.5s ease 0s;
			@include res(s-m){
				padding-right: 15px!important;
				padding-left: 0!important;
			}
			@include res(menu){
				float: right;
			}
			@include res(l){
				padding-left: 15px;
			}
		}
		i{
			color: #fff;
			position: relative;
		}
		li:hover{
			i, #da11y-toggle{
				@include main-color();
			}
		}
		#da11y-toggle.active{
				@include main-color();
				box-shadow: none;
		}
		.popup-title-active i{
				@include main-color();
		}
		.shopping-cart{
			button{
			    border: medium none;
			    text-indent: -9999px;
			    height: 20px;
			    width: 21px;
			    background: url("../images/shop-icon.png") no-repeat 0 0 transparent;
			    display: block;
			}
		}
	}
}

.sponser {
	width: 80%;
	min-height: 60px;
}
.news-leter {
	h2 {
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: center;
	}
	.webform-component input {
		border: 1px solid;
		font-size: 13px;
		height: 26px;
		padding-left: 4px;
	}
	.webform-submit.button-primary {
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
		height: 29px;
		margin-left: 0;
		margin-top: 0;
		padding-left: 10px;
		padding-top: 0;
		width: 65px;
	}
	.webform-client-form.webform-client-form-19 {
		padding-left: 32px;
	}
}
.webform-component {
	float: left;
	margin-bottom: 0;
	margin-right: 15px;
	margin-top: 0;
	width: 25%;
}
.newsleter-name {
	border-bottom-left-radius: 15px !important;
	border-top-left-radius: 15px !important;
}

/*****  footer   **********/

.checkbox input[type="checkbox"] {
	margin-right: 6px;
	margin-left: 0;
	margin-top: 0;
	position: relative;
}

/*****  footer credit for mobile *******/

.view-footer-credit-slogan-for-mobile{
	.owl-next{
	    font-size: 0;
	    height: 19px;
	    left: -30px;
	    position: absolute;
	    top: 33%;
	    width: 10px;	
	}
	&.view-display-id-block_1 .owl-carousel, &.view-display-id-block_3 .owl-carousel{
		width: -webkit-calc(100% - 100px)!important;
    	width: -moz-calc(100% - 100px)!important;
    	width: calc(100% - 100px)!important;
		margin: 0 auto;
	}
	.owl-prev{
	    font-size: 0;
	    height: 19px;
	    right: -30px;
	    position: absolute;
	    top: 33%;
	    width: 10px;
	}
	&.view-display-id-block{
		.owl-prev{
	    	right: 10px;
	    	top: 48%;
		}
		.owl-next{
			left: 10px;
			top: 48%;
		}
	}
	.view-footer-credit-slogan-for-mobile{
		margin-bottom: 30px;
	}
	&.view-display-id-block_1 .owl-carousel .owl-item img, &.view-display-id-block_3 .owl-carousel .owl-item img{
		max-height: 50px;
		width: auto;
		margin: 0 auto !important;
	}
	.owl-stage{
		@include center;
	}
}

.view-footer-credit-slogan-for-mobile.view-display-id-block_1, .view-footer-credit-slogan-for-mobile.view-display-id-block_3{
	padding: 10px 0;
}


.footer {
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew, .pane-bean-main-info-english-mobile, .pane-bean-main-info-hebrew-mobile{
		/*background: url("../images/info-bg.png") no-repeat scroll center center / cover;*/
		@include bg-main-color;
		overflow: hidden;
		position: relative;
		z-index: 0;
		@include res(s-m){
			display: none;
		}
		.pane-content{
			@include width;
			.field-name-field-background-image{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: -1;
				opacity: 0.5;
				.field-items{
					height: 100%;
					width: 100%;
				}
				img{
				  position: absolute; 
				  top: 0; 
				  left: 0; 
				  right: 0; 
				  margin: auto; 
				  min-width: 50%;
				  min-height: 50%;
				  overflow-x: hidden;
				  @include res(s-m){
				  	height: 100%;
    				max-width: unset;
    				width: auto;
				  }
				}
			}
			.field-name-field-content-info{
				padding: 54px 0;
				overflow: hidden;
				@include res(m){
					padding: 71px 0;
				}
			}
			.field-name-field-content-info > .field-items > .field-item{
			   color: #fff;
			    float: left;
			    padding: 0 2%;
			    text-align: center;
			    width: 25%;
			    @include res(s-m){
			    	width: 100%;
			    }
			    .field-name-field-info-icon{
			    	margin-bottom: 10px;
			    	height: 30px;
			    }
			    .field-name-field-label{
			    	font-weight: bold;
			    	margin-bottom: 12px;
			    	@include res(l){
			    		margin-bottom: 3px;
			    	}
			    }
			    .field-name-field-description{
			    	p{
			    		line-height: 22px;
			    		margin: 0;
			    		@include res(l){
			    			font-size: 13px;
			    			line-height: 17px;
			    		}
			    		a{
			    			color: #fff;
			    		}
			    	}
			    }
			}
		}
	}
	.pane-bean-logos-block, .pane-bean-sponsor-block, .pane-bean-logos-block-festival{
		max-width: 1500px;
		margin: 0 auto;
		.field-name-field-sponsor-logos-links > .field-items{
			text-align: center;
			> .field-item{
				display: inline-block;
				img{
					height: 40px;
					width: auto;
					margin: 10px 20px;
				}
			}
		}
	}
	.view-bean-infomation-block-view {
		table {
			tr {
				background-color: $boulder !important;
				border: medium none;
				color: $white;
			}
			tbody {
				background-color: $boulder !important;
				border-top: medium none;
			}
		}
		.handle {
			display: none;
		}
		.form-submit {
			display: none;
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-text {
			margin-left: 10%;
			width: 80%;
			p {
				font-size: 14px;
				line-height: 1.2;
			}
		}
		&.views-field-field-cm-info-block-icon {
			padding-bottom: 0;
		}
		&.views-field-label {
			padding: 0;
		}
	}
	.pane-bean-infomation-block-view {
		background-color: $boulder;
		padding-top: 20px;
	}
	.webform-client-form {
		.form-required{
			display: none;
		}
		.form-actions{
			margin-top: 0;
		}
		.webform-component--join-our-newsletter{
			width: 20%!important;
			margin-right: 0px!important;
			@include res(s-m){
				width: 100%!important;
			}
			p{
				margin: 4px 0 0;
			}
		}
		.webform-component--join-our-newsletter{
			margin-top: 2px!important;
		}
		.webform-component {
			float: left;
			margin-bottom: 0;
			margin-right: 15px;
			margin-top: 0;
			width: 18%;
			@include res(s-m){
				width: 100%;
				margin: 3px 0;
			}
			input {
				@include bg-second-color;
				color: #fff;
				height: 40px;
				padding-left: 12px;
				font-size: 13px;
				margin-bottom: 0;
				padding-left: 10px;
				border-radius: 0!important;
				border: none;
				@include res(s-m){
					width: 100%;
					box-sizing: border-box;
				}
			}
			label{
				color: #fff;
				padding: 10px;
				font-size: 14px;
				font-weight: normal;
			}
			&.webform-component-radios {
				width: 100%;
				label {
					color: $white;
				}
			}
		}
		.webform-component--approve-recieving-e-mail{
			width: auto;
			cursor: default;
			margin-left: 20%;
			@include res(s-m){
				margin: 0!important;
			}
			label{
				padding: 0;
				position: relative!important;
				&.element-invisible{
					display: none;
				}
			}
			input{
				height: auto;
				width: auto;
			}
		}
		.form-submit{
			margin: 0 0 0 5px;
			background: $white none repeat scroll 0 0 !important;
			box-shadow: none;
			@include main-color();
			height: 40px;
			line-height: 0;
			margin: 0;
			border-radius: 0;
			font-size: 16px;
			font-weight: bold;
			@include res(s-m){
				width: 100%;
				margin: 0!important;
			}
		}
		.form-control::-moz-placeholder{
			color: #fff;
		}
	}
	.social {
		&.icon {
			@include bg-main-color();
			float: left;
			padding-top: 40px;
			text-align: center;
			.pane-content{
				display: inline-block;
			}
		}
		.pane-content span {
			padding-left: 25px;
			padding-right: 1px;
		}
	}
	.copyrignt-block {
		background-color: $white;
		width: 100%;
		.pane-content{
			@include width;
		}
		p{
			margin-bottom: 0;
		}
		a{
			color: #000;
		}
		.copyright{
			float: left;
			@include res(s-m){
				width: 100%;
				text-align: center;
				p{
					padding: 5px 0;
				}
			}
		}
		.design-development{
			float: right;
			@include res(s-m){
				width: 100%;
				text-align: center;
				p{
					text-align: center;
					padding: 5px 0;
				}
			}
		}
	}
	.col-md-12.news-letter {
		@include bg-main-color();
		color: $white;
		overflow: hidden;
		padding: 0 0 25px 0;
		.pane-content{
			@include width;
			width: 1048px!important;
		}
	}
	.pane-webform-client-block-19 .pane-content {
		margin: 0 auto;
	}
	.caruosel-slideshow{
		max-width: 100%;
	}
}

.pane-footer-mini-panel {
	.carousel {
		padding: 0;
	}
	.social .pane-content span {
		margin: 0 auto;
		padding-top: 60px;
		width: 230px;
		width: 75px;
		text-align: center;
	}
}
.imageblock-image {
	width: 200px;
}
.imageblock-link {
	float: right;
}
.block-image {
	float: left;
}
.block-body {
	float: left;
}
.views-slideshow-cycle-main-frame {
	float: left;
	width: 100% !important;
}
.views-slideshow-controls-text-pause {
	display: none;
}
#main-wrapper {
	margin-top: 90px;
	overflow: hidden;
	.panels-flexible-row.popup.region {
		display: none;
	}
}

img.panopoly-image-full{
	margin-bottom: 0!important;
}

header{
	height: 50px!important;
	.navbar-brand{
		height: 36px!important;
		@include res(s-m){
			height: 40px;
		}
		> img {
			margin-top: 4px;
			height: 36px;
		}
	}
}

@media (max-width: 360px){
	header{
		.navbar-brand{
			> img {
				height: 26px;
				margin-top: 5px;
			}
		}
	}
}

@media (max-width: 311px){
	.col-md-3.header-right > li{
		padding-right: 7px!important;
	}
}

@media (max-width: 280px){
	.col-md-3.header-right > li{
		padding-right: 5px!important;
	}
}

.navbar-collapse{
	padding: 0;
	border:none;
}

.admin-menu {
	#header {
		top: 29px;
	}
	.sticky-header.header {
		margin-top: 0;
	}
}

.navbar-default{
	background-color: transparent;
	border:none;
	@include res(menu){
		padding: 0 3%;
	}
}

.navbar-header{
	position: relative;
	z-index: 200;
	float: left;
	@include res(menu){
		float: right;
	}
	button, a{
		display: block;
	}
}

#header {
	position: fixed;
	height: 68px;
	left: 0;
	top: 0;
	width: 100%;
	transition: all 0.5s ease-out;
	z-index: 400;
	.container-fluid {
		padding: 0;
	}
}

#header {
	background-color: $black;
}
/*
.front{
	#header {
		background-color: transparent;
		&.sticky-header{
			background-color: $black;
		}
	}
	#main-wrapper {
    	margin-top: 0 !important;
	}
}
*/
.teaser-row .ticket {
  @include bg-main-color;
  margin-left: 10px;
  padding: 4px 13px;
  color: #ffffff;
  cursor: pointer;
}

.header {
	.navbar{
		margin-bottom: 0;
	}
	#main-menu {
		color: $white;
		transition: all 0.5s ease 0s;
		padding: 0!important;
		width: 100%;
		position: absolute;
		float: none;
		@include res(s-m){
			display: none;
		}
		@include res(menu){
			width: 94%;
		}
		li a {
			color: $white;
			transition: all 0.5s ease 0s;
			padding: 10px!important;
			line-height: 20px!important;
			background-color: transparent;
			display: block;
			&:hover{
				@include main-color;
			}
		}
		li li a{
			@include bg-main-color();
		}

	}
	.header-right{
		width: auto;
		float: right;
		margin-bottom: 0;
		margin-top: 0;
		@include res(menu){
			padding: 0;
			float: left;
			@include res(s-m){
				li{
					float: right;
						&.shopping-cart, &#da11y-plugin{
							display: none;
						}
				}
			}
		}
		.popup_search{
			display: none;
		}
		.search{
			span{
				background: url("../images/search-icon.png") no-repeat 0 0px;
			    display: inline-block;
			    height: 20px;
			    width: 20px;
                cursor: pointer;
			}
		}
		#da11y-toggle:before {
		    content: "";
		}
		#da11y-toggle{
			background: url("../images/access-icon.png") no-repeat 0 0;
			height: 22px;
    		width: 20px;

		}
		.favorite a{
			background: url("../images/favorite.png") no-repeat 0 bottom;
			text-indent: -9999px;
			height: 20px;
			width: 20px;
			display: block;
		}
		.today span{
			background: url("../images/time.png") no-repeat 0 0;
			text-indent: -9999px;
			height: 22px;
			width: 24px;
			display: block;
			cursor: pointer;
		}
		.language-switcher-locale-url{
			a{
				background: url("../images/hebrew-icon.png") no-repeat 0 1px;
				display: inline-block;
			    height: 20px;
			    text-indent: -9999px;
			    width: 15px;
			}
			span{
				opacity: 0.4;
				background: url("../images/hebrew-icon.png") no-repeat 0 1px;
				display: inline-block;
			    height: 20px;
			    text-indent: -9999px;
			    width: 20px;
			}
		}
	}
	.container {
		padding: 0;
		width: 100%;
	}
}

.domain-2 .header .header-right .today{
	display: none;
}

.domain-2 .float-calendar-wrapper{
	display: none;
}

.dropdown-menu {
	background-color: transparent;
	padding: 0;
}
.panels-flexible-region-custom_front_panel-footer_region, .panels-flexible-region-93-center {
	width: 100%;
}
.pane-block-4 {
	background-color: $white;
	float: left;
	width: 100%;
}

.festival-site {
	float: left;
	padding-top: 4px;
	@include res(s-m){
		display: none;
	}
	span {
		color: $white;
		float: left;
		font-size: 16px;
		line-height: 21px;
		width: 100%;
	}
}

.pro-grid {
	margin: 0 auto;
	background: $color_mercury_approx none repeat scroll 0 0;
	padding: 0.25%;
	&:nth-child(odd) {
		background: transparent;
	}
	> * .search-info .fa {
		@include main-color();
		font-size: 16px;
		margin: 0 10px;
	}
}
.search-result {
	transition: ease 0.5s background;
	&:nth-child(even) {
		background: $white;
	}
	&:nth-child(odd) {
		background: $color_wild_sand_approx;
	}
	&:hover {
		@include bg-main-color();
		color: $black !important;
		.pro-grid li {
			.search-view-mode {
				color: $white !important;
			}
			.title a {
				color: $white !important;
			}
		}
	}
}

#edit-search-block-form--2 {
	border: 1px solid $black;
}
.popup-element-title {
	color: $white !important;
}
.pagination {
	> li {
		&:last-child {
			> a {
				border-radius: 0 !important;
			}
			> span {
				border-radius: 0 !important;
			}
		}
		&:first-child {
			> a {
				border-radius: 0 !important;
			}
			> span {
				border-radius: 0 !important;
			}
		}
	}
	> .active {
		> a {
			border: 1px solid!important;
			@include border-main-color();
			background: transparent;
			@include main-color();
			&:focus {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
			&:hover {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
		}
		> span {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			&:focus {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
			&:hover {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
		}
	}
	li a {
		@include main-color();
	}
}
.item-list {
	ul li {
		margin: 0 0 0 0 !important;
	}
	.pager li {
		padding: 0.2em !important;
		font-size: 12px;
		a{
			background-color: transparent!important;
			float: left!important;
		}
	}
	.pager-ellipsis{
		margin-right: 9px !important;
    	position: relative;
    	top: -7px;
	}
}
#edit-basic {
	.form-group {
		display: block !important;
		margin: 0;
		float: left !important;
		width: 80%;
		background: $white !important;
		label[for="edit-keys"] {
			display: none !important;
		}
		#edit-keys {
			width: 96%;
			display: inline-block;
			float: left;
			margin-bottom: 0;
			height: auto;
			padding: 15px 2%;
			box-shadow: 0 1px 3px 1px $color_silver_chalice_approx;
		}
	}
	#edit-submit {
		margin: 0;
		border-radius: 0 !important;
		@include bg-main-color();
		padding: 9px 25px 11px;
		box-shadow: 0 1px 4px 1px $color_silver_chalice_approx;
		font-size: 18px;
		width: 20%;
	}
}
.mobile-calender {
	.calender-filter {
		border-bottom: 1px solid $color_nobel_approx;
		border-top: 1px solid $color_nobel_approx;
		> p {
			background-color: $white;
			font-size: 12px;
			width: 65px;
			margin: 0;
			border-right: 1px solid $color_cararra_approx;
			border-left: 1px solid $color_cararra_approx;
			&.active {
				@include bg-main-color();
				color: $white;
				cursor: pointer;
				box-shadow: none;
			}
			&:hover {
				@include bg-main-color();
				box-shadow: none;
			}
		}
	}
	.mobile-accordian-content {
		display: none;
	}
	.mobile-event-accordian {
		float: left;
		width: 100%;
	}
	.mobile-bold-time {
		float: left;
		width: 45px;
	}
	.mobile-event-title {
		float: left;
		width: 200px;
	}
	.filter-cantrol {
		display: block;
	}
}
.mobile-calender-filter-date {
	float: left;
	width: 100%;
	.pull-left {
		@include main-color();
		font-weight: bold;
	}
}


#panels-ipe-paneid-221, #panels-ipe-paneid-222, #panels-ipe-paneid-220 {
	width: 33%;
	display: inline-block;
	padding: 0 1%;
}

.wide-margins {
	@include width;
	width: 615px!important;
}

.purchase-btn {
	@include bg-main-color();
	padding: 4px 10px;
	color: $white !important;
	letter-spacing: 1px;
}
.draggable.tabledrag-processed thead {
	display: none;
}
.panels-flexible-region.popup.region {
	background-color: $mine_shaft;
	color: $white;
	padding-bottom: 40px;
}
.popup.region {
	.view-bean-infomation-block-view {
		tr {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			border: medium none;
		}
		tbody {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			border: medium none;
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-icon {
			float: left;
			width: auto;
			min-height: 80px;
			border: medium none;
		}
		&.views-field-label {
			float: left;
			padding-left: 15px;
			text-align: center;
			width: 185px;
			border: medium none;
			p {
				margin-top: 0;
			}
		}
		&.views-field-field-cm-info-block-text {
			float: left;
			padding-left: 15px;
			text-align: center;
			width: 185px;
			border: medium none;
			p {
				margin-top: 0;
			}
		}
	}
	.pane-my-backend-festival-menu-block .menu.nav li.last {
		border-bottom: none;
	}
	.pane-menu-menu-demo-menu-1 .menu.nav li {
		background-image: url("../images/arrow-right.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 20px auto;
		border-bottom: 2px solid $color_chicago_approx;
		line-height: 40px;
		&.last {
			border-bottom: medium none;
			margin-bottom: 30px;
		}
	}
}

li.expanded {
	.caret {
		display: none;
	}
	.dropdown-menu {
		border-top: 2px solid;
		@include border-main-color();
	}
}

.social .pane-content span {
	float: left;
	overflow: hidden;
	width: 33%;
}

.sponser-pane .pane-content li {
	float: left;
	overflow: hidden;
	width: 33%;
}

.pane-bean-infomation-block-view.col-md-12 {
	background-color: #262626;
	padding-top: 30px;
}

.form-item-submitted-approve-recieving-e-mail.radio {
	margin: 0;
}

.webform-component-radios.webform-component--approve-recieving-e-mail {
	margin-bottom: 0;
	width: 100%;
}

/********   Footer  *********/

section.footer .view-bean-infomation-block-view table tbody tr {
	background-color: $boulder !important;
	border: medium none;
	color: $white;
}

.panels-flexible-region-11-center, .panels-flexible-region-14-center{
	width: 100%;
}

.copyright > p {
	font-size: 14px;
	padding: 15px 0;
}
.design-development > p {
	font-size: 14px;
	padding: 15px 0;
}
.custom-sponser-pane .pane-content {
	li {
		display: inline;
		img.carousel-sponser {
			padding-top: 8px;
			width: 140px;
		}
	}
	> ul {
		float: left;
		text-align: center;
		width: 100%;
	}
}

.pane-bean-footer-social-block{
	@include bg-main-color();
	padding: 40px 0 25px;
	clear: both;
	.field-items{
		text-align: center;
	}
	.field-item{
		display: inline-block;
		margin: 0 10px;
	}
	.field-item:nth-child(1){
		@include res(s-m){
			width: 100%;
			margin: 0 0 5px 0;
		}
	}
}

/****   slide changes   ************/
.flex-direction-nav .flex-prev:after {
}
.pane-slider h2 {
	display: none;
}
.views_slideshow_controls_text a {
	color: $black_80;
	cursor: pointer;
	display: block;
	height: 40px;
	margin: -20px 0 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-shadow: 1px 1px 0 $white_30;
	top: 50%;
	transition: all 0.3s ease-in-out 0s;
	width: 40px;
	z-index: 10;
	background-repeat: no-repeat;
	font-size: 0;
	height: 32px;
	width: 32px;
}
.views-slideshow-controls-text-previous a {
	left: 0;
	background-image: url("../images/left.png");
	margin-left: 15px;
}
.views-slideshow-controls-text-next a {
	right: 0;
	background-image: url("../images/right.png");
	margin-right: 15px;
}
.view-id-slider:hover .views_slideshow_controls_text a {
	opacity: 1;
}

.navbar-brand{
	> img {
		height: 50px;
		transition: all 0.5s ease 0s;
		float: left;
	}
	.site-name{
	    color: #fff;
	    float: right;
	    font-size: 16px;
	    line-height: 18px;
	    margin-left: 10px;
	    width: 210px;
	    @include res(s-m){
	    	display: none;
	    }
	}
}

@media (max-width: 1130px){
	.navbar-brand .site-name{
		display: none;
	}	
}
.site-custom-menu.menu.nav.navbar-nav {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	margin-top: 5px;
	text-align: center;
}
.panels-flexible-custom_front_panel .panels-flexible-region {
	width: 100%;
}
.navbar .navbar-brand {
	margin:7px 5px 0 30px;
	float: left;
	overflow: hidden;
	padding: 0;
	@include res(m){
		margin: 10px 30px 0 5px!important;
	}
	@include res(s){
		margin: 10px 5px 0 5px!important;
	}
	@include res(menu){
		margin: 11px 30px 0 5px;
	}
}
.navbar-nav > li {
	display: inline-block;
	float: none;
}
#main #content {
	padding: 0;
}
span.bold {
	font-weight: bold;
}
.bold.time {
	float: left;
	margin-top: 70px;
	text-align: center;
	width: 100%;
}
.calender-filter-date p.pull-left {
	@include main-color();
	font-weight: bolder;
}
.page-taxonomy .panels-flexible-row.content {
	margin: 0 auto;
	width: 100%;
}


/********  new added css  ******/

.search-results {
	padding: 0;
}
.search-results.node-results {
	padding: 0 !important;
}
.cm_person .pro-grid li {
	width: 46%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	&:nth-child(1) {
		width: 6% !important;
	}
	.pro-img {
		max-width: 100%;
		background: $color_black_haze_approx;
		padding: 2px;
		border: 1px solid $color_silver_approx;
		border-radius: 50%;
		width: 55px;
		height: 55px;
	}
	.title {
		text-align: left;
		text-transform: uppercase;
		font-size: 14px;
		a {
			font-weight: 500;
			font-size: 14px;
			color: $black !important;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			display: block;
		}
	}
	&:nth-child(3) {
		width: 60%;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0 !important;
	}
	&:nth-child(2) {
		width: 25% !important;
	}
	.search-view-mode p {
		font-size: 13px !important;
		margin: 0 !important;
		line-height: 1.25 !important;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 56px;
		line-clamp: 2;
		box-orient: vertical;
	}
}
.pager li {
	> a {
		border-radius: 0 !important;
	}
	> span {
		border-radius: 0 !important;
	}
}
.custom_filter_css .item-list ul li {
	display: inline-block;
	padding: 6px 10px;
	@include bg-main-color();
	a {
		color: $white !important;
		letter-spacing: 1px;
	}
}
.mobile-event-accordian .accordian-hall {
	@include bg-main-color();
	color: $white;
	cursor: pointer;
	margin: 2px 0;
	padding: 5px 15px;
	&.open {
		background-color: $black;
	}
}
.mobile-calender-row.mobile-custom-row {
	float: left;
	padding: 2px 15px;
	width: 100%;
	border-bottom: 1px solid $color_nobel_approx;
	background: $white none repeat scroll 0 0;
	&:nth-child(2n + 1) {
		background-color: $color_gallery_approx;
	}
}
.accordian-hall .fa {
	float: right;
	padding-top: 5px;
}
.page-header h1.title {
	font-size: 7vh;
	padding: 10px;
	color: $color_tundora_approx;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}
div[id^="panels-ipe-paneid-22"] > * select {
	border-radius: 0 !important;
	border: 1px solid $color_mountain_mist_approx;
	box-shadow: none !important;
}

/*
.front{
	background-color: $color_fantasy_approx!important;
	#mini-panel-myminipaneltest23rds13rd .pane-title{
		font-weight: normal;
		font-size: 20px;
		text-align: center;
	}
	p{
		line-height: 24px;
	}
	.panel-pane{
		overflow: hidden;
	}
	.panel-flexible-inside{
			height: 100%;
	}
	.pane-bundle-gallery{
		.custom-slideshow li img{
			width: 100%;
			height: auto;
			max-width: none;
		}
		.custom-slideshow{
			overflow: hidden;
		}
	}
	.field-name-field-cm-festival-body{
		margin-top: 100px;
		margin-bottom: 20px;
		p{	
			margin-bottom: 50px;
			line-height: 25px;
		}
	}
	.pane-panels-mini{
		@include width;
		width: 1330px!important;
	}
}
*/
.pane-bundle-sponser{
	padding: 20px 3%;

	.field-item{
		padding: 0px 20px;
		box-sizing: border-box;
		display: inline-block;
    	height: 80px;
		img{
			padding: 10px 0;
			height: 100%;
			width: auto;
		}
	}
}


/*******  home page & taxonomy *********/

.node-type-front-page{
	header{
		background-color: transparent!important;
		@include res(s-m){
			background-color: #000!important;
		}
		&.sticky-header{
			background-color: #000!important;
		}
	}
}

.node-type-front-page #main-wrapper{
	margin-top: 0!important;
	@include res(s-m){
		margin-top: 50px!important;
	}
}

.node-type-front-page #main-wrapper, .page-taxonomy #main{
	background-color: $color_fantasy_approx;
	 .field-items > .field-item{
		clear: both;
		position: relative;
		display: block;
	}
	.taxonomy-term.vocabulary-lobby{
		.content{
			overflow: hidden;
		}
	}
	.screaning .table{
		margin-bottom: 10px;
	}
	.panels-flexible-region-new-center{
		width: 100%;
	}
	.field-name-field-title{
		font-size: 24px;
		font-weight: bold;
		padding: 30px 0 10px;
		@include res(s-m){
			padding: 30px 5% 10px;
		}
	}
	.field-name-field-extra-text{
		@include res(s-m){
			padding: 0 5%;
		}	
	}
	.all-image{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
		left: 0;
	}
	h2.title .field-item{
		overflow: visible!important;
	}
	.field-name-field-section > .field-items > .field-item{
		clear: both;
		position: relative;
		> .entity-paragraphs-item{
			@include width;
			margin-top: 30px;
			margin-bottom: 30px;
			@include res(s-m){
				padding: 0px!important;
			}
			&.paragraphs-item-top-gallery-main{
				padding: 0!important;
				margin-top: 0;
				margin-bottom: 30px;
				width: 100%!important;
			}
		}
	}
	.on-image{
    	bottom: 10px;
	    color: #fff;
		font-size: 16px;
		padding: 20px;
		position: absolute;
		width: 100%;
		z-index: 10;
		h2{
		 	line-height: 23px;
		   	margin-bottom: 8px;
		   	color: #fff;
		   	font-weight: bold;
		   	font-size: 20px;
		   	div{
		   		display: inline-block;
		   	}
		}
		a{
		   	color: #fff;
		   	font-weight: bold;
		   	font-size: 20px;
		   	div{
		   		display: inline-block;
		   	}
		}
	}
	.views-field-ops{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 201;
	}
	.view-lobby.view-display-id-panel_pane_13{
		margin-bottom: 30px;
		>.view-content > .views-row{
			margin-bottom: 5px;
		}
	}
	.paragraphs-item-one-item-static, .view-lobby.view-display-id-panel_pane_5, .view-lobby.view-display-id-panel_pane_11{
		.one-item-static{
			@include res(s-m){
				background-color: #fff;
			}
		}
		.on-image{
			@include res(s-m){
				padding: 20px 5%!important;
				overflow: hidden;
				width: -webkit-calc(100% - 70px)!important;
    			width: -moz-calc(100% - 70px)!important;
    			width: calc(100% - 70px)!important;
				.field-name-field-toptix-purchase, .views-field-field-tickets-sold-out{
					float: right!important;
				}
			}
			.small-title{
				padding-bottom: 5px; 
				a{
					font-size: 18px;
					font-weight: normal;
				}
			}
		}
		.video-link{
			position: absolute;
			bottom: 40px;
			right: 40px;
			z-index: 250;
			@include res(s-m){
				right: 5%;
				bottom:10px;
				a.colorbox-load, a.lightboxed{
					background: rgba(0, 0, 0, 0) url("../images/play-icon-black.png") no-repeat scroll 60% center;
					background-size: 10px;
					height: 30px;
					width: 30px;
					border:1px solid #000;
				}
			}
		}
	}
	.one-item-static{
		position: relative;
		.on-image{
			position: absolute;
			bottom: 40px;
			padding: 0 40px;
			width: -webkit-calc(100% - 65px);
    		width: -moz-calc(100% - 65px);
    		width: calc(100% - 65px);
			z-index: 200;
			color: #fff;
			@include res(s-m){
				position: relative;
				bottom: auto;
				color: #000;
				padding: 20px 0;
				width: 100%!important;
			}
			.field-name-field-cm-event-time{
				float: left;
			}
			.purchase{
				float: left;
			    margin: 0 30px;
			    @include res(s-m){
			    	margin: 0;
			    	padding-top: 10px;
			    }

			}
			.field-name-field-homepage-extra-text{
				padding-bottom: 10px;
			}
			.title{
				line-height: 30px;
				a{
					color: #fff;
					font-weight: bold;
					font-size: 24px!important;
					@include res(s-m){
						color: #000;
					}
				}
			}
		}
		.image{
			.gradient{
				@include res(s-m){
					display: none;
				}
			}
		}
		.views-field-ops{
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.date{
			@include res(s-m){
				font-size: 14px;
				float: left;
			}
		}
		.video-link{
			@include res(s-m){
				a.colorbox-load, a.lightboxed{
					background: rgba(0, 0, 0, 0) url("../images/play-icon-black.png") no-repeat scroll 60% center;
					background-size: 10px;
				}
			}
		}
	}
	.field-name-field-item-list-normal-image, .paragraphs-item-list-wide-image .field-type-paragraphs,
	.view-id-lobby.view-display-id-panel_pane_12{
		> div > .field-item, .views-row{
			background-color: #fff;
			margin: 0px 0 20px;
		}
	}
	.list_wide_image, .list_normal_image_width{
		.details{
			padding-bottom: 20px;
		}
		.video-link{
			position: absolute;
			bottom: 30px;
			right: 20px;
			z-index: 250;
		}
		a{
			color: #000;
		}
		.field-name-field-cm-movie-duration, .field-name-field-cm-moviegroup-duration{
			text-transform: lowercase;
		}
		.left-area{
			float: left;
			width: 30%;
			position: relative;
			@include res(s-m){
				width: 100%;
			}
			.views-field-ops{
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
		&.event{
			.right-area{
				table{
					margin-top: -10px;
					font-weight: bold;
				}
			}
		}
		.day-same-width{
			@include res(s-m){
				width: auto!important;
			}
		}
		.right-area{
			float: right;
			width: 70%;
			padding: 20px;
			box-sizing: border-box;
			@include res(s-m){
				width: 100%;
				padding: 20px 20px 30px;
			}
			.table-responsive{
				overflow: visible;
			}
			table{
				width: 100%;
				margin-bottom: 5px;
				tbody, td{
					border:none;
				}
				.views-field-ops{
					width: 18px;
				}
				.date{
					width: 200px;
					display: block;
					float: left;
				}
				.time{
					width: 65px;
				}
				.hall{
					width: 29%;
				}
				.code{
					width: 11%;
				}
				.add-event{
					padding-right: 10px!important;
				}
				.table_remark, .title{
					display: none;
				}
			}
			.movie-details{
				.credit-movie, .duration{
					color: #919191;
    				font-size: 0.9em;
    				line-height: 28px;
    				display: inline-block;
    				line-height: 17px;
    			}
			}
			h2{
				font-size: 24px!important;
				margin-bottom: 5px;
			}
			.name{
				margin-bottom: 10px;
			}
			.short-summary{
				clear: both;
			}
			.credit-duration{
				overflow: hidden;
				padding-bottom: 7px;
				.credit-list, .duration{
					color: #919191;
    				font-size: 0.9em;
    				line-height: 28px;
    				display: inline-block;
    				line-height: 17px;
				}
			}
			.only-duration{
					color: #919191;
    				font-size: 0.9em;
    				display: inline-block;
    				line-height: 17px;
    				padding-bottom: 7px;
			}
			.name a > div{
				display: inline-block;
			}
			.job-title{
					color: #919191;
    				font-size: 0.9em;
    				line-height: 28px;
    				line-height: 17px;
    				padding-bottom: 7px;
			}
		}
	}
	.list_normal_image_width{
		.right-area table .hall{
			width: 28%;
		}
	}
	.list_wide_image{
		.left-area{
			width: 42%;
			@include res(s-m){
				width: 100%;
			}
		}
		.right-area{
			float: right;
			width: 58%;
			@include res(s-m){
				width: 100%;
			}
		}

	}
	.paragraphs-items-field-item-grid-3{
		padding: 0px 0 20px;
	}
	.view-lobby.view-display-id-panel_pane_2, .view-lobby.view-display-id-panel_pane_10{
		clear: both;
	}
	.field-name-field-item-grid-3 > .field-items > .field-item, .view-lobby.view-display-id-panel_pane_4 .views-row, .view-lobby.view-display-id-panel_pane_2 .views-row, .view-lobby.view-display-id-panel_pane_10 .views-row{
		position: relative;
		width: 32%;
		margin-right: 2%;
		float: left;
		position: relative;
		margin-bottom: 21px;
		clear: none!important;
		@include res(s-m){
			width: 100%;
		}
		@include res(l){
			width: 48%;
			margin-right: 4%!important;
			clear: none!important;
			&:nth-child(2n){
				margin-right: 0!important;
			}	
			&:nth-child(2n+1){
				clear: both!important;
			}
		}
		&:nth-child(3n){
			margin-right: 0;
		}
		&:nth-child(3n+1){
			clear: both;
		}
		.slide-small-text a{
			font-size: 16px;
			font-weight: normal;
		}
		.day-same-width{
			width: auto;
			border-right: 1px solid;
			padding-right: 5px;
		}
		.screaning{
			.table{
				margin-bottom: 0;
				td{
					font-size: 15px;
					float: left;
				}
			}
			.hall, .title, .code, .like-flag, .add-event{
				display: none!important;
			}
			.date, .time{
				width: auto;
			}
			.purchase{
				padding-right: 0!important;
				padding-left: 0!important;
				width: 70px!important;
				float: right!important;
				button{
					float: right;
				}
			}
			.view-footer{
				display: none;
			}
		}
		.on-image{
			z-index: 210;
			bottom: 0;
		}
		.title-area{
			position: relative;
			overflow: hidden;
			padding-top: 10px;
			.video-link{
				position: absolute;
				right: 0;
				bottom: 6px;
				z-index: 250;
				a.colorbox-load, a.lightboxed{
					background-size: 10px;
					width: 30px;	
					height: 30px;
				}
			}
			.title{
				float: left;
				width: -webkit-calc(100% - 45px)!important;
		    	width: -moz-calc(100% - 45px)!important;
		    	width: calc(100% - 45px)!important;
			}
		}
	}
	.field-name-field-item-top-gallery .owl-controls{
		.owl-prev, .owl-next{
			top: 70%;
			@include res(s-m){
				top: 30%;
			}
		}
	}
	.field-name-field-item-top-gallery{
		> .field-items > .field-item{
			@include res(s-m){
				margin-bottom: 10px;
				a.colorbox-load, a.lightboxed{
					background-size: 10px;
					width: 30px;	
					height: 30px;
				}
				.slide-right-ct{
					margin-right: 20px;
					width: 25px!important;
				}
			}
			.slide-right-ct{
				padding-right: 0;
				width: auto;
			}
		}
		.owl-item, .field-item{
			position: relative;
		}
		.time{
			padding-bottom: 20px;
			@include res(s-m){
				padding-bottom: 8px;
			}
		}
		.purchase{
			float: left;
			.toptix-purchase, .sold-out{
				width: 83px;
			}
			@include res(s-m){
				float: none!important;
			}
		}
		.node-cm-event .views-field-ops{
				float: left;
				margin: 4px 0 0 10px;
		}
	}
	.paragraphs-item-special-grid{
		.special-group{
			width: 32%;
			float: left;
			margin-bottom: 20px;
			@include res(s-m){
				width: 100%;
				height: auto!important;
			}
			@include res(l){
				width: 48%;
			}
			.image-wrapper{
				position: relative;
			}
			> .field-type-entityreference{
				position: relative;
				background-color: #fff;
			}
		}
		.screaning{
			td{
				display: none;
				&.date, &.time, &.purchase{
					display: inline-block;
					width: auto;
				}
			}
		}
		.group-item1, .group-item2{
			margin-right: 2%;
			@include res(s-m){
				margin-right: 0;
			}
			@include res(l){
				margin-right: 0;
			}
		}
		.group-item1{
			@include res(l){
				margin-right: 4%;
			}
			> .field-type-entityreference{
				height: 100%;
			}
			.on-image{
				position: relative;
				color: #000;
				a, h2{
					color: #000;
				}
			}
		}
		.group-item3{
			float: right;			
			> .field-type-entityreference{
				height: 100%;
			}
		}
		.group-item1{
			.image{
				img, .gradient{
					display: none;
				}
			}
			.top-text-blk-wht{
				position: relative;
				overflow: hidden;
				.white{
					color: #000;
					background-color: #eee;
				}
			}
			.all-image{
				position: relative;
				padding: 20px;
				display: block;
				.on-image{
					position: relative;
					padding: 0 22px 0 0;
					bottom: auto;
					top: auto;
					color: #000;
					h2{
						color: #000;
					}
				}
			}
		}
		.group-item2{
			@include res(l){
				clear: both;
				width: 100%;
				height: auto!important;
			}
			.field-name-field-item-special-grid-2{
				margin-bottom: 20px;
				@include res(l){
					float: left;
					width: 48%;
				}
				.image{
					display: none;
				}
				.top-text-blk-wht{
					position: relative;
					.white{
						color: #000;
						background-color: #eee;
					}
				}
			}
			.field-name-field-item-special-grid-3{
				@include res(l){
					width: 48%;
					float: right;
				}
				.short-text{
					display: none;
				}
			}
		}
		.group-item3{
			.short-text{
				padding-top: 20px;
			}
		}
		.all-image{
			clear: both;
		}
		.short-text{
			padding: 0 20px 20px;
			overflow: hidden;
			line-height: 24px;
			clear: both;
			p{
				margin-bottom: 0;
			}
			@include res(s-m){
				height: auto!important;
			}
			.field, .short-summary{
				height: 100%;
				overflow: hidden;
			}
		}
		.field-name-field-item-special-grid-3, .field-name-field-item-special-grid-4{
			.video-link{
				position: absolute;
				bottom: 30px;
				right: 20px;
				z-index: 250;
			}
		}
		.video-link{
			a.colorbox-load, a.lightboxed{
				background-size: 10px!important;
				width: 30px;	
				height: 30px;
			}
		}
		.field-name-field-item-special-grid, .field-name-field-item-special-grid-2{
			.video-link{
				float: right;
				right: 20px;
				position: relative;
				a{
					background: rgba(0, 0, 0, 0) url("../images/play-icon-black.png") no-repeat scroll 60% center;
					border:1px solid #000;
				}
			}
			.all-image{
				padding: 0;
			}
			.on-image{
				position: relative;
				bottom: 0;
				color: #000;
				padding-bottom: 0;
		    	.title{
					width: -webkit-calc(100% - 77px)!important;
			   		width: -moz-calc(100% - 77px)!important;
			   		width: calc(100% - 77px)!important;
		    	}
				a, h2{
					color: #000; 
				}
			}
		}
		.on-image{
			.title{
				float: left;
				width: -webkit-calc(100% - 45px)!important;
		    	width: -moz-calc(100% - 45px)!important;
		    	width: calc(100% - 45px)!important;						
			}
		}
	}
	.paragraphs-item-special-grid-dynamic{
		display: none;
	}
	.paragraphs-item-special-grid-dynamic.division-1{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				width: 32%;	
				margin-right: 2%;
				&:nth-child(3n){
					margin-right: 0;
				}
				&:nth-child(3n+1){
					clear: both;
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-2{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					width: 32%;	
					margin-right: 2%;
				}
				&:nth-child(even){
					width: 65%;	
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-3{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					width: 65%;	
					margin-right: 2%;
				}
				&:nth-child(even){
					width: 32%;	
				}
			}
		}
	}
	.paragraphs-item-special-grid-dynamic.division-4{
		.field-name-field-item-special-dynamic{
			> .field-items > .field-item{	
				&:nth-child(odd){
					width: 49%;	
					margin-right: 2%;
				}
				&:nth-child(even){
					width: 49%;	
				}
			}
		}
	}
	.field-name-field-item-special-dynamic{
		.screaning{
			.table{
				margin-bottom: 0;
				td{
					font-size: 15px;
					float: left;
				}
			}
			.hall, .title, .code, .like-flag, .add-event{
				display: none!important;
			}
			.date, .time{
				width: auto;
				.day-same-width{
					width: auto;
					border-right: 1px solid;
					padding-right: 5px;
				}
			}
			.purchase{
				padding-right: 0!important;
				padding-left: 0!important;
				width: 70px!important;
				float: right!important;
				button{
					float: right;
				}
			}
			.view-footer{
				display: none;
			}
		}
		> .field-items > .field-item{
			float: left;
			margin-bottom: 20px;
			background-color: #fff;
			clear: none!important;
			@include res(s-m){
				width: 100%!important;
				height: auto!important;
				&.withoutimage{
					height: auto!important;
					.grid_special_3_item, .short-text{
						height: auto!important;
					}
				}
			}
			@include res(l){
				width: 48%;
			}
			.image-wrapper{
				position: relative;
				.image{
					overflow: hidden;
					position: relative;
				}
			}					
			.grid_special_3_item, .short-text{
				@include res(s-m){
					height: auto!important;
				}
			}
			.short-text{
				padding: 20px;
				overflow: hidden;
				line-height: 24px;
				clear: both;
				p{
					margin-bottom: 0;
				}
				.field, .short-summary{
					height: 100%;
					overflow: hidden;
				}
			}
			.on-image{
				z-index: 250;
				.title{
					width: -webkit-calc(100% - 45px)!important;
		    		width: -moz-calc(100% - 45px)!important;
		    		width: calc(100% - 45px)!important;	
		    		float: left;
				}
				.video-link{
					top: 11px;
				}
			}
			.date{
				float: left;
			}
			.purchase{
				float: right;
			}
		}
		.content{
			.bottom{
				.image-wrapper{
					position: absolute;
					bottom: 0;
					@include res(s-m){
						position: relative;
						bottom: auto;
					}
				}
			}
			.withoutimage{
				.image-wrapper, .all-image{
					position: relative!important;
				}
				.on-image{
					position: relative;
					bottom: 0;
					color: #000;
					padding-bottom: 0;
		    		.title{
						width: -webkit-calc(100% - 77px)!important;
			    		width: -moz-calc(100% - 77px)!important;
			    		width: calc(100% - 77px)!important;
		    		}
					a, h2{
						color: #000; 
					}
				}
				.views-field-ops{
					top: 20px;
				}
				.video-link{
					right: 48px;
					top: 16px;
					a{
						background-size: 10px;
					}
				}
			}
		}
		.on-image .title{
			z-index: 250;
			width: -webkit-calc(100% - 45px)!important;
		    width: -moz-calc(100% - 45px)!important;
		    width: calc(100% - 45px)!important;
		}
		.video-link{
				position: absolute;
				bottom: 30px;
				right: 20px;
				z-index: 250;
				a.colorbox-load, a.lightboxed{
					background-size: 10px!important;
					width: 30px;	
					height: 30px;
				}
		}
	}
	.video-link a.colorbox-load, .video-link a.lightboxed{
		background: rgba(0, 0, 0, 0) url("../images/play-icon.png") no-repeat scroll 60% center;
		border: 1px solid #fff;
		border-radius: 30px;
		text-indent: -9999px;
		height: 55px;
		width: 55px;
		display: block;
	}
	.withoutimage .video-link a.colorbox-load, .withoutimage .video-link a.lightboxed{
		background: rgba(0, 0, 0, 0) url("../images/play-icon-black.png") no-repeat scroll 60% center;
		border:1px solid #000;
	}
}	


/****  taxonomy page  *******/

.page-taxonomy #main-wrapper{
	#main{
		background-color: #fff;
	}
	.summary, .summary p, .short-summary p, .short-summary, .field-name-field-cm-event-short-description{
		font-size: 16px;
	}
	.panels-flexible-region-node_page-header{
		width: 100%;
	}
	.panels-flexible-region.content{
		width: 90%!important;
		position: relative;
		left: 5%;
		.inside{
			@include width;
			width: -webkit-calc(1355px - 10%) !important;
			width: -moz-calc(1355px - 10%) !important;
			width: calc(1355px - 10%) !important;
			.description{
				background-color: #fff;
				line-height: 1.8;
				margin: 15px 0;
			}
			.pane-content{
				width: 54%!important;
				margin: 0 auto;
				padding: 0;
				@include res(s-m){
					width: 100%!important;
				}
			}
		}
	}
	.panels-flexible-region.bottom-content{
		padding-top: 30px;
		background-color: #f9f4ee;
	}
	.view-lobby{
		clear: both;
	}
	.pane-bundle-lobby{
		clear: both;
		.pane-title{
			@include width;
			padding-bottom: 10px;
		}
	}
	.view-lobby.view-display-id-panel_pane_1, .view-lobby.view-display-id-panel_pane_8, .view-lobby.view-display-id-panel_pane_6, .view-lobby.view-display-id-panel_pane_7, .view-lobby.view-display-id-panel_pane_9{
		.views-row{
			background-color: #fff;
			margin-bottom: 30px;
		}
	}
	.view-lobby.view-display-id-panel_pane_5, .view-lobby.view-display-id-panel_pane_11{
		.views-row{
			margin-bottom: 30px;
		}
	}
	.panels-flexible-row{
		width: 100%!important;
		padding: 0!important;
	}
	.panels-flexible-region{
		width: 100%;
		padding: 0;
		.panel-pane{
			background-color: #f9f4ee;
			.pane-content{
				@include width;
				overflow: hidden;
			}
			&.full-width{
				width: 100%!important;
				padding: 0;
				position: relative;
				background-color: #fff;
				.pane-content{
					width: 100%!important;
					padding: 0!important;
				}
			}
		}
	}
}

.page-taxonomy{
	&.noheaderimage{
		.panels-flexible-row-node_page-1.Header{
			background-color: #fff;
			margin-bottom: 30px!important;
		}
	}
}

.page-term-lobby {
	.pane-term-description {
		.pane-content p {
			font-size:16px;
		}
	}
}
	