@import "init";

.tabledrag-toggle-weight-wrapper {
	display: none;
}
.view-bean-infomation-block-view {
	thead {
		display: none;
	}
	table {
		border: medium none;
	}
}
.views-field {
	&.views-field-field-cm-info-block-icon {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
	}
	&.views-field-label {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
		p {
			margin-top: 0;
		}
	}
	&.views-field-field-cm-info-block-text {
		border: medium none;
		float: left;
		text-align: center;
		width: 100%;
		p {
			margin-top: 0;
		}
	}
}
.pane-menu-menu-demo-menu-1 {
	h2 {
		font-size: 16px;
		font-weight: bold;
	}
	&.col-md-3 {
		padding-left: 50px;
		padding-right: 50px;
		width: 25%;
	}
	.menu.nav li {
		border-bottom: 2px solid $color_chicago_approx;
		line-height: 40px;
		a {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: $white;
			font-size: 14px;
			&:hover {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			}
			&:active {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			}
		}
	}
}


.col-md-3 {
	&.sponser-pane {
		float: right;
		margin-top: 20px;
	}
	&.social.icon {
		float: right;
		margin-top: 20px;
	}
	&.header-right{
		> li {
			display: inline-block;
			padding-left: 0px;
			padding-right: 30px;
			padding-top: 12px;
			transition: all 0.5s ease 0s;
			@include res(s-m){
				padding-right: 15px;
			}
			@include res(menu){
				float: right;
			}
		}
		i{
			color: #fff;
			position: relative;
		}
		li:hover{
			i, #da11y-toggle{
				@include main-color();
			}
		}
		#da11y-toggle.active{
				@include main-color();
				box-shadow: none;
		}
		.popup-title-active i{
				@include main-color();
		}
		.shopping-cart{
			button{
			    border: medium none;
			    font-size: 0;
			    height: 36px;
			    width: 20px;
			    background: url("../images/shop-icon.png") no-repeat 0 0 transparent;
			}
		}
	}
}

.sponser {
	width: 80%;
	min-height: 60px;
}
.news-leter {
	h2 {
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: center;
	}
	.webform-component input {
		border: 1px solid;
		font-size: 13px;
		height: 26px;
		padding-left: 4px;
	}
	.webform-submit.button-primary {
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
		height: 29px;
		margin-left: 0;
		margin-top: 0;
		padding-left: 10px;
		padding-top: 0;
		width: 65px;
	}
	.webform-client-form.webform-client-form-19 {
		padding-left: 32px;
	}
}
.webform-component {
	float: left;
	margin-bottom: 0;
	margin-right: 15px;
	margin-top: 0;
	width: 25%;
}
.newsleter-name {
	border-bottom-left-radius: 15px !important;
	border-top-left-radius: 15px !important;
}

/*****  footer   **********/

.checkbox input[type="checkbox"] {
	margin-right: 6px;
	margin-left: 0;
	margin-top: 0;
	position: relative;
}

/*****  footer credit for mobile *******/

.view-footer-credit-slogan-for-mobile{
	margin-bottom: 30px;
	.owl-next{
	    font-size: 0;
	    height: 19px;
	    left: -30px;
	    position: absolute;
	    top: 33%;
	    width: 10px;	
	}
	.owl-carousel{
		width: calc(100% - 100px)!important;
		margin: 0 auto;
	}
	.owl-prev{
	    font-size: 0;
	    height: 19px;
	    right: -30px;
	    position: absolute;
	    top: 33%;
	    width: 10px;
	}
	.view-footer-credit-slogan-for-mobile{
		margin-bottom: 30px;
	}

	.owl-carousel .owl-item img{
		max-height: 50px;
		width: auto;
		margin: 0 auto !important;
	}
}



.footer {
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew{
		/*background: url("../images/info-bg.png") no-repeat scroll center center / cover;*/
		@include bg-main-color;
		overflow: hidden;
		position: relative;
		z-index: -1;
		.pane-content{
			@include width;
			.field-name-field-background-image{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: -1;
				opacity: 0.5;
				.field-items{
					height: 100%;
					width: 100%;
				}
				img{
				  position: absolute; 
				  top: 0; 
				  left: 0; 
				  right: 0; 
				  margin: auto; 
				  min-width: 50%;
				  min-height: 50%;
				  overflow-x: hidden;
				}
			}
			.field-name-field-content-info{
				padding: 54px 0;
				overflow: hidden;
			}
			.field-name-field-content-info > .field-items > .field-item{
			   color: #fff;
			    float: left;
			    padding: 0 2%;
			    text-align: center;
			    width: 25%;
			    .field-name-field-info-icon{
			    	margin-bottom: 10px;
			    	height: 30px;
			    }
			    .field-name-field-label{
			    	font-weight: bold;
			    	margin-bottom: 12px;
			    	@include res(l){
			    		margin-bottom: 3px;
			    	}
			    }
			    .field-name-field-description{
			    	p{
			    		line-height: 22px;
			    		margin: 0;
			    		@include res(l){
			    			font-size: 13px;
			    			line-height: 17px;
			    		}
			    		a{
			    			color: #fff;
			    		}
			    	}
			    }
			}
		}
	}
	.pane-bean-logos-block, .pane-bean-sponsor-block{
		max-width: 1500px;
		margin: 0 auto;
		.field-name-field-sponsor-logos-links > .field-items{
			text-align: center;
			> .field-item{
				display: inline-block;
				img{
					height: 40px;
					width: auto;
					margin: 10px;
				}
			}
		}
	}
	.view-bean-infomation-block-view {
		table {
			tr {
				background-color: $boulder !important;
				border: medium none;
				color: $white;
			}
			tbody {
				background-color: $boulder !important;
				border-top: medium none;
			}
		}
		.handle {
			display: none;
		}
		.form-submit {
			display: none;
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-text {
			margin-left: 10%;
			width: 80%;
			p {
				font-size: 14px;
				line-height: 1.2;
			}
		}
		&.views-field-field-cm-info-block-icon {
			padding-bottom: 0;
		}
		&.views-field-label {
			padding: 0;
		}
	}
	.pane-bean-infomation-block-view {
		background-color: $boulder;
		padding-top: 20px;
	}
	.webform-client-form {
		.form-required{
			display: none;
		}
		.form-actions{
			margin-top: 0;
		}
		.webform-component--join-our-newsletter{
			width: 20%!important;
			margin-right: 0px!important;
			@include res(s-m){
				width: 100%!important;
			}
			p{
				margin: 4px 0 0;
			}
		}
		.webform-component {
			float: left;
			margin-bottom: 0;
			margin-right: 15px;
			margin-top: 0;
			width: 18%;
			@include res(s-m){
				width: 100%;
				margin: 3px 0;
			}
			input {
				@include bg-second-color;
				color: #fff;
				height: 40px;
				padding-left: 12px;
				font-size: 11px;
				margin-bottom: 0;
				padding-left: 10px;
				border-radius: 0!important;
				border: none;
				@include res(s-m){
					width: 100%;
					box-sizing: border-box;
				}
			}
			label{
				color: #fff;
				padding: 12px 10px;
			}
			&.webform-component-radios {
				width: 100%;
				label {
					color: $white;
				}
			}
		}
		.webform-component--approve-recieving-e-mail{
			width: auto;
			cursor: default;
			margin-left: 20%;
			@include res(s-m){
				margin: 0!important;
			}
			label{
				padding: 0;
				position: relative!important;
				&.element-invisible{
					display: none;
				}
			}
			input{
				height: auto;
				width: auto;
			}
		}
		.form-submit{
			margin: 0 0 0 5px;
			background: $white none repeat scroll 0 0 !important;
			box-shadow: none;
			@include main-color();
			height: 40px;
			line-height: 0;
			margin: 0;
			border-radius: 0;
			@include res(s-m){
				width: 100%;
				margin: 0!important;
			}
		}
		.form-control::-moz-placeholder{
			color: #fff;
		}
	}
	.social {
		&.icon {
			@include bg-main-color();
			float: left;
			padding-top: 40px;
			text-align: center;
			.pane-content{
				display: inline-block;
			}
		}
		.pane-content span {
			padding-left: 25px;
			padding-right: 1px;
		}
	}
	.copyrignt-block {
		background-color: $white;
		width: 100%;
		.pane-content{
			@include width;
		}
		p{
			margin-bottom: 0;
		}
		.copyright{
			float: left;
			@include res(s-m){
				width: 100%;
				text-align: center;
				p{
					padding: 5px 0;
				}
			}
		}
		.design-development{
			float: right;
			@include res(s-m){
				width: 100%;
				text-align: center;
				p{
					text-align: center;
					padding: 5px 0;
				}
			}
		}
	}
	.col-md-12.news-letter {
		@include bg-main-color();
		color: $white;
		padding: 0 0 25px 0;
		.pane-content{
			@include width;
			width: 1048px!important;
		}
	}
	.pane-webform-client-block-19 .pane-content {
		margin: 0 auto;
	}
	.caruosel-slideshow{
		max-width: 100%;
	}
}

.pane-footer-mini-panel {
	.carousel {
		padding: 0;
	}
	.social .pane-content span {
		margin: 0 auto;
		padding-top: 60px;
		width: 230px;
		width: 75px;
		text-align: center;
	}
}
.imageblock-image {
	width: 200px;
}
.imageblock-link {
	float: right;
}
.block-image {
	float: left;
}
.block-body {
	float: left;
}
.views-slideshow-cycle-main-frame {
	float: left;
	width: 100% !important;
}
.views-slideshow-controls-text-pause {
	display: none;
}
#main-wrapper {
	margin-top: 90px;
	overflow: hidden;
	.panels-flexible-row.popup.region {
		display: none;
	}
}

img.panopoly-image-full{
	margin-bottom: 0!important;
}

.sticky-header, .not-front header{
	height: 50px!important;
	.navbar-brand{
		height: 44px!important;
		@include res(s-m){
			height: 40px;
		}
		> img {
			height: 40px;
			@include res(s-m){
				height: 30px;
			}
		}
	}
}

.navbar-collapse{
	padding: 0;
}

.admin-menu {
	#header {
		top: 29px;
	}
	.sticky-header.header {
		margin-top: 0;
	}
}

.navbar-default{
	background-color: transparent;
	@include res(menu){
		padding: 0 3%;
	}
}

.navbar-header{
	position: relative;
	z-index: 200;
	float: left;
	@include res(menu){
		float: right;
	}
}

#header {
	position: fixed;
	height: 68px;
	left: 0;
	top: 0;
	width: 100%;
	transition: all 0.5s ease-out;
	z-index: 400;
	.container-fluid {
		padding: 0;
	}
}

#header {
	background-color: $black;
}

.front{
	#header {
		background-color: transparent;
		&.sticky-header{
			background-color: $black;
		}
	}
	#main-wrapper {
    	margin-top: 0 !important;
	}
}

.teaser-row .ticket {
  @include bg-main-color;
  margin-left: 10px;
  padding: 4px 13px;
  color: #ffffff;
  cursor: pointer;
}

.header {
	.navbar{
		margin-bottom: 0;
	}
	#main-menu {
		color: $white;
		transition: all 0.5s ease 0s;
		padding: 0!important;
		width: 100%;
		position: absolute;
		float: none;
		@include res(s-m){
			display: none;
		}
		@include res(menu){
			width: 94%;
		}
		li a {
			color: $white;
			transition: all 0.5s ease 0s;
			padding: 10px!important;
			line-height: 20px!important;
			background-color: transparent;
			&:hover{
				@include main-color;
			}
		}
		li li a{
			@include bg-main-color();
		}

	}
	.screen-search{
			position: fixed;
			height: 100%;
			width: 100%;
			background-color: #000;
			opacity: 0.8;
	}
	.header-right{
		width: auto;
		float: right;
		margin-bottom: 0;
		@include res(menu){
			padding: 0;
			float: left;
			@include res(s-m){
				li{
					float: right;
						&.shopping-cart, &#da11y-plugin{
							display: none;
						}
				}
			}
		}
		.popup_search{
			display: none;
		}
		.search{
			span{
				background: url("../images/search-icon.png") no-repeat 0 2px;
			    display: inline-block;
			    height: 20px;
			    text-indent: -9999px;
			    width: 20px;
			    transition: all 0.5s;
                -webkit-transition: all 0.5s;
			}
		    a{
		    	padding: 0;
		    }
		}
		#da11y-toggle:before {
		    content: "";
		}
		#da11y-toggle{
			background: url("../images/access-icon.png") no-repeat 0 0;
			height: 22px;
    		width: 20px;

		}
		.favorite a{
			background: url("../images/favorite.png") no-repeat 0 0;
			text-indent: -9999px;
			height: 20px;
			width: 24px;
			display: block;
		}
		.language-switcher-locale-url{
			a{
				background: url("../images/hebrew-icon.png") no-repeat 0 2px;
				display: inline-block;
			    height: 20px;
			    text-indent: -9999px;
			    width: 20px;
			}
			span{
				opacity: 0.4;
				background: url("../images/hebrew-icon.png") no-repeat 0 2px;
				display: inline-block;
			    height: 20px;
			    text-indent: -9999px;
			    width: 20px;
			}
		}
	}
	.container {
		padding: 0;
		width: 100%;
	}
}

.dropdown-menu {
	background-color: transparent;
	padding: 0;
}
.panels-flexible-region-custom_front_panel-footer_region, .panels-flexible-region-93-center {
	width: 100%;
}
.pane-block-4 {
	background-color: $white;
	float: left;
	width: 100%;
}

.festival-site {
	float: left;
	padding-top: 4px;
	@include res(s-m){
		display: none;
	}
	span {
		color: $white;
		float: left;
		font-size: 16px;
		line-height: 21px;
		width: 100%;
	}
}

.pro-grid {
	margin: 0 auto;
	background: $color_mercury_approx none repeat scroll 0 0;
	padding: 0.25%;
	&:nth-child(odd) {
		background: transparent;
	}
	> * .search-info .fa {
		@include main-color();
		font-size: 16px;
		margin: 0 10px;
	}
}
.search-result {
	transition: ease 0.5s background;
	&:nth-child(even) {
		background: $white;
	}
	&:nth-child(odd) {
		background: $color_wild_sand_approx;
	}
	&:hover {
		@include bg-main-color();
		color: $black !important;
		.pro-grid li {
			.search-view-mode {
				color: $white !important;
			}
			.title a {
				color: $white !important;
			}
		}
	}
}

#edit-search-block-form--2 {
	border: 1px solid $black;
}
.popup-element-title {
	color: $white !important;
}
.pagination {
	> li {
		&:last-child {
			> a {
				border-radius: 0 !important;
			}
			> span {
				border-radius: 0 !important;
			}
		}
		&:first-child {
			> a {
				border-radius: 0 !important;
			}
			> span {
				border-radius: 0 !important;
			}
		}
	}
	> .active {
		> a {
			border: 1px solid!important;
			@include border-main-color();
			background: transparent;
			@include main-color();
			&:focus {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
			&:hover {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
		}
		> span {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			&:focus {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
			&:hover {
				border: 1px solid;
				@include border-main-color();
				background: transparent;
				@include main-color();
			}
		}
	}
	li a {
		@include main-color();
	}
}
.item-list {
	ul li {
		margin: 0 0 0 0 !important;
	}
	.pager li {
		padding: 0.2em !important;
		font-size: 12px;
		a{
			background-color: transparent!important;
		}
	}
}
#edit-basic {
	.form-group {
		display: block !important;
		margin: 0;
		float: left !important;
		width: 80%;
		background: $white !important;
		label[for="edit-keys"] {
			display: none !important;
		}
		#edit-keys {
			width: 96%;
			display: inline-block;
			float: left;
			margin-bottom: 0;
			height: auto;
			padding: 15px 2%;
			box-shadow: 0 1px 3px 1px $color_silver_chalice_approx;
		}
	}
	#edit-submit {
		margin: 0;
		border-radius: 0 !important;
		@include bg-main-color();
		padding: 9px 25px 11px;
		box-shadow: 0 1px 4px 1px $color_silver_chalice_approx;
		font-size: 18px;
		width: 20%;
	}
}
.mobile-calender {
	.calender-filter {
		border-bottom: 1px solid $color_nobel_approx;
		border-top: 1px solid $color_nobel_approx;
		> p {
			background-color: $white;
			font-size: 12px;
			width: 65px;
			margin: 0;
			border-right: 1px solid $color_cararra_approx;
			border-left: 1px solid $color_cararra_approx;
			&.active {
				@include bg-main-color();
				color: $white;
				cursor: pointer;
				box-shadow: none;
			}
			&:hover {
				@include bg-main-color();
				box-shadow: none;
			}
		}
	}
	.mobile-accordian-content {
		display: none;
	}
	.mobile-event-accordian {
		float: left;
		width: 100%;
	}
	.mobile-bold-time {
		float: left;
		width: 45px;
	}
	.mobile-event-title {
		float: left;
		width: 200px;
	}
	.filter-cantrol {
		display: block;
	}
}
.mobile-calender-filter-date {
	float: left;
	width: 100%;
	.pull-left {
		@include main-color();
		font-weight: bold;
	}
}
.filter-cantrol {
	display: none;
}

#panels-ipe-paneid-221, #panels-ipe-paneid-222, #panels-ipe-paneid-220 {
	width: 33%;
	display: inline-block;
	padding: 0 1%;
}

.wide-margins {
	@include width;
	width: 615px!important;
}

.purchase-btn {
	@include bg-main-color();
	padding: 4px 10px;
	color: $white !important;
	letter-spacing: 1px;
}
.draggable.tabledrag-processed thead {
	display: none;
}
.panels-flexible-region.popup.region {
	background-color: $mine_shaft;
	color: $white;
	padding-bottom: 40px;
}
.popup.region {
	.view-bean-infomation-block-view {
		tr {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			border: medium none;
		}
		tbody {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			border: medium none;
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-icon {
			float: left;
			width: auto;
			min-height: 80px;
			border: medium none;
		}
		&.views-field-label {
			float: left;
			padding-left: 15px;
			text-align: center;
			width: 185px;
			border: medium none;
			p {
				margin-top: 0;
			}
		}
		&.views-field-field-cm-info-block-text {
			float: left;
			padding-left: 15px;
			text-align: center;
			width: 185px;
			border: medium none;
			p {
				margin-top: 0;
			}
		}
	}
	.pane-my-backend-festival-menu-block .menu.nav li.last {
		border-bottom: none;
	}
	.pane-menu-menu-demo-menu-1 .menu.nav li {
		background-image: url("../images/arrow-right.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 20px auto;
		border-bottom: 2px solid $color_chicago_approx;
		line-height: 40px;
		&.last {
			border-bottom: medium none;
			margin-bottom: 30px;
		}
	}
}

li.expanded {
	.caret {
		display: none;
	}
	.dropdown-menu {
		border-top: 2px solid;
		@include border-main-color();
	}
}

.social .pane-content span {
	float: left;
	overflow: hidden;
	width: 33%;
}

.sponser-pane .pane-content li {
	float: left;
	overflow: hidden;
	width: 33%;
}

.pane-bean-infomation-block-view.col-md-12 {
	background-color: #262626;
	padding-top: 30px;
}

.form-item-submitted-approve-recieving-e-mail.radio {
	margin: 0;
}

.webform-component-radios.webform-component--approve-recieving-e-mail {
	margin-bottom: 0;
	width: 100%;
}

/********   Footer  *********/

#footer{
	margin-top: 50px;
}

section.footer .view-bean-infomation-block-view table tbody tr {
	background-color: $boulder !important;
	border: medium none;
	color: $white;
}

.panels-flexible-region-11-center, .panels-flexible-region-14-center{
	width: 100%;
}

.copyright > p {
	font-size: 14px;
	padding: 15px 0;
}
.design-development > p {
	font-size: 14px;
	padding: 15px 0;
}
.custom-sponser-pane .pane-content {
	li {
		display: inline;
		img.carousel-sponser {
			padding-top: 8px;
			width: 140px;
		}
	}
	> ul {
		float: left;
		text-align: center;
		width: 100%;
	}
}

.pane-bean-footer-social-block{
	@include bg-main-color();
	padding: 40px 0 25px;
	clear: both;
	.field-items{
		text-align: center;
	}
	.field-item{
		display: inline-block;
		margin: 0 10px;
	}
	.field-item:nth-child(1){
		@include res(s-m){
			width: 100%;
			margin: 0 0 5px 0;
		}
	}
}

/****   slide changes   ************/
.flex-direction-nav .flex-prev:after {
}
.pane-slider h2 {
	display: none;
}
.views_slideshow_controls_text a {
	color: $black_80;
	cursor: pointer;
	display: block;
	height: 40px;
	margin: -20px 0 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-shadow: 1px 1px 0 $white_30;
	top: 50%;
	transition: all 0.3s ease-in-out 0s;
	width: 40px;
	z-index: 10;
	background-repeat: no-repeat;
	font-size: 0;
	height: 32px;
	width: 32px;
}
.views-slideshow-controls-text-previous a {
	left: 0;
	background-image: url("../images/left.png");
	margin-left: 15px;
}
.views-slideshow-controls-text-next a {
	right: 0;
	background-image: url("../images/right.png");
	margin-right: 15px;
}
.view-id-slider:hover .views_slideshow_controls_text a {
	opacity: 1;
}

.navbar-brand > img {
	height: 50px;
	transition: all 0.5s ease 0s;
}

.site-custom-menu.menu.nav.navbar-nav {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	margin-top: 5px;
	text-align: center;
}
.panels-flexible-custom_front_panel .panels-flexible-region {
	width: 100%;
}
.navbar .navbar-brand {
	margin: 6px 5px 0 30px;
	overflow: hidden;
	padding: 0;
	@include res(s-m){
		margin: 10px 30px 0 5px!important;
	}
	@include res(menu){
		margin: 6px 30px 0 5px;
	}
}
.navbar-nav > li {
	display: inline-block;
	float: none;
}
#main #content {
	padding: 0;
}
span.bold {
	font-weight: bold;
}
.bold.time {
	float: left;
	margin-top: 70px;
	text-align: center;
	width: 100%;
}
.calender-filter-date p.pull-left {
	@include main-color();
	font-weight: bolder;
}
.page-taxonomy .panels-flexible-row.content {
	margin: 0 auto;
	width: 100%;
}


/********  new added css  ******/

.search-results {
	padding: 0;
}
.search-results.node-results {
	padding: 0 !important;
}
.cm_person .pro-grid li {
	width: 46%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	&:nth-child(1) {
		width: 6% !important;
	}
	.pro-img {
		max-width: 100%;
		background: $color_black_haze_approx;
		padding: 2px;
		border: 1px solid $color_silver_approx;
		border-radius: 50%;
		width: 55px;
		height: 55px;
	}
	.title {
		text-align: left;
		text-transform: uppercase;
		font-size: 14px;
		a {
			font-weight: 500;
			font-size: 14px;
			color: $black !important;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			display: block;
		}
	}
	&:nth-child(3) {
		width: 60%;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0 !important;
	}
	&:nth-child(2) {
		width: 25% !important;
	}
	.search-view-mode p {
		font-size: 13px !important;
		margin: 0 !important;
		line-height: 1.25 !important;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 56px;
		line-clamp: 2;
		box-orient: vertical;
	}
}
.pager li {
	> a {
		border-radius: 0 !important;
	}
	> span {
		border-radius: 0 !important;
	}
}
.custom_filter_css .item-list ul li {
	display: inline-block;
	padding: 6px 10px;
	@include bg-main-color();
	a {
		color: $white !important;
		letter-spacing: 1px;
	}
}
.mobile-event-accordian .accordian-hall {
	@include bg-main-color();
	color: $white;
	cursor: pointer;
	margin: 2px 0;
	padding: 5px 15px;
	&.open {
		background-color: $black;
	}
}
.mobile-calender-row.mobile-custom-row {
	float: left;
	padding: 2px 15px;
	width: 100%;
	border-bottom: 1px solid $color_nobel_approx;
	background: $white none repeat scroll 0 0;
	&:nth-child(2n + 1) {
		background-color: $color_gallery_approx;
	}
}
.accordian-hall .fa {
	float: right;
	padding-top: 5px;
}
.page-header h1.title {
	font-size: 7vh;
	padding: 10px;
	color: $color_tundora_approx;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}
div[id^="panels-ipe-paneid-22"] > * select {
	border-radius: 0 !important;
	border: 1px solid $color_mountain_mist_approx;
	box-shadow: none !important;
}


.front{
	background-color: $color_fantasy_approx!important;
	#mini-panel-myminipaneltest23rds13rd .pane-title{
		font-weight: normal;
		font-size: 20px;
		text-align: center;
	}
	p{
		line-height: 24px;
	}
	.panel-pane{
		overflow: hidden;
	}
	.panel-flexible-inside{
			height: 100%;
	}
	.pane-bundle-gallery{
		/*.custom-slideshow, li{
			height: 1024px!important;
		}*/
		.custom-slideshow li img{
			width: 100%;
			height: auto;
			max-width: none;
		}
		.custom-slideshow{
			overflow: hidden;
		}
	}
	.field-name-field-cm-festival-body{
		margin-top: 100px;
		margin-bottom: 20px;
		p{	
			margin-bottom: 50px;
			line-height: 25px;
		}
	}
	.pane-panels-mini{
		@include width;
		width: 1330px!important;
	}
}

.pane-bundle-sponser{
	padding: 20px 3%;

	.field-item{
		padding: 0px 20px;
		box-sizing: border-box;
		display: inline-block;
    	height: 80px;
		img{
			padding: 10px 0;
			height: 100%;
			width: auto;
		}
	}
}