@import "init";

.footer {
	.views-field {
		&.views-field-field-cm-info-block-text {
			margin-left: 0%;
			margin-right: 10%;
		}
	}
	.pane-webform-client-block-19{
		padding-top: 30px!important;
	}
	.webform-client-form {
		.webform-component--join-our-newsletter{
			margin-left: 30px!important;
			margin-right: 0;
		}
		.webform-component {
			float: right;
			margin-right: 0px;
			margin-left: 14px;
			input {
				padding-left: 0px;
				padding-right: 10px;
			}
		}
		.webform-component--approve-recieving-e-mail{
			margin-left: 0%;
			margin-right: 23%;
		}
		.form-submit{
			margin: 0 5px 0 0px;
		}
		.form-actions{
			margin: 0;
		}
	}
	.social {
		&.icon {
			float: right;
		}
		.pane-content span {
			padding-right: 25px;
			padding-left: 1px;
		}
	}
	.copyrignt-block {
		.copyright{
			float: right;
		}
		.design-development{
			float: left;
		}
	}
	.news-letter h2 {
		float: right;
	}
}