@import "init";

.footer {
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew{
		.pane-content{
			.field-name-field-content-info > .field-items > .field-item{
			    float: right;
			}
		}
	}
	.views-field {
		&.views-field-field-cm-info-block-text {
			margin-left: 0%;
			margin-right: 10%;
		}
	}
	.pane-webform-client-block-19{
		padding-top: 30px!important;
	}
	.webform-client-form {
		.webform-component--join-our-newsletter{
			margin-left: 30px!important;
			margin-right: 0;
		}
		.webform-component {
			float: right;
			margin-right: 0px;
			margin-left: 14px;
			input {
				padding-left: 0px;
				padding-right: 10px;
			}
		}
		label{
			padding: 10px;	
		}
		.webform-component--approve-recieving-e-mail{
			margin-left: 0%;
			margin-right: 23%;
			label{
				position: relative!important;
				&.element-invisible{
					display: none;
				}
			}
		}
		.form-submit{
			margin: 0 5px 0 0px;
		}
		.form-actions{
			margin: 0;
		}
	}
	.social {
		&.icon {
			float: right;
		}
		.pane-content span {
			padding-right: 25px;
			padding-left: 1px;
		}
	}
	.copyrignt-block {
		.copyright{
			float: right;
		}
		.design-development{
			float: left;
		}
	}
	.news-letter h2 {
		float: right;
	}
}

.front{
	.pane-bundle-gallery .slider-readmore{
		float: right;
	}
}

.teaser-row .ticket {
  margin-right: 10px;
  margin-left: 0;
}

.header-right{
	float: left!important;
	.language-switcher-locale-url{
		a{
			height: 24px!important;
			background: url("../images/english-icon.png") no-repeat 0 4px!important;
		}
		span{
			background: url("../images/english-icon.png") no-repeat 0 4px!important;
			height: 24px!important;
			}
	}
	.favorite a{
		height: 24px!important;
	}
}

.header #site-main-menu{
	li{
		padding: 0;
		margin: 0;
 		a{
			text-align: right;
	 	}
	}
	.dropdown-menu{
		right: 0;
		left: auto;
	}
}

.col-md-3.header-right .shopping-cart button{
	margin-top: 5px;
}

.col-md-3.header-right > li.search{
	margin-top: 3px;
}

.col-md-3.header-right{
	margin-left: 15px;
	margin-right: 0;
	> li{
		padding-right: 30px;
		padding-left: 0;
	}
}

.navbar-header {
	float: right !important;
}

.block-image {
	float: right;
	text-align: left;
}

.navbar-brand {
	float: right;
	margin: 11px 30px 0 5px!important;
	@include res(menu){
		float:left;
	}
}

#myModal {
	.webform-component {
		float: right;
	}
}

.radio {
	label {
		padding-left: 0;
		padding-right: 0;
	}
	input[type="radio"] {
		margin-left: 6px;
		margin-top: 0;
		position: relative;
	}
}

.site-custom-menu.menu.nav.navbar-nav {
	float: right;
}

.hambruger.-menu.navbar-toggle {
	float: right;
	margin-left: 0;
	margin-right: 30px;
}

.social .pane-content {
	li {
		float: right;
	}
	span {
		float: right;
	}
}

.sponser-pane .pane-content li {
	float: right;
	float: right;
}

.design-development > p {
	text-align: left;
}

.view-bean-infomation-block-view table tr {
	float: right;
}

.pane-menu-menu-site-main-menu .menu.nav li.expanded {
	float: right;
}

.col-md-6.news-leter {
	float: right;
}

.news-leter .webform-component input {
	padding-left: 0;
	padding-right: 4px;
}

.checkbox input[type="checkbox"] {
	margin-left: 6px;
	margin-right: 0;
}

.checkbox-inline input[type="checkbox"] {
	margin-left: 6px;
	margin-top: 0;
	position: relative;
}

.radio-inline input[type="radio"] {
	margin-left: 6px;
	margin-top: 0;
	position: relative;
}

.popup.region .views-field {
	&.views-field-field-cm-info-block-icon {
		float: right;
	}
	&.views-field-label {
		float: right;
	}
	&.views-field-field-cm-info-block-text {
		float: right;
	}
}
