@import "init";



.node-type-cm-event {
	.panels-flexible-region-node_page-content_left{
		float: left;
	}
	.pane-event-ct-view-panel-pane-7 {
		float: right;
	}
}

.movie-group-list {
	.flag-movie {
		left: 15px;
		right: auto;
	}
}

	.more-screening-pane{
		.pane-title{
			float: right;	
		}
	}