@import "init";



.node-type-cm-event {
	background-color: #fff!important;
	#content {
		width: 100% !important;
	}
	.view .content, .view .mask {
	    left: auto;
	    position: relative!important;
	}
	.panels-flexible-row-node_page-3,
	.panels-flexible-row-node_page-4,
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		padding: 0!important;
	}
	.panels-flexible-row-node_page-3{
		overflow: visible!important;
	}
	.panels-flexible-region-node_page-content_left{
		float: right;
	}
	.panels-flexible-row-node_page-5{
		.panels-flexible-row-node_page-5-inside{
			padding-top: 40px;
		}
	}
	.panels-flexible-row-node_page-3{
		overflow: hidden;
	}
	.pane-test-view-for-movie-credit-panel-pane-2{
		background-color: #fff;
		padding: 30px 0;
		.pane-content{
			@include width;
			.view{
				margin: 0 23%;
			}
		}
		.views-field-field-cm-movie-credits-person-ro{
			color: $color_nobel_approx;
			width: 23%;
		}
		a:hover{
			color: $main-color;
		}
	}
	.pane-event-ct-view-panel-pane-7 {
		background-color: $color_alabaster_approx;
		width: 100%;
		float: left;
		.view-event-ct-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
			}
		}
		.views-table {
			border: none;
			margin-bottom: 0;
			tbody {
				border: none;
				tr {
					border: none;
				}
			}
		}
		.views-field-field-cm-event-time-1{
			width: 23%;
		}
		.view-content {
			padding: 22px 0;
		}
		.pane-content {
			@include width();
		}
		table tr td, table tr th {
			border: medium none;
			width: calc(15% - 19.25px);
			display: inline-block;
			float: left;
		}
		.views-field-php{
			width: 60px;
		}
		.views-field-ops{
			height: 40px;
			padding-top: 13px;
			width: 60px;
		}
		.views-field-field-toptix-purchase{
			width: 80px;
			float: right;
		}
		.view-id-event_ct_view .views-field-php .addthisevent-drop {
			background-color: $color_alabaster_approx;
		}
		.table-responsive tbody tr {
			background-color: $color_alabaster_approx !important;
		}
	}
	.view-display-id-panel_pane_5{
		.views-field-field-cm-event-time{
			width: 23%;
		}
		table tr td, table tr th {
			width: calc(15% - 19.25px);
			float: left;
		}
		.views-field-php{
			width: 60px;
		}
		.views-field-ops{
			height: 40px;
			padding-top: 13px;
			width: 60px;
		}
		.views-field-field-toptix-purchase{
			width: 80px;
			float: right;
		}
	}
	.pane-event-ct-view-panel-pane-3{
		.movie-group-slide{
			img{
				margin-bottom: 0;
			}
		}
		.slide-left-ct {
			float: left;
			color: $white;
			margin-top: 3%;
			margin: 0 23%;
			a{
				color: $white;
			}
		}
		.slide-movie-year {
			font-size: 1.2rem;
		}
		.slide-eve-lobby {
			font-size: 1.2rem;
		}
		.slide-right-ct {
			float: left;
			bottom: 25px;
			padding-left: 6%;
			padding-right: 10%;
			width: 23%;
			position: absolute;
			a {
				background: url("../images/play-icon.png") no-repeat scroll 60% center;
				border-radius: 30px;
				border:1px solid #fff;
				display: inline-block;
				font-size: 0;
				height: 55px;
				padding: 2%;
				width: 55px;
			}
		}
		.slide-eve-title {
			font-size: 22px;
			margin-top: 1%;
		}
		.view-event-ct-view{
			overflow: visible;
			.views-field-nothing{
				position: absolute;
				bottom: 5rem;
				width: 100%;
				z-index: 15;
				.slide-over-content {
					@include width();
					.slide-movie-title {
						margin-bottom: 15px;				
					}
				}
			}
		}
	}
	&.noheaderimage{
		.pane-event-ct-view-panel-pane-3 .view-event-ct-view .views-field-nothing{
			position: relative;
			bottom: 0;
		}
		.slide-left-ct{
			color: #000!important;
			margin-bottom: 3%;
			h2{
				color: #000!important;
			}
			a{
				color: #000!important;
			}
		}
		.slide-right-ct{
			margin-bottom: 41px;
		}
		.slide-right-ct a {
    		background: rgba(0, 0, 0, 0) url("../images/play-icon-black.png") no-repeat scroll 60% center;
    		border-color: #000;
    	}
    	.slide-over-content{
    		margin: 50px auto 25px!important;
    	}
	}
	.pane-event-ct-view-panel-pane-5{
		@include width;
		.pane-title{
			font-size: 1rem;
		}
		.view-event-ct-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
			}
			#atedrop2-drop{
				top: 36px!important;
			}
		}
		.views-field-field-cm-event-time{
			width: 23%;
		}
		td {
			border: none !important;
			a {
				color: $black;
			}
		}
		table {
			border: none !important;
		}
		tbody {
			border: none !important;
			.views-field-ops .flag{
				background: url("../images/like-gold.png") no-repeat center center;
				width: 18px;
				height: 15px;
			}
			.views-field-ops .unflagged{
				background: url("../images/like-event-unflag.png") no-repeat center center;
			}
			.views-field-php a{
				background: url("../images/add-event.png") no-repeat center center;
				width: 30px;
				height: 27px;
				display: block;
				margin-top: -2px;
			}
		}
		.views-field-field-toptix-purchase{
			float: right;
		}
		th {
			border: none !important;
			color: $color_pink_swan_approx;
			font-size: 14px;
			font-weight: 300;
		}
		tr {
			border: none !important;
		}
	}
	.pane-event-ct-view-panel-pane-6 {
		margin-right: 23%;
		.views-field-field-cm-movie-body {
			color: $color_mine_shaft_approx;
			line-height: 28px;
		}
		.views-field-title a {
			font-weight: bold;
			color: $black;
		}
		.views-field-nothing{
			font-weight: bold;
			padding: 10px 0;
			color: $black;
		}
	}
	.pane-event-ct-view-panel-pane-4 .pane-content {
		border-top: 5px solid $black;
		padding-top: 13px;
		border-bottom: 2px solid $color_alto_approx;
		padding-bottom: 4px;
		height: 57px;
		margin-top: 12%;
	}
	.pane-event-ct-view-panel-pane-8{
		.views-field-field-cm-event-body {
			line-height: 28px;
			@include width();
			padding: 35px 3%;
			p {
				font-weight: bold;
				margin: 0 23%;
			}
		}
	}
	.views_slideshow_cycle_slide .field-content .slide-alt-title {
		background-color: $color_mine_shaft_approx;
		bottom: 0px;
		color: $color_star_dust_approx;
		font-size: 12px;
		right: 0;
		padding: 10px 20px;
		position: absolute;
		z-index: 2;
		.grp-alt {
			border-right: 1px solid $color_star_dust_approx;
			padding-right: 7px;
			margin-right: 7px;
		}
	}
	#views_slideshow_cycle_main_event_ct_view-panel_pane_9 .views-field-field-cm-movie-pictures .group-alttab{
		z-index: 5;
	}
}

#atedrop1-drop{
	top: 35px!important;
}

.panels-flexible-region-node_page-bottom_content{
	width: 100%;
}