@import "init";



.node-type-cm-event {
	background-color: #fff!important;
	#content {
		width: 100% !important;
	}
	.view .content, .view .mask {
	    left: auto;
	    position: relative!important;
	}
	.panels-flexible-row-node_page-3,
	.panels-flexible-row-node_page-4,
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		padding: 0!important;
	}
	.panels-flexible-row-node_page-3{
		overflow: visible!important;
	}
	.panels-flexible-region-node_page-content_left{
		float: right;
	}
	.panels-flexible-row-node_page-5{
		.panels-flexible-row-node_page-5-inside{
			padding-top: 40px;
		}
	}
	.panels-flexible-row-node_page-3{
		overflow: hidden;
	}
	.pane-test-view-for-movie-credit-panel-pane-2{
		background-color: #fff;
		padding: 30px 0;
		.pane-content{
			@include width;
			.view{
				margin: 0 23%;
				@include res(s-m){
					margin: 0;
				}
			}
		}
		.views-field-field-cm-movie-credits-person-ro{
			color: $color_nobel_approx;
			width: 23%;
		}
		a{
			color: #000;
		}
		a:hover{
			@include main-color;
		}
	}
	table td, table, table tr, tbody {
		border: none !important;
	}
	.pane-event-ct-view-panel-pane-7 {
		background-color: $color_alabaster_approx;
		width: 100%;
		float: left;
		.view-event-ct-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
			}
		}
		.view-content {
			padding: 22px 0;
		}
		.pane-content {
			@include width();
		}
	}
	.pane-event-ct-view-panel-pane-3{
		.movie-group-slide{
			img{
				margin-bottom: 0;
			}
		}
		.view-event-ct-view{
			overflow: visible;
		}
	}
	.pane-event-ct-view-panel-pane-5{
		@include width;
		.view-event-ct-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
				.views-field-field-cm-event-time-1{
					width: 23%;
				}
				.views-field-field-cm-event-time{
					width: calc(15% - 19.25px);
				}
			}
			#atedrop2-drop{
				top: 36px!important;
			}
		}
		.pane-title{
			margin-bottom: 15px;
		}
		td {
			border: none !important;
			a {
				color: $black;
			}
		}
		tbody {
			border: none !important;
			.views-field-ops .flag{
				width: 18px;
				height: 15px;
			}
		}
		.views-field-field-toptix-purchase{
			float: right;
		}
		th {
			border: none !important;
			color: $color_pink_swan_approx;
			font-size: 12px;
			font-weight: 300;
		}
		tr {
			border: none !important;
		}
	}
	.pane-event-ct-view-panel-pane-6 {
		margin-right: 23%;
		@include res(s-m){
			margin-right: 0;
			margin-left: 0!important;
		}
		.views-field-field-cm-movie-body {
			color: $color_mine_shaft_approx;
			line-height: 28px;
		}
		.views-field-title a {
			font-weight: bold;
			color: $black;
		}
		.views-field-nothing{
			font-weight: bold;
			padding: 10px 0;
			color: $black;
		}
	}
	.pane-event-ct-view-panel-pane-4 .pane-content {
		border-top: 5px solid $black;
		padding-top: 13px;
		border-bottom: 2px solid $color_alto_approx;
		padding-bottom: 4px;
		height: 57px;
		margin-top: 12%;
	}
	.pane-event-ct-view-panel-pane-8{
		.views-field-field-cm-event-body {
			line-height: 28px;
			@include width();
			padding: 35px 3%;
			p {
				margin: 0 23%;
				@include res(s-m){
					margin: 0;
				}
			}
		}
	}
}

#atedrop1-drop{
	top: 35px!important;
}

.panels-flexible-region-node_page-bottom_content{
	width: 100%;
}