@import "init";

.node-type-cm-event {
	background-color: #fff!important;
	#content {
		width: 100% !important;
	}
	.panels-flexible-row-node_page-3,
	.panels-flexible-row-node_page-4,
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		padding: 0!important;
	}

	.panels-flexible-row-node_page-4 .pane-event-ct-view-panel-pane-7{
		background-color: $color_alabaster_approx;
	}
	.panels-flexible-row-node_page-3{
		overflow: visible!important;
	}
	.panels-flexible-region-node_page-content_left{
		float: right;
	}
	.panels-flexible-row-node_page-5{
		width: 100%!important;
		padding: 0!important;
		.inside{
			@include width;
		}
		@include res(s-m){
			padding: 0!important;
			.panels-flexible-region-node_page-content_left{
				padding: 0 5%!important;
				@include res(s-m){
					padding: 0 !important;
				}
			}
			.panels-flexible-region-node_page-content_right{
				padding: 0 5% 25px !important;
			}
		}
		.panels-flexible-row-node_page-5-inside{
			padding-top: 40px;
		}
	}
	.panels-flexible-row-node_page-3{
		overflow: hidden;
	}
	.pane-test-view-for-movie-credit-panel-pane-2{
		background-color: #fff;
		.pane-content{
			@include width;
		}
	}
	.pane-event-ct-view-panel-pane-7 {
		width: 100%;
		float: left;
		@include res(s-m){
			background-color: $color_alabaster_approx;
		}
		.view-event-ct-view{
			.table-responsive{
				.views-field-field-cm-event-time-1{
					width: 23%;
				}
			}
		}
		.view-content {
			padding: 22px 0;
			@include res(s-m){
				padding: 0;
			}
		}
		.pane-content {
			@include width();
			/*@include res(s-m){
				padding-left: calc(5% - 10px);
			}*/
		}
	}
	.pane-event-ct-view-panel-pane-3{
		.movie-group-slide{
			img{
				margin-bottom: 0;
			}
		}
	}
	.more-screening-pane{
		clear: both;
		overflow: hidden;
		@include width;
		.pane-title{
			padding-top: 20px;
		}
		.view-event-ct-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
				.views-field-field-cm-event-time-1{
					width: 23%;
				}
			}
		}
		.pane-title{
			margin-bottom: 15px;
		}
	}
	.pane-event-ct-view-panel-pane-6 {
		.views-field-field-cm-movie-body {
			color: $color_mine_shaft_approx;
			line-height: 28px;
		}
		.views-field-title a {
			font-weight: bold;
			color: $black;
		}
		.views-field-nothing{
			font-weight: bold;
			padding: 10px 0;
			color: $black;
		}
	}
	.pane-event-ct-view-panel-pane-4 .pane-content {
		border-top: 5px solid $black;
		padding-top: 13px;
		border-bottom: 2px solid $color_alto_approx;
		padding-bottom: 4px;
		height: 57px;
		margin-top: 12%;
	}
	.pane-event-ct-view-panel-pane-8{
		clear: both;
		.views-field-field-cm-event-body {
			line-height: 28px;
			@include width();
			padding: 10px 5% 10px;
			p {
   				margin: 0 auto;
    			width: 54%;
    			@include res(s-m){
					margin: 0;
					width: 100%;
				}
			}
		}
	}
	.pane-test-view-for-movie-credit-panel-pane-2 .pane-content{
		padding: 0;
		width: 100%!important;
	}
	.credits-view{
		width: 100%;
		padding: 30px 0 50px 0;
	}
}

.panels-flexible-region-node_page-bottom_content{
	width: 100%;
}

.with-movie-group-list{
	background-color: $color_fantasy_approx;
}
.movie-group-list {
	.row{

	}

}

.reviews-mobile{
	clear: both;
	margin-top: 30px;
}