@import "init";



.node-type-cm-event {
	.panels-flexible-region-node_page-content_left{
		float: left;
	}
	.pane-event-ct-view-panel-pane-7 {
		float: right;
	}
	.pane-event-ct-view-panel-pane-6 {
		margin-right: 0;
		margin-left: 23%;
		@include res(s-m){
			margin-right: 0!important;
		}
	}
}