.pane-movie-group-ct-panel-pane-3 {
	.views-field-field-toptix-purchase{
		float: left;
		width: 83px;
		button{
			float: right;
		}
	}
}

.content.middle {
	.panels-flexible-region-node_page-content_right {
		float: right;
		margin-left: 8%;
		margin-right: 0;
	}
}

table{
	td, th{
		padding-right: 0!important;
		padding-left: 8px!important;
	}
}

#page-header{
	.tabs{
	    right: auto;
	    left: 0;
	}
}