@import "init";

.pull-left{
	float: right!important;
}

.pane-movie-group-ct-panel-pane-3 {
	.views-field-field-toptix-purchase{
		button{
			float: right;
		}
	}
}

.content.middle {
	.panels-flexible-region-node_page-content_right {
		float: right;
		margin-left: 8%;
		margin-right: 0;
	}
	.panels-flexible-region-node_page-content_left{
		float: left;
		padding-left: 23%;
		padding-right: 0;
	}
}

table{
	td, th{
		padding-right: 0!important;
		padding-left: 8px!important;
		text-align: right;
		@include res(s-m){
			padding: 8px!important;
		}
	}
}

#page-header{
	.tabs{
	    right: auto;
	    left: 0;
	}
}

.header-right{
	float: left;
	li{
		float: right!important;
	}
}

.popup-element-body{
	.center{
		width: 100%!important;
		top: 55px;
		left: 0;
		position: fixed!important;
	}
	form .form-group .form-text{
		padding: 7px 2% 8px 22%;
	}
	#search-api-page-search-form-search-results--2{
		.form-group {
			.form-text {
				float: right;
				padding: 7px 2% 8px 22%;
			}
		}
		.form-submit {
			right: auto;
			left: 0;
		}
	}
	.popup-close{
		left: 10px!important;
		right: auto!important;
	}
	#search-api-page-search-form-search-results{
	    padding: 0px 47px 10px 0px;
	    left: 0px;
	    right: auto;
		.form-submit{
			float: right;
		}
	}
	form .form-submit{
		left: 0;
		right: auto;
	}
}

#da11y-plugin{
	padding-top: 15px;
}
/**** lobby page  ****/

.page-term-lobby{
	.view-lobby.view-display-id-panel_pane_1{
		.toptix-purchase{
			float: left;
		}
	}
	.lobby-term-left {
		float: left;
	}
	.lobby-term-right {
		float: right;
		.top-text-blk-wht {
			right: 0px;
			left: auto;
		}
	}
	.view-lobby.view-display-id-panel_pane_2{
		.views-row{
			margin-left: 5%;
			margin-right: 0;
			float: right;
		}
		.views-row:nth-child(3n){
			margin-left: 0;
		}
		.views-field-field-mc-teaser-toptxt-blk{
			right: 0;
			left: auto;
		}
		.views-field-ops{
			left: 15px;
			right: auto;
		}
	}
}

/***  article page  ****/

.node-type-cm-article{
	.container-fluid .row:nth-child(2){
		@include width;
		.radix-layouts-sidebar{
			padding-right: 0;
			padding-left: 100px;
			float: right;
		}
		.radix-layouts-content{
			.pane-node-body{
				margin-left: 23%;
				margin-right: 0;
			}
		}
	}
}

/******   webform  *****/

.node-type-webform{
	form{
		.form-actions{
			float: left;
		}
	}
}


/*******  user profile  ********/

#views-exposed-form-user-flagged-content-panel-pane-1{
	.views-widget-filter-gid{
		right: 0;
		left: auto;
		a{
			margin-right: 0px; 
			margin-left: 5px;
		}
	}
}

.view-user-flagged-content.view-display-id-panel_pane_1{
	.view-filters{
		.wrapper{
			form{
				float: right;
			}
			.edit{
				float: left;
			}
		}
		.views-widget-filter-type{	
			.form-item-edit-type-1{
				border-left: 1px solid #000;
				margin-left: 40px;
				padding-left: 40px;
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
	.text-center{
		.pagination{
			float: left;
		}
	}
}

.pane-user-flagged-content-panel-pane-1 .view-content{
	padding-bottom: 20px;
	.item-list{
			.lobby-container{
				.lobby-term-left{
					float: right;
				}
			.lobby-term-right{
					float: left;
				}
			}
	}
}

/*********  person page  **********/

.node-type-cm-person{
	.panels-flexible-row-node_page-4{
		.pane-person-ct-view-panel-pane-1{
    		.pane-content{
    			@include width;
    			.view{
					float: left;
    			}
    		}
		}
	}
	.view-person-ct-view.view-display-id-panel_pane_1{
		.views-field-nothing-1{
			.col{
				float: right;
				padding-right: 44px;
				padding-left: 0;
				margin-right: 0;
				margin-left: 3.5%;
				background-position: right 4px!important;
				&.col-3{
					margin-left: 0;
				}
			}
		}
	}
	.panels-flexible-row-node_page-6{
		.view-person-ct-view.view-display-id-panel_pane_2{
			.views-row-odd{
				float: right;
			}
			.views-row-even{
				float: left;
			}
		}
	}
	.panels-flexible-region-node_page-content_left {
	    float: left!important;
	}
}

.view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover{
	background: url("../images/more-white-left.png") no-repeat scroll left 10px center;
	@include bg-main-color;
}

/****  share blcok  *****/

.share-this-pane {
	.facebook a{
        background-position: right 3px center!important;
	}
    .whatsapp a{
        background-position: right center!important;
    }
	.flag-wrapper{
		float: right;
		a.flag-action, a.unflag-action{
			background-position: right center!important;
		}
	}
	.flag-custom .title{
		float: left;
	}
}

.share-this-pane-mobile{
	.link{
		float: right;
		padding-left: 20px;
		padding-right: 0;
	}
}

/******  tags  *******/

.pane-node-field-tag, .pane-node-field-cm-article-tags, .pane-node-field-cm-movie-tags, .pane-node-field-cm-person-tags {
	.pane-content {
		.field-item{
		    float: right;
		    margin-right: 0;
		    margin-left: 2%;
		}
		a{
		    float: right;
		}
	}
}

/******  responsive *********/

@include res(s-m){
	.table-responsive{
		td{
			padding-left: 8px!important;
			padding-right: 0!important;
		}
	}
}

/***** movie, movie group, event & article  ********/

.text-main-image{
	.wrapper{
		.slide-right-ct {
			float: right;
			padding-right: 6%;
			padding-left: 10%;
			@include res(s-m){
				padding-left: 3%;
				padding-right: 0;
			}
		}
	}
}

.top-text-blk-wht{
	right: 0;
	left: auto;
	span{
		float: right;
	}
}

.image-alt-title {
	left: auto;
	right: 0;
	.field{
		float: right;
	}
	.grp-title, .field-name-field-file-image-title-text{
		margin-left: 0px;
		padding-left: 0px;
		border-left: none;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid;
	}
}

.flag-new-links{
    left: 10px;
    right: auto;
}

.view-footer{
	.more-event{
		float: left;
	}
}

// credits

.credits-view{
	float: left;
}

//review 

.view-reviews-field-collection-view {
	.view-content{
		> div{
			float: left;
			padding-left: 23%;
			padding-right: 0;
			@include res(s-m){
				padding-left: 0;
			}
		}
	}
}
/******  node teaser  ******/

.node-title-teaser-cm-movie .node-cm-movie-year{
  float: right;
  border-left: 2px solid #f9f4ee;
  border-right: none;
  margin-left: 10px;
  margin-right: 0;
}

.node-title-teaser-cm-movie a .node-title-teaser-title{
  padding: 26px 10px 23px 26px;
  @include res(s-m){
  	padding: 9px 10px 8px 26px;
  }
}