@import "init";

a{
	color: $main_color;
}

p{
	font-size: 1rem;
}
.panels-flexible-row{
	@include width();
	margin: 0 auto!important;
	padding: 0 3%!important;
}

.ajax-progress{
  position: absolute;
}

.ctr {
	clear: both;
}

img{
	max-width: 100%;
	height: auto;
	width: auto;
}

#da11y-toggle.active {
    box-shadow: none;
}

.pane-node-field-toptix-purchase {
	clear: both;
	bottom: 1%;
	position: absolute;
	right: 25%;
	h2.pane-title {
		display: none;
	}
}
.clr {
	clear: both;
}

.panels-flexible-region-58-center{
	width: 100%;
}
#main-wrapper {
	margin-top: 50px !important;
}

.table-responsive tbody tr {
	background-color: transparent !important;
}

.pane-node-field-tag {
	.pane-content {
		border-top: 5px solid $black;
		padding-top: 20px;
	}
	h2.pane-title {
		display: none;
	}
}

.panels-flexible-node_page .panels-flexible-region-inside{
	padding: 0!important;	
}

body {
	&.node-type-cm-movie {
		background-color: $white !important;
		.container {
			#page-header .page-header h1.title {
				display: none;
			}
		}
		#content {
			width: 100% !important;
		}
	}
	&.node-type-cm-article{
		#content {
			width: 100% !important;
		}
	}
}

.prev-custom {
	left: -11%;
	position: absolute;
	top: 8%;
	.prev > a {
		background: rgba(0, 0, 0, 0) url("../images/custom-prev.png") no-repeat scroll 0 0;
		display: inline-block;
		font-size: 0;
		height: 41px;
		width: 117px;
	}
}
.node-nav {
	&.next-custom {
		position: absolute;
		right: 0;
		top: 8%;
	}
	&.prev-custom ul {
		padding: 9% 15% 17% 10%;
		width: 100%;
		li {
			text-align: left;
		}
	}
}
.next-custom {
	ul {
		background-color: $color_alabaster_approx;
		margin: 0;
		padding: 9% 15% 30% 20%;
		width: 100%;
	}
	.next > a {
		background: rgba(0, 0, 0, 0) url("../images/custom-next.png") no-repeat scroll 0 0;
		border-radius: 5% !important;
		display: inline-block;
		font-size: 0;
		height: 62px;
		width: 38px;
	}
}

.panels-flexible-region-node_page-slider {
	width: 100% !important;
}

.node-type-cm-movie {
	.panels-flexible-region-8-center {
		width: 100%;
	}
	.panels-flexible-region-3-center {
		width: 100%;
	}
}
.panels-flexible-region-inside-first {
	position: relative !important;
}
.custom-node-link {
	position: absolute;
	display: block;
	width: 70%;
	height: 60%;
	top: 17%;
	left: 16%;
	a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
		padding: 0;
		margin: 0;
	}
}



.pane-title {
	font-size: 1.25rem;
	font-weight: 600;
}
.pane-movie-group-ct-panel-pane-3 {
	@include width;
	td {
		border: none !important;
		font-size: 1.1rem;
		a {
			color: $black;
		}
	}
	table {
		border: none !important;
		font-size: 1.1rem;
	}
	tbody {
		border: none !important;
		font-size: 1.1rem;
		.views-field-ops .flag{
			background: url("../images/like-gold.png") no-repeat center center;
			width: 18px;
			height: 15px;
		}
		.views-field-ops .unflagged{
			background: url("../images/unlike-gold.png") no-repeat center center;
		}
		.views-field-php a{
			background: url("../images/add-event.png") no-repeat center center;
			width: 30px;
			height: 27px;
			display: block;
			margin-top: -2px;
		}
	}
	.views-field-field-toptix-purchase{
		float: right;
		width: 90px;
		button{
			float: left;
		}
	}
	th {
		border: none !important;
		font-size: 1.1rem;
		color: $color_pink_swan_approx;
		font-size: 14px;
		font-weight: 300;
	}
	tr {
		border: none !important;
		font-size: 1.1rem;
	}
}
.bottom-content {
	table, tbody, tr, th, td {
		border: none !important;
		font-size: 1.1rem;
	}
	.pane-test-view-for-movie-cmain_colorit-panel-pane-2 {
		.pane-content {
			margin: 3% 0;
		}
		.view-content {
			margin: auto;
			padding-right: 14%;
			width: 65%;
		}
	}
}
.new-parent-left {
	padding-left: 10%;
	width: 24%;
	margin-right: 5%;
	float: left;
}

.views-field {
	&.views-field-field-cm-movie-cmain_colorits-person-ro {
		color: $color_nobel_approx;
		font-size: 1.1rem;
		font-weight: normal;
	}
	&.views-field-field-cm-movie-cmain_colorits-person {
		font-size: 1.1rem;
		font-weight: normal;
		> a {
			color: $color_black_approx;
		}
	}
}
.panels-ipe-portlet-wrapper {
	.whatsapp-custom {
		padding: 5% 2% 5% 5%;
		a {
			background: url("../images/whatapp-small.png") no-repeat right 0 !important;
			font-size: 13px;
			width: auto !important;
			height: auto !important;
			display: block;
			padding-right: 10%;
			color: $black !important;
		}
	}
	.facebook-custom {
		border-bottom: 2px solid $color_alto_approx;
		padding: 5% 3% 5% 0;
		span {
			background: url("../images/facebook-small.png") no-repeat right 0 !important;
			font-size: 11px;
			width: auto !important;
			height: auto !important;
			display: block;
			padding-right: 10%;
			color: $black !important;
		}
	}
	.flag-custom .flag-favorite- a {
		background: rgba(0, 0, 0, 0) url("../images/like-small.png") no-repeat scroll right 0 !important;
		float: none !important;
		font-size: 13px !important;
		width: auto !important;
		height: auto !important;
		display: block;
		padding-right: 10%;
		color: $black !important;
		&.unflag-action {
			background: rgba(0, 0, 0, 0) url("../images/fev-small-black.png") no-repeat scroll right 0 !important;
		}
	}
}
.share-pane-container {
	border-top: 5px solid $black;
}
.field-name-field-tag {
	a {
		color: $color_pink_swan_approx;
		font-size: 14px;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.field-item {
		&.even {
			float: left;
			width: 50%;
			padding-top: 3%;
		}
		&.odd {
			float: right;
			padding-top: 3%;
			width: 50%;
		}
	}
}
.movie-info {
	margin-right: 5%;
}
.slide-parent-content {
	position: relative;
}

#colorbox {
	background-color: transparent;
	overflow: visible;
	#cboxMiddleLeft, #cboxTopLeft, #cboxMiddleRight, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomLeft, #cboxBottomRight, #cboxBottomCenter{
		display: none;
	}
	#cboxWrapper{
		border-radius: 0;
		> div{
			width: 100%;
			height: 100%;
		}
		> div:nth-child(1){
			display: none;
		}
	}
	#cboxWrapper, #cboxContent{
		background-color: transparent;
		overflow: visible;
		width: 100%!important;
	}
	#cboxClose{
		background: url("../images/close42.png") no-repeat center center;
   		left: -35px;
    	top: -29px;
  	}
  	video{
  		width: 100%;

  	}
  	#cboxLoadedContent {
		margin: 0;
		width: 100%!important;
	}
	#cboxClose {
		bottom: 3% !important;
	}
}


.lobby-summary {
	font-size: 1.1rem;
	line-height: 28px;
}
.lobby-length {
	font-size: 1.1rem;
	line-height: 28px;
}
.view-id-movie_group_ct {
	.views-field-title a {
		color: $black !important;
	}
}
.movie-group-title-pic-container {
	position: relative;
	.movie-title-movie-group {
		position: absolute;
		right: 7.5%;
		bottom: 6%;
	}
}
@media only screen and(max-width: 500px) {
}
@media only screen and(max-width: 760px),(min-device-width: 768px) and(max-device-width: 1024px) {
	table {
		display: block;
	}
	thead {
		display: block;
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	tbody {
		display: block;
	}
	th {
		display: block;
	}
	td {
		display: block;
		border: none;
		border-bottom: 1px solid $color_gallery_approx;
		position: relative;
		padding-left: 50%;
		&:before {
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
	}
	tr {
		display: block;
		border: 1px solid $color_celeste_approx;
	}
}
@media only screen and(min-device-width : 320px) and(max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0 auto;
		width: 320px;
	}
}

.page-admin-structure-types-manage-cm-movie-group-fields-cer-settings .error {
	display: none;
}
.page-admin-structure-types-manage-cm-movie-group-fields-cer-store-settings .error {
	display: none;
}
.content.middle {
	position: relative;
	.pane-title {
		display: none;
	}
	.panels-flexible-region-node_page-content_left {
		width: 77%;
	}
	.panels-flexible-region-node_page-content_right {
		float: left;
		width: 15%;
		margin-right: 8%;
		.panels-flexible-region-node_page-content_right-inside{
			padding: 0;
		}
	}
}
#page-header .page-header {
	display: none;
	border: none;
}

.custom-nav ul {
	margin: 0;
	background-color: $color_alabaster_approx;
	padding: 3%;
	width: 24%;
}
.page-taxonomy-term #content {
	width: 100% !important;
}

table.views-table {
	margin: 0;
}
.view.view-display-id-panel_pane_3 {
	overflow: visible;
}
.views-field-php .addthisevent-drop {
	background-color: $white;
	border: medium none;
	font-size: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0) url("../images/add-event.png") no-repeat scroll center center;
    display: block;
    height: 27px;
    margin-top: -2px;
    width: 30px;
	&:hover {
		background-color: $white;
		border: medium none;
		font-size: 0;
		z-index: 1;
	}
	.addthisevent_icon {
		background: none;
		height: auto;
		width: auto;
	}
}
.views-field-field-cm-movie-pictures img {
	width: 100%;
}
.slide-movie-title h2 {
	margin: 1% 0;
	font-weight: normal;
	color: $white;
}

.sharethis-wrapper span.st_sharethis_button {
	border-bottom: 2px solid $color_alto_approx;
	display: block;
	margin-top: 6%;
	padding-bottom: 15px;
}
#panels-ipe-regionid-content_right .pane-sharethis-sharethis-block .st_facebook_button {
	display: block;
	margin-top: 5%;
}

.share-pane {
	border-bottom: 2px solid $color_alto_approx;
	padding: 10px 30px;
}
.facebook-custom.share-pane{
	background: url("../images/facebook-gold.png") no-repeat center center!important;
}
.i18n-he .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
	border-left: 1px solid $color_star_dust_approx;
	padding-left: 7px;
	margin-left: 3px;
	border-right: none;
}
.add-event a {
	background: url("../images/add-event.png") no-repeat !important;
	display: block;
	font-size: 0;
	height: 37px;
	width: 50px;
	position: absolute;
	bottom: 11%;
	right: 18%;
}
.field-name-field-toptix-purchase .field-item button {
	background: url("../images/toptix.png") no-repeat !important;
	border: medium none;
	display: block;
	font-size: 0;
	height: 40px;
	width: 104px;
}
.movie-flag a {
	background: url("../images/like-event.png") no-repeat !important;
	display: inline-block;
	font-size: 0;
	height: 37px;
	width: 50px;
	position: absolute;
	left: 190px;
}


/**** lobby page  ****/

.page-term-lobby{
	.panels-flexible-row-node_page-1{
		padding: 0!important;
		width: 100%!important;
	}
	.view-lobby.view-display-id-panel_pane_1{
		overflow: visible;
		.table-responsive{
			overflow: visible;
		}
		#atedrop7-drop{
			top: 35px!important
		}
	}
	.panels-flexible-region-node_page-header{
		width: 100%;
	}
	.panels-flexible-row-node_page-1{
		.pane-lobby-panel-pane-3 .pane-content, .view-lobby{
			height: 100%;
			.view-content, .views-row, .views-field-field-cm-lobby-media, .field-content{
				height: 100%;
				overflow: hidden;
			}
		}
		.views-field-field-cm-lobby-media img{
			height: auto;
			width: 100%;
		}
		.views-field-field-sub-title{
			position: absolute;
			bottom: 5em;
			width: 100%;
			.field-content{
				@include width;
				color: #fff;
				.sub-title{
					font-size: 22px;
				}
			}
		}
	}
	.view-lobby.view-display-id-panel_pane_1{
		padding-top: 30px;
		.toptix-purchase{
			float: right;
		}
	}
	.lobby-term-left {
		float: right;
		width: 80%;
		padding: 30px;
	}
	.lobby-term-right {
		float: left;
		width: 20%;
		position: relative;
		img{
			width: 100%;
		}
		.top-text-blk-wht {
			position: absolute;
			left: 0px;
			top: 2px;
			.white{
				background-color: rgba(256, 256, 256, 0.9);
				padding: 3px;
			}
			.black {
				color: $white !important;
				padding: 3px;
			}
		}
	}
	.pane-lobby-panel-pane-1 {
		.pane-content {
			.lobby-container {
				background-color: $white;
				margin-top: 1%;
			}
		}
	}
	.view-lobby.view-display-id-panel_pane_2, .view-lobby.view-display-id-panel_pane_4{
		padding-top: 30px;
		.views-row{
			width: 30%;
			margin-right: 5%;
			float: left;
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			img{
				width: 100%;
				height: auto;
			}
			.content{
				position: relative;
			}
		}
		.views-row:nth-child(3n){
			margin-right: 0;
		}
		.views-row:nth-child(3n+1){
			clear: both;
		}
		.views-field-field-cm-moviegroup-short-summar, .views-field-name{
			position: absolute;
			color: #fff;
			bottom: 20px;
			padding: 0 20px;
			width: 100%;
			a{
				color: #fff;
			}
		}
		.views-field-field-mc-teaser-toptxt-blk{
			position: absolute;
			top: 4px;
			left: 0;
			.black{
				color: #fff;
				padding: 5px;
			}
			.white{
				padding: 5px;
			}
		}
		.views-field-ops{
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 200;
		}
		.file-image-jpeg .content{
			position: relative;
		}
	}
	.pane-term-description{
		@include width;
		padding: 30px 3%;
		p{
			margin: 0;
		}
	}
	.pane-lobby-panel-pane-4{
		@include width;
	}
}

.row-custom-lobby > td {
	border: medium none !important;
	font-size: 1rem;
	a {
		color: $black !important;
	}
}
.lobby-term-left tbody {
	border: medium none !important;
}
.lobby-title a {
	color: $black;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 2%;
}

.pane-views-panes.pane-review-panel-pane-1 {
	margin-top: 50px;
	background-color: $color_fantasy_approx;
	overflow: hidden;
	.pane-content {
		@include width();
		.view-content {
			color: $main_color!important;
			padding: 50px 0;
			overflow: hidden;
		}
		.views-field-name {
			a {
				color: $main_color!important;
				font-size: 1rem !important;
			}
		}
		.views-field-review .field-content p {
			color: $main_color !important;
			font-size: 1.35rem !important;
			line-height: 1.35rem;
			span {
				color: $main_color !important;
				font-size: 1.15rem !important;
			}
		}
	}
}



.view-share-this-pane .flag {
	&.flag-action {
		background: none !important;
		float: none !important;
		font-size: 12px !important;
	}
	&.unflag-action {
		background: none !important;
		float: none !important;
		font-size: 12px !important;
	}
}
.movie-picture-movie-group img.panopoly-image-quarter {
	float: none !important;
	margin: 0;
}
.movie-title-movie-group > a {
	color: $white;
	font-size: 1.5em;
	font-weight: bold;
}
.movie-grp-body p {
	font-size: 1.1rem;
}


.img-like-wrapper {
	position: relative;
	.top-text-blk-wht {
		left: 36em;
		position: absolute;
		width: 100%;
		top: 0;
		.white {
			color: $main_color;
			display: block;
			float: left;
			padding: 1%;
		}
		.black {
			color: $white;
			display: block;
			float: left;
			padding: 1%;
		}
	}
	.like-btn {
		left: 3em;
		position: absolute;
		top: 1.5em;
	}
}

@media(max-width:320px) {
	.sticky-header {
		&.header {
			.navbar-default {
				height: 42px !important;
			}
			.hambruger.-menu.navbar-toggle {
				margin-top: 8px !important;
				margin-left: 8px !important;
				border: 1px solid $white !important;
			}
		}
		.navbar-toggle {
			margin-right: 10px !important;
			padding: 5px 9px !important;
		}
		.navbar-collapse {
			background-color: $black !important;
		}
		.navbar .navbar-toggle .icon-bar {
			height: 1px !important;
			width: 8px !important;
		}
		.navbar-brand > img {
			height: 40px !important;
		}
	}
	.navbar-default {
		height: 50px !important;
	}
	.navbar-header {
		width: 100% !important;
	}
	.navbar-toggle {
		padding: 8px 10px !important;
	}
	.navbar {
		.navbar-brand {
			height: 50px !important;
			padding: 8px 8px !important;
		}
		.navbar-collapse {
			background-color: $main_color !important;
			padding: 2px;
			overflow-x: hidden;
		}
		.navbar-toggle .icon-bar {
			height: 1px !important;
			width: 14px !important;
		}
	}
	.col-md-3 {
		padding-left: 6px;
		padding-right: 6px;
		&.header-right > li {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	.hambruger.-menu.navbar-toggle {
		margin-top: 8px !important;
		margin-left: 8px !important;
		border: 1px solid $white !important;
	}
	.navbar-brand > img {
		height: 42px !important;
	}
}
@media(min-width:320px) and(max-width:480px) {
	.node-type-cm-movie {
		.view-display-id-panel_pane_2 {
			.slide-over-content {
				bottom: 1em;
				left: 0;
			}
			.slide-left-ct {
				position: relative;
				width: 85%;
				float: right;
				left: 15%;
				.slide-movie-title {
					font-size: 1.56rem;
				}
			}
			.slide-right-ct {
				float: left;
				position: relative;
				margin-top: 0;
				width: 10%;
				a {
					height: 48px;
					width: 48px;
				}
			}
		}
		.table-responsive {
			overflow-x: hidden;
		}
		.panels-flexible-row {
			&.content {
				width: 100%;
			}
			&.bottom.content {
				width: 100%;
			}
		}
		.views-field {
			&.views-field-field-cm-movie-country {
				font-size: .7rem;
			}
			&.views-field-field-cm-movie-body p {
				font-weight: 600;
				font-size: 1.2rem;
				margin: 0;
			}
		}
		table thead {
			display: none;
		}
		.view-id-movie_top_pane_view.view-display-id-panel_pane_7 {
			td {
				&:nth-of-type(2) {
					display: none;
				}
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: none;
				}
			}
			.views-field-field-toptix-purchase {
				float: left;
				button {
					padding: 3px 5px;
				}
			}
			.views-field-field-cm-event-hall {
				float: left;
			}
			.views-field-field-cm-event-time {
				float: left;
				color: $color_celeste_approx;
			}
			.views-field-field-cm-event-time-1 {
				color: $color_celeste_approx;
			}
			table tr {
				padding: 0.2em 0;
				border-bottom: 1px solid $color_celeste_approx !important;
				clear: both;
				min-height: 80px;
			}
		}
		.content.middle {
			.panels-flexible-region-node_page-content_left {
				width: 100%;
			}
			.panels-flexible-region-node_page-content_right {
				display: none;
			}
			.inside.panels-flexible-row-inside {
				width: 100%;
			}
		}
		#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
			margin-right: 0;
			margin-top: 0;
			width: auto;
			padding-left: 0;
		}
		.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
			padding-right: 0;
			width: 100%;
			tr {
				padding: 0;
			}
			.views-field-field-cm-person-last-name {
				float: left;
			}
		}
	}
	.table-responsive {
		border: 0 solid $color_alto_approx;
	}
}
@media(max-width: 640px) and(min-width: 481px) {
	.node-type-cm-movie {
		.slide-over-content {
			left: 30%;
		}
		.panels-flexible-row {
			&.content {
				width: 100%;
			}
			&.bottom.content {
				width: 100%;
			}
		}
		.views-field {
			&.views-field-field-cm-movie-country {
				font-size: .7rem;
			}
			&.views-field-field-cm-movie-body p {
				font-weight: 600;
				font-size: 1.2rem;
				margin: 0;
			}
		}
		table thead {
			display: none;
		}
		.view-id-movie_top_pane_view.view-display-id-panel_pane_7 {
			td {
				&:nth-of-type(2) {
					display: none;
				}
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: none;
				}
			}
			.views-field-field-toptix-purchase {
				float: left;
				button {
					padding: 3px 5px;
				}
			}
			.views-field-field-cm-event-hall {
				float: left;
			}
			.views-field-field-cm-event-time {
				float: left;
				color: $color_celeste_approx;
			}
			.views-field-field-cm-event-time-1 {
				color: $color_celeste_approx;
			}
			table tr {
				padding: 0.2em 0;
				border-bottom: 1px solid $color_celeste_approx !important;
				clear: both;
				min-height: 80px;
			}
		}
		.content.middle {
			.panels-flexible-region-node_page-content_left {
				width: 100%;
			}
			.panels-flexible-region-node_page-content_right {
				display: none;
			}
			.inside.panels-flexible-row-inside {
				width: 100%;
			}
		}
		#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
			margin-right: 0;
			margin-top: 0;
			width: auto;
			padding-left: 0;
		}
		.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
			padding-right: 0;
			width: 100%;
			tr {
				padding: 0;
			}
			.views-field-field-cm-person-last-name {
				float: left;
			}
		}
	}
	.table-responsive {
		border: 0 solid $color_alto_approx;
	}
}
@media(min-width: 768px) {
	.node-type-cm-movie .content.middle {
		.panels-flexible-region-node_page-content_left {
			width: 100%;
		}
		.panels-flexible-region-node_page-content_right {
			display: none;
		}
		.inside.panels-flexible-row-inside {
			width: 100%;
		}
	}
}

.flag-wrapper a {
	display: block;
	text-indent: -9999px;
	width: 18px;
	&.flag-action {
		background: url("../images/like-gold.png") no-repeat right 0 !important;
	}
	&.unflag-action {
		background: url("../images/unlike-gold.png") no-repeat right 0 !important;
	}
}

.panels-flexible-row.content .panels-flexible-region-node_page-content_region {
	width: 100% !important;
}
button.toptix-purchase {
	background-color: $main_color;
	color: $white;
	font-size: .8rem;
	border: none;
	padding: 4px 14px;
}

.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1{
			.views-field {
				&.views-field-field-cm-movie-short-summary {
					padding: 0 5% 5%;
					p {
						font-weight: 400;
					}
				}
				&.views-field-nothing-1 .field-content {
					.movie-grp-add-event {
						position: relative;
						padding-left: 25px;
						a {
							background: url("../images/add-event.png") no-repeat;
							width: 30px;
							height: 28px;
							display: inline-block;
							font-size: 0;
							position: absolute;
						}
					}
					.pur_btn {
						margin-left: 2%;
						button {
							background: url("../images/toptix.png") no-repeat !important;
							border: medium none;
							font-size: 0;
							height: 30px;
							border-radius: 80px 80px 80px 80px;
							width: 72px;
							vertical-align: middle;
						}
					}
					.add-event-cal {
						margin-left: 2%;
					}
					.title {
						float: left;
						padding: .8% 0 0;
						font-size: 1.3em;
						a {
							color: #000;
							font-weight: 600;
						}
					}
					.list-wrapper {
						font-size: 1.2em;
						font-weight: 600;
						.bar {
							margin: 0 3px;
						}
					}
				}
			}
		}
}

input:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid $main_color!important;
}

table{
	td, th{
		padding-left: 0!important;
	}
}

#page-header{
	.tabs{
		position: fixed;
	    right: 0;
	    margin-top: 40px;
	    z-index: 300;
	   	background-color: rgba(0,0,0,0.7);
	    li{
	    	clear: both;
	    }
	}
}

.popup-element-body{
	.center{
		width: 100%!important;
		top: 55px;
		left: 0;
		position: fixed!important;
		.inner{
			@include width;
			margin: 40px auto 0!important;
		}
	}
	form{
		position: relative;
		> div{
			position: relative;
		}
		.form-group {
			overflow: hidden;
			-webkit-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			label[for="edit-keys-1"] {
				display: none !important;
			}
			.form-text {
				width: 100%;
				box-sizing: border-box;
				display: inline-block;
				float: left;
				background: $white;
				margin-bottom: 0;
				height: auto;
				padding: 7px 22% 8px 2%;
				font-size: 25px;
				border:none;
			}
		}
		.form-submit {
			margin: 0;
			border-radius: 0 !important;
			background: $main_color !important;
			padding: 9px 25px 11px;
			font-size: 18px;
			width: 20%;
			position: absolute;
			right: 0;
			box-shadow: none;
			top: 0px;
		}
	}
	.popup-close{
	    background: $main-color url("../images/close42.png") no-repeat scroll center center !important;
	    border-radius: 50%;
	    height: 25px !important;
		left: auto;
		top: -32px !important;
	    width: 25px !important;
	    z-index: 300;
	    background-size: 10px 10px!important;
		right: 0;
		position: absolute !important;
	}
}

	.popup-style-white .popup-element-body .bottom .right,
	.popup-style-white .popup-element-body .bottom .center,
	.popup-style-white .popup-element-body .bottom .left,
	.popup-style-white .popup-element-body .center .right,
	.popup-style-white .popup-element-body .center .center,
	.popup-style-white .popup-element-body .center .left,
	.popup-style-white .popup-element-body.origin-bottom-left.expand-bottom-right .top .left,
	.popup-style-white .popup-element-body .top .center,
	.popup-style-white .popup-element-body .top .right{
		background: none!important;
	}

/***  article page  ****/

.node-type-cm-article{
	.radix-layouts-content{
		padding: 0;
	}
	.panel-panel-inner .panel-pane.pane-article-ct-panes-panel-pane-1{
		width: 100%!important;
		padding: 0!important;
	}
	.panel-panel-inner .panel-pane{
		@include width;
	}
	.view-article-ct-panes.view-display-id-panel_pane_1{
		.content{
			position: relative;
		}
		.views-field-title{
			color: #fff;
			position: absolute;
			bottom: 5em;
			width: 100%;
			.field-content{
				@include width;
				display: block;
				.sub-title{
					font-size: 20px;
				}
			}
		}
	}
}

/*****  slideshow controls  *******/

.views-slideshow-controls-top{
	.views_slideshow_controls_text_next, .views-slideshow-controls-text-previous{
		a{
		    font-size: 0;
		    opacity: 1;
		    top: 50%;
		    z-index: 9;
		    height: 32px;
	    	position: absolute;
	    	width: 32px;
	    	background-color: rgba(0,0,0,0.4);
	    	border-radius: 50%;
   		}
	}
	.views-slideshow-controls-text-previous a{
	    background-image: url("../images/left.png");
	    left: 15px;
	}
   	.views_slideshow_controls_text_next a{
   		background-image: url("../images/right.png");
	    right: 15px;
   	}
}

