@import "init";

.pane-movie-group-ct-panel-pane-3 {
	.views-field-field-toptix-purchase{
		button{
			float: right;
		}
	}
}

.content.middle {
	.panels-flexible-region-node_page-content_right {
		float: right;
		margin-left: 8%;
		margin-right: 0;
	}
}

table{
	td, th{
		padding-right: 0!important;
		padding-left: 8px!important;
		text-align: right;
		@include res(s-m){
			padding: 8px!important;
		}
	}
}

#page-header{
	.tabs{
	    right: auto;
	    left: 0;
	}
}

.header-right{
	float: left;
	li{
		float: right!important;
	}
}

.popup-element-body{
	.center{
		width: 100%!important;
		top: 55px;
		left: 0;
		position: fixed!important;
	}
	form .form-group .form-text{
		padding: 7px 2% 8px 22%;
	}
	#search-api-page-search-form-search-results--2{
		.form-group {
			.form-text {
				float: right;
				padding: 7px 2% 8px 22%;
			}
		}
		.form-submit {
			right: auto;
			left: 0;
		}
	}
	.popup-close{
		left: 10px!important;
		right: auto!important;
	}
	#search-api-page-search-form-search-results{
	    padding: 0px 47px 10px 0px;
	    left: 0px;
	    right: auto;
		.form-submit{
			float: right;
		}
	}
	form .form-submit{
		left: 0;
		right: auto;
	}
}

/**** lobby page  ****/

.page-term-lobby{
	.view-lobby.view-display-id-panel_pane_1{
		.toptix-purchase{
			float: left;
		}
	}
	.lobby-term-left {
		float: left;
	}
	.lobby-term-right {
		float: right;
		.top-text-blk-wht {
			right: 0px;
			left: auto;
		}
	}
	.view-lobby.view-display-id-panel_pane_2{
		.views-row{
			margin-left: 5%;
			margin-right: 0;
			float: right;
		}
		.views-row:nth-child(3n){
			margin-left: 0;
		}
		.views-field-field-mc-teaser-toptxt-blk{
			right: 0;
			left: auto;
		}
		.views-field-ops{
			left: 15px;
			right: auto;
		}
	}
}

/***  article page  ****/

.node-type-cm-article{
	.container-fluid .row:nth-child(2){
		@include width;
		.radix-layouts-sidebar{
			padding-right: 0;
			padding-left: 100px;
			float: right;
		}
		.radix-layouts-content{
			.pane-node-body{
				margin-left: 23%;
				margin-right: 0;
			}
		}
	}
}

/******   webform  *****/

.node-type-webform{
	form{
		.form-actions{
			float: left;
		}
	}
}


/*******  user profile  ********/

.page-user{
	.view-user-flagged-content.view-display-id-panel_pane_1{
		.view-filters{
			.wrapper{
				form{
					float: right;
				}
				.edit{
					float: left;
				}
			}
			.views-widget-filter-type{
				.form-item-edit-type-1{
					border-left: 1px solid #000;
					border-right: none;
					margin-left: 40px;
					padding-left: 40px;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}
	.pane-user-flagged-content-panel-pane-1 .view-content{
		.item-list{
				.lobby-container{
					.lobby-term-left{
						float: right;
						.top-text-blk-wht{
							right: 0;
							left: auto;
						}
					}
					.lobby-term-right{
						float: left;
					}
					.row-custom-lobby{
						.purchase{
							float: left;
						}
					}
				}
		}
	}
}

/*********  person page  **********/

.node-type-cm-person{
	.view-person-ct-view.view-display-id-panel_pane_1{
		.views-field-nothing-1{
			.col{
				float: right;
				padding-right: 44px;
				padding-left: 0;
				background-position: right 4px!important;
			}
		}
	}
	.panels-flexible-row-node_page-6{
		.view-person-ct-view.view-display-id-panel_pane_2{
			.views-row-odd{
				float: right;
			}
			.views-row-even{
				float: left;
			}
		}
	}
	.panels-flexible-region-node_page-content_left {
	    float: left!important;
	}
}

.view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover{
	background: url("../images/more-white-left.png") no-repeat scroll left 10px center;
	@include bg-main-color;
}

.content.middle {
	.panels-flexible-region-node_page-content_left {
		width: 77%;
		float: left;
	}
}

/****  share blcok  *****/

.share-pane-container {
	.facebook a{
        background-position: right 3px center!important;
	}
    .whatsapp a{
        background-position: right center!important;
    }
	.flag-wrapper{
		a.flag-action, a.unflag-action{
			background-position: right center!important;
		}
		.title{
			right: 30px;
			left: auto;
		}
	}
}

/******  tags  *******/

.pane-node-field-tag, .pane-node-field-cm-article-tags, .pane-node-field-cm-movie-tags {
	.pane-content {
		.field-item{
		    float: right;
		    margin-right: 0;
		    margin-left: 2%;
		}
		a{
		    float: right;
		}
	}
}

/******  responsive *********/

@include res(s-m){
	.table-responsive{
		td{
			padding-left: 8px!important;
			padding-right: 0!important;
		}
		td, th{
			&.first-mobile{
				padding-right: 5%!important;
				padding-left: 0!important;
			}
		}
		td, th{
			&.last-mobile{
				padding-left: 5%!important;
				padding-right: 0!important;
			}
		}
	}
}

/***** movie, movie group, event & article  ********/

.text-main-image{
	.wrapper{
		.slide-right-ct {
			float: right;
			padding-right: 6%;
			padding-left: 10%;
			@include res(s-m){
				padding-left: 3%;
				padding-right: 0;
			}
		}
	}
}

.slide-alt-title {
	left: auto;
	right: 0;
	.field{
		float: right;
	}
	.field-name-field-file-image-title-text{
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid;
		margin-left: 0px;
		padding-left: 0px;
		border-left: none;
	}
}

.top-text-blk-wht{
	right: 0;
	left: auto;
	span{
		float: right;
	}
}