@import "init";

.pane-movie-group-ct-panel-pane-3 {
	.views-field-field-toptix-purchase{
		float: left;
		width: 83px;
		button{
			float: right;
		}
	}
}

.content.middle {
	.panels-flexible-region-node_page-content_right {
		float: right;
		margin-left: 8%;
		margin-right: 0;
	}
}

table{
	td, th{
		padding-right: 0!important;
		padding-left: 8px!important;
	}
}

#page-header{
	.tabs{
	    right: auto;
	    left: 0;
	}
}

.header-right{
	float: left;
	li{
		float: right!important;
	}
}

.popup-element-body{
	.popup-close{
	    right: -165px!important;
	    left: auto;
	}
	#search-block-form{
	    padding: 42px 47px 10px 0px;
	    left: 0px;
	    right: auto;
		.form-submit{
			float: right;
		}
		.form-item{
			float: right;
		}
	}
}