@import "init";


/*********  general  ***********/

body{
	font-family: Open-Sans;
	display: block!important;
	font-size:18px;
	color: #000;
}

p{
	font-size: 18px;
}

strong{
	font-weight: bold;	
}

.ajax-progress{
  position: absolute;
}

.container{
	width: 100%!important;
}


.view .content, .view .mask{
	position: relative!important;
}

.ctr {
	clear: both;
}

img{
	max-width: 100%;
	height: auto;
	width: auto;
}

h2{
	margin: 0;
}

#messages div{
	margin-top: 21px;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
}

.pager li > a, .pager li > span {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.item-list .pager li{
	display: inline-block;
}

a:hover{
	text-decoration: none;
}

table td{
	font-size: 0.9em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}

.btn-primary{
	border:none;
}

.container-fluid{
	padding: 0;
}

.row{
	margin:0;
	.radix-layouts-content{
		padding: 0;
	}
}
/*******  panels margin  *********/

.panels-flexible-row{
	@include width();
	margin: 0 auto!important;
	padding: 0 5%!important;
}

#da11y-toggle.active {
    box-shadow: none;
}

#pojo-a11y-toolbar{
	overflow: hidden;
}

#da11y-plugin{
	padding-top: 11px;
	*:focus {
	    outline: 0;
	    outline-style:none;
	    outline-width:0;
	}
}

#da11y-options{
	background-color: #fff;
	li{
		width: 100%;
	}
}

.btn-default{
	@include bg-main-color;
	color: #fff !important;
}

.pane-node-field-toptix-purchase {
	clear: both;
	bottom: 1%;
	position: absolute;
	right: 25%;
	h2.pane-title {
		display: none;
	}
}

.clr {
	clear: both;
}

.panels-flexible-region-58-center{
	width: 100%;
}
#main-wrapper {
	margin-top: 50px !important;
}

.table-responsive{
	thead{
		color: $color_pink_swan_approx;
		font-size: 12px;
		font-weight: 300;
	}
	tbody{
		tr {
			background-color: transparent !important;
			@include res(s-m){
				border-bottom: 1px solid #cdcdcd!important;
				&:last-child{
					border:none!important;
				}
			}
			a{
				color: #333!important;
			}
		}
	}
}

.pane-node-field-tag, .pane-node-field-cm-article-tags, .pane-node-field-cm-movie-tags, .pane-node-field-cm-person-tags {
	.pane-content {
		border-top: 5px solid $black;
		margin-top: 100px;
		padding-top: 20px;
		@include res(s-m){
			border:none;
			margin: 0;
			padding-top: 30px;
		}
		.field-item{
		    min-width: 48%;
		    float: left;
		    margin-right: 2%;
		    @include res(s-m){
		    	min-width: 25%;
		    }
		}
		h2{
			line-height: 18px;
		}
		a{
		    border-bottom: 1px solid;
		    color: #828282;
		    display: block;
		    float: left;
		    font-size: 14px;
		    padding-bottom: 5px;
		    margin-bottom: 15px;
		    &:hover{
		    	@include main-color;
		    }
		}
	}
	h2.pane-title {
		display: none;
	}
}

.panels-flexible-node_page .panels-flexible-region-inside{
	padding: 0!important;	
}

.prev-custom {
	left: -11%;
	position: absolute;
	top: 8%;
	.prev > a {
		background: rgba(0, 0, 0, 0) url("../images/custom-prev.png") no-repeat scroll 0 0;
		display: inline-block;
		font-size: 0;
		height: 41px;
		width: 117px;
	}
}
.node-nav {
	&.next-custom {
		position: absolute;
		right: 0;
		top: 8%;
	}
	&.prev-custom ul {
		padding: 9% 15% 17% 10%;
		width: 100%;
		li {
			text-align: left;
		}
	}
}
.next-custom {
	ul {
		background-color: $color_alabaster_approx;
		margin: 0;
		padding: 9% 15% 30% 20%;
		width: 100%;
	}
	.next > a {
		background: rgba(0, 0, 0, 0) url("../images/custom-next.png") no-repeat scroll 0 0;
		border-radius: 5% !important;
		display: inline-block;
		font-size: 0;
		height: 62px;
		width: 38px;
	}
}

.panels-flexible-region-node_page-slider {
	width: 100% !important;
}

.node-type-cm-movie {
	.panels-flexible-region-8-center {
		width: 100%;
	}
	.panels-flexible-region-3-center {
		width: 100%;
	}
}
.panels-flexible-region-inside-first {
	position: relative !important;
}
.custom-node-link {
	position: absolute;
	display: block;
	width: 70%;
	height: 60%;
	top: 17%;
	left: 16%;
	a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
		padding: 0;
		margin: 0;
	}
}



.pane-title {
	font-size: 1.25em;
	font-weight: 600;
}
.pane-movie-group-ct-panel-pane-3 {
	@include width;
	td {
		border: none !important;
		font-size: 1.1em;
		a {
			color: $black;
		}
	}
	table {
		border: none !important;
		font-size: 1.1em;
	}
	tbody {
		border: none !important;
		font-size: 1.1em;
	}
	th {
		border: none !important;
		font-size: 1.1em;
		color: $color_pink_swan_approx;
		font-size: 14px;
		font-weight: 300;
	}
	tr {
		border: none !important;
		font-size: 1.1em;
	}
}
.bottom-content {
	table, tbody, tr, th, td {
		border: none !important;
		font-size: 1em;
	}
	.pane-test-view-for-movie-cmain_colorit-panel-pane-2 {
		.pane-content {
			margin: 3% 0;
		}
		.view-content {
			margin: auto;
			padding-right: 14%;
			width: 65%;
		}
	}
}
.new-parent-left {
	padding-left: 10%;
	width: 24%;
	margin-right: 5%;
	float: left;
}

.views-field {
	&.views-field-field-cm-movie-cmain_colorits-person-ro {
		color: $color_nobel_approx;
		font-size: 1.1em;
		font-weight: normal;
	}
	&.views-field-field-cm-movie-cmain_colorits-person {
		font-size: 1.1em;
		font-weight: normal;
		> a {
			color: $color_black_approx;
		}
	}
}
.panels-ipe-portlet-wrapper {
	.whatsapp-custom {
		padding: 5% 2% 5% 5%;
		a {
			background: url("../images/whatapp-small.png") no-repeat right 0 !important;
			font-size: 13px;
			width: auto !important;
			height: auto !important;
			display: block;
			padding-right: 10%;
			color: $black !important;
		}
	}
	.facebook-custom {
		border-bottom: 2px solid $color_alto_approx;
		padding: 5% 3% 5% 0;
		span {
			background: url("../images/facebook-small.png") no-repeat right 0 !important;
			font-size: 11px;
			width: auto !important;
			height: auto !important;
			display: block;
			padding-right: 10%;
			color: $black !important;
		}
	}
}
.share-this-pane {
	border-top: 5px solid $black;
	@include res(s-m){
		display: none;
	}
	a{
		outline: 0;
	}
	.link a{
	    border-top: 1px solid #afafaf;
	    color: #333;
	    display: block;
	    font-size: 16px;
	    padding: 10px 30px;
	}
	.link:first-child a{
		border-top: none;
	}
	.whatsapp{
		display: none;
		@include res(s-m){
			display: block;
		}
		iframe{
			display: none;
		}
	}
	.flag-wrapper{
		position: relative;
		float: left;
		width: 30px;
		margin-top: 4px;
		a.flag-action, a.unflag-action{
			width: 100%;
			display: block;
			background-position: left center!important;
		}
		.flag-throbber{
			position: absolute;
		}
	}
	.flag-custom{
		overflow: hidden;
		.title{
			font-size: 16px;
			margin-top: 12px;
			margin-bottom: 12px;
			width: calc(100% - 30px);
			float: right;
		}
	}
}


.share-this-pane-mobile{
	display: none;
	@include width;
	margin: 10px auto 10px;
	height: 30px;
	overflow: hidden;
	@include res(s-m){
		display: block;
	}
	.pane-title{
		display: none;
	}
	.link{
		float: left;
		padding-right: 20px;
		.title{
			display: none;
		}
		a{
			font-size: 0;
			width: 30px!important;
			height: 30px;
			border-radius: 50%;
			display: block;
		}
	}
	.flag-wrapper a{
		&.flag-action{
			background: url("../images/like-white.png") no-repeat scroll top 8px center!important;
			@include bg-main-color;
		}
		&.unflag-action{
			background: url("../images/unlike-white.png") no-repeat scroll top 8px center!important;
			@include bg-main-color;
		}
	}
	.facebook a{
		background: url("../images/facebook-white.png") no-repeat center center;
		background-color: #4a65a0;
		height: 30px;
		width: 30px;
	}
	.whatsapp a{
		background: url("../images/whatapp-white.png") no-repeat center center;
		background-color: #09d261;
	}
	iframe{
		display: none;
	}
}

.node-type-cm-movie .share-this-pane-mobile{
	padding: 0;
}

.field-name-field-tag {
	a {
		color: #828282;
		font-size: 14px;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		margin-bottom: 10px;
		display: inline-block;
		&:hover{
			@include main-color;
		}
	}
	.field-item {
		min-width: 48%;
		padding-top: 3%;
		float: left;
		@include res(s-m){
			min-width: 25%;
		}
		&.even {
			float: left;
		}
		&.odd {
			float: right;
		}
	}
}
.movie-info {
	margin-right: 5%;
}
.slide-parent-content {
	position: relative;
}

#colorbox {
	background-color: transparent;
	overflow: visible;
	height: 80%!important;
	width: 80%!important;
	left: 10%!important;
	#cboxMiddleLeft, #cboxTopLeft, #cboxMiddleRight, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomLeft, #cboxBottomRight, #cboxBottomCenter{
		display: none;
	}
	#cboxWrapper{
		border-radius: 0;
		> div{
			width: 100%;
			height: 100%;
		}
		> div:nth-child(1){
			display: none;
		}
	}
	#cboxWrapper, #cboxContent{
		background-color: transparent;
		overflow: visible;
		width: 100%!important;
	}
	#cboxClose{
		background: url("../images/close42.png") no-repeat center center;
   		left: -35px;
    	top: -29px;
  	}
  	video{
  		width: 100%;

  	}
  	#cboxLoadedContent {
		margin: 0;
		width: 100%!important;
	}
	#cboxClose {
		bottom: 3% !important;
	}
}


.lobby-summary {
	font-size: 1.1em;
	line-height: 28px;
}
.lobby-length {
	font-size: 0.9em;
	line-height: 28px;
}
.view-id-movie_group_ct {
	.views-field-title a {
		color: $black !important;
	}
}
.movie-group-title-pic-container {
	position: relative;
	.movie-title-movie-group {
		position: absolute;
		right: 7.5%;
		bottom: 6%;
	}
}

.page-admin-structure-types-manage-cm-movie-group-fields-cer-settings .error {
	display: none;
}
.page-admin-structure-types-manage-cm-movie-group-fields-cer-store-settings .error {
	display: none;
}
.content.middle {
	position: relative;
	.pane-title {
		display: none;
	}
	.panels-flexible-region-node_page-content_left {
		width: 77%;
		float: right;
		@include res(s-m){
			width: 100%!important;
		}
	}
	.panels-flexible-region-node_page-content_right {
		float: left;
		width: 15%;
		margin-right: 8%;
		padding-top: 7px;
		margin-bottom: 20px;
		@include res(s-m){
			width: 100%;
			margin: 0;
			padding-top: 0;
		}
		.panels-flexible-region-node_page-content_right-inside{
			padding: 0;
		}
	}
}
#page-header .page-header {
	display: none;
	border: none;
}

.custom-nav ul {
	margin: 0;
	background-color: $color_alabaster_approx;
	padding: 3%;
	width: 24%;
}
.page-taxonomy-term #content {
	width: 100% !important;
}

table.views-table {
	margin: 0;
}

.view.view-display-id-panel_pane_3 {
	overflow: visible;
}

.views-field-field-cm-movie-pictures img {
	width: 100%;
}

.slide-movie-title h2 {
	margin: 1% 0;;
	font-weight: normal;
	color: $white;
	font-size: 2.66667em!important;
	@include res(s){
		font-size: 1.2em!important;
		font-weight: bold;
	}

}

#panels-ipe-regionid-content_right .pane-sharethis-sharethis-block .st_facebook_button {
	display: block;
	margin-top: 5%;
}

.add-event{ 
	width: 60px!important;
	padding-top: 1px;
	a {
		float: right;
		border: medium none;
		display: block;
		font-size: 0;
		height: 23px;
		padding: 0;
		width: 27px;
		z-index: 50;
		margin-top: 2px;
		&:hover {
			background-color: $white;
			border: medium none;
			font-size: 0;
			z-index: 1;
		}
		.addthisevent_icon {
			background: none;
			height: auto;
			width: auto;
		}
	}
}

.addthisevent_dropdown{
	top: 32px!important;
}

/**** lobby page  ****/

.page-term-lobby{
	background-color: $color_fantasy_approx;
	.panels-flexible-row-node_page-1{
		padding: 0!important;
		width: 100%!important;
	}
	.view-lobby.view-display-id-panel_pane_1{
		overflow: visible;
		.lobby-container{
			margin-bottom: 30px;
		}
		.table-responsive{
			overflow: visible;
			.flag{
				margin-top: 5px;
			}
		}
		#atedrop7-drop{
			top: 35px!important
		}
	}
	.panels-flexible-region-node_page-header{
		width: 100%;
	}
	.panels-flexible-row-node_page-1{
		.pane-lobby-panel-pane-3 .pane-content, .view-lobby{
			height: 100%;
			.view-content, .views-row, .views-field-field-cm-lobby-media, .field-content{
				height: 100%;
				overflow: hidden;
			}
		}
		.views-field-field-cm-lobby-media img{
			height: auto;
			width: 100%;
		}
		.views-field-field-sub-title{
			position: absolute;
			bottom: 5em;
			width: 100%;
			.field-content{
				@include width;
				color: #fff;
				.sub-title{
					font-size: 22px;
				}
			}
		}
	}
	.view-lobby.view-display-id-panel_pane_1{
		padding-top: 30px;
		.toptix-purchase{
			float: right;
		}
	}
	.lobby-term-left {
		float: right;
		width: 80%;
		padding: 30px 30px 0;
		@include res(s-m){
			width: 100%;
			padding: 0 0 30px;
		}
	}
	.lobby-term-right {
		float: left;
		width: 20%;
		position: relative;
		@include res(s-m){
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
	.pane-lobby-panel-pane-1 {
		.pane-content {
			.lobby-container {
				background-color: $white;
				margin-top: 1%;
			}
		}
	}
	.view-lobby.view-display-id-panel_pane_2, .view-lobby.view-display-id-panel_pane_4{
		padding-top: 30px;
		.views-row{
			width: 30%;
			margin-right: 5%;
			float: left;
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			@include res(m){
				width: 48%;
				margin-right: 0;
			}
			@include res(s){
				width: 100%;
				margin-right: 0;
			}
			img{
				width: 100%;
				height: auto;
			}
			.content{
				position: relative;
			}
		}
		.views-row:nth-child(3n){
			margin-right: 0;
		}
		.views-row:nth-child(odd){
			@include res(m){
				float: left;
			}
		}
		.views-row:nth-child(even){
			@include res(m){
				float: right;
			}
		}
		.views-row:nth-child(3n+1){
			clear: both;
			@include res(m){
				clear: none;
			}
		}
		.views-field-field-cm-moviegroup-short-summar, .views-field-name{
			position: absolute;
			color: #fff;
			bottom: 20px;
			padding: 0 20px;
			width: 100%;
			a{
				color: #fff;
			}
		}
		.views-field-ops{
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 200;
		}
		.file-image-jpeg .content{
			position: relative;
		}
	}
	.pane-term-description{
		@include width;
		padding: 30px 5%;
		p{
			margin: 0;
		}
	}
	.pane-lobby-panel-pane-4{
		@include width;
	}
}

.row-custom-lobby > td {
	border: medium none !important;
	font-size: 0.9em;
	a {
		color: $black !important;
	}
}
.lobby-term-left tbody {
	border: medium none !important;
}
.lobby-title a {
	color: $black;
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 2%;
}

.pane-views-panes.pane-review-panel-pane-1 {
	margin-top: 50px;
	background-color: $color_fantasy_approx;
	overflow: hidden;
	.pane-content {
		@include width();
		.view-content {
			@include main-color();
			padding: 50px 0;
			overflow: hidden;
		}
		.views-field-name {
			a {
				@include main-color();
				font-size: 1em !important;
			}
		}
		.views-field-review .field-content p {
			@include main-color();
			font-size: 1.35em !important;
			line-height: 1.35em;
			span {
				@include main-color();
				font-size: 1.15em !important;
			}
		}
	}
}



.view-share-this-pane .flag {
	&.flag-action {
		background: none !important;
		float: none !important;
		font-size: 12px !important;
	}
	&.unflag-action {
		background: none !important;
		float: none !important;
		font-size: 12px !important;
	}
}
.movie-picture-movie-group img.panopoly-image-quarter {
	float: none !important;
	margin: 0;
}
.movie-title-movie-group > a {
	color: $white;
	font-size: 1.5em;
	font-weight: bold;
}
.movie-grp-body p {
	font-size: 1.1em;
}


.img-like-wrapper {
	position: relative;
	.like-btn {
		left: 3em;
		position: absolute;
		top: 1.5em;
	}
}

.flag-wrapper a {
	display: block;
	text-indent: -9999px;
	width: 18px;
}

.panels-flexible-row.content .panels-flexible-region-node_page-content_region {
	width: 100% !important;
}
button.toptix-purchase {
	@include bg-main-color();
	color: $white;
	font-size: .8em;
	border: none;
	padding: 4px 14px;
	width: 80px;
	text-transform: uppercase;
}

.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1{
			.views-field {
				&.views-field-field-cm-movie-short-summary {
					padding: 0 5% 5%;
					p {
						font-weight: 400;
					}
				}
				&.views-field-nothing-1 .field-content {
					.movie-grp-add-event {
						position: relative;
						padding-left: 25px;
						a {
							width: 30px;
							height: 28px;
							display: inline-block;
							font-size: 0;
							position: absolute;
						}
					}
					.pur_btn {
						margin-left: 2%;
						button {
							background: url("../images/toptix.png") no-repeat !important;
							border: medium none;
							font-size: 0;
							height: 30px;
							border-radius: 80px 80px 80px 80px;
							width: 72px;
							vertical-align: middle;
						}
					}
					.add-event-cal {
						margin-left: 2%;
					}
					.title {
						float: left;
						padding: .8% 0 0;
						font-size: 1.3em;
						a {
							color: #000;
							font-weight: 600;
						}
					}
					.list-wrapper {
						font-size: 1.2em;
						font-weight: 600;
						.bar {
							margin: 0 3px;
						}
					}
				}
			}
		}
}

input:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid;
	@include border-main-color();
}

table{
	td, th{
		padding-left: 0!important;
		white-space: unset!important;
		@include res(s-m){
			padding: 8px!important;
		}
	}
	.purchase, .views-field-field-toptix-purchase, .views-field-field-toptix-purchase{
		width: 88px!important;
		box-sizing:border-box;
		@include res(s-m){
			vertical-align: middle !important;
		}
	}
}

#page-header{
	.tabs{
		position: fixed;
	    right: 0;
	    margin-top: 40px;
	    z-index: 300;
	   	background-color: rgba(0,0,0,0.7);
	    li{
	    	clear: both;
	    }
	}
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  .popup-element-body form .form-submit, .page-search #search-api-page-search-form-search-results .form-submit{
  	height: 50px;
  }
}

	.popup-style-white .popup-element-body .bottom .right,
	.popup-style-white .popup-element-body .bottom .center,
	.popup-style-white .popup-element-body .bottom .left,
	.popup-style-white .popup-element-body .center .right,
	.popup-style-white .popup-element-body .center .center,
	.popup-style-white .popup-element-body .center .left,
	.popup-style-white .popup-element-body.origin-bottom-left.expand-bottom-right .top .left,
	.popup-style-white .popup-element-body .top .center,
	.popup-style-white .popup-element-body .top .right{
		background: none!important;
	}

/***  article page  ****/

.node-type-cm-article{
	.radix-layouts-header{
		padding: 0!important;
	}
	.panels-flexible-region-node_page-header{
		width: 100%;
	}
	.panel-panel-inner .panel-pane.pane-article-ct-panes-panel-pane-1, .panels-flexible-row-node_page-1{
		width: 100%!important;
		padding: 0!important;
	}
	.pane-node-body{
		.field-name-body{
			line-height: 1.8;
		}
	}
	.view-article-ct-panes.view-display-id-panel_pane_1{
		margin-bottom: 30px;
		@include res(s-m){
			margin-bottom: 0;
		}
		.content{
			position: relative;
		}
	}
	.container-fluid .row:nth-child(2){
		@include width;
		.radix-layouts-sidebar{
			padding-left: 0;
			width: 23%;
			padding-right: 100px;
			box-sizing: border-box;
		}
		.radix-layouts-content{
			padding: 0;
			width: 77%;
			.pane-node-body{
				margin-right: 23%;
			}
		}
	}
}

/*****  slideshow controls  *******/

.views-slideshow-controls-top{
	.views_slideshow_controls_text_next, .views-slideshow-controls-text-previous{
		a{
		    font-size: 0;
		    opacity: 1;
		    top: 50%;
		    z-index: 9;
		    height: 32px;
	    	position: absolute;
	    	width: 32px;
	    	background-color: rgba(0,0,0,0.4);
	    	border-radius: 50%;
   		}
	}
	.views-slideshow-controls-text-previous a{
	    background-image: url("../images/left.png");
	    left: 15px;
	    @include res(s-m){
	    	left: 1px;
	    	margin-left: 0;
	    }
	}
   	.views_slideshow_controls_text_next a{
   		background-image: url("../images/right.png");
	    right: 15px;
	    @include res(s-m){
	    	right: 1px;
	    	margin-right: 0;
	    }
   	}
}

/******   webform  *****/

.node-type-webform{
	.container, .panels-flexible-region-46-center{
		width: 100%;
	}
	.pane-node-body{
		@include width;
		.pane-content{
			margin: 0px 23%;
		}
	}
	.pane-webform-ct-panes-panel-pane-1{
		margin-bottom: 30px;
	}
	.view-webform-ct-panes.view-display-id-panel_pane_1{
		.views-field-title{
			color: #fff;
			position: absolute;
			bottom: 5em;
			width: 100%;
			text-shadow: 2px 2px 2px #000;	
			.field-content{
				@include width;				
				display: block;
				.sub-title{
					font-size: 20px;
					margin: 0 23%;
				}
				h2{
					margin: 0 23%;
				}
			}
		}
	}
	form{
		@include width;
		> div{
			margin: 0 23%;
		}
		.webform-component{
			float: none;
			width: 100%;
			margin: 0;
		}
		.form-actions{
			float: right;
			.webform-submit{
				box-shadow: none;;
				@include bg-main-color();
				color: #fff;
				margin: 0;
				&:hover{
					@include bg-main-color();
					opacity: 0.9;
				}
			}
		}
	}
}

.alert{
	position: relative;
	z-index: 200;
	
}

/*******  user profile  ********/

.page-user{
	background-color: $color_fantasy_approx!important;
	.container{
		width: 100%;
	}
	.panels-flexible-region-homepage_panel-center {
	    width: 100%;
	}
	.header-right .favorite a{
		pointer-events: none;
   		cursor: default;
   	}
   	#page-header .tabs{
   		display: none;
   	}
}

.pane-user-page-pane-panel-pane-1{
	background-color: #999b9c;
	.pane-content{
		@include width;
		padding-top: 60px; 
		.views-field-name{
			text-align: center;
			.field-content{
				font-size: 3em;
			}
		}
	}
}

#views-exposed-form-user-flagged-content-panel-pane-1{
	.views-widget-filter-gid{
		width: 100%;
		background-color: #999b9c;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0 0 30px 0;
		a{
			color: #000;
			border:1px solid #fff;
			padding: 5px 10px;
			display: block;	
			margin-right: 5px; 
			transition: all 0.5s;
            -webkit-transition: all 0.5s;
			&.active, &:hover{
				color: #fff;
				@include bg-main-color;
			}
		}
		.form-item{
			text-align: center;
			.form-item{
				display: inline-block;
			}
		}
	}
	.form-item-edit-gid-all{
		display: none!important;
	}
}
.view-user-flagged-content.view-display-id-panel_pane_1{
	font-size: 18px;
	li{
		list-style-type: none;
	}
	.view-filters{
		background-color: #c0c1c3;	
		overflow: hidden;
		padding-top: 90px;
		padding-bottom: 13px;
		margin-bottom: 50px;
		.wrapper{
			@include width;
			form{
				float: left;
				@include res(s-m){
					width: 100%;
					text-align: center;
					.views-exposed-form .views-exposed-widget{
						float: none;
					}
				}
			}
			.edit{
				float: right;
				padding-top: 3px;
				@include res(s-m){
					width: 100%;
					text-align: center;
					margin-bottom: 30px;
				}
				a{
					@include main-color();
					border: 1px solid;
					padding: 5px 10px;
					transition: all 0.5s;
                    -webkit-transition: all 0.5s;	
                    &:hover{
                    	background-color: #fff;
                    }
				}
			}
		}
		.views-widget-filter-type{
			padding: 0;
			.form-item-edit-type-all{
				display: none!important;
			}	
			.form-item{
				display: inline-block;
				a{
					color: #000;
					transition: all 0.5s;
        			-webkit-transition: all 0.5s;
					&.active, &:hover{
						@include main-color();
					}
				}
			}
			.form-item-edit-type-1{
				border-right: 1px solid #000;
				margin-right: 40px;
			padding-right: 40px;
			}
		}
	}
	.text-center{
		overflow: hidden;
		padding-bottom: 50px;
		.item-list{
			@include width;
			ul{
				margin: 0;
			}
		}
		.pagination{
			float: right;
		}
		.pager-next, .pager-last, .pager-first, .pager-previous{
			a{
				padding-right: 0;
				padding-left: 0;
			}
		}
		.pager-item a, .pager-current span{
			padding: 5px 10px;
		}
	}
}

.pane-user-flagged-content-panel-pane-1{
	position: relative;
}

.pane-user-flagged-content-panel-pane-1 .view-content{
	padding-bottom: 20px;
	.item-list{
		@include width;
		.view{
			overflow: visible;
		}
			.lobby-container{
				margin-bottom: 20px;
				clear: both;
				background-color: #fff;
			}
			.lobby-container{
				.lobby-term-left{
					float: left;
					width: 30%;
					position: relative;
					@include res(s-m){
						width: 100%;
					}
				}
				.lobby-term-right{
					float: right;
					width: 70%;
					padding: 20px 20px 0;
					box-sizing: border-box;
					@include res(s-m){
						width: 100%;
					}
					table tbody{
						border: none;
					}
					.lobby-title a{
						font-size: 1.3em;
					}
					.lobby-length{
						color: #919191;
					}
				}
			}
	}
}


.flag-new-links{
    position: absolute;
    right: 10px;
    z-index: 100;
    top: 10px;
}
/********  table with date **********/

.table-responsive{
	.date{
		width: 20%;
	}
	.time{
		width: 11%;
	}
	.hall{
		width: 18%;
	}
	.purchase{
		padding-right: 0;
		padding-left: 0;
		width: 88px;
	}
	.title{
		width: 23%;
		font-weight: normal;
	}
	.flag, .views-field-ops{
		height: 23px;
		display: block;
		padding-top: 14px;
	}
	.code{
		width: 10%;
		@include res(s-m){
			color: #ccc;
			.only-mobile{
				color: #333;
			}
		}
	}
}

/*********  person page  **********/

.node-type-cm-person{
	background-color: #fff!important;
	#content{
		width: 100%;
	}
	.panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		top: 50px;
		.pane-person-ct-view-panel-pane-1{
			background-color: $color_alabaster_approx;
			padding-top: 60px!important;
			margin-bottom: 50px!important;
			overflow: hidden;
			padding-bottom: 20px;
    		.pane-content{
    			@include width;
    			.view{
					float: right;
    				width: 77%;
    				@include res(s-m){
    					width: 100%;
    				}
    			}
    		}
			@include res(s-m){
				margin-bottom: 0!important;
			}
		}
	}
	.view-person-ct-view.view-display-id-panel_pane_1{
		.person-picture{
			img{
				margin: 0 auto;
				display: block;
				border-radius: 50%;
			}
		}
		.person-name{
			font-size: 3em;
			padding-top: 20px;
			text-align: center;
		}
		.person-job{
			font-weight: bold;	
			padding-bottom: 30px;
			text-align: center;
		}
		.views-field-nothing-1{
			overflow: hidden;
			font-weight: bold;
			font-size: 15px;
			.col{
				width: 31%;
				float: left;
				margin-right: 3.5%;
				box-sizing: border-box;
				padding-left: 44px;
				min-height: 27px;
				box-sizing: border-box;
				@include res(s-m){
					width: 100%;
					margin: 0 0 20px 0;
				}
				&.col-3{
					margin-right: 0;
				}
				a{
					color: #333;
				}
			}
		}
	}
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		background-color: #f9f4ee;
		.view-person-ct-view.view-display-id-panel_pane_2{
			.group{
				clear: both;
				overflow: hidden;
				margin-bottom: 10px;
				> h3{
					text-align: center;
					font-size: 2em;
				}
			}
			.views-row{
				width: 49%;
				@include res(s-m){
					width: 100%;
				}
				h3{
					font-weight: normal;
				}
			}
			.views-row-odd{
				float: left;
			}
			.views-row-even{
				float: right;
			}
		}
		.node-cm-movie-year{
			font-weight: bold;
		}
	}
}

.node-title-teaser-content-type{
	background-color: #fff!important;
	&:hover{
		background: url("../images/more-white-right.png") no-repeat scroll right 10px center;
		@include bg-main-color;		
	}
}


.gradient{
	position: absolute;
	bottom: 0;
	height: 310px!important;
	width: 100%;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(1, rgba(0, 0, 0, 0)));
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
    background-image: repeating-linear-gradient(to top,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#ff000000",GradientType=0);
    z-index: 1;
}

.gradient.small{
	height: 150px!important;
}

.state-nopic .gradient.small{
	background-image: none;
}
/******  responsive *********/

.only-mobile{
	display: none!important;
	@include res(s-m){
		display: block!important;
	}
}

.only-desktop{
	@include res(s-m){
		display: none!important;
	}
}

.collapse{
	display: block!important;
	@include res(s-m){
		padding: 0;
	}
}

@include res(s-m){
	.table-responsive{
		border:none;
		overflow: hidden;
		margin-bottom: 0;
		thead{
			display: none;
		}
		table{
			font-size: 14px;
		}
		.views-field-field-cm-event-hall{
			.only-mobile{
				color: #ccc;
			}
		}
		td{
			width: calc(49% - 44px)!important;
			padding-left: 0!important;
			&.purchase, &.views-field-field-toptix-purchase{
				padding-left: 0!important;
				padding-right: 0!important;
				width: 80px!important;
			}
		}
	}
}

/*******  admin menu  **********/

div#admin-toolbar div.admin-tab{
	height: 25px;
}

input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	box-shadow: none!important;
}

/***** movie, movie group, event & article  ********/

.text-main-image{
	position: absolute;
	bottom: 60px;
	color: #fff;
	width: 100%;
	padding: 0;
	z-index: 99;
	@include res(s-m){
		bottom: 10px;
	}
	.wrapper{
		@include width;
		a, a:hover{
			color: #fff;
		}
		.slide-left-ct{
			width: 54%;
			margin: 0 auto;
			@include res(s-m){
				text-align: center;	
				font-size: 13px;
				margin: 0 15%;
				width: 70%;
			}
			.slide-small-text{
				font-size: 22px;
				@include res(s){
					font-size: 15px;
				}
			}
			.slide-big-text{
				font-size: 48px;
				margin: 1% 0 15px;
				line-height: 110%;
				@include res(s-m){
					margin-bottom: 4px;
				}
				@include res(s){
					font-size: 27px;
					font-weight: bold;
				}
			}
			.button{
  				font-size: 14px;
  				padding: 5px 12px;
    			margin: 22px 0 0 0;
    			@include bg-main-color;
    			float: left;
    			@include res(s-m){
    				float: none;
    				display: inline-block;
    				margin: 22px auto;
    			}
    			a{
    				color: #fff;
    			}
			}
		}
		.slide-right-ct {
			float: left;
			position: absolute;
			top: 0;
			padding-left: 6%;
			padding-right: 10%;
			width: 23%;
			margin-top: 38px;
			@include res(s-m){
				margin: 0;
				bottom: 6px;
				top: auto;
				padding-right: 3%;
				padding-left: 0;
				width: 13%;
			}
			*:focus {
			    outline: 0;
			    outline-style:none;
			    outline-width:0;
			}
			.play-button {
				background: url("../images/play-icon.png") no-repeat scroll 60% center;
				border-radius: 30px;
				border:1px solid #fff;
				display: inline-block;
				font-size: 0;
				height: 55px;
				padding: 2%;
				width: 55px;
				cursor: pointer;
				@include res(s-m){
					background-size: 16px;
					height: 40px;
					width: 40px;
				}
			}
			.video-wrapper{
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #000;
				display: none;
				&.play{
					display: block;
				}
				.close-button{
					background:url("../images/close42.png") no-repeat scroll center center;
					position: fixed;
					width: 20px;
					height: 20px;
					top: 70px;
					left: 10%;
					cursor: pointer;
				}
				.file{
					width: 70%;
					height: 70%;
					margin: 0 auto;
				}
				.content {
					position: relative;
					padding-bottom: 56.25%; /* 16:9 */
					padding-top: 25px;
					height: 0;
					iframe, video {
						position: absolute;
						width: 100%;
						height: 100%;
					}
					video{
						padding-top: 46px;
					}
				}
			}
		}
	}
	a {
		color: #fff;
	}
}

.full-screen-image{
	overflow: hidden;
	position: relative;
}

.noheaderimage{
	.text-main-image{
		position: relative;
		color: #333;
		margin: 50px 0 30px;
		bottom: auto;
		.wrapper{
			a, a:hover{
				color: #333;
			}
			.slide-right-ct{
				margin-top: 0;
				.play-button {
					background: url("../images/play-icon-black.png") no-repeat scroll 60% center;
					border:1px solid #000;
				}
			}
		}
	}
	.gradient{
		display: none;
	}	
}

.top-text-blk-wht{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	span{
		padding: 6px 12px;
		opacity: 0.9;
		float: left;
	}
	.black{
		color: #fff;
		background-color: #333;
	}
	.white{
		background-color: #fff;
	}
}

.image-alt-title {
	background-color: $color_mine_shaft_approx;
	bottom: 0px;
	color: $color_star_dust_approx;
	font-size: 12px;
	left: 0;
	padding: 10px 20px;
	position: absolute;
	z-index: 2;
	@include res(s-m){
		display: none;
	}
	.field{
		float: left;
	}
	.grp-title, .field-name-field-file-image-title-text{
		margin-left: 10px;
		padding-left: 10px;
		border-left: 1px solid;
	}
}

.view-footer{
	overflow: hidden;
	text-align: center;
	.more-event{
		float: right;
		cursor: pointer;
		@include main-color;
		font-size: 0.8em;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		overflow: hidden;
		@include res(s-m){
			margin: 10px auto;
			float: none;
			text-align: center;
			border:none;
			font-size: 15px;
			display: inline-block;
		}
		span{
			@include res(s-m){
				float: left;
			}
		}
		.text{
			margin: 0 5px;
		}
	}
}

// credits

.credits-view{
	padding: 30px 0;
	float: right;
    width: 77%;
	.profession{
		width: 120px;
		color: $color_nobel_approx;
		@include res(s-m){
			width: auto;
		}
	}
	table tr{
		border:none!important;
	}
	a{
		color: #000;
	}
	a:hover{
		@include main-color;
	}
}

.node-type-cm-person, .node-type-cm-article{
	.panels-flexible-row-node_page-5{
		@include res(s-m){
			padding: 0!important;
			.panels-flexible-region-node_page-content_left{
				padding: 0 5%;
			}
			.panels-flexible-region-node_page-content_right .pane-entity-field{
				padding: 0 5% 25px;
				border-top: 1px solid #cdcdcd;
				border-bottom: 1px solid #cdcdcd;
				margin-top: 20px;
			}
		}
	}
}


/******  node teaser  ******/

.node-title-teaser-cm-movie .node-cm-movie-year{
  padding: 23px 10px;
  float: left;
  border-right: 2px solid #f9f4ee;
  margin-right: 10px;
  @include res(s-m){
  	padding: 8px 10px;
  }
}

.node-title-teaser-cm-movie a .node-title-teaser-title{
  padding: 26px 26px 23px 10px;
  @include res(s-m){
  	padding: 9px 26px 8px 10px;
  }
}

/*******  overlay region  *******/

.region-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.9;
	z-index: 400;
	display: none;
	top: 0;
	.block{
		display: none;
	}
	.block-search-api-page	form{
			@include width;
			margin: 100px auto 0!important;
			position: relative;
			> div{
				position: relative;
			}
			.form-group {
				overflow: hidden;
				-webkit-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
				box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
				label[for="edit-keys-1"] {
					display: none !important;
				}
				.form-text {
					width: 100%;
					box-sizing: border-box;
					display: inline-block;
					float: left;
					background: $white;
					margin-bottom: 0;
					height: auto;
					padding: 7px 22% 8px 2%;
					font-size: 25px;
					border:none;
					border-radius: 0;
					@include res(s-m){
						font-size: 15px;
						padding: 13px;
					}
				}
			}
			.form-submit {
				margin: 0;
				border-radius: 0 !important;
				@include bg-main-color();
				padding: 9px 25px 11px;
				font-size: 18px;
				width: 20%;
				position: absolute;
				right: 0;
				box-shadow: none;
				top: 0px;
				height: 51px;
				@include res(s-m){
					width: 100%;
					position: relative;
				}
			}
		}
		.popup-close{
		    background: url("../images/close42.png") no-repeat scroll center center !important;
			@include bg-main-color;
		    border-radius: 50%;
		    height: 25px !important;
			left: auto;
			top: -32px !important;
		    width: 25px !important;
		    z-index: 300;
		    background-size: 10px 10px!important;
			right: 10px!important;
			position: absolute !important;
		}
}

.search-overlay{
	.region-overlay{
		display: block;
		.block-search-api-page{
			display: block;
		}
	}
}

.hambruger-overlay{
	.region-overlay{
		display: block;
		opacity: 1;
		background-color: #242424;
		z-index: 500;
		overflow-y: auto;
		.block-panels-mini{
			display: block;
		}
	}	
}