@import "init";

.pane-movie-group-ct-panel-pane-3 {
	.views-field-field-toptix-purchase{
		float: left;
		width: 83px;
		button{
			float: right;
		}
	}
}

.content.middle {
	.panels-flexible-region-node_page-content_right {
		float: right;
		margin-left: 8%;
		margin-right: 0;
	}
}

table{
	td, th{
		padding-right: 0!important;
		padding-left: 8px!important;
	}
}

#page-header{
	.tabs{
	    right: auto;
	    left: 0;
	}
}

.header-right{
	float: left;
	li{
		float: right!important;
	}
}

.popup-element-body{
	.popup-close{
	    right: -165px!important;
	    left: auto;
	}
	#search-api-page-search-form-search-results{
	    padding: 42px 47px 10px 0px;
	    left: 0px;
	    right: auto;
		.form-submit{
			float: right;
		}
		.form-item{
			float: right;
		}
	}
}

/**** lobby page  ****/

.page-term-lobby{
	.view-lobby.view-display-id-panel_pane_1{
		.toptix-purchase{
			float: left;
		}
	}
	.lobby-term-left {
		float: left;
	}
	.lobby-term-right {
		float: right;
		.top-text-blk-wht {
			right: 0px;
			left: auto;
		}
	}
	.view-lobby.view-display-id-panel_pane_2{
		.views-row{
			margin-left: 5%;
			margin-right: 0;
			float: right;
		}
		.views-row:nth-child(3n){
			margin-left: 0;
		}
		.views-field-field-mc-teaser-toptxt-blk{
			right: 0;
			left: auto;
		}
		.views-field-ops{
			left: 15px;
			right: auto;
		}
	}
}