@import "init";

//cinemateqe domain - red
.domain-1{ 
    .header .header-right .search span:hover, 
    &.search .header .header-right .search span,
    &.page-search .header .header-right .search span{
        background: rgba(0, 0, 0, 0) url("../images/search-icon-red.png") no-repeat scroll 0 2px;
    }
    .col-md-3.header-right .shopping-cart button:hover{
        background: url("../images/shop-icon-red.png") no-repeat 0 0;
    }
    .header .header-right #da11y-toggle:hover{
        background: url("../images/access-icon-red.png") no-repeat 0 0;
    }
    .header .header-right .favorite a:hover,
    &.page-user .header .header-right .favorite a{
        background: url("../images/favorite-red.png") no-repeat 0 0;
    }
    .header .header-right .language-switcher-locale-url a:hover{
		background: url("../images/hebrew-icon-red.png") no-repeat 0 2px!important;
    }
    .flag-wrapper a {
        &.flag-action {
            background: url("../images/like-red.png") no-repeat right 0 !important;
        }
        &.unflag-action {
            background: url("../images/unlike-red.png") no-repeat right 0 !important;
        }
    }
    .add-event a {
	    background: url("../images/add-event-red.png") no-repeat !important;
        &.addthisevent-selected{
            background: url("../images/add-event-red-active.png") no-repeat !important;
        }
    }
    .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1{
            .col-1{
                background: url("../images/address-icon-red.png") no-repeat scroll left 4px;
            }
            .col-2{
                background: url("../images/phone-icon-red.png") no-repeat scroll left 4px;
            }           
            .col-3{
                background: url("../images/mail-icon-red.png") no-repeat scroll left 4px;
            }
    }
    .node-title-teaser-content-type{
      background: url("/sites/all/themes/cinemateque/images/more-red-right.png") no-repeat right 10px center; 
    }
    .select2-results__options{
        li{
            &.select2-results__option-selected{
                background: url("../images/select-red.png") no-repeat left 7px top 14px;
            }
        }
        li[aria-selected="true"]{
            background: url("../images/select-red.png") no-repeat left 7px top 14px;
        }
    }
    .share-this-pane{
        .facebook a{
            background: url("../images/facebook-red.png") no-repeat left 3px center;
        }
        .whatsapp a{
            background: url("../images/whatapp-red.png") no-repeat left center;
        }
    }
    .view-footer-credit-slogan-for-mobile{
        .owl-next{
            background: url("../images/more-red-left.png") no-repeat scroll center center;
        }
        .owl-prev{
            background: url("../images/more-red-right.png") no-repeat scroll center center;
        }
    }
}

//festival domain - gold
.domain-2{ 
    .header .header-right .search span:hover, 
    &.search .header .header-right .search span,
    &.page-search .header .header-right .search span{    
        background: rgba(0, 0, 0, 0) url("../images/search-icon-gold.png") no-repeat scroll 0 2px;
    }
    .col-md-3.header-right .shopping-cart button:hover{
        background: url("../images/shop-icon-gold.png") no-repeat 0 0;
    }
    .header .header-right #da11y-toggle:hover{
        background: url("../images/access-icon-gold.png") no-repeat 0 0;
    }
    .header .header-right .favorite a:hover,
    &.page-user .header .header-right .favorite a{
        background: url("../images/favorite-gold.png") no-repeat 0 0;
    }
    .header .header-right .language-switcher-locale-url a:hover{
		background: url("../images/hebrew-icon-gold.png") no-repeat 0 2px;
    }
    .flag-wrapper a {
        &.flag-action {
            background: url("../images/like-gold.png") no-repeat right 0 !important;
        }
        &.unflag-action {
            background: url("../images/unlike-gold.png") no-repeat right 0 !important;
        }
    }
    .add-event a {
        background: url("../images/add-event-gold.png") no-repeat !important;
        &.addthisevent-selected{
            background: url("../images/add-event-gold-active.png") no-repeat !important;
        }
    }
    .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1{
            .col-1{
                background: url("../images/address-icon-gold.png") no-repeat scroll left 4px;
            }
            .col-2{
                background: url("../images/phone-icon-gold.png") no-repeat scroll left 4px;
            }           
            .col-3{
                background: url("../images/mail-icon-gold.png") no-repeat scroll left 4px;
            }
    }
    .node-title-teaser-content-type{
      background: url("/sites/all/themes/cinemateque/images/more-gold-right.png") no-repeat right 10px center; 
    }
    .select2-results__options{
        li{
            &.select2-results__option-selected{
                background: url("../images/select-gold.png") no-repeat left 7px top 14px;
            }
        }
        li[aria-selected="true"]{
            background: url("../images/select-gold.png") no-repeat left 7px top 14px;
        }
    }
    .share-this-pane{
        .facebook a{
            background: url("../images/facebook-gold.png") no-repeat left 3px center;
        }
        .whatsapp a{
            background: url("../images/whatapp-gold.png") no-repeat left center;
        }
    }
    .view-footer-credit-slogan-for-mobile{
        .owl-next{
            background: url("../images/more-gold-left.png") no-repeat scroll center center;
        }
        .owl-prev{
            background: url("../images/more-gold-right.png") no-repeat scroll center center;
        }
    }
}