@import "init";

#mini-panel-hamburgermenufooter {
	color: #fff;
	min-height: 100%;
	width: 100%;
	margin: 0;
	min-height: 100%;
	background-color: #262626;
	.panel-col{
		padding: 0;
	}
	.menu-link-examples{
		display: none;		
	}
	.close{
		position: absolute;
		top: 3px;
		left: 23px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		opacity: 1;
		padding: 14px;
		z-index: 200;
	}
}

#mini-panel-hamburgermenufooter {
	.col-md-12{
		padding: 0;
	}
	.radix-layouts-column1, .radix-layouts-column2{
		display: none;
	}
	.radix-layouts-footer{
		padding: 24px 110px;
		background-color: #242424;
	}
	.pane-menu-menu-site-main-menu, .pane-menu-cinematic-festival-12 {
		width: 100%;
		padding: 30px 110px 30px;
		background-color: $mine_shaft;
		h2 {
			display: none;
		}
		.menu.nav li.expanded, .menu.nav li.collapsed {
			float: left;
			padding: 10px 0px 0;
			width: 22.75%;
			margin-right: 3%;
			box-sizing: border-box;
			&.last{
				margin-right: 0;
			}
			> a{
				font-size: 22px;
				font-weight: bold;
			}
			a {
				color: $white;
				padding: 8px 0 10px;
				@include res(l){
					padding: 7px 0 9px;
				}
				&:hover {
					background: none;
				}
				&:active {
					background: none;
				}
			}
			li {
				border-bottom: 2px solid $color_chicago_approx;
				line-height: 40px;
				background-image: url("../images/arrow-right.png");
				background-position: right center;
				background-repeat: no-repeat;
				background-size: 20px auto;
				width: 100%;
				margin-right: 0;
				&.last {
					border-bottom: none;
				}
				a {
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
					font-size: 18px;
					color: $white;
					padding-right: 25px;
					line-height: 24px;
					@include res(l){
						font-size: 15px;
					}
					&:hover {
						background: none;
					}
					&:active {
						background: none;
					}
				}
			}
		}
	}
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew{
		padding-left: 110px;
		padding-right: 110px;
		width: 100%;
		color: #fff;
		padding-top: 30px;
		clear: left;
		overflow: hidden;
		.field-name-field-background-image{
			display: none;
		}
		.field-name-field-content-info > .field-items > .field-item{
			padding: 0 15px 0 0;
			position: relative;
			border: none;
			width: 22.75%;
			margin-right: 3%;
			margin-bottom: 27px;
			float: left;
			.field-name-field-info-icon{
				position: absolute;
				left: -50px;
				width: 35px;
				height: 25px;
				img{
					float: right;
				}
			}
			.field-name-field-label{
				font-weight: bold;
				font-size: 12px;
				font-size: 1.25em;
    			line-height: 1.2;
    			text-align: left;
    			padding-bottom: 13px;
				padding-right: 30px;
			}
			.field-name-field-description{
    			line-height: 1.2;
    			text-align: left;
    			font-variant: 12px;
				padding-right: 30px;
				p{
					line-height: 25px;
					margin: 0;
					@include res(l){
						line-height: 18px;
						font-size: 12px;
					}
				}
				a{
					color: #fff!important;
				}
			}
		}
	}
	.field-name-field-content-info > .field-items > .field-item:last-child{
		margin: 0 !important;
	}
	.pane-webform-client-block-19, .pane-webform-client-block-3322{
		clear: both;
		position: relative;
		padding-bottom: 50px;
		width: 50%;
		float: left;
		.form-control::-moz-placeholder {
		    color: #fff!important;
		}
		.pane-title{
			color: #fff;
		}
		.form-required{
			display: none;
		}
		input{
			background-color: #000;
			border: none;
			padding: 0 10px;
			box-sizing: border-box;
			height: 30px;
			color: #fff
		}
		label{
			color: #fff;
		    font-size: 17px;
		    font-weight: normal;
		    padding: 3px 7px;
		    cursor: text;
		}
		.panel-panel{
			width: 50%;
			float: left;
			padding: 0;
		}
		.form-actions{
			margin: 0;
			input{
				margin: 0;
				background-color: #fff!important;
				padding: 0 15px 0 10px;
				border-radius: 0;
				font-weight: bold;
				&:hover{
					background-color: #fff!important;
				}
			}
		}
		.webform-component{
			margin-right: 8px;
			input{
				border-radius: 0!important;
			}
		}
		.webform-component--join-our-newsletter{
			font-size: 1.25em;
    		font-weight: 600;
    		width: 100%;
    		color: #fff;
		}
		.webform-component--approve-recieving-e-mail{
			position: absolute;
			bottom: 0;
			width: 100%;
			label{
				position: relative;
				font-size: 12px;
				color: #fff!important;
				padding-right: 0;
				padding-left: 0;
			}
			input{
				height: auto;
			}
		}
		.panel-panel:nth-child(2){
			span{
				display: inline-block;
				float: left;
			}
		}
		.pane-block-8{
			margin-top: 20px;
			float: right;
		}
		.pane-custom.pane-1{
			float: right;
			margin: 0 16px;
			img{
				height: 55px;
    			margin-top: 31px;
			}
		}
	}
	.pane-bean-social-links-new, .pane-bean-logos-hebrew-block, .pane-bean-logos-english-block{
		display: inline-block;
		float: right;
		margin-top: 28px;
		.field-name-field-social-icons > .field-items{
			text-align: center;
			> .field-item{
				display: inline-block;
				margin: 0 0 0 25px;
			}
		}
	}
	.pane-bean-logos-hebrew-block, .pane-bean-logos-english-block{
		width: 400px;
		margin-top: 35px;
		img{
			height: 40px;
			width: auto;
		}
	}
	.pane-bean-social-links-new{
		width: 230px;
		img{
			border-radius: 50%;
		}
	}
}

@media (max-width: 1446px){
	#mini-panel-hamburgermenufooter{
		.pane-bean-logos-hebrew-block, .pane-bean-logos-english-block{
			width: 100%;
		}
	}
}

/******  hamburger  *********/

.responsive-hamburger{
	display: none;
}

.navbar-toggle{
	display: block;
	@include res(menu){
		display: none!important;
	}
}

.navbar-header .hambruger {
	float: left;
	border: medium none;
	margin-right: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-top: 13px;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	width: 34px;
	&.navbar-toggle{
		margin-left: 30px;
	}
	.sr-only{
		display: none;
	}
}

.navbar-header .hambruger .icon-bar{
	width: 34px;
	background-color: #fff!important;
    display: block;
    height: 2px;
}

.navbar-header .hambruger .icon-bar + .icon-bar{
	margin-top: 9px;
}


/********** responsive menu **********/

@include res(menu){
	.responsive-hamburger{
		display: block;
		cursor: pointer;
	}
}

@include res(s-m){
	#main-menu{
		display: none;
	}
}

.responsive-menu-wrapper{
    display: block;
    margin-right: 0;
    margin-top: 0;
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 44px);
    right: -100%;
    top: 45px;
    width: 100%;
    transition: all 0.5s;
   	-webkit-transition: all 0.5s;
   	padding: 0;
   	z-index: 500;
   	#site-main-menu{
   		padding: 0;
   		margin: 0;
   		width: 100%;
	    li{	
	    	text-align: left;
	    	width: 100%;
	    	background-color: rgba(0, 0, 0, 0.9) !important;
	    	border-bottom: 1px solid #fff;
	    	margin: 0;
	    	padding: 0;
	    	a{
	    		white-space: unset;
	    		padding: 15px 3%!important;
	    		line-height: 20px!important;
	    		color: #fff!important;
	    		background-color: transparent!important;
	    		&:hover, &:focus{
	    			background-color: transparent!important;
	    		}
	    	}
	    	ul li{
	    		a{
	    			color: #fff!important;
	    		}
	    	}
	    	.caret{
	    		display: block;
	    		float: right;
			    border:none;
			    height: 27px;
			    margin: 0;
			    width: 55px;
	            &:after{
			    	background: url("../images/plus.png") no-repeat;
			    	transition: all 0.5s;
	                -webkit-transition: all 0.5s;
	                content: "";
	 				float: right;
	  				height: 12px;
	   				width: 12px;
	   				margin: 5px 0px;
	            }
	        }
	    	.dropdown-menu{
	    		border:none;
	    		display: none;
	    		position: relative;
	    		width: 100%;
	    	}
	    }
	}
}

.responsive-menu-wrapper{
    .responsive-open{
    	.dropdown-toggle{
    		font-weight:bold;
    	}
    	.dropdown-menu{
    		display: block!important;
    	}
    	.caret:after{
    		transform: rotate(134deg);
    	}
    }
}

.responsive-hamburger-open .responsive-menu-wrapper{
	right: 0;
}


.domain-1{
	.pane-menu-cinematic-festival-12{
		display: none;
	}
}

.domain-2{
	.pane-menu-menu-site-main-menu{
		display: none;
	}
}