@import "init";

#mini-panel-hamburgermenufooter {
	.close{
		left: auto;
		right: 30px;
	}
}

#mini-panel-hamburgermenufooter {
	.pane-menu-menu-site-main-menu, .pane-menu-cinematic-festival-12 {
		.menu.nav li.expanded, .menu.nav li.collapsed {
			float: right;
			margin-right: 0%;
			margin-left: 3%;
			&.last{
				margin-left: 0;
			}
			li {
				background-image: url("../images/arrow-left.png");
				background-position: left center;
				a {
					padding-right: 0px;
					padding-left: 25px;
				}
			}
		}
	}
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew{
		clear: right;
		.field-name-field-content-info > .field-items > .field-item{
			padding: 0 0 0 15px;
			margin-right: 0;
			margin-left: 3%;
			float: right;
			.field-name-field-info-icon{
				right: -50px;
				left: auto;
				img{
					float: left;
				}
			}
			.field-name-field-label{
    			text-align: right;
    			padding-right: 0px;
				padding-left: 30px;
			}
			.field-name-field-description{
    			text-align: right;
				padding-right: 0px;
				padding-left: 30px;
			}
		}
	}
	.pane-bean-social-links-new, .pane-bean-logos-hebrew-block, .pane-bean-logos-english-block{
		float: left;
		.field-name-field-social-icons > .field-items{
			> .field-item{
				margin: 0 25px 0 0;
			}
		}
	}
	.pane-webform-client-block-19, .pane-webform-client-block-3322{
		float: right;
		.panel-panel{
			float: right;
		}
		.form-actions{
			input{
				padding: 0 10px 0 15px;
			}
		}
		.webform-component{
			margin-left: 8px;
			margin-right: 0;
			float: right;
		}
		.panel-panel:nth-child(2){
			span{
				float: right;
			}
		}
		.pane-block-8{
			float: left;
		}
		.pane-custom.pane-1{
			float: left;
		}
	}
}


/********** responsive menu **********/

.responsive-menu-wrapper{
   	#site-main-menu{
	    li{	
	    	text-align: right;
	    	.caret{
	    		float: left;
	            &:after{
	 				float: left;
	            }
	        }
	    }
	}
}