@import "init";

.hamburger {
	color: #fff;
	.modal-dialog {
		width: 100%;
		margin: 0;
	}
	.modal-content{
		padding: 50px 0 0;
		background-color: $mine_shaft;
		opacity: 0.96;
		.close{
			position: absolute;
			top: 20px;
			left: 20px;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			@include bg-main-color;
			opacity: 1;
			padding: 14px;
			z-index: 200;
		}
	}
	.modal-body {
		padding: 0;
		margin: 0;
		.close {
			float: left;
			padding: 22px;
		}
		.pane-bean-infomation-block-view .handle {
			display: none;
		}
		.view-id-bean_infomation_block_view .form-submit {
			display: none;
		}
		.popup-loader{
			margin: 0 auto;
			display: block;
		}
	}
	.panels-flexible-region.popup.region {
		width: 100%;
	}
}

#hamburger-menu{
	.col-md-12{
		padding: 0;
	}
	/*
	.pane-my-backend-festival-menu-block {
		float: left;
		padding: 10px 15px 0 85px;
		box-sizing: border-box;
		.pane-title{
			color: #fff;
			font-size: 18px;
			margin: 13px 0 14px;
		}
		.col-md-3 {
			padding-left: 50px;
			padding-right: 50px;
			width: 25%;
		}
		.menu.nav li {
			background-image: url("../images/arrow-right.png");
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 20px auto;
			border-bottom: 2px solid $color_chicago_approx;
			line-height: 40px;
			&.expanded {
				display: none;
			}
			a {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				color: $white;
				font-size: 16px;
				padding: 10px 0;
				&:hover {
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				}
				&:active {
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				}
			}
		}
		.menu.nav li.last{
			border-bottom: none;
		}
		.pane-content > h2 {
			font-size: 16px;
			font-weight: bold;
		}
	}*/
	.pane-menu-menu-site-main-menu {
		width: 100%;
		padding: 0 70px;
		h2 {
			display: none;
		}
		.menu.nav li.expanded, .menu.nav li.collapsed {
			float: left;
			padding: 10px 0px 0;
			width: 22.75%;
			margin-right: 3%;
			box-sizing: border-box;
			&.last{
				margin-right: 0;
			}
			> a{
				font-size: 18px;
				font-weight: bold;
			}
			a {
				color: $white;
				padding: 10px 0;
				&:hover {
					background: none;
				}
				&:active {
					background: none;
				}
			}
			li {
				border-bottom: 2px solid $color_chicago_approx;
				line-height: 40px;
				background-image: url("../images/arrow-right.png");
				background-position: right center;
				background-repeat: no-repeat;
				background-size: 20px auto;
				width: 100%;
				&.last {
					border-bottom: none;
				}
				a {
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
					font-size: 16px;
					color: $white;
					padding-right: 25px;
					&:hover {
						background: none;
					}
					&:active {
						background: none;
					}
				}
			}
		}
	}
	.pane-bean-main-info-english, .pane-bean-main-info-hebrew{
		padding-left: 70px;
		padding-right: 70px;
		width: 100%;
		color: #fff;
		background-color: #262626;
		padding-top: 30px;
		clear: left;
		overflow: hidden;
		.field-name-field-content-info > .field-items > .field-item{
			padding: 0 15px;
			position: relative;
			border: none;
			width: 25%;
			margin-bottom: 27px;
			float: left;
			.field-name-field-cm-info-block-icon{
				position: absolute;
				left: -30px;
			}
			.field-name-field-label{
				font-weight: bold;
				font-size: 12px;
				font-size: 1.25rem;
    			line-height: 1.2;
    			text-align: left;
    			padding-bottom: 5px;
				padding-right: 30px;
			}
			.field-name-field-description{
    			line-height: 1.2;
    			text-align: left;
    			font-variant: 12px;
				padding-right: 30px;
			}
		}
	}
	.pane-webform-client-block-19, .pane-webform-client-block-3322{
		clear: both;
		position: relative;
		background-color: #262626;
		padding-bottom: 50px;
		width: 50%;
		float: left;
		.pane-title{
			color: #fff;
		}
		input{
			background-color: #000;
			border: none;
			padding: 0 10px;
			box-sizing: border-box;
			height: 30px;
		}
		label{
			color: #999;
		    font-size: 17px;
		    font-weight: normal;
		    padding: 3px 7px;
		}
		.panel-panel{
			width: 50%;
			float: left;
			padding: 0;
		}
		.form-actions{
			margin: 0;
			input{
				margin: 0;
				background-color: #fff;
				@include main-color();
				padding: 0 15px 0 10px;
				&:hover{
					background-color: #fff!important;
					@include main-color();
				}
			}
		}
		.webform-component{
			margin-right: 8px;
			input{
				border-radius: 0!important;
			}
		}
		.webform-component--join-our-newsletter{
			font-size: 1.25rem;
    		font-weight: 600;
    		width: 100%;
    		color: #fff;
		}
		.webform-component--approve-recieving-e-mail{
			position: absolute;
			bottom: -10px;
			width: 100%;
			label{
				top: 20px;
				position: relative;
				font-size: 12px;
				color: #fff!important;
			}
			input{
				height: auto;
			}
		}
		.panel-panel:nth-child(2){
			span{
				display: inline-block;
				float: left;
			}
		}
		.pane-block-8{
			margin-top: 20px;
			float: right;
			i{
				@include main-color;
			}
		}
		.pane-custom.pane-1{
			float: right;
			margin: 0 16px;
			img{
				height: 55px;
    			margin-top: 31px;
			}
		}
	}
	.pane-bean-social-links-new, .pane-bean-logos-hebrew-block, .pane-bean-logos-english-block{
		float: right;
		.field-name-field-social-icons > .field-items > .field-item{
			float: left;
			margin-left: 27px;
		}
	}
	.pane-bean-social-links-new{
		img{
			border-radius: 50%;
			@include bg-main-color;
		}
	}
}


/******  hamburger  *********/

.responsive-hamburger{
	display: none;
}

.navbar-toggle{
	display: block;
	@include res(s-m){
		display: none;
	}
}

.navbar-header .hambruger {
	float: left;
	border: medium none;
	margin-right: 0;
	transition: all 0.5s ease 0s;
	margin-top: 13px;
	padding: 0;
	border-radius: 0;
	&.navbar-toggle{
		margin-left: 30px;
	}
}

.navbar-header .hambruger .icon-bar{
	width: 34px;
	background-color: #fff!important;
    display: block;
    height: 2px;
}

.navbar-header .hambruger .icon-bar + .icon-bar{
	margin-top: 9px;
}


/********** responsive menu **********/

@include res(s-m){
	.responsive-hamburger{
		display: block;
		cursor: pointer;
	}
}