@import "init";


.node-type-cm-movie-group{
	#content {
		width: 100% !important;
	}
	.pane-movie-group-ct-panel-pane-2{
		overflow: hidden;	
	}
	.views-field-field-toptix-purchase{
		padding: 8px!important;
	}
	.panels-flexible-row-node_page-3, .panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		.pane-node-body{
			@include width;
			margin-top: 30px;
			.pane-title, .pane-content{
				margin: 0 auto;
				width: 647px;
				max-width: 100%;
			}
			p{
				line-height: 25px;
			}
			.field-label{
				display: none;
			}
		}
	}
	.panels-flexible-row-node_page-4{
		margin-top: 30px;
	}
	.pane-movie-group-ct-panel-pane-3{
		padding: 0!important;
		width: 100%!important;
		overflow: visible;
		background-color: #fff;
		@include res(s-m){
			padding: 0 0 1px 0!important;
		}
		.table-responsive{
			overflow: visible;
		}
		.views-field-field-cm-event-time-1{
			width: 23%;
		}
		.flag-wrapper{
			height: 26px;
			padding-top: 6px;
			display: block;
		}
		.pane-content{
			@include width;
			padding-top: 25px;
			margin-bottom: 30px;
		}
	}
	.panels-flexible-row-node_page-3{
		.inside{
			height: 100%!important;
		}
		/*.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
		.views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
			height: 100%;
		}*/
		
		.views-slideshow-cycle-main-frame-row{
			width: 100%!important;
		}
		.views_slideshow_main{
			height: 100%;
			img{
				height: auto !important;
				width: 100%;
			}
		}
	}
	#atedrop1-sdrop{
		top: 36px!important;
	}
	#movie-group-node .panels-flexible-region{
		background-color: $color_fantasy_approx;
	}
	.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1 {
			@include width();
			padding-top: 30px;
			.view-content{
				margin: 0 auto;
				width: 647px;
				max-width: 100%;

			}
			.content {
				position: inherit;
				overflow: inherit;
			}
			.movie-group-item-header{
				position: relative;
			}
			.movie-group-item-header-img{
				position: relative;
				.title-movie{
					font-size: 25px;
					position: absolute;
					bottom: 20px;
					left: 30px;
					z-index: 2;
					&.nopic{
						position: relative;
						padding: 30px 30px 0;
						background-color: #fff;
						left: auto;
						right: auto; 
						bottom: auto;
						a{
							color: #000;
						}
					}
					a{
						color: #fff;
					}
				}
				img{
					margin-bottom: 0;
				}
			}
			.under-image{
				background-color: #fff;
				padding: 30px 30px 40px;
				margin-bottom: 30px;
				.movie-gorup-item-meta-info{
					padding-bottom: 10px;
					color: $color_pink_swan_approx;
				}
				.movie-gorup-item-teaser-txt{
					p{
						line-height: 25px;
						font-size: 18px;
					}
				}
			}
			.top-text-blk-wht{
				position: absolute;
				top: 0;
				z-index: 90;
				span{
					display: inline-block;
					padding: 5px;
					margin-right: -3px;
				}
				.black{
					color: #fff;
				}
				.white{
					@include main-color();
					background-color: $color_gallery_approx!important;
				}
			}
			.flag{
				position: absolute;
				right: 20px;
				top: 20px;
				z-index: 200;
				width: 18px;
				.field-content, .flag-wrapper{
					float: right;
					width: 18px;
				}
				a{
					right: 0;
					top: 0;
				}
				&.flag-action {
					background-image: url("../images/like-gold-movie.png");
				}
			}
			.views-field {
				&.views-field-field-cm-movie-short-summary {
					padding: 0 5% 5%;
					p {
						font-weight: 400;
					}
				}
				&.views-field-nothing-1 .field-content {
					.movie-grp-add-event {
						position: relative;
						padding-left: 25px;
						a {
							background: url("../images/add-event.png") no-repeat;
							width: 30px;
							height: 28px;
							display: inline-block;
							font-size: 0;
							position: absolute;
						}
					}
					.pur_btn {
						margin-left: 2%;
						button {
							background: url("../images/toptix.png") no-repeat !important;
							border: medium none;
							font-size: 0;
							height: 30px;
							border-radius: 80px 80px 80px 80px;
							width: 72px;
							vertical-align: middle;
						}
					}
					.add-event-cal {
						margin-left: 2%;
					}
					.title {
						float: left;
						padding: .8% 0 0;
						font-size: 1.3em;
						a {
							color: #000;
							font-weight: 600;
						}
					}
					.list-wrapper {
						font-size: 1.2em;
						font-weight: 600;
						.bar {
							margin: 0 3px;
						}
					}
				}
			}
			.views-field-field-cm-movie-subtitle {
				padding: 3% 5% 1%;
				clear: both;
				font-size: 1em;
				color: $color_star_dust_approx;
				.field-content span.bar {
					margin: 0 3px;
				}
			}
			.movie-grp-title h5 {
				font-weight: 500;
			}
			.movie-grp-body p {
				font-weight: 400;
			}
			.img-like-wrapper img.panopoly-image-quarter {
				max-width: 100%;
				margin-top: 0 !important;
				width: 100% !important;
			}
		}
		&.view-display-id-panel_pane_2 {
			.movie-group-slide-container {
				position: relative;
			}
		}
		&.view-display-id-panel_pane_3 {
			.table-bordered {
				border: none;
				font-size: 1em;
				> thead > tr > th {
					border: none;
					font-size: 1em;
				}
			}
			tbody {
				border: none;
				font-size: 1em;
			}
			tr {
				&.even {
					border: none;
					font-size: 1em;
					background-color: #fff;
				}
				&.odd {
					border: none;
					font-size: 1em;
					background-color: #fff;
				}
			}
			th {
				border-bottom: none;
				color: $color_pink_swan_approx;
			}
			.addthisevent-drop {
				z-index: 0;
			}
			.table > tbody > tr > td {
				border: none;
				font-size: 1em;
			}
			.table-striped > tbody > tr:nth-of-type(odd) {
				background-color: #fff;
			}
		}
	}
}
