@import "init";


 .node-type-cm-movie{
 	.slide-right-ct {
			float: right;
			padding-right: 6%;
			padding-left: 10%;
		}
	.slide-left-ct{
		float: right;
	}
	.view-display-id-panel_pane_2 {
		.slide-left-ct {
			float: right;
		}
		.slide-right-ct {
			float: right;
		}
	}
	#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
		margin-right: 0%;
		padding-left: 0;
		margin-right: 10%;
		padding-right: 15%
	}
	.panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right {
		.pane-movie-top-pane-view-panel-pane-3 .pane-content {
			.view-display-id-panel_pane_3 .flag-wrapper a {
				margin-left: 0;
				margin-right: 47%;
			}
		}
	}
	.group-alttab{
		right: 0!important;
		left: auto!important;
			.field{
				float: right;
			}
		}
}