@import "init";


.node-type-cm-movie-group{
	#content {
		width: 100% !important;
		background-color: $color_fantasy_approx;
	}
	.panels-flexible-row-node_page-5{
		padding-top: 40px!important;
		> .inside{
			z-index: 301;
			position: relative;

		}
		.pane-node-body{
			.field-name-body{
				padding-bottom: 25px;
			}
		}
	}
	.content.middle .panels-flexible-region-node_page-content_left{
		@include res(s-m){
			padding: 0!important;
		}
	}
	.pane-movie-group-ct-panel-pane-2{
		overflow: hidden;	
	}
	.panels-flexible-row-node_page-3, .panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		.pane-node-body{
			@include width;
			margin-top: 30px;
			padding-bottom: 27px;
			.pane-title, .pane-content{
				width: 100%;
				margin: 0 auto;
				@include res(s-m-l){
					padding: 0;
				}
			}
			p{
				line-height: 25px;
			}
			.field-label{
				display: none;
			}
		}
	}
	.panels-flexible-row-node_page-4{
		margin-top: 30px;
	}
	.pane-movie-group-ct-panel-pane-3{
		padding: 0!important;
		width: 100%!important;
		overflow: visible;
		background-color: #fff;
		@include res(s-m){
			padding: 0 0 1px 0!important;
		}
		.pane-content{
			@include width;
			padding-top: 25px;
			margin-bottom: 30px;
		}
	}
	.panels-flexible-row-node_page-3{
		.inside{
			height: 100%!important;
		}
		/*.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
		.views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
			height: 100%;
		}*/
		
		.views-slideshow-cycle-main-frame-row{
			width: 100%!important;
		}
		.views_slideshow_main{
			height: 100%;
			img{
				height: auto !important;
				width: 100%;
			}
		}
	}
	#atedrop1-sdrop{
		top: 36px!important;
	}
	.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1 {
			padding-top: 3px;
			.view-content{
				width: 100%;
				margin: 0 auto;
				@include res(s-m-l){
					padding: 0;
				}
			}
			.content {
				position: inherit;
				overflow: inherit;
			}
			.movie-group-item-header{
				position: relative;
			}
		}
		&.view-display-id-panel_pane_2 {
			.movie-group-slide-container {
				position: relative;
			}
		}
	}
	.credits-view, .movie-group-item-credit{
		width: 100%;
		padding: 0px;
	}
}

.movie-group-item-credit{
		padding-bottom: 0px!important;
	}
/*
.view-movie-group-ct, .view-event-ct-view{
	.movie-group-item-credit{
		padding: 0;
		width: 100%;
		.profession{
			float: left;
		}
	}
}
*/


.view-id-movie_group_ct.view-display-id-panel_pane_1, .movie-group-list {
	.movie-group-item-header-img, .image-lobby{
		position: relative;
		@include res(s-m){
			.gradient{
				display: none!important;
			}
		}
		.title-movie, .lobby-title{
			font-size: 25px;
			position: absolute;
			bottom: 20px;
			left: 30px;
			z-index: 2;
			@include res(s-m){
				position: relative;
				left: 0;
				bottom: 0;
				background-color: #fff;
				padding: 10px 30px 0;
			}
			a{
				font-size: 1em;
				font-weight: normal;
			}
			&.nopic{
				position: relative;
				padding: 30px 30px 0;
				background-color: #fff;
				left: auto;
				right: auto; 
				bottom: auto;
				a{
					color: #000!important;
				}
			}
			a{
				color: #fff!important;
				@include res(s-m){
					color: #000!important;
				}
			}
		}
		img{
			margin-bottom: 0;
		}
	}
	.under-image{
		background-color: #fff;
		padding: 30px 30px 40px;
		margin-bottom: 30px;
		overflow: hidden;
		@include res(s-m){
			padding-top: 10px;
		}
		.movie-group-item-meta-info, .movie-details{
			padding-bottom: 10px;
			span{
				color: #929292;
				font-weight: normal;
				font-size: 16px;
			}
		}
		.movie-details span:after{
			content: " | ";
		}
		.movie-details span:last-child:after{
			content: "";
		}
		.movie-group-item-teaser-txt{
			margin: 10px 0 20px;
			p{
				line-height: 25px;
				font-size: 18px;
			}
		}
	}
	.views-field-ops, .flag-movie{
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 200;
		width: 18px;
		.field-content, .flag-wrapper{
			float: right;
			width: 18px;
		}
		a{
			right: 0;
			top: 0;
		}
		&.flag-action {
			background-image: url("../images/like-gold-movie.png");
		}
	}
	.views-field {
		&.views-field-field-cm-movie-short-summary {
			padding: 0 5% 5%;
			p {
				font-weight: 400;
			}
		}
		&.views-field-nothing-1 .field-content {
			.movie-grp-add-event {
				position: relative;
				padding-left: 25px;
				a {
					background: url("../images/add-event.png") no-repeat;
					width: 30px;
					height: 28px;
					display: inline-block;
					font-size: 0;
					position: absolute;
				}
			}
			.pur_btn {
				margin-left: 2%;
				button {
					background: url("../images/toptix.png") no-repeat !important;
					border: medium none;
					font-size: 0;
					height: 30px;
					border-radius: 80px 80px 80px 80px;
					width: 72px;
					vertical-align: middle;
				}
			}
			.add-event-cal {
				margin-left: 2%;
			}
			.title {
				float: left;
				padding: .8% 0 0;
				font-size: 1.3em;
				a {
					color: #000;
					font-weight: 600;
				}
			}
			.list-wrapper {
				font-size: 1.2em;
				font-weight: 600;
				.bar {
					margin: 0 3px;
				}
			}
		}
	}
	.views-field-field-cm-movie-subtitle {
		padding: 3% 5% 1%;
		clear: both;
		font-size: 1em;
		color: $color_star_dust_approx;
		.field-content span.bar {
			margin: 0 3px;
		}
	}
	.movie-grp-title h5 {
		font-weight: 500;
	}
	.movie-grp-body p {
		font-weight: 400;
	}
	.img-like-wrapper img.panopoly-image-quarter {
		max-width: 100%;
		margin-top: 0 !important;
		width: 100% !important;
	}
}

.node-type-cm-movie-group .view-movie-group-ct.view-display-id-panel_pane_3 .table-responsive .views-field-field-cm-event-time-1{
	width: 23%;
}
