@import "init";


 .node-type-cm-movie{
 	.panels-flexible-row-node_page-3{
 		width: 100%!important;
 		padding: 0!important;
 		.field-name-field-folder{
 			display: none;
 		}
 		.views-field-field-cm-movie-credits{
 			bottom: 60px;
		    color: #fff;
		    padding: 0;
		    position: absolute;
		    width: 100%;	
		    z-index: 90;
		    height: 118px;
		     .slide-over-content{
 		    	@include width;
 		    	position: relative;
		    }		
 		}
 		.panels-flexible-region-node_page-slider-inside{
 			overflow: hidden;
 			.views-slideshow-cycle-main-frame-row{
 				> div{
 					height: 100%;
 				}
 			}
 		}
	 	.view .content, .view .mask {
		    height: auto;
		    left: auto;
		    position: relative!important;
		}
	}
	.view-display-id-panel_pane_2 {
		overflow: visible;
	}
	#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
		width: auto;
		.views-field-title {
			color: $black;
			font-weight: 600;
			margin-bottom: 2%;
		}
		.views-field-field-cm-movie-body {
			color: $color_mine_shaft_approx;
			font-size: 1.1rem;
			line-height: 28px;
		}
	}
	.view-movie-top-pane-view.view-display-id-panel_pane_4{
		float: right;
		box-sizing: border-box;
	}
	.panels-flexible-row-node_page-5{
		padding-top: 50px!important;
		@include res(s-m){
			padding: 20px 0 0!important;
			margin-bottom: 20px;
			border:1px solid #cdcdcd;
			.panels-flexible-region-node_page-content_left{
				padding: 0 5%!important;
			}
			.panels-flexible-region-node_page-content_right{
				padding: 0 5% 25px!important;
				border-top: 1px solid #cdcdcd;
				border-bottom: 1px solid #cdcdcd;
				margin-top: 5px;
			}
		}
	}
	.panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right {
		.pane-movie-top-pane-view-panel-pane-6 {
			margin-top: 45%;
			.pane-content {
				border-top: 5px solid $black;
				padding-top: 3%;
				.views-field-term-node-tid li a {
					color: $color_pink_swan_approx;
					text-decoration: underline;
					font-size: 14px;
				}
			}
		}
		.pane-movie-top-pane-view-panel-pane-3 .pane-content {
			border-top: 5px solid $black;
			padding-top: 13px;
			border-bottom: 2px solid $color_alto_approx;
			padding-bottom: 4px;
			height: 57px;
			margin-top: 12%;
			.view-display-id-panel_pane_3 .flag-wrapper a {
				background: $black url("../images/like-small.png") no-repeat scroll 0 0!important;
				display: block;
				font-size: 0;
				height: 14px!important;
				margin-left: 47%;
				width: 119px!important;
			}
		}
	}
	.panels-flexible-row-node_page-3{

		.views-slideshow-cycle-main-frame-row{
			width: 100%!important;
		}
	}
	.view-id-movie_top_pane_view.view-display-id-panel_pane_4{
		.views-field-title, .views-field-nothing{
			color: #000000;
		    font-weight: 600;
		    margin-bottom: 2%;
		}
	}
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		background-color: #fff;
		@include width;
		padding-top: 30px;
		padding-bottom: 30px;		
		.panels-flexible-row-node_page-6-inside .panels-flexible-region{
			padding: 0 23%;
			@include res(s-m){
				padding: 0;
			}
		}
	}
	.pane-movie-top-pane-view-panel-pane-7{
		.view-movie-top-pane-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
			}
		}
		.views-field-ops{
		    height: 23px!important;
		    display: block;
		    padding-top: 13px;
		}
		thead{
			@include res(s-m){
				display: none;
			}
			th{
				font-size: 12px;
			}
		}
		.views-field-field-cm-event-time{
			width: 23%;
		}
		#atedrop5-drop{
			top: 35px!important;
		}
	}
}



.view-id-movie_top_pane_view {
	&.view-display-id-panel_pane_7 {
		.table-bordered {
			border: none;
			> thead > tr > th {
				border: none;
			}
		}
		tbody {
			border: none;
		}
		tr {
			&.even {
				border: none;
			}
			&.odd {
				border: none;
			}
		}
		th {
			border-bottom: none;
			color: $color_pink_swan_approx;
		}
		.table > tbody > tr > td {
			border: none;
		}
	}
	&.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 {
		.content {
			position: inherit;
			overflow: inherit;
		}
		.field-label {
			display: none;
		}
	}
}

/**** slider  ******/

.node-type-cm-movie{
	.panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		.panels-flexible-row-node_page-4-inside{
			@include width();
			@include res(s-m){
				tr{
					@include res(s-m){
						padding: 0 5%;
					}
				}
			}
			.field-name-field-qoutes{
				margin: 70px 23%;
			}
			.views-field-field-cm-review-qoute{
				@include main-color;
				font-size: 25px;
				width: 100%;
			}
			.views-field-field-cm-review-source{
				font-size: 12px;
				margin-top: 30px;
				@include main-color;
			}
			.views-slideshow-pager-fields{
				clear: both;
				text-align: center;
				padding-top: 20px;
			}
			.pane-movie-top-pane-view-panel-pane-7{
				padding-top: 20px;
			}
			.views-slideshow-pager-field-item{
				display: inline-block;
				margin: 0 14px;
				.circle{
					background-color: #afafaf;
					border-radius: 50%;
					height: 6px;
					width: 6px;
				}
				&.active .circle{
					@include bg-main-color;
				}
			}
		}
	}
}
