@import "init";


.node-type-cm-movie-group{
	.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1 {
			.movie-group-item-header-img{
				.title-movie{
					left: auto;
					right: 30px;
					&.nopic{
						right: 0;
					}
				}
			}
			.views-field-ops{
				right: auto;
				left: 20px;
				.field-content, .flag-wrapper{
					float: left;
				}
				a{
					left: 0;
				}
			}
		}
	}
}

.view-id-movie_group_ct.view-display-id-panel_pane_1, .movie-group-list {
	.movie-group-item-header-img, .image-lobby{
		.title-movie, .lobby-title{
			right: 30px;
			left: auto;
		}
	}
}
