//colors
$white: #ffffff;
$color_celeste_approx: #cccccc;
$mine_shaft: #323232;
$color_chicago_approx: #5c5c5c;
$boulder: #7a7a7a;
$color_mongoose_approx: #b59d70;
$main-color: #b59d70;
$color_clay_creek_approx: #96825d;
$color_iron_approx: #d8d8d8;
$black_80: rgba(0, 0, 0, 0.8);
$white_30: rgba(255, 255, 255, 0.3);
$black: #000000;
$wild_sand: #f4f4f4;
$color_pampas_approx: #f4f2ef;
$color_bazaar_approx: #958080;
$color_mercury_approx: rgb(227, 227, 227);
$color_black_haze_approx: #f6f6f6;
$color_silver_approx: #bfbfbf;
$color_wild_sand_approx: #f5f5f5;
$color_silver_chalice_approx: #aaa;
$color_cararra_approx: #ececec;
$color_nobel_approx: #b2b2b2;
$color_gallery_approx: #ededed;
$color_tundora_approx: #444;
$color_pearl_bush_approx: #e7decc;
$color_tapa_approx: #777;
$color_mountain_mist_approx: #999;
$color_fantasy_approx: #f9f4ee;
$color_mine_shaft_approx: #333;
$color_alabaster_approx: #f9fafb;
$color_pink_swan_approx: #b7b7b7;
$color_alto_approx: #ddd;
$color_black_approx: #020202;
$color_celeste_approx: #ccc;
$color_gallery_approx: #eee;
$color_star_dust_approx: #a0a0a0;
$color_pink_swan_approx: #bbb;
$color_nobel_approx: #b3b3b3;
$color_mine_shaft_approx: #312f2f;
/********  mixin *********/

@mixin width(){
  width: 1280px!important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
};

.node-type-cm-movie-group{
	#content {
		width: 100% !important;
	}
	.pane-movie-group-ct-panel-pane-2{
		overflow: hidden;	
	}
	.panels-flexible-row-node_page-3, .panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		.pane-node-body{
			@include width;
			min-width: 615px;
			.pane-title, .pane-content{
				margin: 0 23%;
			}
			p{
				line-height: 25px;
			}
			.field-label{
				display: none;
			}
		}
	}
	.pane-movie-group-ct-panel-pane-3{
		padding: 0!important;
		width: 100%!important;
		overflow: visible;
		background-color: #fff;
		.table-responsive{
			overflow: visible;
		}
		.views-field-field-cm-event-time-1{
			width: 23%;
		}
		.pane-content{
			@include width;
			padding-top: 25px;
			margin-bottom: 30px;
		}
	}
	.panels-flexible-row-node_page-3{
		.inside{
			height: 100%;
		}
		.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
		.views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
			height: 100%;
		}
		.views_slideshow_main{
			height: 100%;
			img{
				height: 100% !important;
				left: 0;
				top: 12px;
				width: auto !important;
				position: absolute;
			}
		}
	}
	#atedrop1-sdrop{
		top: 36px!important;
	}
	.panels-flexible-region{
		background-color: $color_fantasy_approx;
	}
	.view-id-movie_group_ct {
		&.view-display-id-panel_pane_1 {
			@include width();
			padding-top: 30px;
			min-width: 615px;
			.view-content{
				margin: 0 23%;
			}
			.content {
				position: inherit;
				overflow: inherit;
			}
			.movie-group-item-header{
				position: relative;
			}
			.movie-group-item-header-img{
				position: relative;
				.title-movie{
					font-size: 25px;
					position: absolute;
					bottom: 20px;
					left: 30px;
					a{
						color: #fff;
					}
				}
				img{
					margin-bottom: 0;
				}
			}
			.under-image{
				background-color: #fff;
				padding: 30px 30px 40px;
				margin-bottom: 30px;
				.movie-gorup-item-meta-info{
					padding-bottom: 10px;
					color: $color_pink_swan_approx;
				}
				.movie-gorup-item-teaser-txt{
					p{
						line-height: 25px;
					}
				}
			}
			.top-text-blk-wht{
				position: absolute;
				top: 0;
				z-index: 90;
				span{
					display: inline-block;
					padding: 5px;
					margin-right: -3px;
				}
				.black{
					color: #fff;
				}
				.white{
					color: $main_color;
					background-color: $color_gallery_approx!important;
				}
			}
			.flag{
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 200;
				&.flag-action {
					background-image: url("../images/like-gold-movie.png");
				}
			}
			.views-field {
				&.views-field-field-cm-movie-short-summary {
					padding: 0 5% 5%;
					p {
						font-weight: 400;
					}
				}
				&.views-field-nothing-1 .field-content {
					.movie-grp-add-event {
						position: relative;
						padding-left: 25px;
						a {
							background: url("../images/add-event.png") no-repeat;
							width: 30px;
							height: 28px;
							display: inline-block;
							font-size: 0;
							position: absolute;
						}
					}
					.pur_btn {
						margin-left: 2%;
						button {
							background: url("../images/toptix.png") no-repeat !important;
							border: medium none;
							font-size: 0;
							height: 30px;
							border-radius: 80px 80px 80px 80px;
							width: 72px;
							vertical-align: middle;
						}
					}
					.add-event-cal {
						margin-left: 2%;
					}
					.title {
						float: left;
						padding: .8% 0 0;
						font-size: 1.3em;
						a {
							color: #000;
							font-weight: 600;
						}
					}
					.list-wrapper {
						font-size: 1.2em;
						font-weight: 600;
						.bar {
							margin: 0 3px;
						}
					}
				}
			}
			.views-field-field-cm-movie-subtitle {
				padding: 3% 5% 1%;
				clear: both;
				font-size: 1em;
				color: $color_star_dust_approx;
				.field-content span.bar {
					margin: 0 3px;
				}
			}
			.movie-grp-title h5 {
				font-weight: 500;
			}
			.movie-grp-body p {
				font-weight: 400;
			}
			.img-like-wrapper img.panopoly-image-quarter {
				max-width: 100%;
				margin-top: 0 !important;
				width: 100% !important;
			}
		}
		&.view-display-id-panel_pane_2 {
			.movie-group-slide-container {
				position: relative;
			}
			.slide-inner-group {
				position: absolute;
				bottom: 6em;
				color: #fff;
				width: 100%;
				padding: 0;
				.wrapper{
					@include width;
					.slide-eve-title, .slide-movie-title{
						margin-left: 23%;
					}
				}
				a {
					color: #fff;
				}
				.slide-movie-title h2 {
					font-size: 3rem;
				}
			}
		}
		&.view-display-id-panel_pane_3 {
			.table-bordered {
				border: none;
				font-size: 1rem;
				> thead > tr > th {
					border: none;
					font-size: 1rem;
				}
			}
			tbody {
				border: none;
				font-size: 1rem;
			}
			tr {
				&.even {
					border: none;
					font-size: 1rem;
					background-color: #fff;
				}
				&.odd {
					border: none;
					font-size: 1rem;
					background-color: #fff;
				}
			}
			th {
				border-bottom: none;
				color: $color_pink_swan_approx;
			}
			.addthisevent-drop {
				z-index: 0;
			}
			.table > tbody > tr > td {
				border: none;
				font-size: 1rem;
			}
			.table-striped > tbody > tr:nth-of-type(odd) {
				background-color: #fff;
			}
		}
	}
	.views_slideshow_cycle_slide .field-content .slide-alt-title {
		background-color: $color_mine_shaft_approx;
		bottom: 0px;
		color: $color_star_dust_approx;
		font-size: 12px;
		right: 0;
		padding: 10px 20px;
		position: absolute;
		.grp-alt {
			border-right: 1px solid $color_star_dust_approx;
			padding-right: 7px;
			margin-right: 3px;
		}
	}
}
