@import "init";


 .node-type-cm-movie{
 	.panels-flexible-row-node_page-3{
 		width: 100%!important;
 		padding: 0!important;
 		.field-name-field-folder{
 			display: none;
 		}
 		.views-field-field-cm-movie-credits{
 			bottom: 5rem;
		    color: #fff;
		    padding: 0;
		    position: absolute;
		    width: 100%;	
		    z-index: 90;
		    height: 118px;
		     .slide-over-content{
 		    	@include width;
 		    	position: relative;
		    }		
 		}
 		.panels-flexible-region-node_page-slider-inside{
 			overflow: hidden;
 			.views-slideshow-cycle-main-frame-row{
 				div{
 					height: 100%;
 				}
 			}
 		}
	 	.view .content, .view .mask {
		    height: auto;
		    left: auto;
		    position: relative!important;
		}
	}
 	&.noheaderimage .panels-flexible-row-node_page-3{
 		height: auto!important;
 		padding-top: 75px!important;
 		.pane-movie-top-pane-view-panel-pane-2{
 			position: relative;
 			bottom: auto;
 			.slide-left-ct{
 				color: #333;
 				.slide-eve-lobby, .slide-movie-title, .slide-movie-year{
 					text-shadow: none;
 				}
 			}
 			 .slide-right-ct {
 			 	margin-top: 0;
				a {
					background: url("../images/play-icon-black.png") no-repeat scroll 60% center;
					border:1px solid #000;
				}
			}
 		}
 	}
 	.slide-right-ct {
			float: left;
			padding-left: 6%;
			padding-right: 10%;
			width: 23%;
			margin-top: 38px;
			a {
				background: url("../images/play-icon.png") no-repeat scroll 60% center;
				border-radius: 30px;
				border:1px solid #fff;
				display: inline-block;
				font-size: 0;
				height: 55px;
				padding: 2%;
				width: 55px;
			}
		}
	.slide-left-ct{
		float: left;
		.slide-eve-lobby{
			font-size: 22px;
			margin-bottom: 1%;
			text-shadow: 2px 2px 2px #000;					
		}
		.slide-movie-title{
			margin-bottom: 15px;
			text-shadow: 2px 2px 2px #000;					
		}
		.slide-movie-year{
			font-size: 1.2rem;
			text-shadow: 2px 2px 2px #000;					
		}
	}
	.view-display-id-panel_pane_2 {
		overflow: visible;
		.slide-left-ct {
			float: left;
			color: $white;
			margin: 0 23%;
			position: absolute;
			.slide-movie-title {
				font-size: 3.56rem;
				margin: 1% 0;
				font-weight: normal;
				line-height: 110%;
			}
		}
		.slide-right-ct {
			float: left;
		}
	}
	#panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
		margin-right: 10%;
		margin-top: 20px;
		width: auto;
		padding-left: 15%;
		.views-field-title {
			color: $black;
			font-size: 1.1rem;
			font-weight: 600;
			margin-bottom: 2%;
		}
		.views-field-field-cm-movie-body {
			color: $color_mine_shaft_approx;
			font-size: 1.1rem;
			line-height: 28px;
		}
	}
	.view-movie-top-pane-view.view-display-id-panel_pane_4{
		width: 77%;
		float: right;
		padding-right: 23%;
		box-sizing: border-box;
	}
	.panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right {
		.pane-movie-top-pane-view-panel-pane-6 {
			margin-top: 45%;
			.pane-content {
				border-top: 5px solid $black;
				padding-top: 3%;
				.views-field-term-node-tid li a {
					color: $color_pink_swan_approx;
					text-decoration: underline;
					font-size: 14px;
				}
			}
		}
		.pane-movie-top-pane-view-panel-pane-3 .pane-content {
			border-top: 5px solid $black;
			padding-top: 13px;
			border-bottom: 2px solid $color_alto_approx;
			padding-bottom: 4px;
			height: 57px;
			margin-top: 12%;
			.view-display-id-panel_pane_3 .flag-wrapper a {
				background: $black url("../images/like-small.png") no-repeat scroll 0 0!important;
				display: block;
				font-size: 0;
				height: 14px!important;
				margin-left: 47%;
				width: 119px!important;
			}
		}
	}
	.panels-flexible-row-node_page-3{

		.views-slideshow-cycle-main-frame-row{
			width: 100%!important;
		}
	}
	.pane-movie-top-pane-view-panel-pane-2{
		bottom: 6em;
	    color: #fff;
	    padding: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 50;
	    min-height: 130px;
	    .pane-content{
	    	@include width;
	    }
	}
	.view-id-movie_top_pane_view.view-display-id-panel_pane_4{
		margin-top: 50px;
		.views-field-title, .views-field-nothing{
			color: #000000;
		    font-size: 1.1rem;
		    font-weight: 600;
		    margin-bottom: 2%;
		}
	}
	.panels-flexible-row-node_page-6{
		width: 100%!important;
		background-color: #fff;
		@include width;
		padding-top: 30px;
		padding-bottom: 30px;
		.panels-flexible-row-node_page-6-inside{
			margin: 0 23%;
		}
		.views-field-field-cm-movie-credits-person-ro{
			color: $color_nobel_approx;
		}
		a{
			color: #000;
		}
	}
	.pane-movie-top-pane-view-panel-pane-7{
		.view-movie-top-pane-view{
			overflow: visible;
			.table-responsive{
				overflow: visible;
			}
		}
		.views-field-field-cm-event-time{
			width: 23%;
		}
		#atedrop5-drop{
			top: 35px!important;
		}
	}
	.panels-flexible-row-node_page-4{
		margin-top: 20px!important;
	}
}



.view-id-movie_top_pane_view {
	&.view-display-id-panel_pane_7 {
		.table-bordered {
			border: none;
			> thead > tr > th {
				border: none;
			}
		}
		tbody {
			border: none;
		}
		tr {
			&.even {
				border: none;
			}
			&.odd {
				border: none;
			}
		}
		th {
			border-bottom: none;
			color: $color_pink_swan_approx;
		}
		.table > tbody > tr > td {
			border: none;
		}
	}
	&.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 {
		.content {
			position: inherit;
			overflow: inherit;
		}
		.field-label {
			display: none;
		}
		.group-alttab{
			background-color: $color_mine_shaft_approx;
			position: absolute;
			bottom: 0px;
			color: $color_star_dust_approx;
			font-size: 12px;
			padding: 10px 10px;
			height: auto;
			left: 0;
			right: auto;
			.field{
				float: right;
			}
			.field-name-field-file-image-alt-text{
				margin-left: 5px;
				padding-left: 5px;
				border-left: 1px solid;
			}
		}
	}
}

/**** slider  ******/

.node-type-cm-movie{
	.panels-flexible-row-node_page-4{
		width: 100%!important;
		padding: 0!important;
		background-color: $color_fantasy_approx;
		.panels-flexible-row-node_page-4-inside{
			@include width();
			.field-name-field-qoutes{
				margin: 70px 23%;
			}
			.views-field-field-cm-review-qoute{
				color: $main-color;
				font-size: 25px;
				width: 100%;
			}
			.views-field-field-cm-review-source{
				font-size: 12px;
				margin-top: 30px;
				color: $main-color;
			}
			.views-slideshow-pager-fields{
				clear: both;
				text-align: center;
				padding-top: 20px;
			}
			.views-slideshow-pager-field-item{
				display: inline-block;
				margin: 0 14px;
				.circle{
					background-color: #afafaf;
					border-radius: 50%;
					height: 6px;
					width: 6px;
				}
				&.active .circle{
					background-color: $main-color;
				}
			}
		}
	}
}
