@import "init";

.page-search{
	#search-form{
		@include width;
		padding: 0 5%;
	}
    &.page-search .header .header-right .search a{
   		pointer-events: none;
   		cursor: default;
    }
	.page-header{
		display: block!important;
		h1.title{
			font-weight: normal;
			margin: 60px 0 40px;
			font-size: 50px;
		}
	}
	.container, #content{
		width: 100%;
	}
	.search_result{
		.text-center{
			float: right;
			margin-top: 10px;
		}
		ol {
			padding: 0;
		}
	}
	.panels-flexible-row{
		width: 100%!important;
		padding: 0!important;
	}
	.panels-flexible-row-node_page-3{
		@include width;
		padding: 0 5%!important;
	}
	.search-results{
		clear: both;
	}
	.cm_event .pro-grid {
		li {
			&:nth-child(1) {
				width: 25%;
				display: inline-block !important;
			}
			&:nth-child(2) {
				width: 73%;
				vertical-align: top;
				display: inline-block !important;
			}
			img {
				max-width: 100%;
			}
			h1.title {
				margin-bottom: 0;
				a {
					font-weight: 600;
					text-transform: uppercase;
					color: #333 !important;
				}
			}
			div.search-snippet-info {
				padding-left: 0 !important;
			}
		}
		.search-view-mode p {
			font-size: 14px;
			line-height: 1.4;
		}
	}
	.search-performance{
		float: left;
		font-size: 18px;
		margin-top: 10px;
	}
	.pager{
		float: right;
		@include res(s-m){
			float: left;
		}
	}
	.cm_movie .pro-grid {
		li {
			&:nth-child(1) {
				width: 25%;
				display: inline-block !important;
			}
			&:nth-child(2) {
				width: 73%;
				vertical-align: top;
				display: inline-block !important;
			}
			img {
				max-width: 100%;
			}
			h1.title {
				margin-bottom: 0;
				a {
					font-weight: 600;
					text-transform: uppercase;
					color: #333 !important;
				}
			}
			div.search-snippet-info {
				padding-left: 0 !important;
			}
		}
		.search-view-mode p {
			font-size: 14px;
			line-height: 1.4;
		}
	}
	#search-api-page-search-form-search-results, #search-form #edit-basic{
		margin-bottom: 30px;
		position: relative;
		overflow: visible;
		height: 50px;
		.form-group {
			overflow: hidden;
			-webkit-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			box-shadow: -1px 1px 10px -3px rgba(0,0,0,0.75);
			label[for="edit-keys-1"] {
				display: none !important;
			}
			.form-text {
				width: 100%;
				box-sizing: border-box;
				display: inline-block;
				float: left;
				background: $white;
				margin-bottom: 0;
				height: auto;
				padding: 7px 22% 8px 2%;
				font-size: 25px;
				border:none;
				border-radius: 0;
				height: 50px;
				@include res(s-m){
					font-size: 15px;
					padding: 13px;
				}
			}
		}
		.form-submit {
			@include bg-main-color;
			margin: 0;
			border-radius: 0 !important;
			padding: 9px 25px 11px;
			font-size: 18px;
			width: 20%;
			position: absolute;
			right: 0px;
			box-shadow: none!important;
			top: 0px;
			height: 51px;
			@include res(s-m){
				width: 100%;
				position: relative;
			}
		}
	}
	.search_new {
		h4 {
			display: none !important;
		}
		.region .block {
			float: left;
			width: 15%;
			margin-right: 2%;
		}
		> * select {
			box-shadow: none !important;
			border-radius: 0 !important;
		}
		.select2-selection{
			border-radius: 0;
		}
	}
	.search-api-page-result {
		border: 1px solid transparent;
		cursor: pointer;
		background: $white !important;
		transition: ease 0.2s all;
		&:hover {
			box-shadow: 0 0 4px 1px $color_mountain_mist_approx;
		}
	}
	#emoveFilters{
		text-align: left;
	}
	.views-row {
		margin: 10px auto;
		padding: 0;
		border: 1px solid transparent;
		transition: ease 0.2s all;
		&:nth-child(odd) {
			background: $white !important;
		}
		&:nth-child(even) {
			background: $color_pearl_bush_approx !important;
		}
		&.views-field {
			width: 60%;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0 !important;
			&:nth-child(1) {
				width: 10% !important;
			}
			&:nth-child(2) {
				width: 25% !important;
			}
			.field-content {
				text-align: left;
				text-transform: uppercase;
				font-size: 14px;
				a {
					font-weight: 600;
					font-size: 18px;
					color: $black !important;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
					white-space: nowrap;
					display: block;
				}
			}
			> * img {
				width: 100%!important;
				margin: 0;
				max-width: 100%!important;
			}
		}
		&:hover {
			border-top: 1px solid $color_tapa_approx;
			border-bottom: 1px solid $color_tapa_approx;
		}
	}
	.container {
		background: $white;
	}
	.panels-flexible-row-node_page-3{
		.pane-search-api-page-search-results{
			width: 100%;
		}
		.pane-facet{
			float: left;
			width: 15.4%;
			margin-left: 1.5%;
			@include res(l){
				width: 32.3%;
			}
			@include res(s-m){
				margin-left: 0!important;
			}
			@include res(s){
				width: 100%;
			}
			@include res(m){
				width: 48%;
			}
			*:focus {
			    outline: 0;
			    outline-style:none;
			    outline-width:0;
			}
			.select2-container{
				width: 100%!important;
			}
		}
		.panel-pane:nth-child(odd){
			@include res(m){
				float: right;
			}
		}
		.panel-pane:nth-child(6n+2){
			margin-left: 0;
			@include res(l){
				margin-left: 1.5%;
			}
			@include res(s-m){
				margin: 0!important;
			}
		}
		.panel-pane:nth-child(3n+2){
			@include res(l){
				margin-left: 0%!important;
			}
		}
		.form-type-select{
			margin-top: 0;
		}
	}
	.pane-search-current{
		clear: both;
		padding-top: 60px;
		margin-top: 60px;
		background-color: $color_fantasy_approx;
		padding-bottom: 20px;
		.pane-content{
			@include width;
			h2{
			    font-size: 18px;
			    font-weight: bold;
			    margin: 0;			
			}
		}
	}
	.pane-current-search-search-results-facets-block{
		a{
			font-size: 0;
			&:before{
			   content: "x";
			    display: block;
			    float: left;
			    font-size: 12px;
			    margin-right: 5px;
			    padding-top: 1px;
			}
		}
		li:hover{
			&:before{
				@include main-color;
			}			
		}
	}
	.pane-panopoly-database-search-search-database-results{
		background-color: $color_fantasy_approx;
		padding-bottom: 50px;
		.pane-content{
			@include width;
			.view{
				overflow: visible;
			}
			.view-panopoly-database-search{
				position: relative;
				.lobby-container{
					background-color: #fff;
					margin-bottom: 20px;
					clear: both;
				}
				.pager-next, .pager-last, .pager-first, .pager-previous{
					a{
						padding-right: 0;
						padding-left: 0;
					}
				}
				.pager-item a, .pager-current span{
					padding: 5px 10px;
				}
				.view-header{
					top: -46px;
					right: 0;
					position: absolute;
					@include res(s-m){
						position: relative;
						top: auto;
					}
				}
				.view-content{
					.lobby-term-left{
						float: left;
						width: 30%;
						position: relative;
						.person-left-sec{
							padding: 18px;
							overflow: hidden;
							.person-img{
								float: left;
								width: 45%;
								padding-right: 7%;
								@include res(s-m){
									width: 100%;
									padding:0!important;
									a{
										display: block;
										text-align: center;
									}
								}
							}
							.name-job{
								width: 55%;
								float: right;
								@include res(s-m){
									width: 100%;
									text-align: center;
								}
							}
							.name{
								.job-title{
									font-weight: normal;
									padding-top: 10px;
								}
							}
						}
						@include res(s-m){
							width: 100%;
						}
					}
					.lobby-term-right{
						float: right;
						width: 70%;
						padding: 20px;
						box-sizing: border-box;
						@include res(s-m){
							width: 100%;
						}
						table tbody{
							border: none;
						}
						.lobby-title a{
							font-size: 1.3em;
							color: #000;
						}
						.lobby-summary, .enhan-summary{
							padding: 20px 0;
						}
						.lobby-length, .enhan-credit-container{
							color: #919191;
							font-size: 0.9em;
    						line-height: 28px;
						}
						.table-responsive{
							overflow: visible;
							table{
								margin-bottom: 0;
							}
						}
					}
					.row-custom-lobby{
						td{
							@include res(s-m){
								padding-right: 0!important;
							}
						}
						.date{
							width: 20%;
						}
						.time{
							width: 11%;
						}
						.hall{
							width: 18%;
						}
						.purchase{
							padding-right: 0;
							padding-left: 0;
							width: 80px!important;
						}
						.title{
							width: 23%;
						}
						.code{
							width: 10%;
						}
					}
				}
			}
		}
	}
}

.current-search-item {
	clear: both;
	li{
		float: left;
		margin-right: 30px!important;
		border-bottom: 1px solid;
		color: #c9c9c9;
		a{
			color: #c9c9c9;
		}
	}
	li:hover{
		@include main-color;
		a{
			@include main-color;
		}
	}
}

.select2-results__options{
	li:first-child{
		display: none !important;
	}
	li{
		background: url("../images/select-empty.png") no-repeat left 7px top 14px;
		padding-left: 22px;
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
		content: "\f107";
		font: normal normal normal 14px/1 FontAwesome;
		@include main-color();
	    position: absolute;
	    right: -4px;
	    top: -4px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #c9c9c9;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f7f7f7;
    color: #000;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{
		content: "\f106";
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border:none;
}

input:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid;
	@include border-main-color();
}

.page-search-search-results #main #content .search_new, .page-search-search-results #main #content .region-content .views-field-php a {
	background: url("../images/add-event.png") no-repeat center center;
	vertical-align: top;
	width: 30px;
	height: 27px;
}

.select2-container--default .select2-selection--single{
	border-radius: 0;
}

.select2-dropdown{
	border-radius: 0;
}