.page-search-search-results{
	.cm_event .pro-grid {
		li {
			div.search-snippet-info {
				padding-right: 0 !important;
			}
		}
	}
	.cm_movie .pro-grid {
		li {
			div.search-snippet-info {
				padding-right: 0 !important;
			}
		}
	}
	#search-api-page-search-form {
		.form-group {
			.form-text {
				float: right;
				padding: 15px 2% 15px 22%;
			}
		}
		.form-submit {
			right: auto;
			left: 0;
		}
	}
	.search_new {
		.region .block {
			float: right;
			margin-left: 2%;
			margin-right: 0;
		}
	}
	#RemoveFilters{
		text-align: right;
		a{
			margin-right: 0;
		}
	}
	.search-performance{
		float: right;
	}
	.search-api-page-results{
		.text-center{
			float: left;
			text-align: left;
		}
	}
}

.select2-results__options{
	li{
		background: url("../images/select-empty.png") no-repeat right 7px center;
		padding-right: 22px;
		&.select2-results__option-selected{
			background: url("../images/select-gold.png") no-repeat right 7px center;
		}
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
	    right: auto;
	    top: -4px;
	    left: -0;
}