/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@media (max-device-width: 420px) {
  /* line 4, ../sass/all-mobile-things.scss */
  .pro-grid {
    padding: 10px;
  }

  /* line 7, ../sass/all-mobile-things.scss */
  .cm_person .pro-grid li {
    width: 100%;
    display: block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  /* line 12, ../sass/all-mobile-things.scss */
  .cm_person .pro-grid li:nth-child(1) {
    width: 40% !important;
    margin: auto;
  }

  /* line 17, ../sass/all-mobile-things.scss */
  #edit-basic .form-item {
    width: 60% !important;
  }

  /* line 20, ../sass/all-mobile-things.scss */
  .custom_filter_css .item-list ul li {
    padding: 6px 5px !important;
  }
  /* line 22, ../sass/all-mobile-things.scss */
  .custom_filter_css .item-list ul li a {
    letter-spacing: 0 !important;
    font-size: 13px;
  }
}
@media (min-width: 240px) and (max-width: 767px) {
  /* line 30, ../sass/all-mobile-things.scss */
  .col-sm-12.calender {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 35, ../sass/all-mobile-things.scss */
  .mobile-calender {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 41, ../sass/all-mobile-things.scss */
  .pane-menu-tree h2 {
    font-size: 12px;
  }
  /* line 44, ../sass/all-mobile-things.scss */
  .pane-menu-tree.col-md-3 {
    float: left;
    padding-left: 20px;
    padding-right: 5px;
    width: 25%;
  }
  /* line 50, ../sass/all-mobile-things.scss */
  .pane-menu-tree .menu.nav li a {
    font-size: 12px;
  }

  /* line 55, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    padding: 0 10px;
    width: 170px;
  }
  /* line 59, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    padding: 0 10px;
    width: 170px;
  }

  /* line 65, ../sass/all-mobile-things.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 5px;
  }
  /* line 68, ../sass/all-mobile-things.scss */
  .news-leter .webform-submit.button-primary {
    height: 28px;
  }
  /* line 71, ../sass/all-mobile-things.scss */
  .news-leter .webform-component input {
    font-size: 11px;
  }

  /* line 75, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 20%;
  }

  /* line 78, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    width: 700px;
  }

  /* line 83, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-field-cm-info-block-icon {
    padding: 2px;
  }
  /* line 86, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-label {
    padding-left: 5px;
    padding-right: 0;
    width: 80%;
  }
  /* line 91, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-field-cm-info-block-text {
    padding-left: 5px;
    padding-right: 0;
    width: 80%;
  }
  /* line 97, ../sass/all-mobile-things.scss */
  .popup.region .pane-menu-tree .menu.nav li {
    line-height: 28px;
  }
  /* line 100, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tr {
    width: 25%;
    float: left;
  }
  /* line 104, ../sass/all-mobile-things.scss */
  .popup.region .social img {
    height: auto;
    width: 90%;
  }

  /* line 109, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 8px 8px 0;
    width: 25%;
  }
  /* line 112, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded a {
    font-size: 12px;
  }
  /* line 115, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li {
    line-height: 32px;
  }
  /* line 117, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-size: 12px;
    font-weight: normal;
  }

  /* line 123, ../sass/all-mobile-things.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    padding-right: 0;
    width: 50%;
  }
}
@media (min-width: 850px) and (max-width: 980px) {
  /* line 130, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 22%;
  }

  /* line 134, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    width: 198px;
  }
  /* line 137, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    width: 198px;
  }

  /* line 141, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    width: 800px;
  }
}
@media (min-width: 981px) and (max-width: 1024px) {
  /* line 146, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 24%;
  }

  /* line 150, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    width: 210px;
  }
  /* line 153, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    width: 210px;
  }

  /* line 157, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    width: 900px;
  }

  /* line 160, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    width: 33%;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  /* line 165, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 23%;
  }

  /* line 169, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    width: 240px;
  }
  /* line 172, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    width: 240px;
  }

  /* line 176, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    width: 980px;
  }

  /* line 181, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-field-cm-info-block-icon {
    padding: 4px;
  }
  /* line 184, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-label {
    padding-left: 5px;
  }
  /* line 187, ../sass/all-mobile-things.scss */
  .popup.region .views-field.views-field-field-cm-info-block-text {
    padding-left: 5px;
  }
  /* line 191, ../sass/all-mobile-things.scss */
  .popup.region .social.icon img {
    height: auto;
    width: 90%;
  }

  /* line 196, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    width: 32%;
  }

  /* line 199, ../sass/all-mobile-things.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 38px;
    padding-right: 10px;
    width: 25%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 206, ../sass/all-mobile-things.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 210, ../sass/all-mobile-things.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 15px;
    margin-top: 8px;
  }
  /* line 214, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }
  /* line 218, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-brand > img {
    height: 48px;
  }

  /* line 223, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 300px;
  }
  /* line 227, ../sass/all-mobile-things.scss */
  .hamburger .modal-body .close {
    padding: 10px;
  }

  /* line 232, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 236, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 242, ../sass/all-mobile-things.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 246, ../sass/all-mobile-things.scss */
  .news-leter .webform-component input {
    border-radius: 0 !important;
  }
  /* line 249, ../sass/all-mobile-things.scss */
  .news-leter .webform-submit.button-primary {
    border-radius: 0 !important;
  }

  /* line 253, ../sass/all-mobile-things.scss */
  .webform-component {
    margin: 0;
    width: 98%;
  }

  /* line 257, ../sass/all-mobile-things.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-left: 15px;
    margin-top: 8px;
  }

  /* line 262, ../sass/all-mobile-things.scss */
  .navbar .navbar-brand {
    height: 70px !important;
  }

  /* line 265, ../sass/all-mobile-things.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 268, ../sass/all-mobile-things.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 273, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    float: left;
    padding: 0;
    width: 100%;
  }
  /* line 277, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 282, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 285, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 289, ../sass/all-mobile-things.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    padding: 0;
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  /* line 295, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 330px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  /* line 301, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 350px;
  }
}
@media (min-width: 451px) and (max-width: 480px) {
  /* line 307, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 400px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  /* line 313, ../sass/all-mobile-things.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 318, ../sass/all-mobile-things.scss */
  .sticky-header.header .navbar-default {
    min-height: 52px;
  }
  /* line 321, ../sass/all-mobile-things.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 30px;
    margin-top: 8px;
  }
  /* line 326, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }

  /* line 331, ../sass/all-mobile-things.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 335, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 339, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 344, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 23%;
  }

  /* line 347, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 440px;
  }

  /* line 351, ../sass/all-mobile-things.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-top: 8px;
  }

  /* line 355, ../sass/all-mobile-things.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 358, ../sass/all-mobile-things.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 363, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 0;
    width: 100%;
  }
  /* line 366, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 371, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 374, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 378, ../sass/all-mobile-things.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    width: 100%;
  }

  /* line 382, ../sass/all-mobile-things.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 10px;
  }
}
@media (min-width: 560px) and (max-width: 640px) {
  /* line 387, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 25%;
  }

  /* line 390, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 530px;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* line 396, ../sass/all-mobile-things.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 401, ../sass/all-mobile-things.scss */
  .sticky-header.header .navbar-default {
    min-height: 52px;
  }
  /* line 404, ../sass/all-mobile-things.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 30px;
    margin-top: 8px;
  }
  /* line 409, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }

  /* line 414, ../sass/all-mobile-things.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 418, ../sass/all-mobile-things.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 422, ../sass/all-mobile-things.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 427, ../sass/all-mobile-things.scss */
  .webform-component {
    width: 26%;
  }

  /* line 430, ../sass/all-mobile-things.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 600px;
  }

  /* line 434, ../sass/all-mobile-things.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-top: 8px;
  }

  /* line 438, ../sass/all-mobile-things.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 441, ../sass/all-mobile-things.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 446, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 0;
    width: 100%;
  }
  /* line 449, ../sass/all-mobile-things.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 454, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 457, ../sass/all-mobile-things.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 461, ../sass/all-mobile-things.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    width: 100%;
  }

  /* line 465, ../sass/all-mobile-things.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 10px;
  }
}
@media (min-device-width: 620px) {
  /* line 471, ../sass/all-mobile-things.scss */
  .search_result ol {
    padding: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 480, ../sass/all-mobile-things.scss */
  table {
    display: block;
  }

  /* line 483, ../sass/all-mobile-things.scss */
  thead {
    display: block;
  }
  /* line 485, ../sass/all-mobile-things.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 491, ../sass/all-mobile-things.scss */
  tbody {
    display: block;
  }

  /* line 494, ../sass/all-mobile-things.scss */
  th {
    display: block;
  }

  /* line 497, ../sass/all-mobile-things.scss */
  td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  /* line 503, ../sass/all-mobile-things.scss */
  td:before {
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* line 511, ../sass/all-mobile-things.scss */
  tr {
    display: block;
    border: 1px solid #ccc;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 517, ../sass/all-mobile-things.scss */
  body {
    padding: 0;
    margin: 0 auto;
    width: 320px;
  }
}
@media (max-width: 320px) {
  /* line 527, ../sass/all-mobile-things.scss */
  .sticky-header.header .navbar-default {
    height: 42px !important;
  }
  /* line 530, ../sass/all-mobile-things.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-top: 8px !important;
    margin-left: 8px !important;
    border: 1px solid #ffffff !important;
  }
  /* line 536, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-toggle {
    margin-right: 10px !important;
    padding: 5px 9px !important;
  }
  /* line 540, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-collapse {
    background-color: #000000 !important;
  }
  /* line 543, ../sass/all-mobile-things.scss */
  .sticky-header .navbar .navbar-toggle .icon-bar {
    height: 1px !important;
    width: 8px !important;
  }
  /* line 547, ../sass/all-mobile-things.scss */
  .sticky-header .navbar-brand > img {
    height: 40px !important;
  }

  /* line 551, ../sass/all-mobile-things.scss */
  .navbar-default {
    height: 50px !important;
  }

  /* line 554, ../sass/all-mobile-things.scss */
  .navbar-header {
    width: 100% !important;
  }

  /* line 557, ../sass/all-mobile-things.scss */
  .navbar-toggle {
    padding: 8px 10px !important;
  }

  /* line 561, ../sass/all-mobile-things.scss */
  .navbar .navbar-brand {
    height: 50px !important;
    padding: 8px 8px !important;
  }
  /* line 565, ../sass/all-mobile-things.scss */
  .navbar .navbar-collapse {
    background-color: #b59d70 !important;
    padding: 2px;
    overflow-x: hidden;
  }
  /* line 570, ../sass/all-mobile-things.scss */
  .navbar .navbar-toggle .icon-bar {
    height: 1px !important;
    width: 14px !important;
  }

  /* line 575, ../sass/all-mobile-things.scss */
  .col-md-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  /* line 578, ../sass/all-mobile-things.scss */
  .col-md-3.header-right > li {
    padding-left: 6px;
    padding-right: 6px;
  }

  /* line 583, ../sass/all-mobile-things.scss */
  .hambruger.-menu.navbar-toggle {
    margin-top: 8px !important;
    margin-left: 8px !important;
    border: 1px solid #ffffff !important;
  }

  /* line 588, ../sass/all-mobile-things.scss */
  .navbar-brand > img {
    height: 42px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 595, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-over-content {
    bottom: 1em;
    left: 0;
  }
  /* line 599, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
    position: relative;
    width: 85%;
    float: right;
    left: 15%;
  }
  /* line 604, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
    font-size: 1.56rem;
  }
  /* line 608, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
    float: left;
    position: relative;
    margin-top: 0;
    width: 10%;
  }
  /* line 613, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct a {
    height: 48px;
    width: 48px;
  }
  /* line 619, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .table-responsive {
    overflow-x: hidden;
  }
  /* line 623, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .panels-flexible-row.content {
    width: 100%;
  }
  /* line 626, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .panels-flexible-row.bottom.content {
    width: 100%;
  }
  /* line 631, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-country {
    font-size: .7rem;
  }
  /* line 634, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-body p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  /* line 640, ../sass/all-mobile-things.scss */
  .node-type-cm-movie table thead {
    display: none;
  }
  /* line 645, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(2) {
    display: none;
  }
  /* line 648, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(3) {
    display: none;
  }
  /* line 651, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(4) {
    display: none;
  }
  /* line 655, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase {
    float: left;
  }
  /* line 657, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase button {
    padding: 3px 5px;
  }
  /* line 661, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-hall {
    float: left;
  }
  /* line 664, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time {
    float: left;
    color: #ccc;
  }
  /* line 668, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time-1 {
    color: #ccc;
  }
  /* line 671, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 table tr {
    padding: 0.2em 0;
    border-bottom: 1px solid #ccc !important;
    clear: both;
    min-height: 80px;
  }
  /* line 679, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 682, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 685, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
  /* line 689, ../sass/all-mobile-things.scss */
  .node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
    margin-right: 0;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
  /* line 695, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
    padding-right: 0;
    width: 100%;
  }
  /* line 698, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content tr {
    padding: 0;
  }
  /* line 701, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content .views-field-field-cm-person-last-name {
    float: left;
  }

  /* line 706, ../sass/all-mobile-things.scss */
  .table-responsive {
    border: 0 solid #ddd;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 712, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .slide-over-content {
    left: 30%;
  }
  /* line 716, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .panels-flexible-row.content {
    width: 100%;
  }
  /* line 719, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .panels-flexible-row.bottom.content {
    width: 100%;
  }
  /* line 724, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-country {
    font-size: .7rem;
  }
  /* line 727, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-body p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  /* line 733, ../sass/all-mobile-things.scss */
  .node-type-cm-movie table thead {
    display: none;
  }
  /* line 738, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(2) {
    display: none;
  }
  /* line 741, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(3) {
    display: none;
  }
  /* line 744, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(4) {
    display: none;
  }
  /* line 748, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase {
    float: left;
  }
  /* line 750, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase button {
    padding: 3px 5px;
  }
  /* line 754, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-hall {
    float: left;
  }
  /* line 757, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time {
    float: left;
    color: #ccc;
  }
  /* line 761, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time-1 {
    color: #ccc;
  }
  /* line 764, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 table tr {
    padding: 0.2em 0;
    border-bottom: 1px solid #ccc !important;
    clear: both;
    min-height: 80px;
  }
  /* line 772, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 775, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 778, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
  /* line 782, ../sass/all-mobile-things.scss */
  .node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
    margin-right: 0;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
  /* line 788, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
    padding-right: 0;
    width: 100%;
  }
  /* line 791, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content tr {
    padding: 0;
  }
  /* line 794, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content .views-field-field-cm-person-last-name {
    float: left;
  }

  /* line 799, ../sass/all-mobile-things.scss */
  .table-responsive {
    border: 0 solid #ddd;
  }
}
@media (min-width: 768px) {
  /* line 805, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 808, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 811, ../sass/all-mobile-things.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
}
