/********  mixin *********/
/* line 3, ../sass/calendar.scss */
.calender {
  padding: 0;
  overflow: hidden;
}

/* line 7, ../sass/calendar.scss */
.calender-header {
  background: #ffffff none repeat scroll 0 0;
  border-top: 2px solid #f4f4f4;
  float: left;
  margin-top: 10px;
  min-width: 94%;
  padding: 0;
  left: 0;
  position: relative;
}

/* line 17, ../sass/calendar.scss */
.calender-body {
  background-color: #f4f2ef;
  float: left;
  font-size: 12px;
  min-width: 94%;
  left: 0;
  position: relative;
  height: 850px;
  overflow-y: scroll;
  padding: 0;
}

/* line 28, ../sass/calendar.scss */
.calender-filter-date {
  float: left;
  margin-left: 3%;
  width: 30%;
  margin-top: 10px;
}

/* line 34, ../sass/calendar.scss */
.calender-full-row {
  padding: 10px;
  float: left;
  padding: 5px 0;
  width: 100%;
}
/* line 39, ../sass/calendar.scss */
.calender-full-row .col-sm-2 {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 43, ../sass/calendar.scss */
.calender-full-row > div {
  float: left;
  min-height: 100px;
  width: 217px;
}

/* line 49, ../sass/calendar.scss */
.calender-row {
  width: 210px;
  margin: 0 !important;
  min-height: 150px !important;
}
/* line 53, ../sass/calendar.scss */
.calender-row.inner {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px 0px;
  cursor: pointer;
  padding: 7px 15px;
  float: left;
  min-height: 160px;
}
/* line 61, ../sass/calendar.scss */
.calender-row .time {
  float: left;
  margin-top: 0;
}
/* line 65, ../sass/calendar.scss */
.calender-row .title {
  float: left;
  line-height: 16px;
  padding-top: 10px;
  width: 100%;
}
/* line 71, ../sass/calendar.scss */
.calender-row .subtitle {
  float: left;
  line-height: 16px;
  padding-top: 6px;
  width: 100%;
  padding-bottom: 10px;
}
/* line 78, ../sass/calendar.scss */
.calender-row .comment {
  clear: both;
}

/* line 82, ../sass/calendar.scss */
.calendar-agenda-items {
  float: left;
  font-weight: bold;
  text-align: center;
  width: 217px;
  margin: 0;
}

/* line 90, ../sass/calendar.scss */
.tickets > a {
  background-color: #b59d70;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 26px;
}

/* line 98, ../sass/calendar.scss */
.calender-row .internal-id {
  bottom: 20px;
}

/* line 101, ../sass/calendar.scss */
.calender-popup {
  display: none;
  margin-left: 80px;
  margin-top: 45px;
  position: absolute;
  width: 500px;
  z-index: 9;
}
/* line 108, ../sass/calendar.scss */
.calender-popup .tickets {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* line 112, ../sass/calendar.scss */
.calender-popup .tickets span {
  margin: 15px;
}
/* line 116, ../sass/calendar.scss */
.calender-popup .title {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* line 121, ../sass/calendar.scss */
.calender-popup > img.close-calender-popup {
  float: right;
  position: absolute;
  right: -8px;
  top: -15px;
  cursor: pointer;
}
/* line 128, ../sass/calendar.scss */
.calender-popup .calender-row.inner {
  cursor: default;
  padding: 20px;
  width: 210px;
}
/* line 133, ../sass/calendar.scss */
.calender-popup .body > p {
  font-size: 14px;
}

/* line 139, ../sass/calendar.scss */
#calender-top-popup .read-more {
  color: #000;
  padding-top: 10px;
  position: relative;
  float: left;
}
/* line 144, ../sass/calendar.scss */
#calender-top-popup .read-more:before {
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: -10px;
  top: 16px;
  width: 0;
  border-color: transparent transparent transparent #b59d70;
}
/* line 157, ../sass/calendar.scss */
#calender-top-popup .toptix-purchase {
  width: 20%;
  padding: 6px 0;
}

/* line 163, ../sass/calendar.scss */
.calender-filter {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
/* line 167, ../sass/calendar.scss */
.calender-filter > p {
  background-color: #f4f4f4;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  width: 80px;
}
/* line 177, ../sass/calendar.scss */
.calender-filter > p:hover {
  background-color: #b59d70;
  box-shadow: 0 0 3px 2px #f4f4f4;
  color: #ffffff;
  cursor: pointer;
}
/* line 182, ../sass/calendar.scss */
.calender-filter > p:hover span {
  color: #ffffff;
}
/* line 186, ../sass/calendar.scss */
.calender-filter > p.active {
  background-color: #b59d70;
  box-shadow: 0 0 3px 2px #f4f4f4;
  color: #ffffff;
  cursor: pointer;
}
/* line 191, ../sass/calendar.scss */
.calender-filter > p.active span {
  color: #ffffff;
}
/* line 196, ../sass/calendar.scss */
.calender-filter span {
  color: #958080;
  float: left;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
}

/* line 204, ../sass/calendar.scss */
.calendar-dayview-hour {
  float: left;
  height: 30px;
  width: 217px;
  margin: 0;
}

/* line 212, ../sass/calendar.scss */
.pane-complex-calender-view-pane .ajax-inner {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 217, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper {
  float: right;
}
/* line 219, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag {
  margin: 0;
  background-size: 100% 100%;
  float: left;
  font-size: 0;
  height: 16px;
  overflow: hidden;
  width: 18px;
}
/* line 227, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag.unflag-action {
  background-image: url("../images/unlike-gold.png");
}
/* line 230, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag.flag-action {
  background-image: url("../images/like-gold.png");
}

/* line 237, ../sass/calendar.scss */
#calender-top-popup {
  float: left;
  left: 40%;
  position: absolute;
  top: 50%;
  width: 500px;
  display: none;
}
/* line 244, ../sass/calendar.scss */
#calender-top-popup .close-calender-popup {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
/* line 250, ../sass/calendar.scss */
#calender-top-popup.visible {
  display: block;
  z-index: 99;
}
/* line 254, ../sass/calendar.scss */
#calender-top-popup .tickets {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* line 258, ../sass/calendar.scss */
#calender-top-popup .tickets span {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 8px 8px 0;
  width: 20%;
}
/* line 265, ../sass/calendar.scss */
#calender-top-popup .title {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* line 270, ../sass/calendar.scss */
#calender-top-popup .calender-row.inner {
  width: 500px;
  cursor: default;
  padding: 20px;
}
/* line 275, ../sass/calendar.scss */
#calender-top-popup .body > p {
  font-size: 14px;
}

/* line 281, ../sass/calendar.scss */
.calender-full-row .calender-row.inner {
  margin: 0 !important;
}

/* line 286, ../sass/calendar.scss */
.calender-scroll {
  float: right;
  background: none;
  padding-right: 30px;
  margin-right: 3%;
  width: 30%;
  text-align: right;
  margin-top: 13px;
}
/* line 294, ../sass/calendar.scss */
.calender-scroll p {
  margin: 0;
  float: right;
  font-size: 0px;
  height: 19px;
  width: 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}
/* line 304, ../sass/calendar.scss */
.calender-scroll > span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
/* line 309, ../sass/calendar.scss */
.calender-scroll .scrollright {
  background: url("../images/more-gold-right.png") no-repeat center center;
}
/* line 312, ../sass/calendar.scss */
.calender-scroll .scrollleft {
  background: url("../images/more-gold-left.png") no-repeat center center;
}

/* line 318, ../sass/calendar.scss */
.pane-complex-calender-view-pane .pane-title {
  font-size: 50px;
  font-weight: normal;
  margin-top: 70px;
  padding: 0 3%;
  text-align: center;
}

/* line 328, ../sass/calendar.scss */
.page-node-3261 .panel-panel, .page-node-3284 .panel-panel {
  padding: 0;
}
/* line 331, ../sass/calendar.scss */
.page-node-3261 #main-wrapper, .page-node-3284 #main-wrapper {
  background-color: #fff;
}
/* line 334, ../sass/calendar.scss */
.page-node-3261 #page-header .page-header, .page-node-3284 #page-header .page-header {
  display: block;
  border: none;
}
