/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/calendar-rtl.scss */
.calender-header {
  float: right;
  left: 0;
  right: auto;
}

/* line 9, ../sass/calendar-rtl.scss */
.calender-body {
  float: right;
  left: auto;
  right: 0;
}

/* line 14, ../sass/calendar-rtl.scss */
.calender-filter-date {
  float: right;
  margin-right: 3%;
  margin-left: 0;
}
/* line 18, ../sass/calendar-rtl.scss */
.calender-filter-date p {
  float: right !important;
}

/* line 22, ../sass/calendar-rtl.scss */
.calender-full-row {
  float: right;
}
/* line 24, ../sass/calendar-rtl.scss */
.calender-full-row > div {
  float: right;
}

/* line 29, ../sass/calendar-rtl.scss */
.calender-row.inner {
  float: right;
}
/* line 32, ../sass/calendar-rtl.scss */
.calender-row .time {
  float: right;
}
/* line 35, ../sass/calendar-rtl.scss */
.calender-row .title {
  float: right;
}
/* line 38, ../sass/calendar-rtl.scss */
.calender-row .subtitle {
  float: right;
}

/* line 42, ../sass/calendar-rtl.scss */
.calendar-agenda-items {
  float: right;
}

/* line 45, ../sass/calendar-rtl.scss */
.tickets {
  right: auto;
  left: 15px;
}

/* line 50, ../sass/calendar-rtl.scss */
.calender-row .internal-id {
  left: auto;
  right: 15px;
}

/* line 55, ../sass/calendar-rtl.scss */
.calender-popup {
  margin-right: 80px;
  margin-left: 0;
}
/* line 58, ../sass/calendar-rtl.scss */
.calender-popup .tickets {
  float: right;
}
/* line 61, ../sass/calendar-rtl.scss */
.calender-popup > img.close-calender-popup {
  float: left;
  left: -8px;
  right: auto;
}

/* line 69, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more {
  float: right;
}
/* line 71, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more:before {
  border-width: 5px 5px 5px 0px;
  left: -10px;
  right: auto;
  border-color: transparent #e41145 transparent transparent;
}

/* line 81, ../sass/calendar-rtl.scss */
.calender-filter span {
  float: right;
}

/* line 85, ../sass/calendar-rtl.scss */
.calendar-dayview-hour {
  float: right;
}

/* line 89, ../sass/calendar-rtl.scss */
#calender-top-popup {
  float: right;
  left: auto;
  right: 40%;
}
/* line 93, ../sass/calendar-rtl.scss */
#calender-top-popup .close-calender-popup {
  left: -10px;
  right: auto;
}
/* line 97, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets {
  float: right;
}
/* line 99, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets span {
  padding: 8px 0 8px 8px;
}

/* line 106, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .ajax-inner {
  float: right;
}
/* line 109, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .flag-wrapper {
  float: left;
}

/* line 114, ../sass/calendar-rtl.scss */
.calender-scroll {
  float: left;
  padding-left: 30px;
  padding-right: 0;
  margin-left: 3%;
  margin-right: 0;
  text-align: left;
}
/* line 121, ../sass/calendar-rtl.scss */
.calender-scroll p {
  margin-left: 0px;
  margin-right: 20px;
}
/* line 125, ../sass/calendar-rtl.scss */
.calender-scroll > span {
  margin-left: 5px;
  margin-right: 0;
}
/* line 129, ../sass/calendar-rtl.scss */
.calender-scroll .scrollright {
  background: url("../images/more-gold-left.png") no-repeat center center;
  margin-left: 0px;
  margin-right: 20px;
}
/* line 134, ../sass/calendar-rtl.scss */
.calender-scroll .scrollleft {
  background: url("../images/more-gold-right.png") no-repeat center center;
  margin-left: 20px;
  margin-right: 0;
}
