/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 4, ../sass/calendar-rtl.scss */
.calender-header {
  float: right;
  left: 0;
  right: auto;
}

/* line 9, ../sass/calendar-rtl.scss */
.calender-body {
  float: right;
  left: auto;
  right: 0;
}

/* line 14, ../sass/calendar-rtl.scss */
.calender-filter-date {
  float: right;
  margin-right: 3%;
  margin-left: 0;
}
/* line 18, ../sass/calendar-rtl.scss */
.calender-filter-date p {
  float: right !important;
}

/* line 22, ../sass/calendar-rtl.scss */
.calender-full-row {
  float: right;
}
/* line 24, ../sass/calendar-rtl.scss */
.calender-full-row > div {
  float: right;
}

/* line 29, ../sass/calendar-rtl.scss */
.calender-row.inner {
  float: right;
}
/* line 32, ../sass/calendar-rtl.scss */
.calender-row .time {
  float: right;
}
/* line 35, ../sass/calendar-rtl.scss */
.calender-row .title {
  float: right;
}
/* line 38, ../sass/calendar-rtl.scss */
.calender-row .subtitle {
  float: right;
}

/* line 42, ../sass/calendar-rtl.scss */
.calendar-agenda-items {
  float: right;
}

/* line 45, ../sass/calendar-rtl.scss */
.tickets {
  right: auto;
  left: 15px;
}

/* line 50, ../sass/calendar-rtl.scss */
.calender-row .internal-id {
  left: auto;
  right: 15px;
}

/* line 55, ../sass/calendar-rtl.scss */
.calender-popup {
  margin-right: 80px;
  margin-left: 0;
}
/* line 58, ../sass/calendar-rtl.scss */
.calender-popup .tickets {
  float: right;
}
/* line 61, ../sass/calendar-rtl.scss */
.calender-popup > img.close-calender-popup {
  float: left;
  left: -8px;
  right: auto;
}

/* line 69, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more {
  float: right;
}
/* line 71, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more:before {
  border-width: 5px 5px 5px 0px;
  left: -10px;
  right: auto;
}

/* line 79, ../sass/calendar-rtl.scss */
.calender-filter {
  padding-right: 30px;
  padding-left: 0;
}
/* line 82, ../sass/calendar-rtl.scss */
.calender-filter span {
  float: right;
}

/* line 86, ../sass/calendar-rtl.scss */
.calendar-dayview-hour {
  float: right;
}

/* line 90, ../sass/calendar-rtl.scss */
#calender-top-popup {
  float: right;
  left: auto;
  right: 40%;
}
/* line 94, ../sass/calendar-rtl.scss */
#calender-top-popup .close-calender-popup {
  left: -10px;
  right: auto;
}
/* line 98, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets {
  float: right;
}
/* line 100, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets span {
  padding: 8px 0 8px 8px;
}

/* line 107, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .ajax-inner {
  float: right;
}
/* line 110, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .flag-wrapper {
  float: left;
}

/* line 115, ../sass/calendar-rtl.scss */
.calender-scroll {
  float: left;
  padding-left: 30px;
  padding-right: 0;
  margin-left: 3%;
  margin-right: 0;
  text-align: left;
}
/* line 122, ../sass/calendar-rtl.scss */
.calender-scroll p {
  margin-left: 0px;
  margin-right: 20px;
}
/* line 126, ../sass/calendar-rtl.scss */
.calender-scroll > span {
  margin-left: 5px;
  margin-right: 0;
}
/* line 130, ../sass/calendar-rtl.scss */
.calender-scroll .scrollright {
  background: url("../images/more-gold-left.png") no-repeat center center;
  margin-left: 0px;
  margin-right: 20px;
}
/* line 135, ../sass/calendar-rtl.scss */
.calender-scroll .scrollleft {
  background: url("../images/more-gold-right.png") no-repeat center center;
  margin-left: 20px;
  margin-right: 0;
}

/******  float-calendar  ***********/
/* line 144, ../sass/calendar-rtl.scss */
.float-calendar-wrapper {
  left: 30px;
  right: auto;
}
@media (max-width: 767px) {
  /* line 144, ../sass/calendar-rtl.scss */
  .float-calendar-wrapper {
    left: 0;
  }
}
/* line 151, ../sass/calendar-rtl.scss */
.float-calendar-wrapper .close-button .close {
  background-position: right center !important;
  padding-right: 30px;
  float: right;
}
/* line 156, ../sass/calendar-rtl.scss */
.float-calendar-wrapper .close-button .link-main-calendar {
  float: left;
}

/* line 163, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-field-cm-event-time {
  float: right;
}
/* line 166, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-field-toptix-purchase, .view-custom-calendar-floating-pane .views-field-field-tickets-sold-out {
  float: left;
  font-size: 15px;
}
/* line 170, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-views-conditional {
  float: right;
  clear: right;
}

/* line 176, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .prev a {
  background: url("../images/more-white-right.png") no-repeat center 0 !important;
  right: 0;
  left: auto;
}

/* line 182, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .next a {
  background: url("../images/more-white-left.png") no-repeat center 0 !important;
  left: 0;
  right: auto;
}

/* line 189, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .toptix-purchase, .view-custom-calendar-floating-pane .sold-out {
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

/* line 196, ../sass/calendar-rtl.scss */
.calendar-calendar div.calendar {
  text-align: right;
}

/* line 200, ../sass/calendar-rtl.scss */
.calender-filter {
  left: auto !important;
  right: 0 !important;
  transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
}
@media (max-width: 767px) {
  /* line 200, ../sass/calendar-rtl.scss */
  .calender-filter {
    padding-right: 30px;
    padding-left: 0;
  }
}
/* line 209, ../sass/calendar-rtl.scss */
.calender-filter span {
  float: right;
}

/* line 215, ../sass/calendar-rtl.scss */
.calenders .prevday {
  padding-right: 5px;
  padding-left: 12px;
}
/* line 218, ../sass/calendar-rtl.scss */
.calenders .prevday i:before {
  content: "\f105";
}
/* line 222, ../sass/calendar-rtl.scss */
.calenders .nextday {
  padding-left: 5px;
  padding-right: 12px;
  right: auto;
  left: 0;
}
/* line 227, ../sass/calendar-rtl.scss */
.calenders .nextday i:before {
  content: "\f104";
}

/* line 234, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details {
  float: right;
}
@media (max-width: 767px) {
  /* line 236, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div {
    float: right;
  }
}
/* line 240, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div > span {
  float: right;
}
/* line 242, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div > span a {
  float: right;
}
@media (max-width: 767px) {
  /* line 247, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .row-custom-lobby .calendar-flag {
    float: left !important;
  }
}
/* line 252, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .purchase {
  float: right;
  margin-left: 15px;
  margin-right: 0;
  width: 69px;
}
/* line 257, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .purchase button {
  float: right;
}
@media (max-width: 767px) {
  /* line 261, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .time {
    float: right !important;
  }
}
@media (max-width: 767px) {
  /* line 266, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .row-custom-lobby .calendar-flag {
    width: 121px !important;
  }
  /* line 269, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .row-custom-lobby .calendar-flag .purchase {
    float: left;
  }
}
/* line 275, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-left {
  float: right;
}
/* line 277, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-left .flag {
  left: 10px;
  right: auto;
}
/* line 282, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-right {
  float: left;
}
/* line 285, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-right .calendar-below-title-content span {
  border-left: 2px solid;
  border-right: none;
  margin-left: 8px;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}
@media (max-width: 767px) {
  /* line 296, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .row-custom-lobby td {
    padding-left: 0 !important;
  }
}
/* line 301, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .row-custom-lobby .left {
  float: right;
  border-left: 2px solid !important;
  border-right: none;
  margin-left: 8px;
  margin-right: 0;
}
/* line 308, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .row-custom-lobby .right {
  float: left;
}

/*Festival calendar*/
/* line 316, ../sass/calendar-rtl.scss */
.page-festival-calendar .popup-style-bent_white .popup-element-body .top .left {
  padding-right: 55px !important;
  padding-left: 0 !important;
}
/* line 321, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .more-halls {
  right: 0;
  left: auto;
}
/* line 325, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-next {
  float: left;
}
/* line 327, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-next .fa-angle-left {
  display: inline;
}
/* line 330, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-next .fa-angle-right {
  display: none;
}
/* line 333, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-next span {
  margin: 6px 0px 0 6px;
  float: right;
}
/* line 338, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-prev {
  float: right;
}
/* line 340, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-prev .fa-angle-right {
  display: inline;
}
/* line 343, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-prev .fa-angle-left {
  display: none;
}
/* line 346, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-header .hall-prev span {
  margin: 6px 10px 0 0px;
  float: left;
}
/* line 353, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row {
  margin-left: -78px;
}
/* line 355, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-field-cm-event-time-1 {
  float: right;
  margin-left: 6px;
  margin-right: 0;
}
/* line 360, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-field-cm-event-duration {
  float: right;
}
/* line 362, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-field-cm-event-duration .interval-value {
  float: left;
  margin-right: 6px;
  margin-left: 0;
}
/* line 368, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-ops {
  float: left;
}
/* line 371, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-field-cm-event-internal-id {
  float: right;
}
/* line 374, ../sass/calendar-rtl.scss */
.page-festival-calendar .view-festival-calendar.view-display-id-page > .view-content .views-row .views-field-field-toptix-purchase {
  float: left;
}
/* line 382, ../sass/calendar-rtl.scss */
.page-festival-calendar #popup-active-overlay table.popup-layout .table-responsive .time {
  padding-left: 10px;
  padding-right: 0;
}
/* line 390, ../sass/calendar-rtl.scss */
.page-festival-calendar #popup-active-overlay .center .center .inner .title-link a:after {
  left: -17px;
  right: auto;
  top: 9px;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
}
/* line 400, ../sass/calendar-rtl.scss */
.page-festival-calendar #popup-active-overlay .popup-close {
  left: -10px;
  right: auto;
}

/* line 408, ../sass/calendar-rtl.scss */
.view-festival-calendar.view-display-id-page_1 caption {
  text-align: right;
}
/* line 410, ../sass/calendar-rtl.scss */
.view-festival-calendar.view-display-id-page_1 caption i {
  float: left;
}
