/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/calendar-rtl.scss */
.calender-header {
  float: right;
  left: 0;
  right: auto;
}

/* line 9, ../sass/calendar-rtl.scss */
.calender-body {
  float: right;
  left: auto;
  right: 0;
}

/* line 14, ../sass/calendar-rtl.scss */
.calender-filter-date {
  float: right;
  margin-right: 3%;
  margin-left: 0;
}
/* line 18, ../sass/calendar-rtl.scss */
.calender-filter-date p {
  float: right !important;
}

/* line 22, ../sass/calendar-rtl.scss */
.calender-full-row {
  float: right;
}
/* line 24, ../sass/calendar-rtl.scss */
.calender-full-row > div {
  float: right;
}

/* line 29, ../sass/calendar-rtl.scss */
.calender-row.inner {
  float: right;
}
/* line 32, ../sass/calendar-rtl.scss */
.calender-row .time {
  float: right;
}
/* line 35, ../sass/calendar-rtl.scss */
.calender-row .title {
  float: right;
}
/* line 38, ../sass/calendar-rtl.scss */
.calender-row .subtitle {
  float: right;
}

/* line 42, ../sass/calendar-rtl.scss */
.calendar-agenda-items {
  float: right;
}

/* line 45, ../sass/calendar-rtl.scss */
.tickets {
  right: auto;
  left: 15px;
}

/* line 50, ../sass/calendar-rtl.scss */
.calender-row .internal-id {
  left: auto;
  right: 15px;
}

/* line 55, ../sass/calendar-rtl.scss */
.calender-popup {
  margin-right: 80px;
  margin-left: 0;
}
/* line 58, ../sass/calendar-rtl.scss */
.calender-popup .tickets {
  float: right;
}
/* line 61, ../sass/calendar-rtl.scss */
.calender-popup > img.close-calender-popup {
  float: left;
  left: -8px;
  right: auto;
}

/* line 69, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more {
  float: right;
}
/* line 71, ../sass/calendar-rtl.scss */
#calender-top-popup .read-more:before {
  border-width: 5px 5px 5px 0px;
  left: -10px;
  right: auto;
}
/* line 97, ../sass/init.scss */
.domain-1 #calender-top-popup .read-more:before {
  border-color: transparent #e41145 transparent transparent;
}
/* line 100, ../sass/init.scss */
.domain-2 #calender-top-popup .read-more:before {
  border-color: transparent #b59d70 transparent transparent;
}

/* line 80, ../sass/calendar-rtl.scss */
.calender-filter {
  padding-right: 30px;
  padding-left: 0;
}
/* line 83, ../sass/calendar-rtl.scss */
.calender-filter span {
  float: right;
}

/* line 87, ../sass/calendar-rtl.scss */
.calendar-dayview-hour {
  float: right;
}

/* line 91, ../sass/calendar-rtl.scss */
#calender-top-popup {
  float: right;
  left: auto;
  right: 40%;
}
/* line 95, ../sass/calendar-rtl.scss */
#calender-top-popup .close-calender-popup {
  left: -10px;
  right: auto;
}
/* line 99, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets {
  float: right;
}
/* line 101, ../sass/calendar-rtl.scss */
#calender-top-popup .tickets span {
  padding: 8px 0 8px 8px;
}

/* line 108, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .ajax-inner {
  float: right;
}
/* line 111, ../sass/calendar-rtl.scss */
.pane-complex-calender-view-pane .flag-wrapper {
  float: left;
}

/* line 116, ../sass/calendar-rtl.scss */
.calender-scroll {
  float: left;
  padding-left: 30px;
  padding-right: 0;
  margin-left: 3%;
  margin-right: 0;
  text-align: left;
}
/* line 123, ../sass/calendar-rtl.scss */
.calender-scroll p {
  margin-left: 0px;
  margin-right: 20px;
}
/* line 127, ../sass/calendar-rtl.scss */
.calender-scroll > span {
  margin-left: 5px;
  margin-right: 0;
}
/* line 131, ../sass/calendar-rtl.scss */
.calender-scroll .scrollright {
  background: url("../images/more-gold-left.png") no-repeat center center;
  margin-left: 0px;
  margin-right: 20px;
}
/* line 136, ../sass/calendar-rtl.scss */
.calender-scroll .scrollleft {
  background: url("../images/more-gold-right.png") no-repeat center center;
  margin-left: 20px;
  margin-right: 0;
}

/******  float-calendar  ***********/
/* line 145, ../sass/calendar-rtl.scss */
.float-calendar-wrapper {
  left: 30px;
  right: auto;
}
@media (max-width: 767px) {
  /* line 145, ../sass/calendar-rtl.scss */
  .float-calendar-wrapper {
    left: 0;
  }
}
/* line 152, ../sass/calendar-rtl.scss */
.float-calendar-wrapper .close-button .close {
  background-position: right center !important;
  padding-right: 30px;
  float: right;
}
/* line 157, ../sass/calendar-rtl.scss */
.float-calendar-wrapper .close-button .link-main-calendar {
  float: left;
}

/* line 164, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-field-cm-event-time {
  float: right;
}
/* line 167, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-field-toptix-purchase {
  float: left;
}
/* line 170, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .views-field-views-conditional {
  float: right;
}

/* line 175, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .prev a {
  background: url("../images/more-white-right.png") no-repeat center 0 !important;
  right: 0;
  left: auto;
}

/* line 181, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .date-nav-wrapper .btn-group .next a {
  background: url("../images/more-white-left.png") no-repeat center 0 !important;
  left: 0;
  right: auto;
}

/* line 188, ../sass/calendar-rtl.scss */
.view-custom-calendar-floating-pane .toptix-purchase {
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

/* line 195, ../sass/calendar-rtl.scss */
.calendar-calendar div.calendar {
  text-align: right;
}

/* line 199, ../sass/calendar-rtl.scss */
.calender-filter {
  left: auto !important;
  right: 0 !important;
  transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
}
@media (max-width: 767px) {
  /* line 199, ../sass/calendar-rtl.scss */
  .calender-filter {
    padding-right: 30px;
    padding-left: 0;
  }
}
/* line 208, ../sass/calendar-rtl.scss */
.calender-filter span {
  float: right;
}

/* line 214, ../sass/calendar-rtl.scss */
.calenders .prevday {
  padding-right: 5px;
  padding-left: 12px;
}
/* line 217, ../sass/calendar-rtl.scss */
.calenders .prevday i:before {
  content: "\f105";
}
/* line 221, ../sass/calendar-rtl.scss */
.calenders .nextday {
  padding-left: 5px;
  padding-right: 12px;
  right: auto;
  left: 0;
}
/* line 226, ../sass/calendar-rtl.scss */
.calenders .nextday i:before {
  content: "\f104";
}

/* line 233, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details {
  float: right;
}
@media (max-width: 767px) {
  /* line 235, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div {
    float: right;
  }
}
/* line 239, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div > span {
  float: right;
}
/* line 241, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .ticket-details .row-custom-lobby > div > span a {
  float: right;
}
/* line 247, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-left {
  float: right;
}
/* line 249, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-left .flag {
  left: 10px;
  right: auto;
}
/* line 254, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-right {
  float: left;
}
/* line 257, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .lobby-term-right .calendar-below-title-content span {
  border-left: 2px solid;
  border-right: none;
  margin-left: 8px;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}
@media (max-width: 767px) {
  /* line 268, ../sass/calendar-rtl.scss */
  .pane-calendar-full-width-calendar .row-custom-lobby td {
    padding-left: 0 !important;
  }
}
/* line 273, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .row-custom-lobby .left {
  float: right;
  border-left: 2px solid !important;
  border-right: none;
  margin-left: 8px;
  margin-right: 0;
}
/* line 280, ../sass/calendar-rtl.scss */
.pane-calendar-full-width-calendar .row-custom-lobby .right {
  float: left;
}
