/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/calendar.scss */
.calender {
  padding: 0;
  overflow: hidden;
}

/* line 7, ../sass/calendar.scss */
.calender-header {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin-top: 10px;
  min-width: 94%;
  padding: 0;
  left: 0;
  position: relative;
}

/* line 16, ../sass/calendar.scss */
.calender-body {
  background-color: #f4f2ef;
  float: left;
  font-size: 12px;
  min-width: 94%;
  left: 0;
  position: relative;
  padding: 0;
  min-width: 100%;
}

/* line 27, ../sass/calendar.scss */
.calender-full-row {
  padding: 10px;
  float: left;
  padding: 5px 0;
  width: 100%;
}
/* line 32, ../sass/calendar.scss */
.calender-full-row .custom-row:nth-child(1) {
  width: 100px;
}
/* line 35, ../sass/calendar.scss */
.calender-full-row .col-sm-2 {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 39, ../sass/calendar.scss */
.calender-full-row > div {
  float: left;
  min-height: 100px;
  width: 217px;
}

/* line 45, ../sass/calendar.scss */
.calender-row {
  width: 210px;
  min-height: 80px !important;
}
/* line 48, ../sass/calendar.scss */
.calender-row.inner {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px 0px;
  cursor: pointer;
  padding: 7px 15px;
  float: left;
  min-height: 160px;
}
/* line 56, ../sass/calendar.scss */
.calender-row .time {
  float: left;
  margin-top: 0;
}
/* line 60, ../sass/calendar.scss */
.calender-row .title {
  float: left;
  line-height: 16px;
  padding-top: 10px;
  width: 100%;
}
/* line 66, ../sass/calendar.scss */
.calender-row .subtitle {
  float: left;
  line-height: 16px;
  padding-top: 6px;
  width: 100%;
  padding-bottom: 10px;
}
/* line 73, ../sass/calendar.scss */
.calender-row .comment {
  clear: both;
}

/* line 77, ../sass/calendar.scss */
.calendar-agenda-items {
  float: left;
  font-weight: bold;
  text-align: center;
  width: 217px;
  margin: 0;
}

/* line 85, ../sass/calendar.scss */
.tickets > a {
  background-color: #e41145;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 26px;
}

/* line 93, ../sass/calendar.scss */
.calender-row .internal-id {
  bottom: 20px;
}

/* line 96, ../sass/calendar.scss */
.calender-popup {
  display: none;
  margin-left: 80px;
  margin-top: 45px;
  position: absolute;
  width: 500px;
  z-index: 9;
}
/* line 103, ../sass/calendar.scss */
.calender-popup .tickets {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* line 107, ../sass/calendar.scss */
.calender-popup .tickets span {
  margin: 15px;
}
/* line 111, ../sass/calendar.scss */
.calender-popup .title {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* line 116, ../sass/calendar.scss */
.calender-popup > img.close-calender-popup {
  float: right;
  position: absolute;
  right: -8px;
  top: -15px;
  cursor: pointer;
}
/* line 123, ../sass/calendar.scss */
.calender-popup .calender-row.inner {
  cursor: default;
  padding: 20px;
  width: 210px;
}
/* line 128, ../sass/calendar.scss */
.calender-popup .body > p {
  font-size: 14px;
}

/* line 134, ../sass/calendar.scss */
#calender-top-popup .read-more {
  color: #000;
  padding-top: 10px;
  position: relative;
  float: left;
}
/* line 139, ../sass/calendar.scss */
#calender-top-popup .read-more:before {
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: -10px;
  top: 16px;
  width: 0;
  border-color: transparent transparent transparent #e41145;
}
/* line 152, ../sass/calendar.scss */
#calender-top-popup .toptix-purchase {
  width: 20%;
  padding: 6px 0;
}

/* line 158, ../sass/calendar.scss */
.calender-filter {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  width: 100% !important;
  left: 0 !important;
}
/* line 165, ../sass/calendar.scss */
.calender-filter.scroll-to-fixed-fixed {
  padding-bottom: 107px;
}
/* line 168, ../sass/calendar.scss */
.calender-filter > p {
  background-color: #f4f4f4;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  width: 80px;
}
/* line 178, ../sass/calendar.scss */
.calender-filter > p:hover {
  box-shadow: 0 0 3px 2px #f4f4f4;
  color: #ffffff;
  cursor: pointer;
}
/* line 61, ../sass/init.scss */
.domain-1 .calender-filter > p:hover {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .calender-filter > p:hover {
  background-color: #b59d70 !important;
}
/* line 183, ../sass/calendar.scss */
.calender-filter > p:hover span {
  color: #ffffff;
}
/* line 187, ../sass/calendar.scss */
.calender-filter > p.active {
  background-color: #e41145;
  box-shadow: 0 0 3px 2px #f4f4f4;
  color: #ffffff;
  cursor: pointer;
}
/* line 192, ../sass/calendar.scss */
.calender-filter > p.active span {
  color: #ffffff;
}
/* line 197, ../sass/calendar.scss */
.calender-filter span {
  color: #958080;
  float: left;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
}

/* line 205, ../sass/calendar.scss */
.calendar-dayview-hour {
  float: left;
  height: 30px;
  width: 100px;
  margin: 0;
}

/* line 213, ../sass/calendar.scss */
.pane-complex-calender-view-pane .ajax-inner {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 218, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper {
  float: right;
}
/* line 220, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag {
  margin: 0;
  background-size: 100% 100%;
  float: left;
  font-size: 0;
  height: 16px;
  overflow: hidden;
  width: 18px;
}
/* line 228, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag.unflag-action {
  background-image: url("../images/unlike-gold.png");
}
/* line 231, ../sass/calendar.scss */
.pane-complex-calender-view-pane .flag-wrapper .flag.flag-action {
  background-image: url("../images/like-gold.png");
}

/* line 238, ../sass/calendar.scss */
#calender-top-popup {
  float: left;
  left: 40%;
  position: absolute;
  top: 50%;
  width: 500px;
  display: none;
}
/* line 245, ../sass/calendar.scss */
#calender-top-popup .close-calender-popup {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
/* line 251, ../sass/calendar.scss */
#calender-top-popup.visible {
  display: block;
  z-index: 99;
}
/* line 255, ../sass/calendar.scss */
#calender-top-popup .tickets {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* line 259, ../sass/calendar.scss */
#calender-top-popup .tickets span {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 8px 8px 0;
  width: 20%;
}
/* line 266, ../sass/calendar.scss */
#calender-top-popup .title {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* line 271, ../sass/calendar.scss */
#calender-top-popup .calender-row.inner {
  width: 500px;
  cursor: default;
  padding: 20px;
}
/* line 276, ../sass/calendar.scss */
#calender-top-popup .body > p {
  font-size: 14px;
}

/* line 281, ../sass/calendar.scss */
.scroll-date {
  position: relative;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 8px;
}
/* line 288, ../sass/calendar.scss */
.scroll-date .wrapper {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

/* line 293, ../sass/calendar.scss */
.calender-filter-date {
  float: left;
  margin-top: 10px;
  width: 30%;
  padding: 0;
}

/* line 300, ../sass/calendar.scss */
.calender-scroll {
  width: 30%;
  float: right;
  background: none;
  text-align: right;
  margin-top: 13px;
}
/* line 306, ../sass/calendar.scss */
.calender-scroll p {
  margin: 0;
  display: inline-block;
  font-size: 0px;
  height: 19px;
  width: 10px;
  cursor: pointer;
  margin-top: 5px;
  position: relative;
  top: -16px;
}
/* line 317, ../sass/calendar.scss */
.calender-scroll > span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
/* line 322, ../sass/calendar.scss */
.calender-scroll .scrollright {
  background: url("../images/more-gold-right.png") no-repeat center center;
  margin-left: 20px;
}
/* line 326, ../sass/calendar.scss */
.calender-scroll .scrollleft {
  background: url("../images/more-gold-left.png") no-repeat center center;
  margin-right: 20px;
}

/* line 333, ../sass/calendar.scss */
.pane-complex-calender-view-pane .pane-title {
  font-size: 50px;
  font-weight: normal;
  margin-top: 70px;
  padding: 0 3%;
  text-align: center;
}

/* line 343, ../sass/calendar.scss */
.page-node-3261 .panel-panel, .page-node-3284 .panel-panel {
  padding: 0;
}
/* line 346, ../sass/calendar.scss */
.page-node-3261 #main-wrapper, .page-node-3284 #main-wrapper {
  background-color: #fff;
}
/* line 349, ../sass/calendar.scss */
.page-node-3261 #page-header .page-header, .page-node-3284 #page-header .page-header {
  display: block;
  border: none;
}

/* line 355, ../sass/calendar.scss */
.fixed-header-calendar .calender-filter {
  position: fixed;
}

/* line 360, ../sass/calendar.scss */
.scroll-calendar .calender-filter {
  position: fixed;
  top: 50px;
  z-index: 400;
  padding-bottom: 96px;
}
/* line 366, ../sass/calendar.scss */
.scroll-calendar .scroll-date {
  position: fixed;
  top: 132px;
  z-index: 500;
}
/* line 371, ../sass/calendar.scss */
.scroll-calendar .calender-header {
  position: fixed;
  top: 183px;
  z-index: 400;
}
/* line 375, ../sass/calendar.scss */
.scroll-calendar .calender-header .calendar-agenda-items {
  left: 60px;
  position: relative;
}

/* line 384, ../sass/calendar.scss */
.node-type-cm-article.page-node-3261 .panel-panel-inner .panel-pane, .node-type-cm-article.page-node-3284 .panel-panel-inner .panel-pane {
  width: 100% !important;
}
