/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/cinemateque.scss */
.tabledrag-toggle-weight-wrapper {
  display: none;
}

/* line 7, ../sass/cinemateque.scss */
.view-bean-infomation-block-view thead {
  display: none;
}
/* line 10, ../sass/cinemateque.scss */
.view-bean-infomation-block-view table {
  border: medium none;
}

/* line 15, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-icon {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 21, ../sass/cinemateque.scss */
.views-field.views-field-label {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 26, ../sass/cinemateque.scss */
.views-field.views-field-label p {
  margin-top: 0;
}
/* line 30, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-text {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 35, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-text p {
  margin-top: 0;
}

/* line 41, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 h2 {
  font-size: 16px;
  font-weight: bold;
}
/* line 45, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1.col-md-3 {
  padding-left: 50px;
  padding-right: 50px;
  width: 25%;
}
/* line 50, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li {
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
}
/* line 53, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a {
  background: transparent none repeat scroll 0 0;
  color: #ffffff;
  font-size: 14px;
}
/* line 57, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a:hover {
  background: transparent none repeat scroll 0 0;
}
/* line 60, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a:active {
  background: transparent none repeat scroll 0 0;
}

/* line 69, ../sass/cinemateque.scss */
.col-md-3.sponser-pane {
  float: right;
  margin-top: 20px;
}
/* line 73, ../sass/cinemateque.scss */
.col-md-3.social.icon {
  float: right;
  margin-top: 20px;
}
/* line 77, ../sass/cinemateque.scss */
.col-md-3.header-right {
  margin-right: 15px;
}
@media (max-width: 767px) {
  /* line 77, ../sass/cinemateque.scss */
  .col-md-3.header-right {
    margin: 0 !important;
  }
}
/* line 82, ../sass/cinemateque.scss */
.col-md-3.header-right a {
  outline: 0;
}
/* line 85, ../sass/cinemateque.scss */
.col-md-3.header-right > li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 12px;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  /* line 85, ../sass/cinemateque.scss */
  .col-md-3.header-right > li {
    padding-right: 15px !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 960px) {
  /* line 85, ../sass/cinemateque.scss */
  .col-md-3.header-right > li {
    float: right;
  }
}
/* line 99, ../sass/cinemateque.scss */
.col-md-3.header-right i {
  color: #fff;
  position: relative;
}
/* line 52, ../sass/init.scss */
.domain-1 .col-md-3.header-right li:hover i, .domain-1 .col-md-3.header-right li:hover #da11y-toggle {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .col-md-3.header-right li:hover i, .domain-2 .col-md-3.header-right li:hover #da11y-toggle {
  color: #b59d70 !important;
}
/* line 108, ../sass/cinemateque.scss */
.col-md-3.header-right #da11y-toggle.active {
  box-shadow: none;
}
/* line 52, ../sass/init.scss */
.domain-1 .col-md-3.header-right #da11y-toggle.active {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .col-md-3.header-right #da11y-toggle.active {
  color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .col-md-3.header-right .popup-title-active i {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .col-md-3.header-right .popup-title-active i {
  color: #b59d70 !important;
}
/* line 116, ../sass/cinemateque.scss */
.col-md-3.header-right .shopping-cart button {
  border: medium none;
  font-size: 0;
  height: 36px;
  width: 20px;
  background: url("../images/shop-icon.png") no-repeat 0 0 transparent;
}

/* line 127, ../sass/cinemateque.scss */
.sponser {
  width: 80%;
  min-height: 60px;
}

/* line 132, ../sass/cinemateque.scss */
.news-leter h2 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
/* line 138, ../sass/cinemateque.scss */
.news-leter .webform-component input {
  border: 1px solid;
  font-size: 13px;
  height: 26px;
  padding-left: 4px;
}
/* line 144, ../sass/cinemateque.scss */
.news-leter .webform-submit.button-primary {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  height: 29px;
  margin-left: 0;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 0;
  width: 65px;
}
/* line 154, ../sass/cinemateque.scss */
.news-leter .webform-client-form.webform-client-form-19 {
  padding-left: 32px;
}

/* line 158, ../sass/cinemateque.scss */
.webform-component {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
  width: 25%;
}

/* line 165, ../sass/cinemateque.scss */
.newsleter-name {
  border-bottom-left-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

/*****  footer   **********/
/* line 172, ../sass/cinemateque.scss */
.checkbox input[type="checkbox"] {
  margin-right: 6px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
}

/*****  footer credit for mobile *******/
/* line 181, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile {
  margin-bottom: 30px;
}
/* line 183, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile .owl-next {
  font-size: 0;
  height: 19px;
  left: -30px;
  position: absolute;
  top: 33%;
  width: 10px;
}
/* line 191, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile .owl-carousel {
  width: calc(100% - 100px) !important;
  margin: 0 auto;
}
/* line 195, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile .owl-prev {
  font-size: 0;
  height: 19px;
  right: -30px;
  position: absolute;
  top: 33%;
  width: 10px;
}
/* line 203, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile .view-footer-credit-slogan-for-mobile {
  margin-bottom: 30px;
}
/* line 207, ../sass/cinemateque.scss */
.view-footer-credit-slogan-for-mobile .owl-carousel .owl-item img {
  max-height: 50px;
  width: auto;
  margin: 0 auto !important;
}

/* line 217, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english, .footer .pane-bean-main-info-hebrew {
  /*background: url("../images/info-bg.png") no-repeat scroll center center / cover;*/
  overflow: hidden;
  position: relative;
  z-index: -1;
}
/* line 61, ../sass/init.scss */
.domain-1 .footer .pane-bean-main-info-english, .footer .pane-bean-main-info-english.domain-1 .footer .pane-bean-main-info-english, .domain-1 .footer .pane-bean-main-info-hebrew, .footer .pane-bean-main-info-hebrew.domain-1 .footer .pane-bean-main-info-english, .footer .pane-bean-main-info-english.domain-1 .footer .pane-bean-main-info-hebrew, .footer .pane-bean-main-info-hebrew.domain-1 .footer .pane-bean-main-info-hebrew {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .footer .pane-bean-main-info-english, .domain-2 .footer .pane-bean-main-info-hebrew {
  background-color: #b59d70 !important;
}
/* line 223, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content, .footer .pane-bean-main-info-hebrew .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 225, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-background-image, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
}
/* line 233, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-background-image .field-items, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-background-image .field-items {
  height: 100%;
  width: 100%;
}
/* line 237, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-background-image img, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-background-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}
/* line 248, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info {
  padding: 54px 0;
  overflow: hidden;
}
/* line 252, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item {
  color: #fff;
  float: left;
  padding: 0 2%;
  text-align: center;
  width: 25%;
}
/* line 258, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-info-icon, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-info-icon {
  margin-bottom: 10px;
  height: 30px;
}
/* line 262, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-label, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-label {
  font-weight: bold;
  margin-bottom: 12px;
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 262, ../sass/cinemateque.scss */
  .footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-label, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-label {
    margin-bottom: 3px;
  }
}
/* line 270, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p {
  line-height: 22px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 270, ../sass/cinemateque.scss */
  .footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p {
    font-size: 13px;
    line-height: 17px;
  }
}
/* line 277, ../sass/cinemateque.scss */
.footer .pane-bean-main-info-english .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p a, .footer .pane-bean-main-info-hebrew .pane-content .field-name-field-content-info > .field-items > .field-item .field-name-field-description p a {
  color: #fff;
}
/* line 285, ../sass/cinemateque.scss */
.footer .pane-bean-logos-block, .footer .pane-bean-sponsor-block {
  max-width: 1500px;
  margin: 0 auto;
}
/* line 288, ../sass/cinemateque.scss */
.footer .pane-bean-logos-block .field-name-field-sponsor-logos-links > .field-items, .footer .pane-bean-sponsor-block .field-name-field-sponsor-logos-links > .field-items {
  text-align: center;
}
/* line 290, ../sass/cinemateque.scss */
.footer .pane-bean-logos-block .field-name-field-sponsor-logos-links > .field-items > .field-item, .footer .pane-bean-sponsor-block .field-name-field-sponsor-logos-links > .field-items > .field-item {
  display: inline-block;
}
/* line 292, ../sass/cinemateque.scss */
.footer .pane-bean-logos-block .field-name-field-sponsor-logos-links > .field-items > .field-item img, .footer .pane-bean-sponsor-block .field-name-field-sponsor-logos-links > .field-items > .field-item img {
  height: 40px;
  width: auto;
  margin: 10px;
}
/* line 302, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view table tr {
  background-color: #7a7a7a !important;
  border: medium none;
  color: #ffffff;
}
/* line 307, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view table tbody {
  background-color: #7a7a7a !important;
  border-top: medium none;
}
/* line 312, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view .handle {
  display: none;
}
/* line 315, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view .form-submit {
  display: none;
}
/* line 320, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-text {
  margin-left: 10%;
  width: 80%;
}
/* line 323, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-text p {
  font-size: 14px;
  line-height: 1.2;
}
/* line 328, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-icon {
  padding-bottom: 0;
}
/* line 331, ../sass/cinemateque.scss */
.footer .views-field.views-field-label {
  padding: 0;
}
/* line 335, ../sass/cinemateque.scss */
.footer .pane-bean-infomation-block-view {
  background-color: #7a7a7a;
  padding-top: 20px;
}
/* line 340, ../sass/cinemateque.scss */
.footer .webform-client-form .form-required {
  display: none;
}
/* line 343, ../sass/cinemateque.scss */
.footer .webform-client-form .form-actions {
  margin-top: 0;
}
/* line 346, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--join-our-newsletter {
  width: 20% !important;
  margin-right: 0px !important;
}
@media (max-width: 767px) {
  /* line 346, ../sass/cinemateque.scss */
  .footer .webform-client-form .webform-component--join-our-newsletter {
    width: 100% !important;
  }
}
/* line 352, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--join-our-newsletter p {
  margin: 4px 0 0;
}
/* line 356, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
  width: 18%;
}
@media (max-width: 767px) {
  /* line 356, ../sass/cinemateque.scss */
  .footer .webform-client-form .webform-component {
    width: 100%;
    margin: 3px 0;
  }
}
/* line 366, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component input {
  color: #fff;
  height: 40px;
  padding-left: 12px;
  font-size: 11px;
  margin-bottom: 0;
  padding-left: 10px;
  border-radius: 0 !important;
  border: none;
}
/* line 70, ../sass/init.scss */
.domain-1 .footer .webform-client-form .webform-component input {
  background-color: #b20033 !important;
}
/* line 73, ../sass/init.scss */
.domain-2 .footer .webform-client-form .webform-component input {
  background-color: #96825d !important;
}
@media (max-width: 767px) {
  /* line 366, ../sass/cinemateque.scss */
  .footer .webform-client-form .webform-component input {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 381, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component label {
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
}
/* line 387, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component.webform-component-radios {
  width: 100%;
}
/* line 389, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component.webform-component-radios label {
  color: #ffffff;
}
/* line 394, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail {
  width: auto;
  cursor: default;
  margin-left: 20%;
}
@media (max-width: 767px) {
  /* line 394, ../sass/cinemateque.scss */
  .footer .webform-client-form .webform-component--approve-recieving-e-mail {
    margin: 0 !important;
  }
}
/* line 401, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail label {
  padding: 0;
  position: relative !important;
}
/* line 404, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail label.element-invisible {
  display: none;
}
/* line 408, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail input {
  height: auto;
  width: auto;
}
/* line 413, ../sass/cinemateque.scss */
.footer .webform-client-form .form-submit {
  margin: 0 0 0 5px;
  background: #ffffff none repeat scroll 0 0 !important;
  box-shadow: none;
  height: 40px;
  line-height: 0;
  margin: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
}
/* line 52, ../sass/init.scss */
.domain-1 .footer .webform-client-form .form-submit {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .footer .webform-client-form .form-submit {
  color: #b59d70 !important;
}
@media (max-width: 767px) {
  /* line 413, ../sass/cinemateque.scss */
  .footer .webform-client-form .form-submit {
    width: 100%;
    margin: 0 !important;
  }
}
/* line 429, ../sass/cinemateque.scss */
.footer .webform-client-form .form-control::-moz-placeholder {
  color: #fff;
}
/* line 434, ../sass/cinemateque.scss */
.footer .social.icon {
  float: left;
  padding-top: 40px;
  text-align: center;
}
/* line 61, ../sass/init.scss */
.domain-1 .footer .social.icon, .footer .social.icon.domain-1 .footer .social.icon {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .footer .social.icon {
  background-color: #b59d70 !important;
}
/* line 439, ../sass/cinemateque.scss */
.footer .social.icon .pane-content {
  display: inline-block;
}
/* line 443, ../sass/cinemateque.scss */
.footer .social .pane-content span {
  padding-left: 25px;
  padding-right: 1px;
}
/* line 448, ../sass/cinemateque.scss */
.footer .copyrignt-block {
  background-color: #ffffff;
  width: 100%;
}
/* line 451, ../sass/cinemateque.scss */
.footer .copyrignt-block .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 454, ../sass/cinemateque.scss */
.footer .copyrignt-block p {
  margin-bottom: 0;
}
/* line 457, ../sass/cinemateque.scss */
.footer .copyrignt-block .copyright {
  float: left;
}
@media (max-width: 767px) {
  /* line 457, ../sass/cinemateque.scss */
  .footer .copyrignt-block .copyright {
    width: 100%;
    text-align: center;
  }
  /* line 462, ../sass/cinemateque.scss */
  .footer .copyrignt-block .copyright p {
    padding: 5px 0;
  }
}
/* line 467, ../sass/cinemateque.scss */
.footer .copyrignt-block .design-development {
  float: right;
}
@media (max-width: 767px) {
  /* line 467, ../sass/cinemateque.scss */
  .footer .copyrignt-block .design-development {
    width: 100%;
    text-align: center;
  }
  /* line 472, ../sass/cinemateque.scss */
  .footer .copyrignt-block .design-development p {
    text-align: center;
    padding: 5px 0;
  }
}
/* line 479, ../sass/cinemateque.scss */
.footer .col-md-12.news-letter {
  color: #ffffff;
  padding: 0 0 25px 0;
}
/* line 61, ../sass/init.scss */
.domain-1 .footer .col-md-12.news-letter, .footer .col-md-12.news-letter.domain-1 .footer .col-md-12.news-letter {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .footer .col-md-12.news-letter {
  background-color: #b59d70 !important;
}
/* line 483, ../sass/cinemateque.scss */
.footer .col-md-12.news-letter .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  width: 1048px !important;
}
/* line 488, ../sass/cinemateque.scss */
.footer .pane-webform-client-block-19 .pane-content {
  margin: 0 auto;
}
/* line 491, ../sass/cinemateque.scss */
.footer .caruosel-slideshow {
  max-width: 100%;
}

/* line 497, ../sass/cinemateque.scss */
.pane-footer-mini-panel .carousel {
  padding: 0;
}
/* line 500, ../sass/cinemateque.scss */
.pane-footer-mini-panel .social .pane-content span {
  margin: 0 auto;
  padding-top: 60px;
  width: 230px;
  width: 75px;
  text-align: center;
}

/* line 508, ../sass/cinemateque.scss */
.imageblock-image {
  width: 200px;
}

/* line 511, ../sass/cinemateque.scss */
.imageblock-link {
  float: right;
}

/* line 514, ../sass/cinemateque.scss */
.block-image {
  float: left;
}

/* line 517, ../sass/cinemateque.scss */
.block-body {
  float: left;
}

/* line 520, ../sass/cinemateque.scss */
.views-slideshow-cycle-main-frame {
  float: left;
  width: 100% !important;
}

/* line 524, ../sass/cinemateque.scss */
.views-slideshow-controls-text-pause {
  display: none;
}

/* line 527, ../sass/cinemateque.scss */
#main-wrapper {
  margin-top: 90px;
  overflow: hidden;
}
/* line 530, ../sass/cinemateque.scss */
#main-wrapper .panels-flexible-row.popup.region {
  display: none;
}

/* line 535, ../sass/cinemateque.scss */
img.panopoly-image-full {
  margin-bottom: 0 !important;
}

/* line 539, ../sass/cinemateque.scss */
.sticky-header, .not-front header {
  height: 50px !important;
}
/* line 541, ../sass/cinemateque.scss */
.sticky-header .navbar-brand, .not-front header .navbar-brand {
  height: 36px !important;
}
@media (max-width: 767px) {
  /* line 541, ../sass/cinemateque.scss */
  .sticky-header .navbar-brand, .not-front header .navbar-brand {
    height: 40px;
  }
}
/* line 546, ../sass/cinemateque.scss */
.sticky-header .navbar-brand > img, .not-front header .navbar-brand > img {
  height: 36px;
}

/* line 552, ../sass/cinemateque.scss */
.navbar-collapse {
  padding: 0;
  border: none;
}

/* line 558, ../sass/cinemateque.scss */
.admin-menu #header {
  top: 29px;
}
/* line 561, ../sass/cinemateque.scss */
.admin-menu .sticky-header.header {
  margin-top: 0;
}

/* line 566, ../sass/cinemateque.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}
@media (max-width: 960px) {
  /* line 566, ../sass/cinemateque.scss */
  .navbar-default {
    padding: 0 3%;
  }
}

/* line 574, ../sass/cinemateque.scss */
.navbar-header {
  position: relative;
  z-index: 200;
  float: left;
}
@media (max-width: 960px) {
  /* line 574, ../sass/cinemateque.scss */
  .navbar-header {
    float: right;
  }
}

/* line 583, ../sass/cinemateque.scss */
#header {
  position: fixed;
  height: 68px;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  z-index: 400;
}
/* line 591, ../sass/cinemateque.scss */
#header .container-fluid {
  padding: 0;
}

/* line 596, ../sass/cinemateque.scss */
#header {
  background-color: #000000;
}

/* line 601, ../sass/cinemateque.scss */
.front #header {
  background-color: transparent;
}
/* line 603, ../sass/cinemateque.scss */
.front #header.sticky-header {
  background-color: #000000;
}
/* line 607, ../sass/cinemateque.scss */
.front #main-wrapper {
  margin-top: 0 !important;
}

/* line 612, ../sass/cinemateque.scss */
.teaser-row .ticket {
  margin-left: 10px;
  padding: 4px 13px;
  color: #ffffff;
  cursor: pointer;
}
/* line 61, ../sass/init.scss */
.domain-1 .teaser-row .ticket, .teaser-row .ticket.domain-1 .teaser-row .ticket {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .teaser-row .ticket {
  background-color: #b59d70 !important;
}

/* line 621, ../sass/cinemateque.scss */
.header .navbar {
  margin-bottom: 0;
}
/* line 624, ../sass/cinemateque.scss */
.header #main-menu {
  color: #ffffff;
  transition: all 0.5s ease 0s;
  padding: 0 !important;
  width: 100%;
  position: absolute;
  float: none;
}
@media (max-width: 767px) {
  /* line 624, ../sass/cinemateque.scss */
  .header #main-menu {
    display: none;
  }
}
@media (max-width: 960px) {
  /* line 624, ../sass/cinemateque.scss */
  .header #main-menu {
    width: 94%;
  }
}
/* line 637, ../sass/cinemateque.scss */
.header #main-menu li a {
  color: #ffffff;
  transition: all 0.5s ease 0s;
  padding: 10px !important;
  line-height: 20px !important;
  background-color: transparent;
}
/* line 52, ../sass/init.scss */
.domain-1 .header #main-menu li a:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .header #main-menu li a:hover {
  color: #b59d70 !important;
}
/* line 61, ../sass/init.scss */
.domain-1 .header #main-menu li li a, .header #main-menu li li a.domain-1 .header #main-menu li li a {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .header #main-menu li li a {
  background-color: #b59d70 !important;
}
/* line 652, ../sass/cinemateque.scss */
.header .header-right {
  width: auto;
  float: right;
  margin-bottom: 0;
}
@media (max-width: 960px) {
  /* line 652, ../sass/cinemateque.scss */
  .header .header-right {
    padding: 0;
    float: left;
  }
}
@media (max-width: 960px) and (max-width: 767px) {
  /* line 660, ../sass/cinemateque.scss */
  .header .header-right li {
    float: right;
  }
  /* line 662, ../sass/cinemateque.scss */
  .header .header-right li.shopping-cart, .header .header-right li#da11y-plugin {
    display: none;
  }
}

/* line 668, ../sass/cinemateque.scss */
.header .header-right .popup_search {
  display: none;
}
/* line 672, ../sass/cinemateque.scss */
.header .header-right .search span {
  background: url("../images/search-icon.png") no-repeat 0 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}
/* line 682, ../sass/cinemateque.scss */
.header .header-right #da11y-toggle:before {
  content: "";
}
/* line 685, ../sass/cinemateque.scss */
.header .header-right #da11y-toggle {
  background: url("../images/access-icon.png") no-repeat 0 0;
  height: 22px;
  width: 20px;
}
/* line 691, ../sass/cinemateque.scss */
.header .header-right .favorite a {
  background: url("../images/favorite.png") no-repeat 0 bottom;
  text-indent: -9999px;
  height: 20px;
  width: 24px;
  display: block;
}
/* line 698, ../sass/cinemateque.scss */
.header .header-right .today span {
  background: url("../images/favorite.png") no-repeat 0 bottom;
  text-indent: -9999px;
  height: 20px;
  width: 24px;
  display: block;
  cursor: pointer;
}
/* line 707, ../sass/cinemateque.scss */
.header .header-right .language-switcher-locale-url a {
  background: url("../images/hebrew-icon.png") no-repeat 0 2px;
  display: inline-block;
  height: 20px;
  text-indent: -9999px;
  width: 20px;
}
/* line 714, ../sass/cinemateque.scss */
.header .header-right .language-switcher-locale-url span {
  opacity: 0.4;
  background: url("../images/hebrew-icon.png") no-repeat 0 2px;
  display: inline-block;
  height: 20px;
  text-indent: -9999px;
  width: 20px;
}
/* line 724, ../sass/cinemateque.scss */
.header .container {
  padding: 0;
  width: 100%;
}

/* line 730, ../sass/cinemateque.scss */
.dropdown-menu {
  background-color: transparent;
  padding: 0;
}

/* line 734, ../sass/cinemateque.scss */
.panels-flexible-region-custom_front_panel-footer_region, .panels-flexible-region-93-center {
  width: 100%;
}

/* line 737, ../sass/cinemateque.scss */
.pane-block-4 {
  background-color: #ffffff;
  float: left;
  width: 100%;
}

/* line 743, ../sass/cinemateque.scss */
.festival-site {
  float: left;
  padding-top: 4px;
}
@media (max-width: 767px) {
  /* line 743, ../sass/cinemateque.scss */
  .festival-site {
    display: none;
  }
}
/* line 749, ../sass/cinemateque.scss */
.festival-site span {
  color: #ffffff;
  float: left;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
}

/* line 758, ../sass/cinemateque.scss */
.pro-grid {
  margin: 0 auto;
  background: #e3e3e3 none repeat scroll 0 0;
  padding: 0.25%;
}
/* line 762, ../sass/cinemateque.scss */
.pro-grid:nth-child(odd) {
  background: transparent;
}
/* line 765, ../sass/cinemateque.scss */
.pro-grid > * .search-info .fa {
  font-size: 16px;
  margin: 0 10px;
}
/* line 52, ../sass/init.scss */
.domain-1 .pro-grid > * .search-info .fa {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pro-grid > * .search-info .fa {
  color: #b59d70 !important;
}

/* line 771, ../sass/cinemateque.scss */
.search-result {
  transition: ease 0.5s background;
}
/* line 773, ../sass/cinemateque.scss */
.search-result:nth-child(even) {
  background: #ffffff;
}
/* line 776, ../sass/cinemateque.scss */
.search-result:nth-child(odd) {
  background: #f5f5f5;
}
/* line 779, ../sass/cinemateque.scss */
.search-result:hover {
  color: #000000 !important;
}
/* line 61, ../sass/init.scss */
.domain-1 .search-result:hover, .search-result:hover.domain-1 .search-result:hover {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .search-result:hover {
  background-color: #b59d70 !important;
}
/* line 783, ../sass/cinemateque.scss */
.search-result:hover .pro-grid li .search-view-mode {
  color: #ffffff !important;
}
/* line 786, ../sass/cinemateque.scss */
.search-result:hover .pro-grid li .title a {
  color: #ffffff !important;
}

/* line 793, ../sass/cinemateque.scss */
#edit-search-block-form--2 {
  border: 1px solid #000000;
}

/* line 796, ../sass/cinemateque.scss */
.popup-element-title {
  color: #ffffff !important;
}

/* line 802, ../sass/cinemateque.scss */
.pagination > li:last-child > a {
  border-radius: 0 !important;
}
/* line 805, ../sass/cinemateque.scss */
.pagination > li:last-child > span {
  border-radius: 0 !important;
}
/* line 810, ../sass/cinemateque.scss */
.pagination > li:first-child > a {
  border-radius: 0 !important;
}
/* line 813, ../sass/cinemateque.scss */
.pagination > li:first-child > span {
  border-radius: 0 !important;
}
/* line 819, ../sass/cinemateque.scss */
.pagination > .active > a {
  border: 1px solid !important;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > a {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > a {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > a {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > a {
  color: #b59d70 !important;
}
/* line 824, ../sass/cinemateque.scss */
.pagination > .active > a:focus {
  border: 1px solid;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > a:focus {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > a:focus {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > a:focus {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > a:focus {
  color: #b59d70 !important;
}
/* line 830, ../sass/cinemateque.scss */
.pagination > .active > a:hover {
  border: 1px solid;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > a:hover {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > a:hover {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > a:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > a:hover {
  color: #b59d70 !important;
}
/* line 837, ../sass/cinemateque.scss */
.pagination > .active > span {
  border: 1px solid;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > span {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > span {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > span {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > span {
  color: #b59d70 !important;
}
/* line 842, ../sass/cinemateque.scss */
.pagination > .active > span:focus {
  border: 1px solid;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > span:focus {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > span:focus {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > span:focus {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > span:focus {
  color: #b59d70 !important;
}
/* line 848, ../sass/cinemateque.scss */
.pagination > .active > span:hover {
  border: 1px solid;
  background: transparent;
}
/* line 79, ../sass/init.scss */
.domain-1 .pagination > .active > span:hover {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 .pagination > .active > span:hover {
  border-color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination > .active > span:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination > .active > span:hover {
  color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .pagination li a {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .pagination li a {
  color: #b59d70 !important;
}

/* line 861, ../sass/cinemateque.scss */
.item-list ul li {
  margin: 0 0 0 0 !important;
}
/* line 864, ../sass/cinemateque.scss */
.item-list .pager li {
  padding: 0.2em !important;
  font-size: 12px;
}
/* line 867, ../sass/cinemateque.scss */
.item-list .pager li a {
  background-color: transparent !important;
}

/* line 873, ../sass/cinemateque.scss */
#edit-basic .form-group {
  display: block !important;
  margin: 0;
  float: left !important;
  width: 80%;
  background: #ffffff !important;
}
/* line 879, ../sass/cinemateque.scss */
#edit-basic .form-group label[for="edit-keys"] {
  display: none !important;
}
/* line 882, ../sass/cinemateque.scss */
#edit-basic .form-group #edit-keys {
  width: 96%;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  height: auto;
  padding: 15px 2%;
  box-shadow: 0 1px 3px 1px #aaa;
}
/* line 892, ../sass/cinemateque.scss */
#edit-basic #edit-submit {
  margin: 0;
  border-radius: 0 !important;
  padding: 9px 25px 11px;
  box-shadow: 0 1px 4px 1px #aaa;
  font-size: 18px;
  width: 20%;
}
/* line 61, ../sass/init.scss */
.domain-1 #edit-basic #edit-submit, #edit-basic #edit-submit.domain-1 #edit-basic #edit-submit {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 #edit-basic #edit-submit {
  background-color: #b59d70 !important;
}

/* line 903, ../sass/cinemateque.scss */
.mobile-calender .calender-filter {
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}
/* line 906, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p {
  background-color: #ffffff;
  font-size: 12px;
  width: 65px;
  margin: 0;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
/* line 913, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p.active {
  color: #ffffff;
  cursor: pointer;
  box-shadow: none;
}
/* line 61, ../sass/init.scss */
.domain-1 .mobile-calender .calender-filter > p.active, .mobile-calender .calender-filter > p.active.domain-1 .mobile-calender .calender-filter > p.active {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .mobile-calender .calender-filter > p.active {
  background-color: #b59d70 !important;
}
/* line 919, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p:hover {
  box-shadow: none;
}
/* line 61, ../sass/init.scss */
.domain-1 .mobile-calender .calender-filter > p:hover, .mobile-calender .calender-filter > p:hover.domain-1 .mobile-calender .calender-filter > p:hover {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .mobile-calender .calender-filter > p:hover {
  background-color: #b59d70 !important;
}
/* line 925, ../sass/cinemateque.scss */
.mobile-calender .mobile-accordian-content {
  display: none;
}
/* line 928, ../sass/cinemateque.scss */
.mobile-calender .mobile-event-accordian {
  float: left;
  width: 100%;
}
/* line 932, ../sass/cinemateque.scss */
.mobile-calender .mobile-bold-time {
  float: left;
  width: 45px;
}
/* line 936, ../sass/cinemateque.scss */
.mobile-calender .mobile-event-title {
  float: left;
  width: 200px;
}
/* line 940, ../sass/cinemateque.scss */
.mobile-calender .filter-cantrol {
  display: block;
}

/* line 944, ../sass/cinemateque.scss */
.mobile-calender-filter-date {
  float: left;
  width: 100%;
}
/* line 947, ../sass/cinemateque.scss */
.mobile-calender-filter-date .pull-left {
  font-weight: bold;
}
/* line 52, ../sass/init.scss */
.domain-1 .mobile-calender-filter-date .pull-left {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .mobile-calender-filter-date .pull-left {
  color: #b59d70 !important;
}

/* line 952, ../sass/cinemateque.scss */
.filter-cantrol {
  display: none;
}

/* line 956, ../sass/cinemateque.scss */
#panels-ipe-paneid-221, #panels-ipe-paneid-222, #panels-ipe-paneid-220 {
  width: 33%;
  display: inline-block;
  padding: 0 1%;
}

/* line 962, ../sass/cinemateque.scss */
.wide-margins {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  width: 615px !important;
}

/* line 967, ../sass/cinemateque.scss */
.purchase-btn {
  padding: 4px 10px;
  color: #ffffff !important;
  letter-spacing: 1px;
}
/* line 61, ../sass/init.scss */
.domain-1 .purchase-btn, .purchase-btn.domain-1 .purchase-btn {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .purchase-btn {
  background-color: #b59d70 !important;
}

/* line 973, ../sass/cinemateque.scss */
.draggable.tabledrag-processed thead {
  display: none;
}

/* line 976, ../sass/cinemateque.scss */
.panels-flexible-region.popup.region {
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 40px;
}

/* line 983, ../sass/cinemateque.scss */
.popup.region .view-bean-infomation-block-view tr {
  background: transparent none repeat scroll 0 0 !important;
  border: medium none;
}
/* line 987, ../sass/cinemateque.scss */
.popup.region .view-bean-infomation-block-view tbody {
  background: transparent none repeat scroll 0 0 !important;
  border: medium none;
}
/* line 993, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-icon {
  float: left;
  width: auto;
  min-height: 80px;
  border: medium none;
}
/* line 999, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-label {
  float: left;
  padding-left: 15px;
  text-align: center;
  width: 185px;
  border: medium none;
}
/* line 1005, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-label p {
  margin-top: 0;
}
/* line 1009, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-text {
  float: left;
  padding-left: 15px;
  text-align: center;
  width: 185px;
  border: medium none;
}
/* line 1015, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-text p {
  margin-top: 0;
}
/* line 1020, ../sass/cinemateque.scss */
.popup.region .pane-my-backend-festival-menu-block .menu.nav li.last {
  border-bottom: none;
}
/* line 1023, ../sass/cinemateque.scss */
.popup.region .pane-menu-menu-demo-menu-1 .menu.nav li {
  background-image: url("../images/arrow-right.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
}
/* line 1030, ../sass/cinemateque.scss */
.popup.region .pane-menu-menu-demo-menu-1 .menu.nav li.last {
  border-bottom: medium none;
  margin-bottom: 30px;
}

/* line 1038, ../sass/cinemateque.scss */
li.expanded .caret {
  display: none;
}
/* line 1041, ../sass/cinemateque.scss */
li.expanded .dropdown-menu {
  border-top: 2px solid;
}
/* line 79, ../sass/init.scss */
.domain-1 li.expanded .dropdown-menu {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 li.expanded .dropdown-menu {
  border-color: #b59d70 !important;
}

/* line 1047, ../sass/cinemateque.scss */
.social .pane-content span {
  float: left;
  overflow: hidden;
  width: 33%;
}

/* line 1053, ../sass/cinemateque.scss */
.sponser-pane .pane-content li {
  float: left;
  overflow: hidden;
  width: 33%;
}

/* line 1059, ../sass/cinemateque.scss */
.pane-bean-infomation-block-view.col-md-12 {
  background-color: #262626;
  padding-top: 30px;
}

/* line 1064, ../sass/cinemateque.scss */
.form-item-submitted-approve-recieving-e-mail.radio {
  margin: 0;
}

/* line 1068, ../sass/cinemateque.scss */
.webform-component-radios.webform-component--approve-recieving-e-mail {
  margin-bottom: 0;
  width: 100%;
}

/********   Footer  *********/
/* line 1075, ../sass/cinemateque.scss */
#footer {
  margin-top: 50px;
}

/* line 1079, ../sass/cinemateque.scss */
section.footer .view-bean-infomation-block-view table tbody tr {
  background-color: #7a7a7a !important;
  border: medium none;
  color: #ffffff;
}

/* line 1085, ../sass/cinemateque.scss */
.panels-flexible-region-11-center, .panels-flexible-region-14-center {
  width: 100%;
}

/* line 1089, ../sass/cinemateque.scss */
.copyright > p {
  font-size: 14px;
  padding: 15px 0;
}

/* line 1093, ../sass/cinemateque.scss */
.design-development > p {
  font-size: 14px;
  padding: 15px 0;
}

/* line 1098, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content li {
  display: inline;
}
/* line 1100, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content li img.carousel-sponser {
  padding-top: 8px;
  width: 140px;
}
/* line 1105, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content > ul {
  float: left;
  text-align: center;
  width: 100%;
}

/* line 1112, ../sass/cinemateque.scss */
.pane-bean-footer-social-block {
  padding: 40px 0 25px;
  clear: both;
}
/* line 61, ../sass/init.scss */
.domain-1 .pane-bean-footer-social-block, .pane-bean-footer-social-block.domain-1 .pane-bean-footer-social-block {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .pane-bean-footer-social-block {
  background-color: #b59d70 !important;
}
/* line 1116, ../sass/cinemateque.scss */
.pane-bean-footer-social-block .field-items {
  text-align: center;
}
/* line 1119, ../sass/cinemateque.scss */
.pane-bean-footer-social-block .field-item {
  display: inline-block;
  margin: 0 10px;
}
@media (max-width: 767px) {
  /* line 1123, ../sass/cinemateque.scss */
  .pane-bean-footer-social-block .field-item:nth-child(1) {
    width: 100%;
    margin: 0 0 5px 0;
  }
}

/****   slide changes   ************/
/* line 1134, ../sass/cinemateque.scss */
.pane-slider h2 {
  display: none;
}

/* line 1137, ../sass/cinemateque.scss */
.views_slideshow_controls_text a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: block;
  height: 40px;
  margin: -20px 0 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  top: 50%;
  transition: all 0.3s ease-in-out 0s;
  width: 40px;
  z-index: 10;
  background-repeat: no-repeat;
  font-size: 0;
  height: 32px;
  width: 32px;
}

/* line 1157, ../sass/cinemateque.scss */
.views-slideshow-controls-text-previous a {
  left: 0;
  background-image: url("../images/left.png");
  margin-left: 15px;
}

/* line 1162, ../sass/cinemateque.scss */
.views-slideshow-controls-text-next a {
  right: 0;
  background-image: url("../images/right.png");
  margin-right: 15px;
}

/* line 1167, ../sass/cinemateque.scss */
.view-id-slider:hover .views_slideshow_controls_text a {
  opacity: 1;
}

/* line 1171, ../sass/cinemateque.scss */
.navbar-brand > img {
  height: 50px;
  transition: all 0.5s ease 0s;
}

/* line 1176, ../sass/cinemateque.scss */
.site-custom-menu.menu.nav.navbar-nav {
  background: transparent none repeat scroll 0 0 !important;
  margin-top: 5px;
  text-align: center;
}

/* line 1181, ../sass/cinemateque.scss */
.panels-flexible-custom_front_panel .panels-flexible-region {
  width: 100%;
}

/* line 1184, ../sass/cinemateque.scss */
.navbar .navbar-brand {
  margin: 11px 5px 0 30px;
  overflow: hidden;
  padding: 0;
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 1184, ../sass/cinemateque.scss */
  .navbar .navbar-brand {
    margin: 10px 30px 0 5px !important;
  }
}
@media (max-width: 480px) {
  /* line 1184, ../sass/cinemateque.scss */
  .navbar .navbar-brand {
    margin: 10px 5px 0 5px !important;
  }
}
@media (max-width: 960px) {
  /* line 1184, ../sass/cinemateque.scss */
  .navbar .navbar-brand {
    margin: 11px 30px 0 5px;
  }
}

/* line 1198, ../sass/cinemateque.scss */
.navbar-nav > li {
  display: inline-block;
  float: none;
}

/* line 1202, ../sass/cinemateque.scss */
#main #content {
  padding: 0;
}

/* line 1205, ../sass/cinemateque.scss */
span.bold {
  font-weight: bold;
}

/* line 1208, ../sass/cinemateque.scss */
.bold.time {
  float: left;
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

/* line 1214, ../sass/cinemateque.scss */
.calender-filter-date p.pull-left {
  font-weight: bolder;
}
/* line 52, ../sass/init.scss */
.domain-1 .calender-filter-date p.pull-left {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .calender-filter-date p.pull-left {
  color: #b59d70 !important;
}

/* line 1218, ../sass/cinemateque.scss */
.page-taxonomy .panels-flexible-row.content {
  margin: 0 auto;
  width: 100%;
}

/********  new added css  ******/
/* line 1226, ../sass/cinemateque.scss */
.search-results {
  padding: 0;
}

/* line 1229, ../sass/cinemateque.scss */
.search-results.node-results {
  padding: 0 !important;
}

/* line 1232, ../sass/cinemateque.scss */
.cm_person .pro-grid li {
  width: 46%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
/* line 1237, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(1) {
  width: 6% !important;
}
/* line 1240, ../sass/cinemateque.scss */
.cm_person .pro-grid li .pro-img {
  max-width: 100%;
  background: #f6f6f6;
  padding: 2px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
/* line 1249, ../sass/cinemateque.scss */
.cm_person .pro-grid li .title {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 1253, ../sass/cinemateque.scss */
.cm_person .pro-grid li .title a {
  font-weight: 500;
  font-size: 14px;
  color: #000000 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}
/* line 1264, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(3) {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0 !important;
}
/* line 1270, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(2) {
  width: 25% !important;
}
/* line 1273, ../sass/cinemateque.scss */
.cm_person .pro-grid li .search-view-mode p {
  font-size: 13px !important;
  margin: 0 !important;
  line-height: 1.25 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 56px;
  line-clamp: 2;
  box-orient: vertical;
}

/* line 1285, ../sass/cinemateque.scss */
.pager li > a {
  border-radius: 0 !important;
}
/* line 1288, ../sass/cinemateque.scss */
.pager li > span {
  border-radius: 0 !important;
}

/* line 1292, ../sass/cinemateque.scss */
.custom_filter_css .item-list ul li {
  display: inline-block;
  padding: 6px 10px;
}
/* line 61, ../sass/init.scss */
.domain-1 .custom_filter_css .item-list ul li, .custom_filter_css .item-list ul li.domain-1 .custom_filter_css .item-list ul li {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .custom_filter_css .item-list ul li {
  background-color: #b59d70 !important;
}
/* line 1296, ../sass/cinemateque.scss */
.custom_filter_css .item-list ul li a {
  color: #ffffff !important;
  letter-spacing: 1px;
}

/* line 1301, ../sass/cinemateque.scss */
.mobile-event-accordian .accordian-hall {
  color: #ffffff;
  cursor: pointer;
  margin: 2px 0;
  padding: 5px 15px;
}
/* line 61, ../sass/init.scss */
.domain-1 .mobile-event-accordian .accordian-hall, .mobile-event-accordian .accordian-hall.domain-1 .mobile-event-accordian .accordian-hall {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .mobile-event-accordian .accordian-hall {
  background-color: #b59d70 !important;
}
/* line 1307, ../sass/cinemateque.scss */
.mobile-event-accordian .accordian-hall.open {
  background-color: #000000;
}

/* line 1311, ../sass/cinemateque.scss */
.mobile-calender-row.mobile-custom-row {
  float: left;
  padding: 2px 15px;
  width: 100%;
  border-bottom: 1px solid #b3b3b3;
  background: #ffffff none repeat scroll 0 0;
}
/* line 1317, ../sass/cinemateque.scss */
.mobile-calender-row.mobile-custom-row:nth-child(2n + 1) {
  background-color: #eee;
}

/* line 1321, ../sass/cinemateque.scss */
.accordian-hall .fa {
  float: right;
  padding-top: 5px;
}

/* line 1325, ../sass/cinemateque.scss */
.page-header h1.title {
  font-size: 7vh;
  padding: 10px;
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

/* line 1333, ../sass/cinemateque.scss */
div[id^="panels-ipe-paneid-22"] > * select {
  border-radius: 0 !important;
  border: 1px solid #999;
  box-shadow: none !important;
}

/* line 1340, ../sass/cinemateque.scss */
.front {
  background-color: #f9f4ee !important;
}
/* line 1342, ../sass/cinemateque.scss */
.front #mini-panel-myminipaneltest23rds13rd .pane-title {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
/* line 1347, ../sass/cinemateque.scss */
.front p {
  line-height: 24px;
}
/* line 1350, ../sass/cinemateque.scss */
.front .panel-pane {
  overflow: hidden;
}
/* line 1353, ../sass/cinemateque.scss */
.front .panel-flexible-inside {
  height: 100%;
}
/* line 1356, ../sass/cinemateque.scss */
.front .pane-bundle-gallery {
  /*.custom-slideshow, li{
  	height: 1024px!important;
  }*/
}
/* line 1360, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .custom-slideshow li img {
  width: 100%;
  height: auto;
  max-width: none;
}
/* line 1365, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .custom-slideshow {
  overflow: hidden;
}
/* line 1369, ../sass/cinemateque.scss */
.front .field-name-field-cm-festival-body {
  margin-top: 100px;
  margin-bottom: 20px;
}
/* line 1372, ../sass/cinemateque.scss */
.front .field-name-field-cm-festival-body p {
  margin-bottom: 50px;
  line-height: 25px;
}
/* line 1377, ../sass/cinemateque.scss */
.front .pane-panels-mini {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  width: 1330px !important;
}

/* line 1383, ../sass/cinemateque.scss */
.pane-bundle-sponser {
  padding: 20px 3%;
}
/* line 1386, ../sass/cinemateque.scss */
.pane-bundle-sponser .field-item {
  padding: 0px 20px;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
}
/* line 1391, ../sass/cinemateque.scss */
.pane-bundle-sponser .field-item img {
  padding: 10px 0;
  height: 100%;
  width: auto;
}
