/*****  header  *******/
/* line 6, ../sass/cinemateque.scss */
.front .navbar-default {
  background-color: transparent !important;
}
/* line 9, ../sass/cinemateque.scss */
.front #main-wrapper {
  margin-top: 0 !important;
}

/* line 15, ../sass/cinemateque.scss */
.not-front .navbar-default {
  background-color: #000 !important;
}

/* line 20, ../sass/cinemateque.scss */
.header #site-main-menu, .header #site-main-menu li a, .header #site-main-menu li a:hover, .header #site-main-menu li a:active {
  background-color: #000;
}

/* line 24, ../sass/cinemateque.scss */
.navbar .navbar-brand {
  height: 70px;
}

/* line 29, ../sass/cinemateque.scss */
.header-right i {
  color: #fff;
  position: relative;
}
/* line 34, ../sass/cinemateque.scss */
.header-right li:hover i, .header-right li:hover #da11y-toggle {
  color: #e41145;
}
/* line 38, ../sass/cinemateque.scss */
.header-right .fa-shopping-cart button {
  border: medium none;
  font-size: 0;
  height: 20px;
  position: absolute;
  width: 20px;
  background-color: transparent;
}

/* line 49, ../sass/cinemateque.scss */
.language-switcher-locale-url a {
  color: #fff;
}
/* line 51, ../sass/cinemateque.scss */
.language-switcher-locale-url a:hover {
  color: #e41145;
}
