/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/cinemateque.scss */
body {
  background-color: #eef3fa !important;
  font-family: Open-Sans;
  display: block !important;
  font-size: 15px;
}

/* line 9, ../sass/cinemateque.scss */
.tabledrag-toggle-weight-wrapper {
  display: none;
}

/* line 13, ../sass/cinemateque.scss */
.view-bean-infomation-block-view thead {
  display: none;
}
/* line 16, ../sass/cinemateque.scss */
.view-bean-infomation-block-view table {
  border: medium none;
}

/* line 21, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-icon {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 27, ../sass/cinemateque.scss */
.views-field.views-field-label {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 32, ../sass/cinemateque.scss */
.views-field.views-field-label p {
  margin-top: 0;
}
/* line 36, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-text {
  border: medium none;
  float: left;
  text-align: center;
  width: 100%;
}
/* line 41, ../sass/cinemateque.scss */
.views-field.views-field-field-cm-info-block-text p {
  margin-top: 0;
}

/* line 47, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 h2 {
  font-size: 16px;
  font-weight: bold;
}
/* line 51, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1.col-md-3 {
  padding-left: 50px;
  padding-right: 50px;
  width: 25%;
}
/* line 56, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li {
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
}
/* line 59, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a {
  background: transparent none repeat scroll 0 0;
  color: #ffffff;
  font-size: 14px;
}
/* line 63, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a:hover {
  background: transparent none repeat scroll 0 0;
}
/* line 66, ../sass/cinemateque.scss */
.pane-menu-menu-demo-menu-1 .menu.nav li a:active {
  background: transparent none repeat scroll 0 0;
}

/* line 75, ../sass/cinemateque.scss */
.col-md-3.sponser-pane {
  float: right;
  margin-top: 20px;
}
/* line 79, ../sass/cinemateque.scss */
.col-md-3.social.icon {
  float: right;
  margin-top: 20px;
}
/* line 84, ../sass/cinemateque.scss */
.col-md-3.header-right > li {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  transition: all 0.5s ease 0s;
}
/* line 94, ../sass/cinemateque.scss */
.col-md-3.header-right i {
  color: #fff;
  position: relative;
}
/* line 99, ../sass/cinemateque.scss */
.col-md-3.header-right li:hover i, .col-md-3.header-right li:hover #da11y-toggle {
  color: #b59d70;
}
/* line 103, ../sass/cinemateque.scss */
.col-md-3.header-right #da11y-toggle.active {
  color: #b59d70;
  box-shadow: none;
}
/* line 107, ../sass/cinemateque.scss */
.col-md-3.header-right .popup-title-active i {
  color: #b59d70;
}
/* line 110, ../sass/cinemateque.scss */
.col-md-3.header-right .fa-shopping-cart button {
  border: medium none;
  font-size: 0;
  height: 20px;
  position: absolute;
  width: 20px;
  background-color: transparent;
  left: 0;
}

/* line 122, ../sass/cinemateque.scss */
.language-switcher-locale-url a {
  color: #fff;
}
/* line 124, ../sass/cinemateque.scss */
.language-switcher-locale-url a:hover {
  color: #b59d70;
}

/* line 129, ../sass/cinemateque.scss */
.sponser {
  width: 80%;
  min-height: 60px;
}

/* line 134, ../sass/cinemateque.scss */
.news-leter h2 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
/* line 140, ../sass/cinemateque.scss */
.news-leter .webform-component input {
  border: 1px solid;
  font-size: 13px;
  height: 26px;
  padding-left: 4px;
}
/* line 146, ../sass/cinemateque.scss */
.news-leter .webform-submit.button-primary {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  height: 29px;
  margin-left: 0;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 0;
  width: 65px;
}
/* line 156, ../sass/cinemateque.scss */
.news-leter .webform-client-form.webform-client-form-19 {
  padding-left: 32px;
}

/* line 160, ../sass/cinemateque.scss */
.webform-component {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
  width: 25%;
}

/* line 167, ../sass/cinemateque.scss */
.newsleter-name {
  border-bottom-left-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

/*****  footer   **********/
/* line 177, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view table tr {
  background-color: #7a7a7a !important;
  border: medium none;
  color: #ffffff;
}
/* line 182, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view table tbody {
  background-color: #7a7a7a !important;
  border-top: medium none;
}
/* line 187, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view .handle {
  display: none;
}
/* line 190, ../sass/cinemateque.scss */
.footer .view-bean-infomation-block-view .form-submit {
  display: none;
}
/* line 195, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-text {
  margin-left: 10%;
  width: 80%;
}
/* line 198, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-text p {
  font-size: 14px;
  line-height: 1.2;
}
/* line 203, ../sass/cinemateque.scss */
.footer .views-field.views-field-field-cm-info-block-icon {
  padding-bottom: 0;
}
/* line 206, ../sass/cinemateque.scss */
.footer .views-field.views-field-label {
  padding: 0;
}
/* line 210, ../sass/cinemateque.scss */
.footer .pane-bean-infomation-block-view {
  background-color: #7a7a7a;
  padding-top: 20px;
}
/* line 215, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--join-our-newsletter {
  width: auto !important;
  margin-right: 30px !important;
}
/* line 218, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--join-our-newsletter p {
  margin: 0;
}
/* line 222, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 0;
  width: 20%;
}
/* line 228, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component input {
  background-color: #96825d;
  color: #fff;
  height: 40px;
  padding-left: 12px;
  font-size: 11px;
  margin-bottom: 0;
  padding-left: 10px;
  border-radius: 0 !important;
}
/* line 238, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component label {
  color: #fff;
}
/* line 241, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component.webform-component-radios {
  width: 100%;
}
/* line 243, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component.webform-component-radios label {
  color: #ffffff;
}
/* line 248, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail {
  width: auto;
  cursor: default;
  margin-left: 20%;
}
/* line 252, ../sass/cinemateque.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail input {
  height: auto;
}
/* line 256, ../sass/cinemateque.scss */
.footer .webform-client-form .form-submit {
  margin: 0 0 0 5px;
  background: #ffffff none repeat scroll 0 0 !important;
  box-shadow: none;
  color: #b59d70 !important;
  height: 40px;
  line-height: 0;
  margin: 0;
  border-radius: 0;
}
/* line 266, ../sass/cinemateque.scss */
.footer .webform-client-form .form-control::-moz-placeholder {
  color: #fff;
}
/* line 271, ../sass/cinemateque.scss */
.footer .social.icon {
  background-color: #b59d70;
  float: left;
  padding-top: 40px;
  text-align: center;
}
/* line 276, ../sass/cinemateque.scss */
.footer .social.icon .pane-content {
  display: inline-block;
}
/* line 280, ../sass/cinemateque.scss */
.footer .social .pane-content span {
  padding-left: 25px;
  padding-right: 1px;
}
/* line 285, ../sass/cinemateque.scss */
.footer .copyrignt-block {
  background-color: #ffffff;
  width: 100%;
}
/* line 288, ../sass/cinemateque.scss */
.footer .copyrignt-block .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 291, ../sass/cinemateque.scss */
.footer .copyrignt-block p {
  margin-bottom: 0;
}
/* line 294, ../sass/cinemateque.scss */
.footer .copyrignt-block .copyright {
  float: left;
}
/* line 297, ../sass/cinemateque.scss */
.footer .copyrignt-block .design-development {
  float: right;
}
/* line 301, ../sass/cinemateque.scss */
.footer .col-md-12.news-letter {
  background-color: #b59d70;
  color: #ffffff;
  padding: 0 0 25px 0;
}
/* line 305, ../sass/cinemateque.scss */
.footer .col-md-12.news-letter .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  width: 1048px !important;
}
/* line 310, ../sass/cinemateque.scss */
.footer .pane-webform-client-block-19 .pane-content {
  margin: 0 auto;
}

/* line 315, ../sass/cinemateque.scss */
.pane-footer-mini-panel .carousel {
  padding: 0;
}
/* line 318, ../sass/cinemateque.scss */
.pane-footer-mini-panel .social .pane-content span {
  margin: 0 auto;
  padding-top: 60px;
  width: 230px;
  width: 75px;
  text-align: center;
}

/* line 326, ../sass/cinemateque.scss */
.imageblock-image {
  width: 200px;
}

/* line 329, ../sass/cinemateque.scss */
.imageblock-link {
  float: right;
}

/* line 332, ../sass/cinemateque.scss */
.block-image {
  float: left;
}

/* line 335, ../sass/cinemateque.scss */
.block-body {
  float: left;
}

/* line 338, ../sass/cinemateque.scss */
.views-slideshow-cycle-main-frame {
  float: left;
  width: 100% !important;
}

/* line 342, ../sass/cinemateque.scss */
.views-slideshow-controls-text-pause {
  display: none;
}

/* line 345, ../sass/cinemateque.scss */
#main-wrapper {
  margin-top: 90px;
  overflow: hidden;
}
/* line 348, ../sass/cinemateque.scss */
#main-wrapper .panels-flexible-row.popup.region {
  display: none;
}

/* line 353, ../sass/cinemateque.scss */
img.panopoly-image-full {
  margin-bottom: 0 !important;
}

/*.sticky-header {
	height: 56px !important;
	line-height: 35px;
	margin-top: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	&.header {
		.navbar-default {
			background-color: $black!important;
		}
		#site-main-menu {
			padding-bottom: 0;
			padding-top: 5px;
			background-color: $black;
			color: $color_mongoose_approx;
			li a {
				padding-bottom: 12px;
				padding-top: 12px;
				background-color: $black;
				color: $white;
				font-size: 16px;
				&:hover {
					padding-bottom: 12px;
					padding-top: 12px;
					background-color: $black;
					color: $color_mongoose_approx;
				}
				&:active {
					padding-bottom: 12px;
					padding-top: 12px;
					background-color: $black;
					color: $color_mongoose_approx;
				}
			}
		}
		.hambruger.-menu.navbar-toggle {
			margin-top: 12px;
			margin-left: 30px;
		}
		.navbar .navbar-brand {
			height: 50px;
			overflow: hidden;
			padding: 0 0 0 5px;
		}
	}
	.festival-site {
		padding-left: 12px;
		padding-top: 7px;
		span{
			line-height: 20px;
		}
	}
	.navbar-header{
		height: 54px;
	}
	.navbar-brand > img {
		height: 50px;
		padding-top: 5px;
	}
	.header-right > li {
		padding-top: 9px;
	}
}*/
/* line 422, ../sass/cinemateque.scss */
.sticky-header, .not-front header {
  height: 50px !important;
}
/* line 424, ../sass/cinemateque.scss */
.sticky-header .navbar-brand, .not-front header .navbar-brand {
  padding-top: 6px !important;
}
/* line 426, ../sass/cinemateque.scss */
.sticky-header .navbar-brand > img, .not-front header .navbar-brand > img {
  height: 40px;
}

/* line 433, ../sass/cinemateque.scss */
.admin-menu #header {
  top: 29px;
}
/* line 436, ../sass/cinemateque.scss */
.admin-menu .sticky-header.header {
  margin-top: 0;
}

/* line 441, ../sass/cinemateque.scss */
.navbar-default {
  background-color: transparent;
}

/* line 445, ../sass/cinemateque.scss */
.navbar-header {
  position: relative;
  z-index: 200;
}

/* line 450, ../sass/cinemateque.scss */
#header {
  position: fixed;
  height: 68px;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  z-index: 99;
}
/* line 458, ../sass/cinemateque.scss */
#header .container-fluid {
  padding: 0;
}

/* line 463, ../sass/cinemateque.scss */
#header {
  background-color: #000000;
}

/* line 468, ../sass/cinemateque.scss */
.front #header {
  background-color: transparent;
}
/* line 470, ../sass/cinemateque.scss */
.front #header.sticky-header {
  background-color: #000000;
}
/* line 474, ../sass/cinemateque.scss */
.front #main-wrapper {
  margin-top: 0 !important;
}

/* line 480, ../sass/cinemateque.scss */
.header #site-main-menu {
  background-color: #b59d70;
  color: #ffffff;
  transition: all 0.5s ease 0s;
  padding: 0 !important;
  width: 100%;
  position: absolute;
  float: none;
}
/* line 488, ../sass/cinemateque.scss */
.header #site-main-menu li a {
  color: #ffffff;
  transition: all 0.5s ease 0s;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px !important;
}
/* line 497, ../sass/cinemateque.scss */
.header .container {
  padding: 0;
  width: 100%;
}
/* line 501, ../sass/cinemateque.scss */
.header .site-custom-menu li {
  display: none;
}
/* line 503, ../sass/cinemateque.scss */
.header .site-custom-menu li.expanded {
  display: inline-block;
}
/* line 506, ../sass/cinemateque.scss */
.header .site-custom-menu li ul li {
  display: block;
}

/* line 511, ../sass/cinemateque.scss */
.dropdown-menu {
  background-color: transparent;
  padding: 0;
}

/* line 515, ../sass/cinemateque.scss */
.panels-flexible-region-custom_front_panel-footer_region, .panels-flexible-region-93-center {
  width: 100%;
}

/* line 518, ../sass/cinemateque.scss */
.pane-block-4 {
  background-color: #ffffff;
  float: left;
  width: 100%;
}

/* line 523, ../sass/cinemateque.scss */
.header-right {
  float: right;
  width: auto;
}

/* line 527, ../sass/cinemateque.scss */
.festival-site {
  float: left;
  padding-top: 4px;
}
/* line 530, ../sass/cinemateque.scss */
.festival-site span {
  color: #ffffff;
  float: left;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
}

/* line 541, ../sass/cinemateque.scss */
[dir="rtl"] .navbar-header {
  float: right !important;
}
/* line 544, ../sass/cinemateque.scss */
[dir="rtl"] .block-image {
  float: right;
  text-align: left;
}
/* line 549, ../sass/cinemateque.scss */
[dir="rtl"] .navbar-brand {
  float: right;
}
/* line 553, ../sass/cinemateque.scss */
[dir="rtl"] #myModal .webform-component {
  float: right;
}
/* line 556, ../sass/cinemateque.scss */
[dir="rtl"] #myModal .newsleter-name {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
/* line 562, ../sass/cinemateque.scss */
[dir="rtl"] #myModal .news-leter .webform-submit.button-primary {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
/* line 568, ../sass/cinemateque.scss */
[dir="rtl"] #myModal .form-submit {
  border-bottom-left-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
/* line 576, ../sass/cinemateque.scss */
[dir="rtl"] .radio label {
  padding-left: 0;
  padding-right: 0;
}
/* line 580, ../sass/cinemateque.scss */
[dir="rtl"] .radio input[type="radio"] {
  margin-left: 6px;
  margin-top: 0;
  position: relative;
}
/* line 586, ../sass/cinemateque.scss */
[dir="rtl"] .site-custom-menu.menu.nav.navbar-nav {
  float: right;
}
/* line 589, ../sass/cinemateque.scss */
[dir="rtl"] .hambruger.-menu.navbar-toggle {
  float: right;
  margin-left: 0;
  margin-right: 30px;
}
/* line 595, ../sass/cinemateque.scss */
[dir="rtl"] .social .pane-content li {
  float: right;
}
/* line 598, ../sass/cinemateque.scss */
[dir="rtl"] .social .pane-content span {
  float: right;
}
/* line 602, ../sass/cinemateque.scss */
[dir="rtl"] .sponser-pane .pane-content li {
  float: right;
  float: right;
}
/* line 606, ../sass/cinemateque.scss */
[dir="rtl"] .design-development > p {
  text-align: left;
}
/* line 609, ../sass/cinemateque.scss */
[dir="rtl"] .view-bean-infomation-block-view table tr {
  float: right;
}
/* line 612, ../sass/cinemateque.scss */
[dir="rtl"] .pane-menu-menu-site-main-menu .menu.nav li.expanded {
  float: right;
}
/* line 615, ../sass/cinemateque.scss */
[dir="rtl"] .col-md-6.news-leter {
  float: right;
}
/* line 618, ../sass/cinemateque.scss */
[dir="rtl"] .news-leter .webform-component input {
  padding-left: 0;
  padding-right: 4px;
}
/* line 622, ../sass/cinemateque.scss */
[dir="rtl"] .checkbox input[type="checkbox"] {
  margin-left: 6px;
  margin-top: 0;
  position: relative;
}
/* line 627, ../sass/cinemateque.scss */
[dir="rtl"] .checkbox-inline input[type="checkbox"] {
  margin-left: 6px;
  margin-top: 0;
  position: relative;
}
/* line 632, ../sass/cinemateque.scss */
[dir="rtl"] .radio-inline input[type="radio"] {
  margin-left: 6px;
  margin-top: 0;
  position: relative;
}
/* line 638, ../sass/cinemateque.scss */
[dir="rtl"] .popup.region .views-field.views-field-field-cm-info-block-icon {
  float: right;
}
/* line 641, ../sass/cinemateque.scss */
[dir="rtl"] .popup.region .views-field.views-field-label {
  float: right;
}
/* line 644, ../sass/cinemateque.scss */
[dir="rtl"] .popup.region .views-field.views-field-field-cm-info-block-text {
  float: right;
}

/* line 650, ../sass/cinemateque.scss */
.pro-grid {
  margin: 0 auto;
  background: #e3e3e3 none repeat scroll 0 0;
  padding: 0.25%;
}
/* line 654, ../sass/cinemateque.scss */
.pro-grid:nth-child(odd) {
  background: transparent;
}
/* line 657, ../sass/cinemateque.scss */
.pro-grid > * .search-info .fa {
  color: #b59d70;
  font-size: 16px;
  margin: 0 10px;
}

/* line 663, ../sass/cinemateque.scss */
.search-result {
  transition: ease 0.5s background;
}
/* line 665, ../sass/cinemateque.scss */
.search-result:nth-child(even) {
  background: #ffffff;
}
/* line 668, ../sass/cinemateque.scss */
.search-result:nth-child(odd) {
  background: #f5f5f5;
}
/* line 671, ../sass/cinemateque.scss */
.search-result:hover {
  background-color: #b59d70;
  color: #000000 !important;
}
/* line 675, ../sass/cinemateque.scss */
.search-result:hover .pro-grid li .search-view-mode {
  color: #ffffff !important;
}
/* line 678, ../sass/cinemateque.scss */
.search-result:hover .pro-grid li .title a {
  color: #ffffff !important;
}

@media (max-device-width: 420px) {
  /* line 685, ../sass/cinemateque.scss */
  .pro-grid {
    padding: 10px;
  }

  /* line 688, ../sass/cinemateque.scss */
  .cm_person .pro-grid li {
    width: 100%;
    display: block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  /* line 693, ../sass/cinemateque.scss */
  .cm_person .pro-grid li:nth-child(1) {
    width: 40% !important;
    margin: auto;
  }

  /* line 698, ../sass/cinemateque.scss */
  #edit-basic .form-item {
    width: 60% !important;
  }

  /* line 701, ../sass/cinemateque.scss */
  .custom_filter_css .item-list ul li {
    padding: 6px 5px !important;
  }
  /* line 703, ../sass/cinemateque.scss */
  .custom_filter_css .item-list ul li a {
    letter-spacing: 0 !important;
    font-size: 13px;
  }
}
/* line 709, ../sass/cinemateque.scss */
#edit-search-block-form--2 {
  border: 1px solid #000000;
}

/* line 712, ../sass/cinemateque.scss */
.popup-element-title {
  color: #ffffff !important;
}

/* line 718, ../sass/cinemateque.scss */
.pagination > li:last-child > a {
  border-radius: 0 !important;
}
/* line 721, ../sass/cinemateque.scss */
.pagination > li:last-child > span {
  border-radius: 0 !important;
}
/* line 726, ../sass/cinemateque.scss */
.pagination > li:first-child > a {
  border-radius: 0 !important;
}
/* line 729, ../sass/cinemateque.scss */
.pagination > li:first-child > span {
  border-radius: 0 !important;
}
/* line 735, ../sass/cinemateque.scss */
.pagination > .active > a {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 739, ../sass/cinemateque.scss */
.pagination > .active > a:focus {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 744, ../sass/cinemateque.scss */
.pagination > .active > a:hover {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 750, ../sass/cinemateque.scss */
.pagination > .active > span {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 754, ../sass/cinemateque.scss */
.pagination > .active > span:focus {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 759, ../sass/cinemateque.scss */
.pagination > .active > span:hover {
  border: 1px solid #b59d70 !important;
  background: transparent;
  color: #b59d70;
}
/* line 766, ../sass/cinemateque.scss */
.pagination li a {
  color: #b59d70;
}

/* line 771, ../sass/cinemateque.scss */
.item-list ul li {
  margin: 0 0 0 0 !important;
}
/* line 774, ../sass/cinemateque.scss */
.item-list .pager li {
  padding: 0.2em !important;
  font-size: 12px;
}
/* line 777, ../sass/cinemateque.scss */
.item-list .pager li a {
  background-color: transparent !important;
}

/* line 783, ../sass/cinemateque.scss */
#edit-basic .form-group {
  display: block !important;
  margin: 0;
  float: left !important;
  width: 80%;
  background: #ffffff !important;
}
/* line 789, ../sass/cinemateque.scss */
#edit-basic .form-group label[for="edit-keys"] {
  display: none !important;
}
/* line 792, ../sass/cinemateque.scss */
#edit-basic .form-group #edit-keys {
  width: 96%;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  height: auto;
  padding: 15px 2%;
  box-shadow: 0 1px 3px 1px #aaa;
}
/* line 802, ../sass/cinemateque.scss */
#edit-basic #edit-submit {
  margin: 0;
  border-radius: 0 !important;
  background: #b59d70 !important;
  padding: 9px 25px 11px;
  box-shadow: 0 1px 4px 1px #aaa;
  font-size: 18px;
  width: 20%;
}

/* line 813, ../sass/cinemateque.scss */
.mobile-calender .calender-filter {
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}
/* line 816, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p {
  background-color: #ffffff;
  font-size: 12px;
  width: 65px;
  margin: 0;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
/* line 823, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p.active {
  background-color: #b59d70;
  color: #ffffff;
  cursor: pointer;
  box-shadow: none;
}
/* line 829, ../sass/cinemateque.scss */
.mobile-calender .calender-filter > p:hover {
  background-color: #b59d70;
  box-shadow: none;
}
/* line 835, ../sass/cinemateque.scss */
.mobile-calender .mobile-accordian-content {
  display: none;
}
/* line 838, ../sass/cinemateque.scss */
.mobile-calender .mobile-event-accordian {
  float: left;
  width: 100%;
}
/* line 842, ../sass/cinemateque.scss */
.mobile-calender .mobile-bold-time {
  float: left;
  width: 45px;
}
/* line 846, ../sass/cinemateque.scss */
.mobile-calender .mobile-event-title {
  float: left;
  width: 200px;
}
/* line 850, ../sass/cinemateque.scss */
.mobile-calender .filter-cantrol {
  display: block;
}

/* line 854, ../sass/cinemateque.scss */
.mobile-calender-filter-date {
  float: left;
  width: 100%;
}
/* line 857, ../sass/cinemateque.scss */
.mobile-calender-filter-date .pull-left {
  color: #b59d70;
  font-weight: bold;
}

/* line 862, ../sass/cinemateque.scss */
.filter-cantrol {
  display: none;
}

@media (min-width: 240px) and (max-width: 767px) {
  /* line 866, ../sass/cinemateque.scss */
  .col-sm-12.calender {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 871, ../sass/cinemateque.scss */
  .mobile-calender {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 877, ../sass/cinemateque.scss */
  .pane-menu-tree h2 {
    font-size: 12px;
  }
  /* line 880, ../sass/cinemateque.scss */
  .pane-menu-tree.col-md-3 {
    float: left;
    padding-left: 20px;
    padding-right: 5px;
    width: 25%;
  }
  /* line 886, ../sass/cinemateque.scss */
  .pane-menu-tree .menu.nav li a {
    font-size: 12px;
  }

  /* line 891, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    padding: 0 10px;
    width: 170px;
  }
  /* line 895, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    padding: 0 10px;
    width: 170px;
  }

  /* line 901, ../sass/cinemateque.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 5px;
  }
  /* line 904, ../sass/cinemateque.scss */
  .news-leter .webform-submit.button-primary {
    height: 28px;
  }
  /* line 907, ../sass/cinemateque.scss */
  .news-leter .webform-component input {
    font-size: 11px;
  }

  /* line 911, ../sass/cinemateque.scss */
  .webform-component {
    width: 20%;
  }

  /* line 914, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    width: 700px;
  }

  /* line 919, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-field-cm-info-block-icon {
    padding: 2px;
  }
  /* line 922, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-label {
    padding-left: 5px;
    padding-right: 0;
    width: 80%;
  }
  /* line 927, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-field-cm-info-block-text {
    padding-left: 5px;
    padding-right: 0;
    width: 80%;
  }
  /* line 933, ../sass/cinemateque.scss */
  .popup.region .pane-menu-tree .menu.nav li {
    line-height: 28px;
  }
  /* line 936, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tr {
    width: 25%;
    float: left;
  }
  /* line 940, ../sass/cinemateque.scss */
  .popup.region .social img {
    height: auto;
    width: 90%;
  }

  /* line 945, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 8px 8px 0;
    width: 25%;
  }
  /* line 948, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded a {
    font-size: 12px;
  }
  /* line 951, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li {
    line-height: 32px;
  }
  /* line 953, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-size: 12px;
    font-weight: normal;
  }

  /* line 959, ../sass/cinemateque.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    padding-right: 0;
    width: 50%;
  }
}
@media (min-width: 850px) and (max-width: 980px) {
  /* line 966, ../sass/cinemateque.scss */
  .webform-component {
    width: 22%;
  }

  /* line 970, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    width: 198px;
  }
  /* line 973, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    width: 198px;
  }

  /* line 977, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    width: 800px;
  }
}
@media (min-width: 981px) and (max-width: 1024px) {
  /* line 982, ../sass/cinemateque.scss */
  .webform-component {
    width: 24%;
  }

  /* line 986, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    width: 210px;
  }
  /* line 989, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    width: 210px;
  }

  /* line 993, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    width: 900px;
  }

  /* line 996, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    width: 33%;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  /* line 1001, ../sass/cinemateque.scss */
  .webform-component {
    width: 23%;
  }

  /* line 1005, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    width: 240px;
  }
  /* line 1008, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    width: 240px;
  }

  /* line 1012, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    width: 980px;
  }

  /* line 1017, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-field-cm-info-block-icon {
    padding: 4px;
  }
  /* line 1020, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-label {
    padding-left: 5px;
  }
  /* line 1023, ../sass/cinemateque.scss */
  .popup.region .views-field.views-field-field-cm-info-block-text {
    padding-left: 5px;
  }
  /* line 1027, ../sass/cinemateque.scss */
  .popup.region .social.icon img {
    height: auto;
    width: 90%;
  }

  /* line 1032, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    width: 32%;
  }

  /* line 1035, ../sass/cinemateque.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 38px;
    padding-right: 10px;
    width: 25%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 1042, ../sass/cinemateque.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 1046, ../sass/cinemateque.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 15px;
    margin-top: 8px;
  }
  /* line 1050, ../sass/cinemateque.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }
  /* line 1054, ../sass/cinemateque.scss */
  .sticky-header .navbar-brand > img {
    height: 48px;
  }

  /* line 1059, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 300px;
  }
  /* line 1063, ../sass/cinemateque.scss */
  .hamburger .modal-body .close {
    padding: 10px;
  }

  /* line 1068, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 1072, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 1078, ../sass/cinemateque.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 1082, ../sass/cinemateque.scss */
  .news-leter .webform-component input {
    border-radius: 0 !important;
  }
  /* line 1085, ../sass/cinemateque.scss */
  .news-leter .webform-submit.button-primary {
    border-radius: 0 !important;
  }

  /* line 1089, ../sass/cinemateque.scss */
  .webform-component {
    margin: 0;
    width: 98%;
  }

  /* line 1093, ../sass/cinemateque.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-left: 15px;
    margin-top: 8px;
  }

  /* line 1098, ../sass/cinemateque.scss */
  .navbar .navbar-brand {
    height: 70px !important;
  }

  /* line 1101, ../sass/cinemateque.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 1104, ../sass/cinemateque.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 1109, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    float: left;
    padding: 0;
    width: 100%;
  }
  /* line 1113, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 1118, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 1121, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 1125, ../sass/cinemateque.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    padding: 0;
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  /* line 1131, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 330px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  /* line 1137, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 350px;
  }
}
@media (min-width: 451px) and (max-width: 480px) {
  /* line 1143, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 400px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  /* line 1149, ../sass/cinemateque.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 1154, ../sass/cinemateque.scss */
  .sticky-header.header .navbar-default {
    min-height: 52px;
  }
  /* line 1157, ../sass/cinemateque.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 30px;
    margin-top: 8px;
  }
  /* line 1162, ../sass/cinemateque.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }

  /* line 1167, ../sass/cinemateque.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 1171, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 1175, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 1180, ../sass/cinemateque.scss */
  .webform-component {
    width: 23%;
  }

  /* line 1183, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 440px;
  }

  /* line 1187, ../sass/cinemateque.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-top: 8px;
  }

  /* line 1191, ../sass/cinemateque.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 1194, ../sass/cinemateque.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 1199, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 0;
    width: 100%;
  }
  /* line 1202, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 1207, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 1210, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 1214, ../sass/cinemateque.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    width: 100%;
  }

  /* line 1218, ../sass/cinemateque.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 10px;
  }
}
@media (min-width: 560px) and (max-width: 640px) {
  /* line 1223, ../sass/cinemateque.scss */
  .webform-component {
    width: 25%;
  }

  /* line 1226, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 530px;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* line 1232, ../sass/cinemateque.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 1237, ../sass/cinemateque.scss */
  .sticky-header.header .navbar-default {
    min-height: 52px;
  }
  /* line 1240, ../sass/cinemateque.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-left: 30px;
    margin-top: 8px;
  }
  /* line 1245, ../sass/cinemateque.scss */
  .sticky-header .navbar-toggle .icon-bar {
    height: 1px;
    width: 12px;
  }

  /* line 1250, ../sass/cinemateque.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 1254, ../sass/cinemateque.scss */
  .col-md-3.sponser-pane {
    text-align: center;
    width: 100%;
  }
  /* line 1258, ../sass/cinemateque.scss */
  .col-md-3.social.icon {
    text-align: center;
    width: 100%;
  }

  /* line 1263, ../sass/cinemateque.scss */
  .webform-component {
    width: 26%;
  }

  /* line 1266, ../sass/cinemateque.scss */
  .hamburger .modal-dialog {
    margin: 0 auto;
    width: 600px;
  }

  /* line 1270, ../sass/cinemateque.scss */
  .hambruger.-menu.navbar-toggle {
    border: 1px solid #ffffff;
    margin-top: 8px;
  }

  /* line 1274, ../sass/cinemateque.scss */
  .navbar-toggle .icon-bar {
    transition: all 0.5s ease 0s;
  }

  /* line 1277, ../sass/cinemateque.scss */
  .pane-menu-tree.col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  /* line 1282, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded {
    padding: 0;
    width: 100%;
  }
  /* line 1285, ../sass/cinemateque.scss */
  .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
    font-weight: normal;
  }

  /* line 1290, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tr {
    border: 1px solid #ccc;
  }
  /* line 1293, ../sass/cinemateque.scss */
  .popup.region .view-bean-infomation-block-view tbody {
    border: 1px solid #ccc;
  }

  /* line 1297, ../sass/cinemateque.scss */
  .panel-pane.pane-block.news-leter {
    float: left;
    width: 100%;
  }

  /* line 1301, ../sass/cinemateque.scss */
  .news-leter .webform-client-form.webform-client-form-18 {
    padding-left: 10px;
  }
}
/* line 1306, ../sass/cinemateque.scss */
#panels-ipe-paneid-221, #panels-ipe-paneid-222, #panels-ipe-paneid-220 {
  width: 33%;
  display: inline-block;
  padding: 0 1%;
}

@media (min-device-width: 620px) {
  /* line 1314, ../sass/cinemateque.scss */
  .search_result ol {
    padding: 0;
    margin: auto;
  }
}
/* line 1320, ../sass/cinemateque.scss */
.wide-margins {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  width: 615px !important;
}

/* line 1325, ../sass/cinemateque.scss */
.purchase-btn {
  background: #b59d70;
  padding: 4px 10px;
  color: #ffffff !important;
  letter-spacing: 1px;
}

/* line 1331, ../sass/cinemateque.scss */
.draggable.tabledrag-processed thead {
  display: none;
}

/* line 1334, ../sass/cinemateque.scss */
.panels-flexible-region.popup.region {
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 40px;
}

/* line 1341, ../sass/cinemateque.scss */
.popup.region .view-bean-infomation-block-view tr {
  background: transparent none repeat scroll 0 0 !important;
  border: medium none;
}
/* line 1345, ../sass/cinemateque.scss */
.popup.region .view-bean-infomation-block-view tbody {
  background: transparent none repeat scroll 0 0 !important;
  border: medium none;
}
/* line 1351, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-icon {
  float: left;
  width: auto;
  min-height: 80px;
  border: medium none;
}
/* line 1357, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-label {
  float: left;
  padding-left: 15px;
  text-align: center;
  width: 185px;
  border: medium none;
}
/* line 1363, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-label p {
  margin-top: 0;
}
/* line 1367, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-text {
  float: left;
  padding-left: 15px;
  text-align: center;
  width: 185px;
  border: medium none;
}
/* line 1373, ../sass/cinemateque.scss */
.popup.region .views-field.views-field-field-cm-info-block-text p {
  margin-top: 0;
}
/* line 1378, ../sass/cinemateque.scss */
.popup.region .pane-my-backend-festival-menu-block .menu.nav li.last {
  border-bottom: none;
}
/* line 1381, ../sass/cinemateque.scss */
.popup.region .pane-menu-menu-demo-menu-1 .menu.nav li {
  background-image: url("../images/arrow-right.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
}
/* line 1388, ../sass/cinemateque.scss */
.popup.region .pane-menu-menu-demo-menu-1 .menu.nav li.last {
  border-bottom: medium none;
  margin-bottom: 30px;
}

/* line 1396, ../sass/cinemateque.scss */
li.expanded .caret {
  display: none;
}
/* line 1399, ../sass/cinemateque.scss */
li.expanded .dropdown-menu {
  border-top: 2px solid #b59d70;
}

/* line 1404, ../sass/cinemateque.scss */
.social .pane-content span {
  float: left;
  overflow: hidden;
  width: 33%;
}

/* line 1410, ../sass/cinemateque.scss */
.sponser-pane .pane-content li {
  float: left;
  overflow: hidden;
  width: 33%;
}

/* line 1416, ../sass/cinemateque.scss */
.pane-bean-infomation-block-view.col-md-12 {
  background-color: #262626;
  padding-top: 30px;
}

/* line 1421, ../sass/cinemateque.scss */
.form-item-submitted-approve-recieving-e-mail.radio {
  margin: 0;
}

/* line 1425, ../sass/cinemateque.scss */
.webform-component-radios.webform-component--approve-recieving-e-mail {
  margin-bottom: 0;
  width: 100%;
}

/********   Footer  *********/
/* line 1432, ../sass/cinemateque.scss */
section.footer .view-bean-infomation-block-view table tbody tr {
  background-color: #7a7a7a !important;
  border: medium none;
  color: #ffffff;
}

/* line 1438, ../sass/cinemateque.scss */
.panels-flexible-region-11-center, .panels-flexible-region-14-center {
  width: 100%;
}

/* line 1442, ../sass/cinemateque.scss */
.copyright > p {
  font-size: 14px;
  padding: 15px 0;
}

/* line 1446, ../sass/cinemateque.scss */
.design-development > p {
  font-size: 14px;
  padding: 15px 0;
}

/* line 1451, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content li {
  display: inline;
}
/* line 1453, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content li img.carousel-sponser {
  padding-top: 8px;
  width: 140px;
}
/* line 1458, ../sass/cinemateque.scss */
.custom-sponser-pane .pane-content > ul {
  float: left;
  text-align: center;
  width: 100%;
}

/****   slide changes   ************/
/* line 1467, ../sass/cinemateque.scss */
.pane-slider h2 {
  display: none;
}

/* line 1470, ../sass/cinemateque.scss */
.views_slideshow_controls_text a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: block;
  height: 40px;
  margin: -20px 0 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  top: 50%;
  transition: all 0.3s ease-in-out 0s;
  width: 40px;
  z-index: 10;
  background-repeat: no-repeat;
  font-size: 0;
  height: 32px;
  width: 32px;
}

/* line 1490, ../sass/cinemateque.scss */
.views-slideshow-controls-text-previous a {
  left: 0;
  background-image: url("../images/left.png");
  margin-left: 15px;
}

/* line 1495, ../sass/cinemateque.scss */
.views-slideshow-controls-text-next a {
  right: 0;
  background-image: url("../images/right.png");
  margin-right: 15px;
}

/* line 1500, ../sass/cinemateque.scss */
.view-id-slider:hover .views_slideshow_controls_text a {
  opacity: 1;
}

/* line 1504, ../sass/cinemateque.scss */
.navbar-brand > img {
  height: 50px;
  transition: all 0.5s ease 0s;
}

/* line 1509, ../sass/cinemateque.scss */
.hambruger.-menu.navbar-toggle {
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 9px;
  border: medium none;
  margin-right: 0;
  transition: all 0.5s ease 0s;
}

/* line 1518, ../sass/cinemateque.scss */
#site-main-menu > li a.dropdown-toggle.active {
  background: transparent none repeat scroll 0 0;
}

/* line 1521, ../sass/cinemateque.scss */
.site-custom-menu.menu.nav.navbar-nav {
  background: transparent none repeat scroll 0 0 !important;
  margin-top: 5px;
  text-align: center;
}

/* line 1526, ../sass/cinemateque.scss */
.panels-flexible-custom_front_panel .panels-flexible-region {
  width: 100%;
}

/* line 1529, ../sass/cinemateque.scss */
.navbar .navbar-brand {
  padding: 9px 15px 0;
  overflow: hidden;
  width: 120px;
}

/* line 1534, ../sass/cinemateque.scss */
.navbar-nav > li {
  display: inline-block;
  float: none;
}

/* line 1538, ../sass/cinemateque.scss */
#main #content {
  padding: 0;
}

/* line 1541, ../sass/cinemateque.scss */
span.bold {
  font-weight: bold;
}

/* line 1544, ../sass/cinemateque.scss */
.bold.time {
  float: left;
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

/* line 1550, ../sass/cinemateque.scss */
.calender-filter-date p.pull-left {
  color: #b59d70;
  font-weight: bolder;
}

/* line 1554, ../sass/cinemateque.scss */
.page-taxonomy .panels-flexible-row.content {
  margin: 0 auto;
  width: 100%;
}

/********  new added css  ******/
/* line 1562, ../sass/cinemateque.scss */
.search-results {
  padding: 0;
}

/* line 1565, ../sass/cinemateque.scss */
.search-results.node-results {
  padding: 0 !important;
}

/* line 1568, ../sass/cinemateque.scss */
.cm_person .pro-grid li {
  width: 46%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
/* line 1573, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(1) {
  width: 6% !important;
}
/* line 1576, ../sass/cinemateque.scss */
.cm_person .pro-grid li .pro-img {
  max-width: 100%;
  background: #f6f6f6;
  padding: 2px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
/* line 1585, ../sass/cinemateque.scss */
.cm_person .pro-grid li .title {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 1589, ../sass/cinemateque.scss */
.cm_person .pro-grid li .title a {
  font-weight: 500;
  font-size: 14px;
  color: #000000 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}
/* line 1600, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(3) {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0 !important;
}
/* line 1606, ../sass/cinemateque.scss */
.cm_person .pro-grid li:nth-child(2) {
  width: 25% !important;
}
/* line 1609, ../sass/cinemateque.scss */
.cm_person .pro-grid li .search-view-mode p {
  font-size: 13px !important;
  margin: 0 !important;
  line-height: 1.25 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 56px;
  line-clamp: 2;
  box-orient: vertical;
}

/* line 1621, ../sass/cinemateque.scss */
.pager li > a {
  border-radius: 0 !important;
}
/* line 1624, ../sass/cinemateque.scss */
.pager li > span {
  border-radius: 0 !important;
}

/* line 1628, ../sass/cinemateque.scss */
.custom_filter_css .item-list ul li {
  display: inline-block;
  padding: 6px 10px;
  background: #b59d70;
}
/* line 1632, ../sass/cinemateque.scss */
.custom_filter_css .item-list ul li a {
  color: #ffffff !important;
  letter-spacing: 1px;
}

/* line 1637, ../sass/cinemateque.scss */
.mobile-event-accordian .accordian-hall {
  background-color: #b59d70;
  color: #ffffff;
  cursor: pointer;
  margin: 2px 0;
  padding: 5px 15px;
}
/* line 1643, ../sass/cinemateque.scss */
.mobile-event-accordian .accordian-hall.open {
  background-color: #000000;
}

/* line 1647, ../sass/cinemateque.scss */
.mobile-calender-row.mobile-custom-row {
  float: left;
  padding: 2px 15px;
  width: 100%;
  border-bottom: 1px solid #b3b3b3;
  background: #ffffff none repeat scroll 0 0;
}
/* line 1653, ../sass/cinemateque.scss */
.mobile-calender-row.mobile-custom-row:nth-child(2n + 1) {
  background-color: #eee;
}

/* line 1657, ../sass/cinemateque.scss */
.accordian-hall .fa {
  float: right;
  padding-top: 5px;
}

/* line 1661, ../sass/cinemateque.scss */
.page-header h1.title {
  font-size: 7vh;
  padding: 10px;
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

/* line 1669, ../sass/cinemateque.scss */
div[id^="panels-ipe-paneid-22"] > * select {
  border-radius: 0 !important;
  border: 1px solid #999;
  box-shadow: none !important;
}

/* line 1676, ../sass/cinemateque.scss */
.front {
  background-color: #f9f4ee !important;
}
/* line 1678, ../sass/cinemateque.scss */
.front #mini-panel-myminipaneltest23rds13rd .pane-title {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
/* line 1683, ../sass/cinemateque.scss */
.front p {
  line-height: 24px;
}
/* line 1686, ../sass/cinemateque.scss */
.front .panel-pane {
  overflow: hidden;
}
/* line 1689, ../sass/cinemateque.scss */
.front .panel-flexible-inside {
  height: 100%;
}
/* line 1693, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .custom-slideshow {
  height: 1024px !important;
}
/* line 1696, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .custom-slideshow li img {
  width: 100%;
  height: auto;
  max-width: none;
}
/* line 1701, ../sass/cinemateque.scss */
.front .pane-bundle-gallery li {
  height: 1024px !important;
}
/* line 1704, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .slider-readmore {
  border-radius: 15px;
  margin-top: 20px;
}
/* line 1708, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .slider-title {
  font-size: 3rem;
  font-weight: normal;
}
/* line 1712, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .pinch {
  width: 100%;
  left: 0;
  padding: 0;
  text-shadow: -3px -3px 2px #969696;
}
/* line 1717, ../sass/cinemateque.scss */
.front .pane-bundle-gallery .pinch .wrapper {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 1722, ../sass/cinemateque.scss */
.front .field-name-field-cm-festival-body {
  margin-top: 100px;
  margin-bottom: 20px;
}
/* line 1725, ../sass/cinemateque.scss */
.front .field-name-field-cm-festival-body p {
  margin-bottom: 50px;
  line-height: 25px;
}
/* line 1730, ../sass/cinemateque.scss */
.front .pane-panels-mini {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  width: 1330px !important;
}
