/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/cinemateque-rtl.scss */
.footer .views-field.views-field-field-cm-info-block-text {
  margin-left: 0%;
  margin-right: 10%;
}
/* line 10, ../sass/cinemateque-rtl.scss */
.footer .pane-webform-client-block-19 {
  padding-top: 30px !important;
}
/* line 14, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component--join-our-newsletter {
  margin-left: 30px !important;
  margin-right: 0;
}
/* line 18, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component {
  float: right;
  margin-right: 0px;
  margin-left: 14px;
}
/* line 22, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component input {
  padding-left: 0px;
  padding-right: 10px;
}
/* line 27, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form label {
  padding: 10px;
}
/* line 30, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail {
  margin-left: 0%;
  margin-right: 23%;
}
/* line 33, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail label {
  position: relative !important;
}
/* line 35, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .webform-component--approve-recieving-e-mail label.element-invisible {
  display: none;
}
/* line 40, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .form-submit {
  margin: 0 5px 0 0px;
}
/* line 43, ../sass/cinemateque-rtl.scss */
.footer .webform-client-form .form-actions {
  margin: 0;
}
/* line 48, ../sass/cinemateque-rtl.scss */
.footer .social.icon {
  float: right;
}
/* line 51, ../sass/cinemateque-rtl.scss */
.footer .social .pane-content span {
  padding-right: 25px;
  padding-left: 1px;
}
/* line 57, ../sass/cinemateque-rtl.scss */
.footer .copyrignt-block .copyright {
  float: right;
}
/* line 60, ../sass/cinemateque-rtl.scss */
.footer .copyrignt-block .design-development {
  float: left;
}
/* line 64, ../sass/cinemateque-rtl.scss */
.footer .news-letter h2 {
  float: right;
}

/* line 69, ../sass/cinemateque-rtl.scss */
.front .pane-bundle-gallery .slider-readmore {
  float: right;
}

/* line 73, ../sass/cinemateque-rtl.scss */
.header-right {
  float: left !important;
}
/* line 76, ../sass/cinemateque-rtl.scss */
.header-right .language-switcher-locale-url a {
  height: 24px !important;
  background: url("../images/english-icon.png") no-repeat 0 4px !important;
}
/* line 79, ../sass/cinemateque-rtl.scss */
.header-right .language-switcher-locale-url a:hover {
  background: url("../images/english-icon-gold.png") no-repeat 0 4px !important;
}
/* line 83, ../sass/cinemateque-rtl.scss */
.header-right .language-switcher-locale-url span {
  background: url("../images/english-icon.png") no-repeat 0 4px !important;
  height: 24px !important;
}
