/*
Error: Undefined mixin 'width'.
        on line 29 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss, in `width'
        from line 29 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss

24: 	}
25: 	.pane-test-view-for-movie-credit-panel-pane-2{
26: 		background-color: #fff;
27: 		padding: 30px 0;
28: 		.pane-content{
29: 			@include width;
30: 		}
31: 		.views-field-field-cm-movie-credits-person-ro{
32: 			color: $color_nobel_approx;
33: 			width: 23%;
34: 		}

Backtrace:
/home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss:29:in `width'
/home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss:29
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:30
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'width'.\A         on line 29 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss, in `width'\A         from line 29 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/event.scss\A \A 24: 	}\A 25: 	.pane-test-view-for-movie-credit-panel-pane-2{\A 26: 		background-color: #fff;\A 27: 		padding: 30px 0;\A 28: 		.pane-content{\A 29: 			@include width;\A 30: 		}\A 31: 		.views-field-field-cm-movie-credits-person-ro{\A 32: 			color: $color_nobel_approx;\A 33: 			width: 23%;\A 34: 		}"; }
