/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/event.scss */
.node-type-cm-event {
  background-color: #fff !important;
}
/* line 7, ../sass/event.scss */
.node-type-cm-event #content {
  width: 100% !important;
}
/* line 10, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3,
.node-type-cm-event .panels-flexible-row-node_page-4,
.node-type-cm-event .panels-flexible-row-node_page-6 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 16, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 {
  overflow: visible !important;
}
/* line 19, ../sass/event.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: right;
}
@media (max-width: 767px) {
  /* line 22, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 {
    padding: 0 !important;
  }
  /* line 25, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_left {
    padding: 0 5% !important;
  }
  /* line 28, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right {
    padding: 0 5% 25px !important;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 5px !important;
  }
}
/* line 35, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-row-node_page-5-inside {
  padding-top: 40px;
}
/* line 39, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 {
  overflow: hidden;
}
/* line 42, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 {
  background-color: #fff;
}
/* line 44, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 46, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .pane-content .view {
  margin: 0 23%;
}
@media (max-width: 767px) {
  /* line 46, ../sass/event.scss */
  .node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .pane-content .view {
    margin: 0;
  }
}
/* line 54, ../sass/event.scss */
.node-type-cm-event table {
  border: none !important;
}
/* line 56, ../sass/event.scss */
.node-type-cm-event table td, .node-type-cm-event table tr, .node-type-cm-event table tbody, .node-type-cm-event table th {
  border: none !important;
}
/* line 60, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  background-color: #f9fafb;
  width: 100%;
  float: left;
}
/* line 64, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 table tr {
  border: none !important;
}
/* line 66, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 table tr .views-field-field-toptix-purchase {
  width: 80px !important;
}
/* line 70, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-event-ct-view {
  overflow: visible;
}
/* line 72, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-event-ct-view .table-responsive {
  overflow: visible;
}
/* line 76, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-content {
  padding: 22px 0;
}
/* line 79, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 85, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .movie-group-slide img {
  margin-bottom: 0;
}
/* line 89, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view {
  overflow: visible;
}
/* line 93, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 93, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-5 {
    padding: 0;
  }
  /* line 97, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-5 .pane-title {
    padding: 0 5%;
  }
}
/* line 101, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view {
  overflow: visible;
}
/* line 103, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view #atedrop2-drop {
  top: 36px !important;
}
/* line 107, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .pane-title {
  margin-bottom: 15px;
}
/* line 111, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 {
  margin-right: 23%;
}
@media (max-width: 767px) {
  /* line 111, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-6 {
    margin-right: 0;
    margin-left: 0 !important;
  }
}
/* line 117, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-field-cm-movie-body {
  color: #312f2f;
  line-height: 28px;
}
/* line 121, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-title a {
  font-weight: bold;
  color: #000000;
}
/* line 125, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-nothing {
  font-weight: bold;
  padding: 10px 0;
  color: #000000;
}
/* line 131, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-4 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 140, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body {
  line-height: 28px;
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding: 35px 5%;
}
/* line 144, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
  margin: 0 23%;
}
@media (max-width: 767px) {
  /* line 144, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
    margin: 0;
  }
}

/* line 154, ../sass/event.scss */
#atedrop1-drop {
  top: 35px !important;
}

/* line 158, ../sass/event.scss */
.panels-flexible-region-node_page-bottom_content {
  width: 100%;
}
