/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 6, ../sass/event-rtl.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: left;
}
/* line 9, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  float: right;
}

/* line 15, ../sass/event-rtl.scss */
.movie-group-list .flag-movie {
  left: 15px;
  right: auto;
}

/* line 22, ../sass/event-rtl.scss */
.more-screening-pane .pane-title {
  float: right;
}
