/********  mixin *********/
/* line 53, ../sass/event.scss */
.node-type-cm-event #content {
  width: 100% !important;
}
/* line 56, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 .panels-flexible-region-inside {
  overflow: hidden;
}
/* line 59, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3,
.node-type-cm-event .panels-flexible-row-node_page-4,
.node-type-cm-event .panels-flexible-row-node_page-6 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 65, ../sass/event.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: right;
}
/* line 69, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-row-node_page-5-inside {
  padding-top: 100px;
}
/* line 73, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 {
  overflow: hidden;
}
/* line 76, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 {
  background-color: #fff;
  padding: 30px 0;
}
/* line 79, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 82, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .views-field-field-cm-movie-credits-person-ro {
  color: #b3b3b3;
  width: 23%;
}
/* line 87, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  background-color: #f9fafb;
  width: 100%;
  float: left;
}
/* line 91, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .views-table {
  border: none;
  margin-bottom: 0;
}
/* line 94, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .views-table tbody {
  border: none;
}
/* line 96, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .views-table tbody tr {
  border: none;
}
/* line 101, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-content {
  padding: 22px 0;
}
/* line 104, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 107, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 table tr td {
  border: medium none;
  font-size: 1.1rem;
}
/* line 111, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-id-event_ct_view .views-field-php .addthisevent-drop {
  background-color: #f9fafb;
}
/* line 114, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .table-responsive tbody tr {
  background-color: #f9fafb !important;
}
/* line 117, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .views-field-field-toptix-purchase {
  float: right;
}
/* line 122, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-left-ct {
  float: left;
  color: #ffffff;
  margin-top: 3%;
}
/* line 126, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-left-ct a {
  color: #ffffff;
}
/* line 130, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-movie-year {
  font-size: 1.2rem;
}
/* line 133, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-eve-lobby {
  font-size: 1.2rem;
}
/* line 136, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-right-ct {
  float: left;
  margin-top: 10%;
  padding-left: 6%;
  padding-right: 10%;
  width: 23%;
}
/* line 142, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-right-ct a {
  background: url("../images/play-icon.png") no-repeat scroll center center;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 0;
  height: 55px;
  padding: 2%;
  width: 55px;
}
/* line 153, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-eve-title {
  font-size: 22px;
  margin-top: 1%;
}
/* line 157, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view {
  overflow: visible;
}
/* line 159, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view .views-field-nothing {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  z-index: 15;
}
/* line 164, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view .views-field-nothing .slide-over-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 166, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view .views-field-nothing .slide-over-content .slide-movie-title {
  margin-bottom: 15px;
}
/* line 174, ../sass/event.scss */
.node-type-cm-event .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  height: 100% !important;
}
/* line 177, ../sass/event.scss */
.node-type-cm-event .views_slideshow_cycle_main img {
  height: 100% !important;
  left: 0;
  top: 12px;
  width: auto !important;
  position: absolute;
}
/* line 185, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 187, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view {
  overflow: visible;
}
/* line 189, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view .table-responsive {
  overflow: visible;
}
/* line 192, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view #atedrop2-drop {
  top: 36px !important;
}
/* line 196, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .views-field-field-cm-event-time {
  width: 23%;
}
/* line 199, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 td {
  border: none !important;
  font-size: 1.1rem;
}
/* line 202, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 td a {
  color: #000000;
}
/* line 206, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 table {
  border: none !important;
  font-size: 1.1rem;
}
/* line 210, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 tbody {
  border: none !important;
  font-size: 1.1rem;
}
/* line 213, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 tbody .views-field-ops .flag {
  background: url("../images/like-gold.png") no-repeat center center;
  width: 18px;
  height: 15px;
}
/* line 218, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 tbody .views-field-ops .unflagged {
  background: url("../images/like-event-unflag.png") no-repeat center center;
}
/* line 221, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 tbody .views-field-php a {
  background: url("../images/add-event.png") no-repeat center center;
  width: 30px;
  height: 27px;
  display: block;
  margin-top: -2px;
}
/* line 229, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .views-field-field-toptix-purchase {
  float: right;
}
/* line 232, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 th {
  border: none !important;
  font-size: 1.1rem;
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
}
/* line 239, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 tr {
  border: none !important;
  font-size: 1.1rem;
}
/* line 244, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 {
  max-width: 720px;
}
/* line 246, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-field-cm-movie-body {
  color: #312f2f;
  font-size: 1.1rem;
  line-height: 28px;
}
/* line 251, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-title a {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 258, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-4 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 266, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
/* line 269, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body {
  font-size: 1.1rem;
  line-height: 28px;
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  padding: 35px 3%;
}
/* line 274, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
  font-weight: bold;
  margin-left: 23%;
}
