/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 6, ../sass/event-rtl.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: left;
}
/* line 9, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  float: right;
}
/* line 12, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 {
  margin-right: 0;
  margin-left: 23%;
}
@media (max-width: 767px) {
  /* line 12, ../sass/event-rtl.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-6 {
    margin-right: 0 !important;
  }
}
