/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/event-rtl.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: left;
}
/* line 8, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  float: right;
}
/* line 10, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 table tr td {
  float: right;
}
/* line 13, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .views-field-field-toptix-purchase {
  float: left;
}
/* line 18, ../sass/event-rtl.scss */
.node-type-cm-event .view-display-id-panel_pane_5 table tr td, .node-type-cm-event .view-display-id-panel_pane_5 table tr th {
  float: right;
}
/* line 21, ../sass/event-rtl.scss */
.node-type-cm-event .view-display-id-panel_pane_5 .views-field-field-toptix-purchase {
  float: left;
}
/* line 26, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-left-ct {
  float: right;
}
/* line 29, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .slide-right-ct {
  float: right;
  padding-right: 6%;
  padding-left: 10%;
}
/* line 35, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 {
  margin-left: 23%;
  margin-right: 0;
}
/* line 40, ../sass/event-rtl.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .views-field-field-toptix-purchase {
  float: left;
}
/* line 45, ../sass/event-rtl.scss */
.node-type-cm-event .panels-flexible-row-node_page-6 .views-slideshow-cycle-main-frame-row {
  right: 0;
  left: auto !important;
}
/* line 50, ../sass/event-rtl.scss */
.node-type-cm-event .views_slideshow_cycle_slide .field-content .slide-alt-title {
  right: auto;
  left: 0;
}
/* line 53, ../sass/event-rtl.scss */
.node-type-cm-event .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  border-left: 1px solid #a0a0a0;
  border-right: 0;
  padding-left: 7px;
  padding-right: 0;
  margin-left: 7px;
  margin-right: 0;
  float: right;
}

/* line 65, ../sass/event-rtl.scss */
table th {
  text-align: right;
}
