/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/event.scss */
.node-type-cm-event {
  background-color: #fff !important;
}
/* line 5, ../sass/event.scss */
.node-type-cm-event #content {
  width: 100% !important;
}
/* line 8, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3,
.node-type-cm-event .panels-flexible-row-node_page-4,
.node-type-cm-event .panels-flexible-row-node_page-6 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 14, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 {
  overflow: visible !important;
}
/* line 17, ../sass/event.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: right;
}
@media (max-width: 767px) {
  /* line 20, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 {
    padding: 0 !important;
  }
  /* line 23, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_left {
    padding: 0 5% !important;
  }
  /* line 26, ../sass/event.scss */
  .node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right {
    padding: 0 5% 25px !important;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 5px !important;
  }
}
/* line 33, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-5 .panels-flexible-row-node_page-5-inside {
  padding-top: 40px;
}
/* line 37, ../sass/event.scss */
.node-type-cm-event .panels-flexible-row-node_page-3 {
  overflow: hidden;
}
/* line 40, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 {
  background-color: #fff;
}
/* line 42, ../sass/event.scss */
.node-type-cm-event .pane-test-view-for-movie-credit-panel-pane-2 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 46, ../sass/event.scss */
.node-type-cm-event table {
  border: none !important;
}
/* line 48, ../sass/event.scss */
.node-type-cm-event table td, .node-type-cm-event table tr, .node-type-cm-event table tbody, .node-type-cm-event table th {
  border: none !important;
}
/* line 52, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 {
  width: 100%;
  float: left;
}
@media (max-width: 767px) {
  /* line 52, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-7 {
    background-color: #f9fafb;
  }
}
/* line 58, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-event-ct-view {
  overflow: visible;
}
/* line 60, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-event-ct-view .table-responsive {
  overflow: visible;
}
/* line 62, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-event-ct-view .table-responsive .views-field-field-cm-event-time-1 {
  width: 23%;
}
/* line 68, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 table tr {
  border: none !important;
}
/* line 72, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-content {
  padding: 22px 0;
}
@media (max-width: 767px) {
  /* line 72, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-7 .view-content {
    padding: 0;
  }
}
/* line 78, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-7 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 84, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .movie-group-slide img {
  margin-bottom: 0;
}
/* line 88, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .view-event-ct-view {
  overflow: visible;
}
/* line 92, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 94, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view {
  overflow: visible;
}
/* line 96, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view .table-responsive {
  overflow: visible;
}
/* line 98, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view .table-responsive .views-field-field-cm-event-time-1 {
  width: 23%;
}
/* line 101, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view .table-responsive .views-field-field-cm-event-time {
  width: calc(15% - 19.25px);
}
/* line 105, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .view-event-ct-view #atedrop2-drop {
  top: 36px !important;
}
/* line 109, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-5 .pane-title {
  margin-bottom: 15px;
}
/* line 113, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 {
  margin-right: 23%;
}
@media (max-width: 767px) {
  /* line 113, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-6 {
    margin-right: 0;
    margin-left: 0 !important;
  }
}
/* line 119, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-field-cm-movie-body {
  color: #312f2f;
  line-height: 28px;
}
/* line 123, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-title a {
  font-weight: bold;
  color: #000000;
}
/* line 127, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-6 .views-field-nothing {
  font-weight: bold;
  padding: 10px 0;
  color: #000000;
}
/* line 133, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-4 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 142, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body {
  line-height: 28px;
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding: 35px 5%;
}
/* line 146, ../sass/event.scss */
.node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
  margin: 0 auto;
  width: 54%;
}
@media (max-width: 767px) {
  /* line 146, ../sass/event.scss */
  .node-type-cm-event .pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
    margin: 0;
    width: 100%;
  }
}

/* line 158, ../sass/event.scss */
#atedrop1-drop {
  top: 35px !important;
}

/* line 162, ../sass/event.scss */
.panels-flexible-region-node_page-bottom_content {
  width: 100%;
}
