/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/general-rtl.scss */
.pane-movie-group-ct-panel-pane-3 .views-field-field-toptix-purchase button {
  float: right;
}

/* line 12, ../sass/general-rtl.scss */
.content.middle .panels-flexible-region-node_page-content_right {
  float: right;
  margin-left: 8%;
  margin-right: 0;
}

/* line 20, ../sass/general-rtl.scss */
table td, table th {
  padding-right: 0 !important;
  padding-left: 8px !important;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 20, ../sass/general-rtl.scss */
  table td, table th {
    padding: 8px !important;
  }
}

/* line 31, ../sass/general-rtl.scss */
#page-header .tabs {
  right: auto;
  left: 0;
}

/* line 37, ../sass/general-rtl.scss */
.header-right {
  float: left;
}
/* line 39, ../sass/general-rtl.scss */
.header-right li {
  float: right !important;
}

/* line 45, ../sass/general-rtl.scss */
.popup-element-body .center {
  width: 100% !important;
  top: 55px;
  left: 0;
  position: fixed !important;
}
/* line 51, ../sass/general-rtl.scss */
.popup-element-body form .form-group .form-text {
  padding: 7px 2% 8px 22%;
}
/* line 56, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results--2 .form-group .form-text {
  float: right;
  padding: 7px 2% 8px 22%;
}
/* line 61, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results--2 .form-submit {
  right: auto;
  left: 0;
}
/* line 66, ../sass/general-rtl.scss */
.popup-element-body .popup-close {
  left: 10px !important;
  right: auto !important;
}
/* line 70, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results {
  padding: 0px 47px 10px 0px;
  left: 0px;
  right: auto;
}
/* line 74, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results .form-submit {
  float: right;
}
/* line 78, ../sass/general-rtl.scss */
.popup-element-body form .form-submit {
  left: 0;
  right: auto;
}

/**** lobby page  ****/
/* line 88, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_1 .toptix-purchase {
  float: left;
}
/* line 92, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-left {
  float: left;
}
/* line 95, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right {
  float: right;
}
/* line 97, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right .top-text-blk-wht {
  right: 0px;
  left: auto;
}
/* line 103, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row {
  margin-left: 5%;
  margin-right: 0;
  float: right;
}
/* line 108, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row:nth-child(3n) {
  margin-left: 0;
}
/* line 111, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-field-field-mc-teaser-toptxt-blk {
  right: 0;
  left: auto;
}
/* line 115, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-field-ops {
  left: 15px;
  right: auto;
}

/***  article page  ****/
/* line 125, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 127, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) .radix-layouts-sidebar {
  padding-right: 0;
  padding-left: 100px;
  float: right;
}
/* line 133, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) .radix-layouts-content .pane-node-body {
  margin-left: 23%;
  margin-right: 0;
}

/******   webform  *****/
/* line 145, ../sass/general-rtl.scss */
.node-type-webform form .form-actions {
  float: left;
}

/*******  user profile  ********/
/* line 158, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .wrapper form {
  float: right;
}
/* line 161, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .wrapper .edit {
  float: left;
}
/* line 166, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .views-widget-filter-type .form-item-edit-type-1 {
  border-left: 1px solid #000;
  border-right: none;
  margin-left: 40px;
  padding-left: 40px;
  margin-right: 0;
  padding-right: 0;
}
/* line 180, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-left {
  float: right;
}
/* line 182, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-left .top-text-blk-wht {
  right: 0;
  left: auto;
}
/* line 187, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-right {
  float: left;
}
/* line 191, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .row-custom-lobby .purchase {
  float: left;
}

/*********  person page  **********/
/* line 205, ../sass/general-rtl.scss */
.node-type-cm-person .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col {
  float: right;
  padding-right: 44px;
  padding-left: 0;
  background-position: right 4px !important;
}
/* line 215, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-row-node_page-6 .view-person-ct-view.view-display-id-panel_pane_2 .views-row-odd {
  float: right;
}
/* line 218, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-row-node_page-6 .view-person-ct-view.view-display-id-panel_pane_2 .views-row-even {
  float: left;
}
/* line 223, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-region-node_page-content_left {
  float: left !important;
}

/* line 228, ../sass/general-rtl.scss */
.view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background: url("../images/more-white-left.png") no-repeat scroll left 10px center;
}
/* line 61, ../sass/init.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover, .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover.domain-1 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background-color: #b59d70 !important;
}

/* line 234, ../sass/general-rtl.scss */
.content.middle .panels-flexible-region-node_page-content_left {
  width: 77%;
  float: left;
}

/****  share blcok  *****/
/* line 243, ../sass/general-rtl.scss */
.share-pane-container .facebook a {
  background-position: right 3px center !important;
}
/* line 246, ../sass/general-rtl.scss */
.share-pane-container .whatsapp a {
  background-position: right center !important;
}
/* line 250, ../sass/general-rtl.scss */
.share-pane-container .flag-wrapper a.flag-action, .share-pane-container .flag-wrapper a.unflag-action {
  background-position: right center !important;
}
/* line 253, ../sass/general-rtl.scss */
.share-pane-container .flag-wrapper .title {
  right: 30px;
  left: auto;
}

/******  tags  *******/
/* line 264, ../sass/general-rtl.scss */
.pane-node-field-tag .pane-content .field-item, .pane-node-field-cm-article-tags .pane-content .field-item, .pane-node-field-cm-movie-tags .pane-content .field-item {
  float: right;
  margin-right: 0;
  margin-left: 2%;
}
/* line 269, ../sass/general-rtl.scss */
.pane-node-field-tag .pane-content a, .pane-node-field-cm-article-tags .pane-content a, .pane-node-field-cm-movie-tags .pane-content a {
  float: right;
}

/******  responsive *********/
@media (max-width: 767px) {
  /* line 279, ../sass/general-rtl.scss */
  .table-responsive td {
    padding-left: 8px !important;
    padding-right: 0 !important;
  }
}
/***** movie, movie group, event & article  ********/
/* line 290, ../sass/general-rtl.scss */
.text-main-image .wrapper .slide-right-ct {
  float: right;
  padding-right: 6%;
  padding-left: 10%;
}
@media (max-width: 767px) {
  /* line 290, ../sass/general-rtl.scss */
  .text-main-image .wrapper .slide-right-ct {
    padding-left: 3%;
    padding-right: 0;
  }
}

/* line 302, ../sass/general-rtl.scss */
.slide-alt-title {
  left: auto;
  right: 0;
}
/* line 305, ../sass/general-rtl.scss */
.slide-alt-title .field {
  float: right;
}
/* line 308, ../sass/general-rtl.scss */
.slide-alt-title .field-name-field-file-image-title-text {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}

/* line 318, ../sass/general-rtl.scss */
.top-text-blk-wht {
  right: 0;
  left: auto;
}
/* line 321, ../sass/general-rtl.scss */
.top-text-blk-wht span {
  float: right;
}
