/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/general-rtl.scss */
.pane-movie-group-ct-panel-pane-3 .views-field-field-toptix-purchase {
  float: left;
  width: 83px;
}
/* line 7, ../sass/general-rtl.scss */
.pane-movie-group-ct-panel-pane-3 .views-field-field-toptix-purchase button {
  float: right;
}

/* line 14, ../sass/general-rtl.scss */
.content.middle .panels-flexible-region-node_page-content_right {
  float: right;
  margin-left: 8%;
  margin-right: 0;
}

/* line 22, ../sass/general-rtl.scss */
table td, table th {
  padding-right: 0 !important;
  padding-left: 8px !important;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 22, ../sass/general-rtl.scss */
  table td, table th {
    padding: 8px !important;
  }
}

/* line 33, ../sass/general-rtl.scss */
#page-header .tabs {
  right: auto;
  left: 0;
}

/* line 39, ../sass/general-rtl.scss */
.header-right {
  float: left;
}
/* line 41, ../sass/general-rtl.scss */
.header-right li {
  float: right !important;
}

/* line 47, ../sass/general-rtl.scss */
.popup-element-body .center {
  width: 100% !important;
  top: 55px;
  left: 0;
  position: fixed !important;
}
/* line 53, ../sass/general-rtl.scss */
.popup-element-body form .form-group .form-text {
  padding: 7px 2% 8px 22%;
}
/* line 58, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results--2 .form-group .form-text {
  float: right;
  padding: 7px 2% 8px 22%;
}
/* line 63, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results--2 .form-submit {
  right: auto;
  left: 0;
}
/* line 68, ../sass/general-rtl.scss */
.popup-element-body .popup-close {
  left: 10px !important;
  right: auto !important;
}
/* line 72, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results {
  padding: 0px 47px 10px 0px;
  left: 0px;
  right: auto;
}
/* line 76, ../sass/general-rtl.scss */
.popup-element-body #search-api-page-search-form-search-results .form-submit {
  float: right;
}
/* line 80, ../sass/general-rtl.scss */
.popup-element-body form .form-submit {
  left: 0;
  right: auto;
}

/**** lobby page  ****/
/* line 90, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_1 .toptix-purchase {
  float: left;
}
/* line 94, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-left {
  float: left;
}
/* line 97, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right {
  float: right;
}
/* line 99, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right .top-text-blk-wht {
  right: 0px;
  left: auto;
}
/* line 105, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row {
  margin-left: 5%;
  margin-right: 0;
  float: right;
}
/* line 110, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row:nth-child(3n) {
  margin-left: 0;
}
/* line 113, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-field-field-mc-teaser-toptxt-blk {
  right: 0;
  left: auto;
}
/* line 117, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-field-ops {
  left: 15px;
  right: auto;
}

/***  article page  ****/
/* line 127, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 129, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) .radix-layouts-sidebar {
  padding-right: 0;
  padding-left: 100px;
  float: right;
}
/* line 134, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) .radix-layouts-sidebar .field-name-field-cm-article-tags a {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
/* line 142, ../sass/general-rtl.scss */
.node-type-cm-article .container-fluid .row:nth-child(2) .radix-layouts-content .pane-node-body {
  margin-left: 23%;
  margin-right: 0;
}

/******   webform  *****/
/* line 154, ../sass/general-rtl.scss */
.node-type-webform form .form-actions {
  float: left;
}

/*******  user profile  ********/
/* line 167, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .wrapper form {
  float: right;
}
/* line 170, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .wrapper .edit {
  float: left;
}
/* line 175, ../sass/general-rtl.scss */
.page-user .view-user-flagged-content.view-display-id-panel_pane_1 .view-filters .views-widget-filter-type .form-item-edit-type-1 {
  border-left: 1px solid #000;
  border-right: none;
  margin-left: 40px;
  padding-left: 40px;
  margin-right: 0;
  padding-right: 0;
}
/* line 189, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-left {
  float: right;
}
/* line 191, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-left .top-text-blk-wht {
  right: 0;
  left: auto;
}
/* line 196, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .lobby-term-right {
  float: left;
}
/* line 200, ../sass/general-rtl.scss */
.page-user .pane-user-flagged-content-panel-pane-1 .view-content .item-list .lobby-container .row-custom-lobby .purchase {
  float: left;
}

/*********  person page  **********/
/* line 214, ../sass/general-rtl.scss */
.node-type-cm-person .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col {
  float: right;
  padding-right: 44px;
  padding-left: 0;
  background-position: right 4px !important;
}
/* line 224, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-row-node_page-6 .view-person-ct-view.view-display-id-panel_pane_2 .views-row-odd {
  float: right;
}
/* line 227, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-row-node_page-6 .view-person-ct-view.view-display-id-panel_pane_2 .views-row-even {
  float: left;
}
/* line 232, ../sass/general-rtl.scss */
.node-type-cm-person .panels-flexible-region-node_page-content_left {
  float: left !important;
}

/* line 237, ../sass/general-rtl.scss */
.view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background: url("../images/more-white-left.png") no-repeat scroll left 10px center;
}
/* line 61, ../sass/init.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover, .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover.domain-1 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_2 .node-title-teaser-content-type:hover {
  background-color: #b59d70 !important;
}

/* line 243, ../sass/general-rtl.scss */
.content.middle .panels-flexible-region-node_page-content_left {
  width: 77%;
  float: left;
}

/****  share blcok  *****/
/* line 252, ../sass/general-rtl.scss */
.share-pane-container .facebook a {
  background-position: right 3px center !important;
}
/* line 255, ../sass/general-rtl.scss */
.share-pane-container .whatsapp a {
  background-position: right center !important;
}
/* line 259, ../sass/general-rtl.scss */
.share-pane-container .flag-wrapper a.flag-action, .share-pane-container .flag-wrapper a.unflag-action {
  background-position: right center !important;
}
/* line 262, ../sass/general-rtl.scss */
.share-pane-container .flag-wrapper .title {
  right: 30px;
  left: auto;
}

/******  tags  *******/
/* line 273, ../sass/general-rtl.scss */
.field-name-field-tag .field-item.even {
  float: right;
}
/* line 276, ../sass/general-rtl.scss */
.field-name-field-tag .field-item.odd {
  float: left;
}

/******  responsive *********/
@media (max-width: 767px) {
  /* line 286, ../sass/general-rtl.scss */
  .table-responsive td {
    padding-left: 8px !important;
    padding-right: 0 !important;
  }
}
/***** movie, movie group, event & article  ********/
/* line 297, ../sass/general-rtl.scss */
.text-main-image .wrapper .slide-right-ct {
  float: right;
  padding-right: 6%;
  padding-left: 10%;
}
@media (max-width: 767px) {
  /* line 297, ../sass/general-rtl.scss */
  .text-main-image .wrapper .slide-right-ct {
    padding-left: 3%;
    padding-right: 0;
  }
}

/* line 309, ../sass/general-rtl.scss */
.slide-alt-title {
  left: auto;
  right: 0;
}

/* line 314, ../sass/general-rtl.scss */
.top-text-blk-wht {
  right: 0;
  left: auto;
}
