/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/general-rtl.scss */
.pane-movie-group-ct-panel-pane-3 .views-field-field-toptix-purchase {
  float: left;
  width: 83px;
}
/* line 7, ../sass/general-rtl.scss */
.pane-movie-group-ct-panel-pane-3 .views-field-field-toptix-purchase button {
  float: right;
}

/* line 14, ../sass/general-rtl.scss */
.content.middle .panels-flexible-region-node_page-content_right {
  float: right;
  margin-left: 8%;
  margin-right: 0;
}

/* line 22, ../sass/general-rtl.scss */
table td, table th {
  padding-right: 0 !important;
  padding-left: 8px !important;
}

/* line 29, ../sass/general-rtl.scss */
#page-header .tabs {
  right: auto;
  left: 0;
}

/* line 35, ../sass/general-rtl.scss */
.header-right {
  float: left;
}
/* line 37, ../sass/general-rtl.scss */
.header-right li {
  float: right !important;
}

/* line 43, ../sass/general-rtl.scss */
.popup-element-body .popup-close {
  right: -165px !important;
  left: auto;
}
/* line 47, ../sass/general-rtl.scss */
.popup-element-body #search-block-form {
  padding: 42px 47px 10px 0px;
  left: 0px;
  right: auto;
}
/* line 51, ../sass/general-rtl.scss */
.popup-element-body #search-block-form .form-submit {
  float: right;
}
/* line 54, ../sass/general-rtl.scss */
.popup-element-body #search-block-form .form-item {
  float: right;
}

/**** lobby page  ****/
/* line 64, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_1 .toptix-purchase {
  float: left;
}
/* line 68, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-left {
  float: left;
}
/* line 71, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right {
  float: right;
}
/* line 73, ../sass/general-rtl.scss */
.page-term-lobby .lobby-term-right .top-text-blk-wht {
  right: 0px;
  left: auto;
}
/* line 79, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row {
  margin-left: 5%;
  margin-right: 0;
  float: right;
}
/* line 84, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-row:nth-child(3n) {
  margin-left: 0;
}
/* line 87, ../sass/general-rtl.scss */
.page-term-lobby .view-lobby.view-display-id-panel_pane_2 .views-field-field-mc-teaser-toptxt-blk {
  right: 0;
  left: auto;
}
