/********  mixin *********/
/* line 30, ../sass/general.scss */
a {
  color: #b59d70;
}

/* line 34, ../sass/general.scss */
.ctr {
  clear: both;
}

/* line 37, ../sass/general.scss */
.pane-node-field-toptix-purchase {
  clear: both;
  bottom: 1%;
  position: absolute;
  right: 25%;
}
/* line 42, ../sass/general.scss */
.pane-node-field-toptix-purchase h2.pane-title {
  display: none;
}

/* line 46, ../sass/general.scss */
.clr {
  clear: both;
}

/* line 49, ../sass/general.scss */
#main-wrapper {
  margin-top: 58px !important;
}

/* line 53, ../sass/general.scss */
.pane-node-field-cm-event-body .pane-content {
  margin: 6% 20%;
}
/* line 55, ../sass/general.scss */
.pane-node-field-cm-event-body .pane-content p {
  font-weight: 600;
}
/* line 59, ../sass/general.scss */
.pane-node-field-cm-event-body h2.pane-title {
  display: none;
}

/* line 64, ../sass/general.scss */
.pane-node-field-tag .pane-content {
  border-top: 5px solid #000;
  padding-top: 20px;
}
/* line 68, ../sass/general.scss */
.pane-node-field-tag h2.pane-title {
  display: none;
}

/* line 73, ../sass/general.scss */
body.node-type-cm-movie {
  background-color: #fff !important;
}
/* line 76, ../sass/general.scss */
body.node-type-cm-movie .container #breadcrumb {
  display: none;
}
/* line 79, ../sass/general.scss */
body.node-type-cm-movie .container #page-header .page-header h1.title {
  display: none;
}
/* line 83, ../sass/general.scss */
body.node-type-cm-movie #content {
  width: 100% !important;
}
/* line 87, ../sass/general.scss */
body.node-type-cm-event {
  background-color: #fff !important;
}
/* line 90, ../sass/general.scss */
body.node-type-cm-event .container #breadcrumb {
  display: none;
}
/* line 93, ../sass/general.scss */
body.node-type-cm-event .container #page-header .page-header h1.title {
  display: none;
}
/* line 97, ../sass/general.scss */
body.node-type-cm-event #content {
  width: 100% !important;
}
/* line 102, ../sass/general.scss */
body.node-type-cm-movie-group .container #breadcrumb {
  display: none;
}
/* line 105, ../sass/general.scss */
body.node-type-cm-movie-group .container #page-header .page-header h1.title {
  display: none;
}

/* line 110, ../sass/general.scss */
.prev-custom {
  left: -11%;
  position: absolute;
  top: 8%;
}
/* line 114, ../sass/general.scss */
.prev-custom .prev > a {
  background: transparent url("../images/custom-prev.png") no-repeat scroll 0 0;
  display: inline-block;
  font-size: 0;
  height: 41px;
  width: 117px;
}

/* line 123, ../sass/general.scss */
.node-nav.next-custom {
  position: absolute;
  right: 0;
  top: 8%;
}
/* line 128, ../sass/general.scss */
.node-nav.prev-custom ul {
  padding: 9% 15% 17% 10%;
  width: 100%;
}
/* line 131, ../sass/general.scss */
.node-nav.prev-custom ul li {
  text-align: left;
}

/* line 137, ../sass/general.scss */
.next-custom ul {
  background-color: #f9fafb;
  margin: 0;
  padding: 9% 15% 30% 20%;
  width: 100%;
}
/* line 143, ../sass/general.scss */
.next-custom .next > a {
  background: transparent url("../images/custom-next.png") no-repeat scroll 0 0;
  border-radius: 5% !important;
  display: inline-block;
  font-size: 0;
  height: 62px;
  width: 38px;
}

/* line 152, ../sass/general.scss */
.node-type-cm-movie-group {
  background-color: #fff !important;
}
/* line 154, ../sass/general.scss */
.node-type-cm-movie-group #content {
  width: 100% !important;
}

/* line 158, ../sass/general.scss */
.panels-flexible-region-node_page-slider {
  width: 100% !important;
}

/* line 162, ../sass/general.scss */
.node-type-cm-event .panels-flexible-region-8-center {
  width: 100%;
}
/* line 165, ../sass/general.scss */
.node-type-cm-event .panels-flexible-region-3-center {
  width: 100%;
}
/* line 168, ../sass/general.scss */
.node-type-cm-event .panels-flexible-region-node_page-content_left {
  float: right;
}
/* line 171, ../sass/general.scss */
.node-type-cm-event .panels-flexible-row-node_page-5 {
  padding-top: 100px !important;
}
/* line 174, ../sass/general.scss */
.node-type-cm-event .panels-flexible-row {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  margin: 0 auto !important;
  padding: 0 3% !important;
}
/* line 179, ../sass/general.scss */
.node-type-cm-event .panels-flexible-row-node_page-3, .node-type-cm-event .panels-flexible-row-node_page-4, .node-type-cm-event .panels-flexible-row-node_page-6 {
  width: 100%;
  padding: 0 !important;
}

/* line 185, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-region-8-center {
  width: 100%;
}
/* line 188, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-region-3-center {
  width: 100%;
}

/* line 192, ../sass/general.scss */
.panels-flexible-region-inside-first {
  position: relative !important;
}

/* line 195, ../sass/general.scss */
.custom-node-link {
  position: absolute;
  display: block;
  width: 70%;
  height: 60%;
  top: 17%;
  left: 16%;
}
/* line 202, ../sass/general.scss */
.custom-node-link a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  margin: 0;
}

/* line 211, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 {
  background-color: #f9fafb;
}
/* line 213, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .views-table {
  border: none;
  margin-bottom: 0;
}
/* line 216, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .views-table tbody {
  border: none;
}
/* line 218, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .views-table tbody tr {
  border: none;
}
/* line 223, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .view-content {
  padding: 22px 0;
}
/* line 226, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .pane-content {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 229, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 table tr td {
  border: medium none;
  font-size: 1.1rem;
}
/* line 233, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .view-id-event_ct_view .views-field-php .addthisevent-drop {
  background-color: #f9fafb;
}
/* line 236, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .table-responsive tbody tr {
  background-color: #f9fafb !important;
}
/* line 239, ../sass/general.scss */
.pane-event-ct-view-panel-pane-7 .views-field-field-toptix-purchase {
  float: right;
}

/* line 245, ../sass/general.scss */
.view-event-ct-view .views-field-nothing {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  z-index: 15;
}
/* line 250, ../sass/general.scss */
.view-event-ct-view .views-field-nothing .slide-over-content {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 252, ../sass/general.scss */
.view-event-ct-view .views-field-nothing .slide-over-content .slide-movie-title {
  margin-bottom: 15px;
}

/* line 259, ../sass/general.scss */
.slide-movie-year {
  font-size: 1.2rem;
}

/* line 262, ../sass/general.scss */
.slide-eve-lobby {
  font-size: 1.2rem;
}

/* line 265, ../sass/general.scss */
.slide-right-ct {
  float: left;
  margin-top: 10%;
  padding-left: 6%;
  padding-right: 10%;
}
/* line 270, ../sass/general.scss */
.slide-right-ct a {
  background: url("../images/play-icon.png") no-repeat scroll center center;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 0;
  height: 55px;
  padding: 2%;
  width: 55px;
}

/* line 282, ../sass/general.scss */
.pane-event-ct-view-panel-pane-3 .views-field-field-main-event-cmain_colorit {
  width: 100%;
}
/* line 285, ../sass/general.scss */
.pane-event-ct-view-panel-pane-3 .slide-left-ct {
  float: left;
  color: #fff;
  margin-top: 3%;
}
/* line 289, ../sass/general.scss */
.pane-event-ct-view-panel-pane-3 .slide-left-ct a {
  color: #fff;
}

/* line 294, ../sass/general.scss */
.slide-eve-title {
  font-size: 22px;
  margin-top: 1%;
}

/* line 298, ../sass/general.scss */
.pane-title {
  font-size: 1.25rem;
  font-weight: 600;
}

/* line 302, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 304, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 td {
  border: none !important;
  font-size: 1.1rem;
}
/* line 307, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 td a {
  color: #000;
}
/* line 311, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 table {
  border: none !important;
  font-size: 1.1rem;
}
/* line 315, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 tbody {
  border: none !important;
  font-size: 1.1rem;
}
/* line 318, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 tbody .views-field-ops {
  background: url("../images/like-event.png") no-repeat center center;
  width: 18px;
  height: 15px;
}
/* line 324, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 tbody .views-field-php a {
  background: url("../images/add-event.png") no-repeat center center;
  width: 30px;
  height: 27px;
  display: block;
  margin-top: -2px;
}
/* line 332, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 th {
  border: none !important;
  font-size: 1.1rem;
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0 !important;
}
/* line 340, ../sass/general.scss */
.pane-event-ct-view-panel-pane-5 tr {
  border: none !important;
  font-size: 1.1rem;
}

/* line 346, ../sass/general.scss */
.bottom-content table, .bottom-content tbody, .bottom-content tr, .bottom-content th, .bottom-content td {
  border: none !important;
  text-align: right;
  font-size: 1.1rem;
}
/* line 352, ../sass/general.scss */
.bottom-content .pane-test-view-for-movie-cmain_colorit-panel-pane-2 .pane-content {
  margin: 3% 0;
}
/* line 355, ../sass/general.scss */
.bottom-content .pane-test-view-for-movie-cmain_colorit-panel-pane-2 .view-content {
  margin: auto;
  padding-right: 14%;
  text-align: right;
  width: 65%;
}

/* line 363, ../sass/general.scss */
.new-parent-left {
  padding-left: 10%;
  width: 24%;
  margin-right: 5%;
  float: left;
}

/* line 369, ../sass/general.scss */
.pane-event-ct-view-panel-pane-6 {
  width: auto;
  padding-left: 8%;
  max-width: 720px;
}
/* line 373, ../sass/general.scss */
.pane-event-ct-view-panel-pane-6 .views-field-field-cm-movie-body {
  color: #312f2f;
  font-size: 1.1rem;
  line-height: 28px;
}
/* line 378, ../sass/general.scss */
.pane-event-ct-view-panel-pane-6 .views-field-title a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}

/* line 386, ../sass/general.scss */
.views-field.views-field-field-cm-movie-cmain_colorits-person-ro {
  color: #b3b3b3;
  font-size: 1.1rem;
  font-weight: normal;
}
/* line 391, ../sass/general.scss */
.views-field.views-field-field-cm-movie-cmain_colorits-person {
  font-size: 1.1rem;
  font-weight: normal;
}
/* line 394, ../sass/general.scss */
.views-field.views-field-field-cm-movie-cmain_colorits-person > a {
  color: #020202;
}
/* line 398, ../sass/general.scss */
.views-field.views-field-field-cm-movie-country {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 404, ../sass/general.scss */
.views-field.views-field-title {
  margin-bottom: 2%;
}

/* line 409, ../sass/general.scss */
.panels-ipe-portlet-wrapper .whatsapp-custom {
  padding: 5% 2% 5% 5%;
}
/* line 411, ../sass/general.scss */
.panels-ipe-portlet-wrapper .whatsapp-custom a {
  background: url("../images/whatapp-small.png") no-repeat right 0 !important;
  font-size: 13px;
  width: auto !important;
  height: auto !important;
  display: block;
  padding-right: 10%;
  color: #000 !important;
}
/* line 421, ../sass/general.scss */
.panels-ipe-portlet-wrapper .facebook-custom {
  border-bottom: 2px solid #ddd;
  padding: 5% 3% 5% 0;
}
/* line 424, ../sass/general.scss */
.panels-ipe-portlet-wrapper .facebook-custom span {
  background: url("../images/facebook-small.png") no-repeat right 0 !important;
  font-size: 11px;
  width: auto !important;
  height: auto !important;
  display: block;
  padding-right: 10%;
  color: #000 !important;
}
/* line 434, ../sass/general.scss */
.panels-ipe-portlet-wrapper .flag-custom .flag-favorite- a {
  background: transparent url("../images/like-small.png") no-repeat scroll right 0 !important;
  float: none !important;
  font-size: 13px !important;
  width: auto !important;
  height: auto !important;
  display: block;
  padding-right: 10%;
  color: #000 !important;
}
/* line 443, ../sass/general.scss */
.panels-ipe-portlet-wrapper .flag-custom .flag-favorite- a.unflag-action {
  background: transparent url("../images/fev-small-black.png") no-repeat scroll right 0 !important;
}

/* line 448, ../sass/general.scss */
.share-pane-container {
  border-top: 5px solid #000;
}

/* line 452, ../sass/general.scss */
.field-name-field-tag a {
  color: #b7b7b7;
  font-size: 14px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 461, ../sass/general.scss */
.field-name-field-tag .field-item.even {
  float: left;
  width: 50%;
  padding-top: 3%;
}
/* line 466, ../sass/general.scss */
.field-name-field-tag .field-item.odd {
  float: right;
  padding-top: 3%;
  width: 50%;
}

/* line 473, ../sass/general.scss */
.movie-info {
  margin-right: 5%;
}

/* line 476, ../sass/general.scss */
.slide-parent-content {
  position: relative;
}

/* line 479, ../sass/general.scss */
#colorbox {
  width: 518px !important;
  height: 435px !important;
  border-radius: 2%;
  left: 30% !important;
}
/* line 484, ../sass/general.scss */
#colorbox #cboxWrapper {
  height: 453px !important;
  width: 616px !important;
}

/* line 489, ../sass/general.scss */
#cboxContent {
  width: 497px !important;
  height: 399px !important;
}

/* line 493, ../sass/general.scss */
#cboxLoadedContent {
  margin: 0;
  width: 502px !important;
}

/* line 497, ../sass/general.scss */
#cboxClose {
  bottom: 3% !important;
}

/* line 500, ../sass/general.scss */
.lobby-summary {
  font-size: 1.1rem;
  line-height: 28px;
}

/* line 504, ../sass/general.scss */
.lobby-length {
  font-size: 1.1rem;
  line-height: 28px;
}

/* line 509, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 {
  text-align: right;
}
/* line 512, ../sass/general.scss */
.view-id-movie_group_ct .views-field-title a {
  color: #000 !important;
}

/* line 516, ../sass/general.scss */
.movie-group-title-pic-container {
  position: relative;
}
/* line 518, ../sass/general.scss */
.movie-group-title-pic-container .movie-title-movie-group {
  position: absolute;
  right: 7.5%;
  bottom: 6%;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 527, ../sass/general.scss */
  table {
    display: block;
  }

  /* line 530, ../sass/general.scss */
  thead {
    display: block;
  }
  /* line 532, ../sass/general.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 538, ../sass/general.scss */
  tbody {
    display: block;
  }

  /* line 541, ../sass/general.scss */
  th {
    display: block;
  }

  /* line 544, ../sass/general.scss */
  td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  /* line 550, ../sass/general.scss */
  td:before {
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* line 558, ../sass/general.scss */
  tr {
    display: block;
    border: 1px solid #ccc;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 564, ../sass/general.scss */
  body {
    padding: 0;
    margin: 0 auto;
    width: 320px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 571, ../sass/general.scss */
  body {
    width: 495px;
  }
}
/* line 575, ../sass/general.scss */
.page-admin-structure-types-manage-cm-movie-group-fields-cer-settings .error {
  display: none;
}

/* line 578, ../sass/general.scss */
.page-admin-structure-types-manage-cm-movie-group-fields-cer-store-settings .error {
  display: none;
}

/* line 581, ../sass/general.scss */
.content.middle {
  position: relative;
}
/* line 583, ../sass/general.scss */
.content.middle .pane-title {
  display: none;
}
/* line 586, ../sass/general.scss */
.content.middle .panels-flexible-region-node_page-content_left {
  width: 84.804%;
}
/* line 589, ../sass/general.scss */
.content.middle .panels-flexible-region-node_page-content_right {
  float: left;
  width: 15.196%;
}
/* line 592, ../sass/general.scss */
.content.middle .panels-flexible-region-node_page-content_right .panels-flexible-region-node_page-content_right-inside {
  padding: 0;
}

/* line 597, ../sass/general.scss */
#page-header .page-header {
  display: none;
}

/* line 600, ../sass/general.scss */
.custom-nav ul {
  margin: 0;
  background-color: #f9fafb;
  padding: 3%;
  width: 24%;
}

/* line 606, ../sass/general.scss */
.page-taxonomy-term #content {
  width: 100% !important;
}

/* line 609, ../sass/general.scss */
.view-movie-group-ct.view-display-id-panel_pane_2 {
  width: 100% !important;
}

/* line 612, ../sass/general.scss */
.views_slideshow_cycle_slide .field-content .slide-alt-title {
  background-color: #312f2f;
  bottom: 0;
  color: #a0a0a0;
  font-size: 12px;
  left: 0;
  padding: 10px 20px;
  position: absolute;
}
/* line 620, ../sass/general.scss */
.views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  border-right: 1px solid #a0a0a0;
  padding-right: 7px;
  margin-right: 3px;
}

/* line 626, ../sass/general.scss */
table.views-table {
  margin: 0;
}

/* line 629, ../sass/general.scss */
.view.view-display-id-panel_pane_3 {
  overflow: visible;
}

/* line 632, ../sass/general.scss */
.views-field-php .addthisevent-drop {
  background-color: #fff;
  border: medium none;
  font-size: 0;
  z-index: 1;
}
/* line 637, ../sass/general.scss */
.views-field-php .addthisevent-drop:hover {
  background-color: #fff;
  border: medium none;
  font-size: 0;
  z-index: 1;
}
/* line 643, ../sass/general.scss */
.views-field-php .addthisevent-drop .addthisevent_icon {
  background: none;
  height: auto;
  width: auto;
}

/* line 649, ../sass/general.scss */
.views-field-field-cm-movie-pictures img {
  width: 100%;
}

/* line 652, ../sass/general.scss */
.slide-movie-title h2 {
  margin: 1% 0;
  font-weight: normal;
  color: #fff;
}

/* line 657, ../sass/general.scss */
.pane-event-ct-view-panel-pane-4 .pane-content {
  border-top: 5px solid #000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}

/* line 665, ../sass/general.scss */
.sharethis-wrapper span.st_sharethis_button {
  border-bottom: 2px solid #ddd;
  display: block;
  margin-top: 6%;
  padding-bottom: 15px;
}

/* line 671, ../sass/general.scss */
#panels-ipe-regionid-content_right .pane-sharethis-sharethis-block .st_facebook_button {
  display: block;
  margin-top: 5%;
}

/* line 675, ../sass/general.scss */
.flag.flag-action {
  background: transparent url("../images/like-big.png") no-repeat scroll 0 0 !important;
  margin-top: 5px;
}

/* line 679, ../sass/general.scss */
.share-pane {
  border-bottom: 2px solid #ddd;
  padding: 10px 30px;
}

/* line 683, ../sass/general.scss */
.facebook-custom.share-pane {
  background: url("../images/facebook-gold.png") no-repeat center center !important;
}

/* line 686, ../sass/general.scss */
.i18n-he .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  border-left: 1px solid #a0a0a0;
  padding-left: 7px;
  margin-left: 3px;
  border-right: none;
}

/* line 692, ../sass/general.scss */
.add-event a {
  background: url("../images/add-event.png") no-repeat !important;
  display: block;
  font-size: 0;
  height: 37px;
  width: 50px;
  position: absolute;
  bottom: 11%;
  right: 18%;
}

/* line 702, ../sass/general.scss */
.field-name-field-toptix-purchase .field-item button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  display: block;
  font-size: 0;
  height: 40px;
  width: 104px;
}

/* line 710, ../sass/general.scss */
.movie-flag a {
  background: url("../images/like-event.png") no-repeat !important;
  display: inline-block;
  font-size: 0;
  height: 37px;
  width: 50px;
  position: absolute;
  left: 190px;
}

/* line 719, ../sass/general.scss */
.table-responsive tbody tr {
  background-color: #fff !important;
}

/* line 722, ../sass/general.scss */
.pane-event-ct-view-panel-pane-8 {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
/* line 725, ../sass/general.scss */
.pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body {
  font-size: 1.1rem;
  line-height: 28px;
  padding: 35px 0;
  max-width: 620px;
  margin: 0 auto;
}
/* line 731, ../sass/general.scss */
.pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body p {
  font-weight: bold;
}

/* line 736, ../sass/general.scss */
.view-id-event_ct_view td {
  padding: 0 !important;
}

/* line 740, ../sass/general.scss */
.row-custom-lobby > td {
  border: medium none !important;
  font-size: 1rem;
}
/* line 743, ../sass/general.scss */
.row-custom-lobby > td a {
  color: #000 !important;
}

/* line 747, ../sass/general.scss */
.lobby-term-left tbody {
  border: medium none !important;
}

/* line 750, ../sass/general.scss */
.lobby-title a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}

/* line 756, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 {
  background-color: #f9f4ee;
}
/* line 759, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 .pane-content .view-content {
  color: #b59d70 !important;
  margin: auto;
  padding-bottom: 5%;
  padding-right: 14%;
  padding-top: 5%;
  text-align: right;
  width: 65%;
}
/* line 768, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 .pane-content .views-field-name {
  text-align: right !important;
}
/* line 770, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 .pane-content .views-field-name a {
  color: #b59d70 !important;
  font-size: 1rem !important;
}
/* line 775, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 .pane-content .views-field-review .field-content p {
  color: #b59d70 !important;
  text-align: right !important;
  font-size: 1.15rem !important;
}
/* line 779, ../sass/general.scss */
.pane-views-panes.pane-review-panel-pane-1 .pane-content .views-field-review .field-content p span {
  color: #b59d70 !important;
  text-align: right !important;
  font-size: 1.15rem !important;
}

/* line 788, ../sass/general.scss */
.view-share-this-pane .flag.flag-action {
  background: none !important;
  float: none !important;
  font-size: 12px !important;
}
/* line 793, ../sass/general.scss */
.view-share-this-pane .flag.unflag-action {
  background: none !important;
  float: none !important;
  font-size: 12px !important;
}

/* line 799, ../sass/general.scss */
.movie-picture-movie-group img.panopoly-image-quarter {
  float: none !important;
  margin: 0;
}

/* line 803, ../sass/general.scss */
.movie-title-movie-group > a {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 808, ../sass/general.scss */
.movie-grp-body p {
  font-size: 1.1rem;
}

/* line 815, ../sass/general.scss */
body.node-type-cm-movie-group .panels-flexible-row.content {
  width: 100%;
}
/* line 818, ../sass/general.scss */
body.node-type-cm-movie-group .panels-flexible-row.bottom.content {
  width: 100%;
}
/* line 822, ../sass/general.scss */
body.i18n-he .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group {
  position: absolute;
  bottom: 6em;
  color: #fff;
  left: 4%;
  width: 50%;
}

/* line 831, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 {
  margin: auto;
  padding: 30px 0 0;
  width: 45.5%;
}
/* line 835, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 839, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-row {
  background-color: #fff;
  margin-bottom: 5%;
}
/* line 844, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary {
  padding: 0 5% 5%;
}
/* line 846, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary p {
  font-weight: 400;
}
/* line 851, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event {
  position: relative;
  padding-left: 25px;
}
/* line 854, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a {
  background: url("../images/add-event.png") no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  font-size: 0;
  position: absolute;
}
/* line 863, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn {
  margin-left: 2%;
}
/* line 865, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  font-size: 0;
  height: 30px;
  border-radius: 80px 80px 80px 80px;
  width: 72px;
  vertical-align: middle;
}
/* line 876, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .add-event-cal {
  margin-left: 2%;
}
/* line 879, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title {
  float: left;
  padding: .8% 0 0;
  font-size: 1.3em;
}
/* line 883, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title a {
  color: #000;
  font-weight: 600;
}
/* line 888, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper {
  text-align: right;
  font-size: 1.2em;
  font-weight: 600;
}
/* line 892, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper .bar {
  margin: 0 3px;
}
/* line 898, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle {
  padding: 3% 5% 1%;
  clear: both;
  font-size: 1em;
  color: #a0a0a0;
}
/* line 903, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle .field-content span.bar {
  margin: 0 3px;
}
/* line 907, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-title h5 {
  font-weight: 500;
}
/* line 910, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-body p {
  font-weight: 400;
}
/* line 913, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .img-like-wrapper img.panopoly-image-quarter {
  max-width: 100%;
  margin-top: 0 !important;
  width: 100% !important;
}
/* line 920, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_2 #views_slideshow_cycle_teaser_section_movie_group_ct-panel_pane_2 {
  height: 600px !important;
}
/* line 923, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_2 .movie-group-slide-container {
  position: relative;
}
/* line 926, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group {
  position: absolute;
  bottom: 6em;
  color: #fff;
  left: 16%;
  width: 60%;
}
/* line 932, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group a {
  color: #fff;
}
/* line 935, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .slide-movie-title h2 {
  font-size: 3rem;
}
/* line 940, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 {
  margin: 0 auto;
  width: 80%;
  z-index: 0;
}
/* line 944, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered {
  border: none;
  font-size: 1rem;
}
/* line 947, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered > thead > tr > th {
  border: none;
  font-size: 1rem;
}
/* line 952, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 tbody {
  border: none;
  font-size: 1rem;
}
/* line 957, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 tr.even {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 962, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 tr.odd {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 968, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 th {
  border-bottom: none;
  color: #b7b7b7;
}
/* line 972, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 .addthisevent-drop {
  z-index: 0;
}
/* line 975, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 .table > tbody > tr > td {
  border: none;
  font-size: 1rem;
}
/* line 979, ../sass/general.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_3 .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

/* line 984, ../sass/general.scss */
.img-like-wrapper {
  position: relative;
}
/* line 986, ../sass/general.scss */
.img-like-wrapper .top-text-blk-wht {
  left: 36em;
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 991, ../sass/general.scss */
.img-like-wrapper .top-text-blk-wht .white {
  color: #b59d70;
  display: block;
  float: left;
  padding: 1%;
}
/* line 997, ../sass/general.scss */
.img-like-wrapper .top-text-blk-wht .black {
  color: #fff;
  display: block;
  float: left;
  padding: 1%;
}
/* line 1004, ../sass/general.scss */
.img-like-wrapper .like-btn {
  left: 3em;
  position: absolute;
  top: 1.5em;
}

/* line 1010, ../sass/general.scss */
.pane-movie-group-ct-panel-pane-1 {
  background-color: #f9f4ee;
}

/* line 1013, ../sass/general.scss */
.pane-lobby-panel-pane-1 {
  background-color: #f9f4ee;
}
/* line 1015, ../sass/general.scss */
.pane-lobby-panel-pane-1 .pane-content {
  margin: 0 auto;
  width: 80%;
}
/* line 1018, ../sass/general.scss */
.pane-lobby-panel-pane-1 .pane-content .lobby-container {
  background-color: #fff;
  padding: 2%;
  margin-top: 1%;
  text-align: right;
}

/* line 1026, ../sass/general.scss */
.lobby-term-left {
  float: left;
  margin-right: 2%;
  width: 76%;
}

/* line 1031, ../sass/general.scss */
.lobby-term-right {
  float: left;
  width: 22%;
  position: relative;
}
/* line 1035, ../sass/general.scss */
.lobby-term-right .top-text-blk-wht {
  position: absolute;
  right: -2px;
  top: 0;
}
/* line 1039, ../sass/general.scss */
.lobby-term-right .top-text-blk-wht .black {
  color: #fff !important;
}

/* line 1046, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered {
  border: none;
}
/* line 1048, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered > thead > tr > th {
  border: none;
}
/* line 1052, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tbody {
  border: none;
}
/* line 1056, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.even {
  border: none;
}
/* line 1059, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.odd {
  border: none;
}
/* line 1063, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 th {
  border-bottom: none;
  color: #b7b7b7;
}
/* line 1067, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table > tbody > tr > td {
  border: none;
}
/* line 1072, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 1076, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .field-label {
  display: none;
}
/* line 1079, ../sass/general.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .field-name-field-file-image-alt-text .field-item {
  background-color: #312f2f;
  position: absolute;
  bottom: 20px;
  color: #a0a0a0;
  font-size: 12px;
  padding: 10px 40px;
}

/* line 1090, ../sass/general.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 {
  overflow: visible;
}
/* line 1092, ../sass/general.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
  width: 85%;
  float: left;
  color: #fff;
}
/* line 1096, ../sass/general.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
  font-size: 3.56rem;
  margin: 1% 0;
  font-weight: normal;
  line-height: 110%;
}
/* line 1103, ../sass/general.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
  float: right;
  margin-top: 6%;
  width: 10%;
}
/* line 1109, ../sass/general.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
  margin-right: 10%;
  margin-top: 20px;
  width: auto;
  padding-left: 15%;
}
/* line 1114, ../sass/general.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 1120, ../sass/general.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-field-cm-movie-body {
  color: #312f2f;
  font-size: 1.1rem;
  line-height: 28px;
}
/* line 1127, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 {
  margin-top: 45%;
}
/* line 1129, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content {
  border-top: 5px solid #000;
  padding-top: 3%;
}
/* line 1132, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content .views-field-term-node-tid li a {
  color: #b7b7b7;
  text-decoration: underline;
  font-size: 14px;
}
/* line 1139, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content {
  border-top: 5px solid #000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 1146, ../sass/general.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  background: #000 url("../images/like-small.png") no-repeat scroll 0 0 !important;
  display: block;
  font-size: 0;
  height: 14px !important;
  margin-left: 47%;
  width: 119px !important;
}

@media (max-width: 320px) {
  /* line 1160, ../sass/general.scss */
  .sticky-header.header .navbar-default {
    height: 42px !important;
  }
  /* line 1163, ../sass/general.scss */
  .sticky-header.header .hambruger.-menu.navbar-toggle {
    margin-top: 8px !important;
    margin-left: 8px !important;
    border: 1px solid #fff !important;
  }
  /* line 1169, ../sass/general.scss */
  .sticky-header .navbar-toggle {
    margin-right: 10px !important;
    padding: 5px 9px !important;
  }
  /* line 1173, ../sass/general.scss */
  .sticky-header .navbar-collapse {
    background-color: #000 !important;
  }
  /* line 1176, ../sass/general.scss */
  .sticky-header .navbar .navbar-toggle .icon-bar {
    height: 1px !important;
    width: 8px !important;
  }
  /* line 1180, ../sass/general.scss */
  .sticky-header .navbar-brand > img {
    height: 40px !important;
  }

  /* line 1184, ../sass/general.scss */
  .navbar-default {
    height: 50px !important;
  }

  /* line 1187, ../sass/general.scss */
  .navbar-header {
    width: 100% !important;
  }

  /* line 1190, ../sass/general.scss */
  .navbar-toggle {
    padding: 8px 10px !important;
  }

  /* line 1194, ../sass/general.scss */
  .navbar .navbar-brand {
    height: 50px !important;
    padding: 8px 8px !important;
  }
  /* line 1198, ../sass/general.scss */
  .navbar .navbar-collapse {
    background-color: #b59d70 !important;
    padding: 2px;
    overflow-x: hidden;
  }
  /* line 1203, ../sass/general.scss */
  .navbar .navbar-toggle .icon-bar {
    height: 1px !important;
    width: 14px !important;
  }

  /* line 1208, ../sass/general.scss */
  .col-md-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  /* line 1211, ../sass/general.scss */
  .col-md-3.header-right > li {
    padding-left: 6px;
    padding-right: 6px;
  }

  /* line 1216, ../sass/general.scss */
  .hambruger.-menu.navbar-toggle {
    margin-top: 8px !important;
    margin-left: 8px !important;
    border: 1px solid #fff !important;
  }

  /* line 1221, ../sass/general.scss */
  .navbar-brand > img {
    height: 42px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 1228, ../sass/general.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-over-content {
    bottom: 1em;
    left: 0;
  }
  /* line 1232, ../sass/general.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
    position: relative;
    width: 85%;
    float: right;
    left: 15%;
  }
  /* line 1237, ../sass/general.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
    font-size: 1.56rem;
  }
  /* line 1241, ../sass/general.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
    float: left;
    position: relative;
    margin-top: 0;
    width: 10%;
  }
  /* line 1246, ../sass/general.scss */
  .node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct a {
    height: 48px;
    width: 48px;
  }
  /* line 1252, ../sass/general.scss */
  .node-type-cm-movie .table-responsive {
    overflow-x: hidden;
  }
  /* line 1256, ../sass/general.scss */
  .node-type-cm-movie .panels-flexible-row.content {
    width: 100%;
  }
  /* line 1259, ../sass/general.scss */
  .node-type-cm-movie .panels-flexible-row.bottom.content {
    width: 100%;
  }
  /* line 1264, ../sass/general.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-country {
    font-size: .7rem;
  }
  /* line 1267, ../sass/general.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-body p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  /* line 1273, ../sass/general.scss */
  .node-type-cm-movie table thead {
    display: none;
  }
  /* line 1278, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(2) {
    display: none;
  }
  /* line 1281, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(3) {
    display: none;
  }
  /* line 1284, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(4) {
    display: none;
  }
  /* line 1288, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase {
    float: left;
  }
  /* line 1290, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase button {
    padding: 3px 5px;
  }
  /* line 1294, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-hall {
    float: left;
  }
  /* line 1297, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time {
    float: left;
    color: #ccc;
  }
  /* line 1301, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time-1 {
    color: #ccc;
    text-align: right;
  }
  /* line 1305, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-title-1 {
    text-align: right;
  }
  /* line 1308, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 table tr {
    padding: 0.2em 0;
    border-bottom: 1px solid #ccc !important;
    clear: both;
    min-height: 80px;
  }
  /* line 1316, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 1319, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 1322, ../sass/general.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
  /* line 1326, ../sass/general.scss */
  .node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
    margin-right: 0;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
  /* line 1332, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
    padding-right: 0;
    text-align: right;
    width: 100%;
  }
  /* line 1336, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content tr {
    padding: 0;
  }
  /* line 1339, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content .views-field-field-cm-person-last-name {
    float: left;
  }

  /* line 1344, ../sass/general.scss */
  .table-responsive {
    border: 0 solid #ddd;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 1350, ../sass/general.scss */
  .node-type-cm-movie .slide-over-content {
    left: 30%;
  }
  /* line 1354, ../sass/general.scss */
  .node-type-cm-movie .panels-flexible-row.content {
    width: 100%;
  }
  /* line 1357, ../sass/general.scss */
  .node-type-cm-movie .panels-flexible-row.bottom.content {
    width: 100%;
  }
  /* line 1362, ../sass/general.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-country {
    font-size: .7rem;
  }
  /* line 1365, ../sass/general.scss */
  .node-type-cm-movie .views-field.views-field-field-cm-movie-body p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  /* line 1371, ../sass/general.scss */
  .node-type-cm-movie table thead {
    display: none;
  }
  /* line 1376, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(2) {
    display: none;
  }
  /* line 1379, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(3) {
    display: none;
  }
  /* line 1382, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 td:nth-of-type(4) {
    display: none;
  }
  /* line 1386, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase {
    float: left;
  }
  /* line 1388, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-toptix-purchase button {
    padding: 3px 5px;
  }
  /* line 1392, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-hall {
    float: left;
  }
  /* line 1395, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time {
    float: left;
    color: #ccc;
  }
  /* line 1399, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-field-cm-event-time-1 {
    color: #ccc;
    text-align: right;
  }
  /* line 1403, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 .views-field-title-1 {
    text-align: right;
  }
  /* line 1406, ../sass/general.scss */
  .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_7 table tr {
    padding: 0.2em 0;
    border-bottom: 1px solid #ccc !important;
    clear: both;
    min-height: 80px;
  }
  /* line 1414, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 1417, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 1420, ../sass/general.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
  /* line 1424, ../sass/general.scss */
  .node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
    margin-right: 0;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
  /* line 1430, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
    padding-right: 0;
    text-align: right;
    width: 100%;
  }
  /* line 1434, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content tr {
    padding: 0;
  }
  /* line 1437, ../sass/general.scss */
  .node-type-cm-movie .bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content .views-field-field-cm-person-last-name {
    float: left;
  }

  /* line 1442, ../sass/general.scss */
  .table-responsive {
    border: 0 solid #ddd;
  }
}
@media (min-width: 768px) {
  /* line 1448, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_left {
    width: 100%;
  }
  /* line 1451, ../sass/general.scss */
  .node-type-cm-movie .content.middle .panels-flexible-region-node_page-content_right {
    display: none;
  }
  /* line 1454, ../sass/general.scss */
  .node-type-cm-movie .content.middle .inside.panels-flexible-row-inside {
    width: 100%;
  }
}
/* line 1461, ../sass/general.scss */
.like-btn .movie-info a.flag-action {
  background: url("../images/movie-like.png") no-repeat right 0 !important;
}
/* line 1464, ../sass/general.scss */
.like-btn .movie-info a.unflag-action {
  background: url("../images/movie-unlike.png") no-repeat right 0 !important;
}

/* line 1468, ../sass/general.scss */
.panels-flexible-row.content .panels-flexible-region-node_page-content_region {
  width: 100% !important;
}

/* line 1471, ../sass/general.scss */
button.toptix-purchase {
  background-color: #b59d70;
  color: #fff;
  font-size: .8rem;
  border: none;
  padding: 4px 14px;
}

/* line 1479, ../sass/general.scss */
.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .pane-content {
  margin: 3% 0;
}
/* line 1482, ../sass/general.scss */
.bottom-content .pane-test-view-for-movie-credit-panel-pane-1 .view-content {
  margin: auto;
  padding-right: 14%;
  text-align: right;
  width: 65%;
}
