/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/icons-rtl.scss */
.domain-1 .header .header-right .language-switcher-locale-url a:hover {
  background-position: -35px 0 !important;
}
/* line 7, ../sass/icons-rtl.scss */
.domain-1 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-red-left.png") no-repeat left 10px center #fff;
}

/* line 13, ../sass/icons-rtl.scss */
.domain-2 .header .header-right .language-switcher-locale-url a:hover {
  background-position: -68px 0 !important;
}
/* line 16, ../sass/icons-rtl.scss */
.domain-2 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-gold-left.png") no-repeat left 10px center #fff;
}
