/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/icons.scss */
.domain-1 .header .header-right .search span:hover, .domain-1.search .header .header-right .search span, .domain-1.search-overlay .header .header-right .search span {
  background: transparent url("../images/search-icon-red.png") no-repeat scroll 0 1px;
}
/* line 10, ../sass/icons.scss */
.domain-1 .col-md-3.header-right .shopping-cart button:hover {
  background: url("../images/shop-icon-red.png") no-repeat 0 0;
}
/* line 13, ../sass/icons.scss */
.domain-1 .header .header-right #da11y-toggle:hover {
  background: url("../images/access-icon-red.png") no-repeat 0 0;
}
/* line 16, ../sass/icons.scss */
.domain-1 .header .header-right .favorite a:hover, .domain-1.page-user .header .header-right .favorite a {
  background: url("../images/favorite-red.png") no-repeat 0 bottom;
}
/* line 20, ../sass/icons.scss */
.domain-1 .header .header-right .today span:hover, .domain-1.page-user .header .header-right .favorite a {
  background: url("../images/time-red.png") no-repeat 0 bottom;
}
/* line 24, ../sass/icons.scss */
.domain-1 .header .header-right .language-switcher-locale-url a:hover {
  background: url("../images/hebrew-icon-red.png") no-repeat 0 1px !important;
}
/* line 28, ../sass/icons.scss */
.domain-1 .flag-wrapper a.flag-action {
  background: url("../images/like-red.png") no-repeat right 0 !important;
}
/* line 31, ../sass/icons.scss */
.domain-1 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-red.png") no-repeat right 0 !important;
}
/* line 35, ../sass/icons.scss */
.domain-1 .add-event a {
  background: url("../images/add-event-red.png") no-repeat !important;
}
/* line 37, ../sass/icons.scss */
.domain-1 .add-event a.addthisevent-selected {
  background: url("../images/add-event-red-active.png") no-repeat !important;
}
/* line 42, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-red.png") no-repeat scroll left 4px;
}
/* line 45, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-red.png") no-repeat scroll left 4px;
}
/* line 48, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-red.png") no-repeat scroll left 4px;
}
/* line 52, ../sass/icons.scss */
.domain-1 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-red-right.png") no-repeat right 10px center;
}
/* line 57, ../sass/icons.scss */
.domain-1 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 61, ../sass/icons.scss */
.domain-1 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 66, ../sass/icons.scss */
.domain-1 .share-this-pane .facebook a {
  background: url("../images/facebook-red.png") no-repeat left 3px center;
}
/* line 69, ../sass/icons.scss */
.domain-1 .share-this-pane .whatsapp a {
  background: url("../images/whatapp-red.png") no-repeat left center;
}
/* line 73, ../sass/icons.scss */
.domain-1 .owl-next {
  background: url("../images/more-red-left.png") no-repeat scroll center center;
}
/* line 76, ../sass/icons.scss */
.domain-1 .owl-prev {
  background: url("../images/more-red-right.png") no-repeat scroll center center;
}
/* line 80, ../sass/icons.scss */
.domain-1 .float-calendar-wrapper .close-button .close {
  background: url("../images/close42-red.png") no-repeat;
}

/* line 87, ../sass/icons.scss */
.domain-2 .header .header-right .search span:hover, .domain-2.search .header .header-right .search span, .domain-2.page-search .header .header-right .search span {
  background: transparent url("../images/search-icon-gold.png") no-repeat scroll 0 1px;
}
/* line 92, ../sass/icons.scss */
.domain-2 .col-md-3.header-right .shopping-cart button:hover {
  background: url("../images/shop-icon-gold.png") no-repeat 0 0;
}
/* line 95, ../sass/icons.scss */
.domain-2 .header .header-right #da11y-toggle:hover {
  background: url("../images/access-icon-gold.png") no-repeat 0 0;
}
/* line 98, ../sass/icons.scss */
.domain-2 .header .header-right .favorite a:hover, .domain-2.page-user .header .header-right .favorite a {
  background: url("../images/favorite-gold.png") no-repeat 0 bottom;
}
/* line 102, ../sass/icons.scss */
.domain-2 .header .header-right .language-switcher-locale-url a:hover {
  background: url("../images/hebrew-icon-gold.png") no-repeat 0 1px;
}
/* line 106, ../sass/icons.scss */
.domain-2 .flag-wrapper a.flag-action {
  background: url("../images/like-gold.png") no-repeat right 0 !important;
}
/* line 109, ../sass/icons.scss */
.domain-2 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-gold.png") no-repeat right 0 !important;
}
/* line 113, ../sass/icons.scss */
.domain-2 .add-event a {
  background: url("../images/add-event-gold.png") no-repeat !important;
}
/* line 115, ../sass/icons.scss */
.domain-2 .add-event a.addthisevent-selected {
  background: url("../images/add-event-gold-active.png") no-repeat !important;
}
/* line 120, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-gold.png") no-repeat scroll left 4px;
}
/* line 123, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-gold.png") no-repeat scroll left 4px;
}
/* line 126, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-gold.png") no-repeat scroll left 4px;
}
/* line 130, ../sass/icons.scss */
.domain-2 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-gold-right.png") no-repeat right 10px center;
}
/* line 135, ../sass/icons.scss */
.domain-2 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 139, ../sass/icons.scss */
.domain-2 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 144, ../sass/icons.scss */
.domain-2 .share-this-pane .facebook a {
  background: url("../images/facebook-gold.png") no-repeat left 3px center;
}
/* line 147, ../sass/icons.scss */
.domain-2 .share-this-pane .whatsapp a {
  background: url("../images/whatapp-gold.png") no-repeat left center;
}
/* line 151, ../sass/icons.scss */
.domain-2 .owl-next {
  background: url("../images/more-gold-left.png") no-repeat scroll center center;
}
/* line 154, ../sass/icons.scss */
.domain-2 .owl-prev {
  background: url("../images/more-gold-right.png") no-repeat scroll center center;
}
/* line 157, ../sass/icons.scss */
.domain-2 .float-calendar-wrapper .close-button .close {
  background: url("../images/close42-gold.png") no-repeat;
}
