/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 5, ../sass/icons.scss */
.domain-1 .header .header-right .search span:hover, .domain-1.search .header .header-right .search span, .domain-1.search-overlay .header .header-right .search span, .domain-1.page-search-results .header .header-right .search span {
  background-position: -32px 0;
}
/* line 11, ../sass/icons.scss */
.domain-1 .col-md-3.header-right .shopping-cart button:hover, .domain-1 .col-md-3.header-right .shopping-cart.active button {
  background-position: -31px 0;
}
/* line 14, ../sass/icons.scss */
.domain-1 .header .header-right #da11y-toggle:hover, .domain-1 .header .header-right #da11y-toggle.active {
  background-position: -32px 0;
}
/* line 17, ../sass/icons.scss */
.domain-1 .header .header-right .favorite a:hover, .domain-1.page-user .header .header-right .favorite a, .domain-1.page-node-4879 .header .header-right .favorite a, .domain-1.page-node-4878 .header .header-right .favorite a, .domain-1.logged-in .header .header-right .favorite a,
.domain-1 .view-user-flagged-content .view-empty .favorite-icon, .domain-1.page-node-4878 .field-name-body .favorite-icon, .domain-1.page-node-4879 .field-name-body .favorite-icon {
  background-position: -30px 0;
}
/* line 26, ../sass/icons.scss */
.domain-1 .header .header-right .today span:hover, .domain-1.show-float-calendar .header .header-right .today span {
  background-position: -30px 0;
}
/* line 30, ../sass/icons.scss */
.domain-1 .header .header-right .language-switcher-locale-url a:hover {
  background-position: -33px 1px;
}
/* line 34, ../sass/icons.scss */
.domain-1 .flag-wrapper a.flag-action {
  background: url("../images/like-red.png") no-repeat right 0 !important;
}
/* line 37, ../sass/icons.scss */
.domain-1 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-red.png") no-repeat right 0 !important;
}
/* line 41, ../sass/icons.scss */
.domain-1 .add-event a.atcb-link {
  background: url("../images/add-event-red.png") no-repeat !important;
}
/* line 44, ../sass/icons.scss */
.domain-1 .add-event a.atcb-link:focus, .domain-1 .add-event a.atcb-link:active {
  background: url("../images/add-event-red-active.png") no-repeat !important;
}
/* line 48, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-red.png") no-repeat scroll left 4px;
}
/* line 51, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-red.png") no-repeat scroll left 4px;
}
/* line 54, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-red.png") no-repeat scroll left 4px;
}
/* line 58, ../sass/icons.scss */
.domain-1 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-red-right.png") no-repeat right 10px center;
}
/* line 63, ../sass/icons.scss */
.domain-1 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 67, ../sass/icons.scss */
.domain-1 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 72, ../sass/icons.scss */
.domain-1 .share-this-pane .facebook a {
  background: url("../images/facebook-red.png") no-repeat left 3px center;
}
/* line 75, ../sass/icons.scss */
.domain-1 .share-this-pane .whatsapp a {
  background: url("../images/whatapp-red.png") no-repeat left center;
}
/* line 79, ../sass/icons.scss */
.domain-1 .owl-next {
  background: url("../images/more-red-left.png") no-repeat scroll center center;
}
/* line 82, ../sass/icons.scss */
.domain-1 .owl-prev {
  background: url("../images/more-red-right.png") no-repeat scroll center center;
}
/* line 86, ../sass/icons.scss */
.domain-1 .float-calendar-wrapper .close-button .close {
  background: url("../images/close42-red.png") no-repeat;
}

/* line 93, ../sass/icons.scss */
.domain-2 .header .header-right .search span:hover, .domain-2.search .header .header-right .search span, .domain-2.page-search .header .header-right .search span, .domain-2.page-search-results .header .header-right .search span {
  background-position: -62px 0;
}
/* line 99, ../sass/icons.scss */
.domain-2 .col-md-3.header-right .shopping-cart button:hover, .domain-2 .col-md-3.header-right .shopping-cart.active button {
  background-position: -60px 0;
}
/* line 102, ../sass/icons.scss */
.domain-2 .header .header-right #da11y-toggle:hover, .domain-2 .header .header-right #da11y-toggle.active {
  background-position: -62px 0;
}
/* line 105, ../sass/icons.scss */
.domain-2 .header .header-right .favorite a:hover, .domain-2.page-user .header .header-right .favorite a, .domain-2.page-node-4879 .header .header-right .favorite a, .domain-2.page-node-4878 .header .header-right .favorite a, .domain-2.logged-in .header .header-right .favorite a,
.domain-2 .view-user-flagged-content .view-empty .favorite-icon, .domain-2.page-node-4878 .field-name-body .favorite-icon, .domain-2.page-node-4879 .field-name-body .favorite-icon {
  background-position: -60px 0;
}
/* line 114, ../sass/icons.scss */
.domain-2 .header .header-right .language-switcher-locale-url a:hover {
  background-position: -65px 1px;
}
/* line 118, ../sass/icons.scss */
.domain-2 .flag-wrapper a.flag-action {
  background: url("../images/like-gold.png") no-repeat right 0 !important;
}
/* line 121, ../sass/icons.scss */
.domain-2 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-gold.png") no-repeat right 0 !important;
}
/* line 125, ../sass/icons.scss */
.domain-2 .add-event a {
  background: url("../images/add-event-gold.png") no-repeat !important;
}
/* line 128, ../sass/icons.scss */
.domain-2 .add-event a.atcb-link:focus, .domain-2 .add-event a.atcb-link:active {
  background: url("../images/add-event-gold-active.png") no-repeat !important;
}
/* line 132, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-gold.png") no-repeat scroll left 4px;
}
/* line 135, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-gold.png") no-repeat scroll left 4px;
}
/* line 138, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-gold.png") no-repeat scroll left 4px;
}
/* line 142, ../sass/icons.scss */
.domain-2 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-gold-right.png") no-repeat right 10px center;
}
/* line 147, ../sass/icons.scss */
.domain-2 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 151, ../sass/icons.scss */
.domain-2 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 156, ../sass/icons.scss */
.domain-2 .share-this-pane .facebook a {
  background: url("../images/facebook-gold.png") no-repeat left 3px center;
}
/* line 159, ../sass/icons.scss */
.domain-2 .share-this-pane .whatsapp a {
  background: url("../images/whatapp-gold.png") no-repeat left center;
}
/* line 163, ../sass/icons.scss */
.domain-2 .owl-next {
  background: url("../images/more-gold-left.png") no-repeat scroll center center;
}
/* line 166, ../sass/icons.scss */
.domain-2 .owl-prev {
  background: url("../images/more-gold-right.png") no-repeat scroll center center;
}
/* line 169, ../sass/icons.scss */
.domain-2 .float-calendar-wrapper .close-button .close {
  background: url("../images/close42-gold.png") no-repeat;
}
/* line 172, ../sass/icons.scss */
.domain-2 .header .header-right .today span:hover, .domain-2.show-float-calendar .header .header-right .today span {
  background-position: -60px 0;
}
