/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/icons.scss */
.domain-1 .header .header-right .search span:hover, .domain-1.search .header .header-right .search span, .domain-1.page-search .header .header-right .search span {
  background: transparent url("../images/search-icon-red.png") no-repeat scroll 0 2px;
}
/* line 10, ../sass/icons.scss */
.domain-1 .col-md-3.header-right .shopping-cart button:hover {
  background: url("../images/shop-icon-red.png") no-repeat 0 0;
}
/* line 13, ../sass/icons.scss */
.domain-1 .header .header-right #da11y-toggle:hover {
  background: url("../images/access-icon-red.png") no-repeat 0 0;
}
/* line 16, ../sass/icons.scss */
.domain-1 .header .header-right .language-switcher-locale-url a:hover {
  background: url("../images/english-icon-red.png") no-repeat 0 4px !important;
}
/* line 20, ../sass/icons.scss */
.domain-1 .flag-wrapper a.flag-action {
  background: url("../images/like-red.png") no-repeat right 0 !important;
}
/* line 23, ../sass/icons.scss */
.domain-1 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-red.png") no-repeat right 0 !important;
}
/* line 27, ../sass/icons.scss */
.domain-1 .add-event a {
  background: url("../images/add-event-red.png") no-repeat !important;
}
/* line 29, ../sass/icons.scss */
.domain-1 .add-event a.addthisevent-selected {
  background: url("../images/add-event-red-active.png") no-repeat !important;
}
/* line 34, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-red.png") no-repeat scroll left 4px;
}
/* line 37, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-red.png") no-repeat scroll left 4px;
}
/* line 40, ../sass/icons.scss */
.domain-1 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-red.png") no-repeat scroll left 4px;
}
/* line 44, ../sass/icons.scss */
.domain-1 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-red-right.png") no-repeat right 10px center #fff;
}
/* line 49, ../sass/icons.scss */
.domain-1 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 53, ../sass/icons.scss */
.domain-1 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-red.png") no-repeat left 7px top 14px;
}
/* line 58, ../sass/icons.scss */
.domain-1 .share-pane-container .facebook a {
  background: url("../images/facebook-red.png") no-repeat left 3px top 11px;
}
/* line 61, ../sass/icons.scss */
.domain-1 .share-pane-container .whatsapp a {
  background: url("../images/whatapp-red.png") no-repeat left center;
}

/* line 69, ../sass/icons.scss */
.domain-2 .header .header-right .search span:hover, .domain-2.search .header .header-right .search span, .domain-2.page-search .header .header-right .search span {
  background: transparent url("../images/search-icon-gold.png") no-repeat scroll 0 2px;
}
/* line 74, ../sass/icons.scss */
.domain-2 .col-md-3.header-right .shopping-cart button:hover {
  background: url("../images/shop-icon-gold.png") no-repeat 0 0;
}
/* line 77, ../sass/icons.scss */
.domain-2 .header .header-right #da11y-toggle:hover {
  background: url("../images/access-icon-gold.png") no-repeat 0 0;
}
/* line 80, ../sass/icons.scss */
.domain-2 .header .header-right .language-switcher-locale-url a:hover {
  background: url("../images/hebrew-icon-gold.png") no-repeat 0 2px;
}
/* line 84, ../sass/icons.scss */
.domain-2 .flag-wrapper a.flag-action {
  background: url("../images/like-gold.png") no-repeat right 0 !important;
}
/* line 87, ../sass/icons.scss */
.domain-2 .flag-wrapper a.unflag-action {
  background: url("../images/unlike-gold.png") no-repeat right 0 !important;
}
/* line 91, ../sass/icons.scss */
.domain-2 .add-event a {
  background: url("../images/add-event-gold.png") no-repeat !important;
}
/* line 93, ../sass/icons.scss */
.domain-2 .add-event a.addthisevent-selected {
  background: url("../images/add-event-gold-active.png") no-repeat !important;
}
/* line 98, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-1 {
  background: url("../images/address-icon-gold.png") no-repeat scroll left 4px;
}
/* line 101, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-2 {
  background: url("../images/phone-icon-gold.png") no-repeat scroll left 4px;
}
/* line 104, ../sass/icons.scss */
.domain-2 .view-person-ct-view.view-display-id-panel_pane_1 .views-field-nothing-1 .col-3 {
  background: url("../images/mail-icon-gold.png") no-repeat scroll left 4px;
}
/* line 108, ../sass/icons.scss */
.domain-2 .node-title-teaser-content-type {
  background: url("/sites/all/themes/cinemateque/images/more-gold-right.png") no-repeat right 10px center #fff;
}
/* line 113, ../sass/icons.scss */
.domain-2 .select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 117, ../sass/icons.scss */
.domain-2 .select2-results__options li[aria-selected="true"] {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 122, ../sass/icons.scss */
.domain-2 .share-pane-container .facebook a {
  background: url("../images/facebook-gold.png") no-repeat left 3px top 11px;
}
/* line 125, ../sass/icons.scss */
.domain-2 .share-pane-container .whatsapp a {
  background: url("../images/whatapp-gold.png") no-repeat left center;
}
