/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/menu.scss */
.hamburger {
  color: #fff;
}
/* line 5, ../sass/menu.scss */
.hamburger .modal-dialog {
  width: 100%;
  margin: 0;
}
/* line 9, ../sass/menu.scss */
.hamburger .modal-content {
  padding: 50px 0 0;
  background-color: #323232;
  opacity: 0.96;
}
/* line 13, ../sass/menu.scss */
.hamburger .modal-content .close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  opacity: 1;
  padding: 14px;
  z-index: 200;
}
/* line 61, ../sass/init.scss */
.domain-1 .hamburger .modal-content .close, .hamburger .modal-content .close.domain-1 .hamburger .modal-content .close {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .hamburger .modal-content .close {
  background-color: #b59d70 !important;
}
/* line 26, ../sass/menu.scss */
.hamburger .modal-body {
  padding: 0;
  margin: 0;
}
/* line 29, ../sass/menu.scss */
.hamburger .modal-body .close {
  float: left;
  padding: 22px;
}
/* line 33, ../sass/menu.scss */
.hamburger .modal-body .pane-bean-infomation-block-view .handle {
  display: none;
}
/* line 36, ../sass/menu.scss */
.hamburger .modal-body .view-id-bean_infomation_block_view .form-submit {
  display: none;
}
/* line 39, ../sass/menu.scss */
.hamburger .modal-body .popup-loader {
  margin: 0 auto;
  display: block;
}
/* line 44, ../sass/menu.scss */
.hamburger .panels-flexible-region.popup.region {
  width: 100%;
}

/* line 49, ../sass/menu.scss */
#hamburger-menu {
  /*
  .pane-my-backend-festival-menu-block {
  	float: left;
  	padding: 10px 15px 0 85px;
  	box-sizing: border-box;
  	.pane-title{
  		color: #fff;
  		font-size: 18px;
  		margin: 13px 0 14px;
  	}
  	.col-md-3 {
  		padding-left: 50px;
  		padding-right: 50px;
  		width: 25%;
  	}
  	.menu.nav li {
  		background-image: url("../images/arrow-right.png");
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: 20px auto;
  		border-bottom: 2px solid $color_chicago_approx;
  		line-height: 40px;
  		&.expanded {
  			display: none;
  		}
  		a {
  			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			color: $white;
  			font-size: 16px;
  			padding: 10px 0;
  			&:hover {
  				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			}
  			&:active {
  				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			}
  		}
  	}
  	.menu.nav li.last{
  		border-bottom: none;
  	}
  	.pane-content > h2 {
  		font-size: 16px;
  		font-weight: bold;
  	}
  }*/
}
/* line 50, ../sass/menu.scss */
#hamburger-menu .col-md-12 {
  padding: 0;
}
/* line 99, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu {
  width: 100%;
  padding: 0 70px;
}
/* line 102, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu h2 {
  display: none;
}
/* line 105, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed {
  float: left;
  padding: 10px 0px 0;
  width: 22.75%;
  margin-right: 3%;
  box-sizing: border-box;
}
/* line 111, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded.last, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed.last {
  margin-right: 0;
}
/* line 114, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded > a, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed > a {
  font-size: 18px;
  font-weight: bold;
}
/* line 118, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed a {
  color: #ffffff;
  padding: 10px 0;
}
/* line 121, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a:hover, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed a:hover {
  background: none;
}
/* line 124, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a:active, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed a:active {
  background: none;
}
/* line 128, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li {
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
  background-image: url("../images/arrow-right.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  width: 100%;
}
/* line 136, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li.last, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li.last {
  border-bottom: none;
}
/* line 139, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li a {
  background: transparent none repeat scroll 0 0;
  font-size: 16px;
  color: #ffffff;
  padding-right: 25px;
}
/* line 144, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a:hover, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li a:hover {
  background: none;
}
/* line 147, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a:active, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li a:active {
  background: none;
}
/* line 154, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english, #hamburger-menu .pane-bean-main-info-hebrew {
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  color: #fff;
  background-color: #262626;
  padding-top: 30px;
  clear: left;
  overflow: hidden;
}
/* line 163, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item {
  padding: 0 15px;
  position: relative;
  border: none;
  width: 25%;
  margin-bottom: 27px;
  float: left;
}
/* line 170, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-info-icon, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-info-icon {
  position: absolute;
  left: -30px;
}
/* line 174, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-label, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-label {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 13px;
  padding-right: 30px;
}
/* line 183, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-description, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-description {
  line-height: 1.2;
  text-align: left;
  font-variant: 12px;
  padding-right: 30px;
}
/* line 188, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-description p, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-description p {
  line-height: 16px;
}
/* line 191, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-description a, #hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-description a {
  color: #fff;
}
/* line 197, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19, #hamburger-menu .pane-webform-client-block-3322 {
  clear: both;
  position: relative;
  background-color: #262626;
  padding-bottom: 50px;
  width: 50%;
  float: left;
}
/* line 204, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-title, #hamburger-menu .pane-webform-client-block-3322 .pane-title {
  color: #fff;
}
/* line 207, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 input, #hamburger-menu .pane-webform-client-block-3322 input {
  background-color: #000;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  height: 30px;
}
/* line 214, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 label, #hamburger-menu .pane-webform-client-block-3322 label {
  color: #999;
  font-size: 17px;
  font-weight: normal;
  padding: 3px 7px;
}
/* line 220, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .panel-panel, #hamburger-menu .pane-webform-client-block-3322 .panel-panel {
  width: 50%;
  float: left;
  padding: 0;
}
/* line 225, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions, #hamburger-menu .pane-webform-client-block-3322 .form-actions {
  margin: 0;
}
/* line 227, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions input, #hamburger-menu .pane-webform-client-block-3322 .form-actions input {
  margin: 0;
  background-color: #fff !important;
  padding: 0 15px 0 10px;
}
/* line 52, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-webform-client-block-19 .form-actions input, .domain-1 #hamburger-menu .pane-webform-client-block-3322 .form-actions input {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-webform-client-block-19 .form-actions input, .domain-2 #hamburger-menu .pane-webform-client-block-3322 .form-actions input {
  color: #b59d70 !important;
}
/* line 232, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions input:hover, #hamburger-menu .pane-webform-client-block-3322 .form-actions input:hover {
  background-color: #fff !important;
}
/* line 52, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-webform-client-block-19 .form-actions input:hover, .domain-1 #hamburger-menu .pane-webform-client-block-3322 .form-actions input:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-webform-client-block-19 .form-actions input:hover, .domain-2 #hamburger-menu .pane-webform-client-block-3322 .form-actions input:hover {
  color: #b59d70 !important;
}
/* line 238, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component, #hamburger-menu .pane-webform-client-block-3322 .webform-component {
  margin-right: 8px;
}
/* line 240, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component input, #hamburger-menu .pane-webform-client-block-3322 .webform-component input {
  border-radius: 0 !important;
}
/* line 244, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--join-our-newsletter, #hamburger-menu .pane-webform-client-block-3322 .webform-component--join-our-newsletter {
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  color: #fff;
}
/* line 250, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail, #hamburger-menu .pane-webform-client-block-3322 .webform-component--approve-recieving-e-mail {
  position: absolute;
  bottom: -10px;
  width: 100%;
}
/* line 254, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail label, #hamburger-menu .pane-webform-client-block-3322 .webform-component--approve-recieving-e-mail label {
  top: 20px;
  position: relative;
  font-size: 12px;
  color: #fff !important;
}
/* line 260, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail input, #hamburger-menu .pane-webform-client-block-3322 .webform-component--approve-recieving-e-mail input {
  height: auto;
}
/* line 265, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .panel-panel:nth-child(2) span, #hamburger-menu .pane-webform-client-block-3322 .panel-panel:nth-child(2) span {
  display: inline-block;
  float: left;
}
/* line 270, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-block-8, #hamburger-menu .pane-webform-client-block-3322 .pane-block-8 {
  margin-top: 20px;
  float: right;
}
/* line 52, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-webform-client-block-19 .pane-block-8 i, .domain-1 #hamburger-menu .pane-webform-client-block-3322 .pane-block-8 i {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-webform-client-block-19 .pane-block-8 i, .domain-2 #hamburger-menu .pane-webform-client-block-3322 .pane-block-8 i {
  color: #b59d70 !important;
}
/* line 277, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-custom.pane-1, #hamburger-menu .pane-webform-client-block-3322 .pane-custom.pane-1 {
  float: right;
  margin: 0 16px;
}
/* line 280, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-custom.pane-1 img, #hamburger-menu .pane-webform-client-block-3322 .pane-custom.pane-1 img {
  height: 55px;
  margin-top: 31px;
}
/* line 286, ../sass/menu.scss */
#hamburger-menu .pane-bean-social-links-new, #hamburger-menu .pane-bean-logos-hebrew-block, #hamburger-menu .pane-bean-logos-english-block {
  float: right;
}
/* line 288, ../sass/menu.scss */
#hamburger-menu .pane-bean-social-links-new .field-name-field-social-icons > .field-items > .field-item, #hamburger-menu .pane-bean-logos-hebrew-block .field-name-field-social-icons > .field-items > .field-item, #hamburger-menu .pane-bean-logos-english-block .field-name-field-social-icons > .field-items > .field-item {
  float: left;
  margin-left: 27px;
}
/* line 294, ../sass/menu.scss */
#hamburger-menu .pane-bean-social-links-new img {
  border-radius: 50%;
}
/* line 61, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-bean-social-links-new img, #hamburger-menu .pane-bean-social-links-new img.domain-1 #hamburger-menu .pane-bean-social-links-new img {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-bean-social-links-new img {
  background-color: #b59d70 !important;
}

/******  hamburger  *********/
/* line 304, ../sass/menu.scss */
.responsive-hamburger {
  display: none;
}

/* line 308, ../sass/menu.scss */
.navbar-toggle {
  display: block;
}
@media (max-width: 767px) {
  /* line 308, ../sass/menu.scss */
  .navbar-toggle {
    display: none;
  }
}

/* line 315, ../sass/menu.scss */
.navbar-header .hambruger {
  float: left;
  border: medium none;
  margin-right: 0;
  transition: all 0.5s ease 0s;
  margin-top: 13px;
  padding: 0;
  border-radius: 0;
}
/* line 323, ../sass/menu.scss */
.navbar-header .hambruger.navbar-toggle {
  margin-left: 30px;
}

/* line 328, ../sass/menu.scss */
.navbar-header .hambruger .icon-bar {
  width: 34px;
  background-color: #fff !important;
  display: block;
  height: 2px;
}

/* line 335, ../sass/menu.scss */
.navbar-header .hambruger .icon-bar + .icon-bar {
  margin-top: 9px;
}

/********** responsive menu **********/
@media (max-width: 767px) {
  /* line 343, ../sass/menu.scss */
  .responsive-hamburger {
    display: block;
    cursor: pointer;
  }

  /* line 347, ../sass/menu.scss */
  .header #site-main-menu {
    background-color: rgba(0, 0, 0, 0.9) !important;
    display: block !important;
    margin-right: 0;
    margin-top: 0;
    overflow-y: scroll;
    position: fixed !important;
    right: -100%;
    top: 45px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  /* line 358, ../sass/menu.scss */
  .header #site-main-menu li {
    text-align: left;
    width: 100%;
  }
  /* line 361, ../sass/menu.scss */
  .header #site-main-menu li a {
    white-space: unset;
    padding: 15px 10px !important;
  }
  /* line 365, ../sass/menu.scss */
  .header #site-main-menu li .caret {
    display: block;
    float: right;
    border: none;
    height: 27px;
    margin: 0;
    width: 55px;
  }
  /* line 372, ../sass/menu.scss */
  .header #site-main-menu li .caret:after {
    display: block;
    content: "";
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    margin-top: 6px;
    float: right;
    width: 12px;
  }
  /* line 383, ../sass/menu.scss */
  .header #site-main-menu li .dropdown-menu {
    border: none;
    display: none;
    position: relative;
    width: 100%;
  }
  /* line 391, ../sass/menu.scss */
  .header #site-main-menu .responsive-open .dropdown-toggle {
    font-weight: bold;
  }
  /* line 394, ../sass/menu.scss */
  .header #site-main-menu .responsive-open .dropdown-menu {
    display: block;
  }
  /* line 397, ../sass/menu.scss */
  .header #site-main-menu .responsive-open .caret:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-bottom: none;
    margin-top: 11px;
  }

  /* line 406, ../sass/menu.scss */
  .responsive-hamburger-open #site-main-menu {
    right: 0;
  }
}
