/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 3, ../sass/menu.scss */
.hamburger {
  color: #fff;
}
/* line 5, ../sass/menu.scss */
.hamburger .modal-dialog {
  width: 100%;
  margin: 0;
}
/* line 9, ../sass/menu.scss */
.hamburger .modal-content {
  padding: 50px 0 0;
  background-color: #323232;
  opacity: 0.96;
}
/* line 13, ../sass/menu.scss */
.hamburger .modal-content .close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #e41145;
  opacity: 1;
  padding: 14px;
  z-index: 200;
}
/* line 26, ../sass/menu.scss */
.hamburger .modal-body {
  padding: 0;
  margin: 0;
}
/* line 29, ../sass/menu.scss */
.hamburger .modal-body .close {
  float: left;
  padding: 22px;
}
/* line 33, ../sass/menu.scss */
.hamburger .modal-body .pane-bean-infomation-block-view .handle {
  display: none;
}
/* line 36, ../sass/menu.scss */
.hamburger .modal-body .view-id-bean_infomation_block_view .form-submit {
  display: none;
}
/* line 39, ../sass/menu.scss */
.hamburger .modal-body .popup-loader {
  margin: 0 auto;
  display: block;
}
/* line 44, ../sass/menu.scss */
.hamburger .panels-flexible-region.popup.region {
  width: 100%;
}

/* line 49, ../sass/menu.scss */
#hamburger-menu {
  /*
  .pane-my-backend-festival-menu-block {
  	float: left;
  	padding: 10px 15px 0 85px;
  	box-sizing: border-box;
  	.pane-title{
  		color: #fff;
  		font-size: 18px;
  		margin: 13px 0 14px;
  	}
  	.col-md-3 {
  		padding-left: 50px;
  		padding-right: 50px;
  		width: 25%;
  	}
  	.menu.nav li {
  		background-image: url("../images/arrow-right.png");
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: 20px auto;
  		border-bottom: 2px solid $color_chicago_approx;
  		line-height: 40px;
  		&.expanded {
  			display: none;
  		}
  		a {
  			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			color: $white;
  			font-size: 16px;
  			padding: 10px 0;
  			&:hover {
  				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			}
  			&:active {
  				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  			}
  		}
  	}
  	.menu.nav li.last{
  		border-bottom: none;
  	}
  	.pane-content > h2 {
  		font-size: 16px;
  		font-weight: bold;
  	}
  }*/
}
/* line 50, ../sass/menu.scss */
#hamburger-menu .col-md-12 {
  padding: 0;
}
/* line 99, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu {
  width: 100%;
  float: right;
  padding: 0 70px;
}
/* line 104, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu-link-demo-1 > a, #hamburger-menu .pane-menu-menu-site-main-menu .menu-link-demo-2 > a, #hamburger-menu .pane-menu-menu-site-main-menu .menu-link-demo-3 > a {
  font-size: 18px;
  font-weight: bold;
}
/* line 109, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu h2 {
  display: none;
}
/* line 112, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded {
  float: left;
  padding: 10px 15px 0 15px;
  width: 25%;
  box-sizing: border-box;
}
/* line 117, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a {
  color: #ffffff;
  padding: 10px 0;
}
/* line 120, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a:hover {
  background: none;
}
/* line 123, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded a:active {
  background: none;
}
/* line 127, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li {
  border-bottom: 2px solid #5c5c5c;
  line-height: 40px;
  background-image: url("../images/arrow-right.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  width: 100%;
}
/* line 135, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li.last {
  border-bottom: none;
}
/* line 138, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a {
  background: transparent none repeat scroll 0 0;
  font-size: 16px;
  color: #ffffff;
}
/* line 142, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a:hover {
  background: none;
}
/* line 145, ../sass/menu.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a:active {
  background: none;
}
/* line 152, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english {
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  color: #fff;
  background-color: #262626;
  padding-top: 30px;
  clear: left;
  overflow: hidden;
}
/* line 161, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item {
  padding: 0 15px;
  position: relative;
  border: none;
  width: 25%;
  margin-bottom: 27px;
  float: left;
}
/* line 168, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-cm-info-block-icon {
  font-size: 20px;
  width: auto;
  position: absolute;
  left: -30px;
}
/* line 174, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-label {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  padding-right: 50px;
  padding-bottom: 5px;
}
/* line 183, ../sass/menu.scss */
#hamburger-menu .pane-bean-main-info-english .field-name-field-content-info > .field-items > .field-item .field-name-field-description {
  line-height: 1.2;
  text-align: left;
  padding-right: 50px;
  font-variant: 12px;
}
/* line 191, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 {
  clear: both;
  position: relative;
  background-color: #262626;
  padding: 0 70px 50px;
}
/* line 196, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-title {
  color: #fff;
}
/* line 199, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 input {
  background-color: #000;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  height: 30px;
}
/* line 206, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 label {
  color: #999;
  font-size: 17px;
  font-weight: normal;
  padding: 3px 7px;
}
/* line 212, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .panel-panel {
  width: 50%;
  float: left;
  padding: 0;
}
/* line 217, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions {
  margin: 0;
}
/* line 219, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions input {
  margin: 0;
  background-color: #fff;
  padding: 0 15px 0 10px;
}
/* line 52, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-webform-client-block-19 .form-actions input {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-webform-client-block-19 .form-actions input {
  color: #b59d70 !important;
}
/* line 224, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .form-actions input:hover {
  background-color: #fff !important;
}
/* line 52, ../sass/init.scss */
.domain-1 #hamburger-menu .pane-webform-client-block-19 .form-actions input:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 #hamburger-menu .pane-webform-client-block-19 .form-actions input:hover {
  color: #b59d70 !important;
}
/* line 230, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component {
  margin-right: 8px;
}
/* line 232, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component input {
  border-radius: 0 !important;
}
/* line 236, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--join-our-newsletter {
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  color: #fff;
}
/* line 242, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail {
  position: absolute;
  bottom: -10px;
  width: 100%;
}
/* line 246, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail label {
  top: 20px;
  position: relative;
  font-size: 12px;
  color: #fff !important;
}
/* line 252, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .webform-component--approve-recieving-e-mail input {
  height: auto;
}
/* line 257, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .panel-panel:nth-child(2) span {
  display: inline-block;
  float: left;
}
/* line 262, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-block-8 {
  margin-top: 20px;
  float: right;
}
/* line 265, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-block-8 i {
  color: #e41145;
}
/* line 269, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-custom.pane-1 {
  float: right;
  margin: 0 16px;
}
/* line 272, ../sass/menu.scss */
#hamburger-menu .pane-webform-client-block-19 .pane-custom.pane-1 img {
  height: 55px;
  margin-top: 31px;
}
/* line 278, ../sass/menu.scss */
#hamburger-menu .pane-bean-social-links-new {
  float: right;
}

/* line 283, ../sass/menu.scss */
.navbar-toggle .icon-bar {
  width: 34px;
  background-color: #fff !important;
}

/* line 288, ../sass/menu.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 9px;
}

/* line 292, ../sass/menu.scss */
.hambruger.-menu.navbar-toggle {
  margin-top: 4px;
}
