/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/menu-rtl.scss */
.hamburger .modal-content .close {
  left: auto;
  right: 20px;
}
/* line 11, ../sass/menu-rtl.scss */
.hamburger .modal-body .close {
  float: right;
}

/* line 17, ../sass/menu-rtl.scss */
#hamburger-menu {
  /*
  .pane-my-backend-festival-menu-block {
  	width: 27.5%;
  	padding: 10px 85px 0 15px;
  	float: right;
  	.menu.nav li {
  		background-image: url("../images/arrow-left.png");
  		background-position: left center;
  	}
  }*/
}
/* line 29, ../sass/menu-rtl.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed {
  float: right;
  margin: 0;
  margin-left: 3%;
  margin-right: 0;
}
/* line 34, ../sass/menu-rtl.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded.last, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed.last {
  margin-left: 0;
}
/* line 37, ../sass/menu-rtl.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li {
  background-image: url("../images/arrow-left.png");
  background-position: left center;
  padding: 0;
  margin: 0;
}
/* line 42, ../sass/menu-rtl.scss */
#hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.expanded li a, #hamburger-menu .pane-menu-menu-site-main-menu .menu.nav li.collapsed li a {
  padding-left: 25px;
  padding-right: 0;
}
/* line 49, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-main-info-hebrew {
  clear: right;
}
/* line 51, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item {
  float: right;
}
/* line 53, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-info-icon {
  right: -30px;
  left: auto;
}
/* line 57, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-label {
  text-align: right;
  padding-left: 30px;
  padding-right: 0;
}
/* line 62, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-main-info-hebrew .field-name-field-content-info > .field-items > .field-item .field-name-field-description {
  text-align: right;
  padding-left: 30px;
  padding-right: 0;
}
/* line 69, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 {
  float: right;
}
/* line 71, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .panel-panel {
  float: right;
}
/* line 75, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .form-actions input {
  padding: 0 10px 0 15px;
}
/* line 79, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .webform-component {
  margin-right: 0px;
  margin-left: 8px;
}
/* line 84, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .panel-panel:nth-child(2) span {
  float: right;
}
/* line 88, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .pane-block-8 {
  float: left;
}
/* line 91, ../sass/menu-rtl.scss */
#hamburger-menu .pane-webform-client-block-3322 .pane-custom.pane-1 {
  float: left;
}
/* line 95, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-social-links-new, #hamburger-menu .pane-bean-logos-hebrew-block, #hamburger-menu .pane-bean-logos-english-block {
  float: left;
}
/* line 97, ../sass/menu-rtl.scss */
#hamburger-menu .pane-bean-social-links-new .field-name-field-social-icons > .field-items > .field-item, #hamburger-menu .pane-bean-logos-hebrew-block .field-name-field-social-icons > .field-items > .field-item, #hamburger-menu .pane-bean-logos-english-block .field-name-field-social-icons > .field-items > .field-item {
  float: right;
  margin-left: 0;
  margin-right: 27px;
}

/********** responsive menu **********/
@media (max-width: 767px) {
  /* line 108, ../sass/menu-rtl.scss */
  .header #site-main-menu {
    margin-left: 0;
  }
  /* line 110, ../sass/menu-rtl.scss */
  .header #site-main-menu li {
    text-align: right;
  }
  /* line 112, ../sass/menu-rtl.scss */
  .header #site-main-menu li .caret {
    float: left;
  }
  /* line 114, ../sass/menu-rtl.scss */
  .header #site-main-menu li .caret:after {
    display: block;
    content: "";
    border-right: 8px solid #fff;
    border-left: none;
    float: left;
  }
}
