/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie-rtl.scss */
.node-type-cm-movie .slide-right-ct {
  float: right;
  padding-right: 6%;
  padding-left: 10%;
}
/* line 10, ../sass/movie-rtl.scss */
.node-type-cm-movie .slide-left-ct {
  float: right;
}
/* line 14, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
  float: right;
  margin-left: 0;
  margin-right: 23%;
}
/* line 19, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
  float: right;
}
/* line 23, ../sass/movie-rtl.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
  margin-right: 0%;
  padding-left: 0;
  margin-right: 10%;
  padding-right: 15%;
}
/* line 31, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  margin-left: 0;
  margin-right: 47%;
}
