/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 8, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .field-name-field-folder {
  display: none;
}
/* line 11, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-field-field-cm-movie-credits {
  bottom: 5rem;
  color: #fff;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 90;
  height: 118px;
}
/* line 19, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-field-field-cm-movie-credits .slide-over-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  position: relative;
}
/* line 24, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .panels-flexible-region-node_page-slider-inside {
  overflow: hidden;
}
/* line 27, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .panels-flexible-region-node_page-slider-inside .views-slideshow-cycle-main-frame-row div {
  height: 100%;
}
/* line 32, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .view .content, .node-type-cm-movie .panels-flexible-row-node_page-3 .view .mask {
  height: auto;
  left: auto;
  position: relative !important;
}
/* line 38, ../sass/movie.scss */
.node-type-cm-movie.noheaderimage .panels-flexible-row-node_page-3 {
  height: auto !important;
  padding-top: 75px !important;
}
/* line 41, ../sass/movie.scss */
.node-type-cm-movie.noheaderimage .panels-flexible-row-node_page-3 .pane-movie-top-pane-view-panel-pane-2 {
  position: relative;
  bottom: auto;
}
/* line 44, ../sass/movie.scss */
.node-type-cm-movie.noheaderimage .panels-flexible-row-node_page-3 .pane-movie-top-pane-view-panel-pane-2 .slide-left-ct {
  color: #333;
}
/* line 49, ../sass/movie.scss */
.node-type-cm-movie.noheaderimage .panels-flexible-row-node_page-3 .pane-movie-top-pane-view-panel-pane-2 .slide-right-ct {
  margin-top: 0;
}
/* line 51, ../sass/movie.scss */
.node-type-cm-movie.noheaderimage .panels-flexible-row-node_page-3 .pane-movie-top-pane-view-panel-pane-2 .slide-right-ct a {
  background: url("../images/play-icon-black.png") no-repeat scroll 60% center;
  border: 1px solid #000;
}
/* line 58, ../sass/movie.scss */
.node-type-cm-movie .slide-right-ct {
  float: left;
  padding-left: 6%;
  padding-right: 10%;
  width: 23%;
  margin-top: 38px;
}
/* line 64, ../sass/movie.scss */
.node-type-cm-movie .slide-right-ct a {
  background: url("../images/play-icon.png") no-repeat scroll 60% center;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 0;
  height: 55px;
  padding: 2%;
  width: 55px;
}
/* line 75, ../sass/movie.scss */
.node-type-cm-movie .slide-left-ct {
  float: left;
}
/* line 77, ../sass/movie.scss */
.node-type-cm-movie .slide-left-ct .slide-eve-lobby {
  font-size: 22px;
  margin-bottom: 1%;
}
/* line 81, ../sass/movie.scss */
.node-type-cm-movie .slide-left-ct .slide-movie-title {
  margin-bottom: 15px;
}
/* line 84, ../sass/movie.scss */
.node-type-cm-movie .slide-left-ct .slide-movie-year {
  font-size: 1.2rem;
}
/* line 88, ../sass/movie.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 {
  overflow: visible;
}
/* line 90, ../sass/movie.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
  float: left;
  color: #ffffff;
  margin: 0 23%;
}
/* line 94, ../sass/movie.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
  font-size: 3.56rem;
  margin: 1% 0;
  font-weight: normal;
  line-height: 110%;
}
/* line 101, ../sass/movie.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
  float: left;
  position: absolute;
}
/* line 106, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
  margin-right: 10%;
  margin-top: 20px;
  width: auto;
  padding-left: 15%;
}
/* line 111, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 117, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-field-cm-movie-body {
  color: #312f2f;
  font-size: 1.1rem;
  line-height: 28px;
}
/* line 123, ../sass/movie.scss */
.node-type-cm-movie .view-movie-top-pane-view.view-display-id-panel_pane_4 {
  float: right;
  box-sizing: border-box;
}
/* line 128, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 {
  margin-top: 45%;
}
/* line 130, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 3%;
}
/* line 133, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content .views-field-term-node-tid li a {
  color: #bbb;
  text-decoration: underline;
  font-size: 14px;
}
/* line 140, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 147, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  background: #000000 url("../images/like-small.png") no-repeat scroll 0 0 !important;
  display: block;
  font-size: 0;
  height: 14px !important;
  margin-left: 47%;
  width: 119px !important;
}
/* line 159, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 163, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-2 {
  bottom: 5em;
  color: #fff;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
/* line 170, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-2 .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 174, ../sass/movie.scss */
.node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_4 {
  margin-top: 50px;
}
/* line 176, ../sass/movie.scss */
.node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_4 .views-field-title, .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_4 .views-field-nothing {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 183, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 {
  width: 100% !important;
  background-color: #fff;
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 189, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 .panels-flexible-row-node_page-6-inside .panels-flexible-region {
  margin: 0 23%;
}
/* line 192, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 .views-field-field-cm-movie-credits-person-ro {
  color: #b3b3b3;
  width: 23%;
}
/* line 196, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 a {
  color: #000;
}
/* line 199, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 a:hover {
  color: #b59d70;
}
/* line 204, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .view-movie-top-pane-view {
  overflow: visible;
}
/* line 206, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .view-movie-top-pane-view .table-responsive {
  overflow: visible;
}
/* line 210, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .views-field-field-cm-event-time {
  width: 23%;
}
/* line 213, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 #atedrop5-drop {
  top: 35px !important;
}

/* line 223, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered {
  border: none;
}
/* line 225, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered > thead > tr > th {
  border: none;
}
/* line 229, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tbody {
  border: none;
}
/* line 233, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.even {
  border: none;
}
/* line 236, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.odd {
  border: none;
}
/* line 240, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 th {
  border-bottom: none;
  color: #bbb;
}
/* line 244, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table > tbody > tr > td {
  border: none;
}
/* line 249, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 253, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .field-label {
  display: none;
}
/* line 256, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .group-alttab {
  background-color: #312f2f;
  position: absolute;
  bottom: 0px;
  color: #a0a0a0;
  font-size: 12px;
  padding: 10px 10px;
  height: auto;
  left: 0;
  right: auto;
  z-index: 100;
}
/* line 267, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .group-alttab .field {
  float: right;
}
/* line 270, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .group-alttab .field-name-field-file-image-alt-text {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid;
}

/**** slider  ******/
/* line 282, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 20px 0 0 0 !important;
  background-color: #f9f4ee;
}
/* line 286, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 288, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .field-name-field-qoutes {
  margin: 70px 23%;
}
/* line 291, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-qoute {
  color: #b59d70;
  font-size: 25px;
  width: 100%;
}
/* line 296, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-source {
  font-size: 12px;
  margin-top: 30px;
  color: #b59d70;
}
/* line 301, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-fields {
  clear: both;
  text-align: center;
  padding-top: 20px;
}
/* line 306, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item {
  display: inline-block;
  margin: 0 14px;
}
/* line 309, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item .circle {
  background-color: #afafaf;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}
/* line 315, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item.active .circle {
  background-color: #b59d70;
}
