/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 5, ../sass/movie-group.scss */
.node-type-cm-movie-group #content {
  width: 100% !important;
  background-color: #f9f4ee;
}
/* line 9, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-5 {
  padding-top: 40px !important;
}
/* line 11, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-5 > .inside {
  z-index: 301;
  position: relative;
}
@media (max-width: 767px) {
  /* line 17, ../sass/movie-group.scss */
  .node-type-cm-movie-group .content.middle .panels-flexible-region-node_page-content_left {
    padding: 0 !important;
  }
}
/* line 22, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-2 {
  overflow: hidden;
}
/* line 25, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3, .node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 28, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 30px;
}
/* line 31, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-content, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-content {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1095px) {
  /* line 31, ../sass/movie-group.scss */
  .node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-content, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-content {
    padding: 0;
  }
}
/* line 38, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body p, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body p {
  line-height: 25px;
}
/* line 41, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .field-label, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .field-label {
  display: none;
}
/* line 46, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  margin-top: 30px;
}
/* line 49, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 {
  padding: 0 !important;
  width: 100% !important;
  overflow: visible;
  background-color: #fff;
}
@media (max-width: 767px) {
  /* line 49, ../sass/movie-group.scss */
  .node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 {
    padding: 0 0 1px 0 !important;
  }
}
/* line 57, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding-top: 25px;
  margin-bottom: 30px;
}
/* line 63, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 {
  /*.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
  .views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
  	height: 100%;
  }*/
}
/* line 64, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .inside {
  height: 100% !important;
}
/* line 72, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 75, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main {
  height: 100%;
}
/* line 77, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main img {
  height: auto !important;
  width: 100%;
}
/* line 83, ../sass/movie-group.scss */
.node-type-cm-movie-group #atedrop1-sdrop {
  top: 36px !important;
}
/* line 87, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 {
  padding-top: 3px;
}
/* line 89, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .view-content {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1095px) {
  /* line 89, ../sass/movie-group.scss */
  .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .view-content {
    padding: 0;
  }
}
/* line 96, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 100, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header {
  position: relative;
}
/* line 105, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .movie-group-slide-container {
  position: relative;
}
/* line 110, ../sass/movie-group.scss */
.node-type-cm-movie-group .credits-view, .node-type-cm-movie-group .movie-group-item-credit {
  width: 100%;
  padding: 0px;
}

/* line 116, ../sass/movie-group.scss */
.movie-group-item-credit {
  padding-bottom: 0px !important;
}

/*
.view-movie-group-ct, .view-event-ct-view{
	.movie-group-item-credit{
		padding: 0;
		width: 100%;
		.profession{
			float: left;
		}
	}
}
*/
/* line 133, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby, .movie-group-list .movie-group-item-header-img, .movie-group-list .image-lobby {
  position: relative;
}
@media (max-width: 767px) {
  /* line 136, ../sass/movie-group.scss */
  .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .gradient, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .gradient, .movie-group-list .movie-group-item-header-img .gradient, .movie-group-list .image-lobby .gradient {
    display: none !important;
  }
}
/* line 140, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title, .movie-group-list .movie-group-item-header-img .title-movie, .movie-group-list .movie-group-item-header-img .lobby-title, .movie-group-list .image-lobby .title-movie, .movie-group-list .image-lobby .lobby-title {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 2;
}
@media (max-width: 767px) {
  /* line 140, ../sass/movie-group.scss */
  .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title, .movie-group-list .movie-group-item-header-img .title-movie, .movie-group-list .movie-group-item-header-img .lobby-title, .movie-group-list .image-lobby .title-movie, .movie-group-list .image-lobby .lobby-title {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px 30px 0;
  }
}
/* line 153, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title a, .movie-group-list .movie-group-item-header-img .title-movie a, .movie-group-list .movie-group-item-header-img .lobby-title a, .movie-group-list .image-lobby .title-movie a, .movie-group-list .image-lobby .lobby-title a {
  font-size: 1em;
  font-weight: normal;
}
/* line 157, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title.nopic, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie.nopic, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title.nopic, .movie-group-list .movie-group-item-header-img .title-movie.nopic, .movie-group-list .movie-group-item-header-img .lobby-title.nopic, .movie-group-list .image-lobby .title-movie.nopic, .movie-group-list .image-lobby .lobby-title.nopic {
  position: relative;
  padding: 30px 30px 0;
  background-color: #fff;
  left: auto;
  right: auto;
  bottom: auto;
}
/* line 164, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title.nopic a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie.nopic a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title.nopic a, .movie-group-list .movie-group-item-header-img .title-movie.nopic a, .movie-group-list .movie-group-item-header-img .lobby-title.nopic a, .movie-group-list .image-lobby .title-movie.nopic a, .movie-group-list .image-lobby .lobby-title.nopic a {
  color: #000 !important;
}
/* line 168, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title a, .movie-group-list .movie-group-item-header-img .title-movie a, .movie-group-list .movie-group-item-header-img .lobby-title a, .movie-group-list .image-lobby .title-movie a, .movie-group-list .image-lobby .lobby-title a {
  color: #fff !important;
}
@media (max-width: 767px) {
  /* line 168, ../sass/movie-group.scss */
  .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title a, .movie-group-list .movie-group-item-header-img .title-movie a, .movie-group-list .movie-group-item-header-img .lobby-title a, .movie-group-list .image-lobby .title-movie a, .movie-group-list .image-lobby .lobby-title a {
    color: #000 !important;
  }
}
/* line 175, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img img, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby img, .movie-group-list .movie-group-item-header-img img, .movie-group-list .image-lobby img {
  margin-bottom: 0;
}
/* line 179, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image, .movie-group-list .under-image {
  background-color: #fff;
  padding: 30px 30px 40px;
  margin-bottom: 30px;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 179, ../sass/movie-group.scss */
  .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image, .movie-group-list .under-image {
    padding-top: 10px;
  }
}
/* line 187, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-group-item-meta-info, .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-details, .movie-group-list .under-image .movie-group-item-meta-info, .movie-group-list .under-image .movie-details {
  padding-bottom: 10px;
}
/* line 189, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-group-item-meta-info span, .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-details span, .movie-group-list .under-image .movie-group-item-meta-info span, .movie-group-list .under-image .movie-details span {
  color: #929292;
  font-weight: normal;
  font-size: 16px;
}
/* line 195, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-details span:after, .movie-group-list .under-image .movie-details span:after {
  content: " | ";
}
/* line 198, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-details span:last-child:after, .movie-group-list .under-image .movie-details span:last-child:after {
  content: "";
}
/* line 201, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-group-item-teaser-txt, .movie-group-list .under-image .movie-group-item-teaser-txt {
  margin: 10px 0 20px;
}
/* line 203, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-group-item-teaser-txt p, .movie-group-list .under-image .movie-group-item-teaser-txt p {
  line-height: 25px;
  font-size: 18px;
}
/* line 209, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops, .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag-movie, .movie-group-list .views-field-ops, .movie-group-list .flag-movie {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 18px;
}
/* line 215, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .field-content, .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .flag-wrapper, .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag-movie .field-content, .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag-movie .flag-wrapper, .movie-group-list .views-field-ops .field-content, .movie-group-list .views-field-ops .flag-wrapper, .movie-group-list .flag-movie .field-content, .movie-group-list .flag-movie .flag-wrapper {
  float: right;
  width: 18px;
}
/* line 219, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops a, .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag-movie a, .movie-group-list .views-field-ops a, .movie-group-list .flag-movie a {
  right: 0;
  top: 0;
}
/* line 223, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops.flag-action, .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag-movie.flag-action, .movie-group-list .views-field-ops.flag-action, .movie-group-list .flag-movie.flag-action {
  background-image: url("../images/like-gold-movie.png");
}
/* line 228, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary, .movie-group-list .views-field.views-field-field-cm-movie-short-summary {
  padding: 0 5% 5%;
}
/* line 230, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary p, .movie-group-list .views-field.views-field-field-cm-movie-short-summary p {
  font-weight: 400;
}
/* line 235, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event, .movie-group-list .views-field.views-field-nothing-1 .field-content .movie-grp-add-event {
  position: relative;
  padding-left: 25px;
}
/* line 238, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a, .movie-group-list .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a {
  background: url("../images/add-event.png") no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  font-size: 0;
  position: absolute;
}
/* line 247, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn, .movie-group-list .views-field.views-field-nothing-1 .field-content .pur_btn {
  margin-left: 2%;
}
/* line 249, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn button, .movie-group-list .views-field.views-field-nothing-1 .field-content .pur_btn button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  font-size: 0;
  height: 30px;
  border-radius: 80px 80px 80px 80px;
  width: 72px;
  vertical-align: middle;
}
/* line 259, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .add-event-cal, .movie-group-list .views-field.views-field-nothing-1 .field-content .add-event-cal {
  margin-left: 2%;
}
/* line 262, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title, .movie-group-list .views-field.views-field-nothing-1 .field-content .title {
  float: left;
  padding: .8% 0 0;
  font-size: 1.3em;
}
/* line 266, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title a, .movie-group-list .views-field.views-field-nothing-1 .field-content .title a {
  color: #000;
  font-weight: 600;
}
/* line 271, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper, .movie-group-list .views-field.views-field-nothing-1 .field-content .list-wrapper {
  font-size: 1.2em;
  font-weight: 600;
}
/* line 274, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper .bar, .movie-group-list .views-field.views-field-nothing-1 .field-content .list-wrapper .bar {
  margin: 0 3px;
}
/* line 280, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle, .movie-group-list .views-field-field-cm-movie-subtitle {
  padding: 3% 5% 1%;
  clear: both;
  font-size: 1em;
  color: #a0a0a0;
}
/* line 285, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle .field-content span.bar, .movie-group-list .views-field-field-cm-movie-subtitle .field-content span.bar {
  margin: 0 3px;
}
/* line 289, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-title h5, .movie-group-list .movie-grp-title h5 {
  font-weight: 500;
}
/* line 292, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-body p, .movie-group-list .movie-grp-body p {
  font-weight: 400;
}
/* line 295, ../sass/movie-group.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .img-like-wrapper img.panopoly-image-quarter, .movie-group-list .img-like-wrapper img.panopoly-image-quarter {
  max-width: 100%;
  margin-top: 0 !important;
  width: 100% !important;
}

/* line 302, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-movie-group-ct.view-display-id-panel_pane_3 .table-responsive .views-field-field-cm-event-time-1 {
  width: 23%;
}
