/*  colors  *****/
/* line 10, ../sass/movie-group.scss */
.node-type-cm-movie-group #content {
  width: 100% !important;
}
/* line 13, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3, .node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 17, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 {
  padding: 0 !important;
  margin-top: 30px !important;
  overflow: visible;
}
/* line 21, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .table-responsive {
  overflow: visible;
}
/* line 25, ../sass/movie-group.scss */
.node-type-cm-movie-group #atedrop1-drop {
  top: 36px !important;
}
/* line 29, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 {
  margin: auto;
  padding: 30px 0 0;
  width: 615px;
  max-width: 100%;
}
/* line 34, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 38, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header {
  position: relative;
}
/* line 41, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img {
  position: relative;
}
/* line 43, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* line 48, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a {
  color: #fff;
}
/* line 52, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img img {
  margin-bottom: 0;
}
/* line 56, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image {
  background-color: #fff;
  padding: 30px 30px 40px;
  margin-bottom: 30px;
}
/* line 60, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-meta-info {
  padding-bottom: 10px;
  color: #b7b7b7;
}
/* line 65, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-teaser-txt p {
  line-height: 25px;
}
/* line 70, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht {
  position: absolute;
  top: 0;
  z-index: 200;
}
/* line 74, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht span {
  display: inline-block;
  padding: 5px;
  margin-right: -3px;
}
/* line 79, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .black {
  color: #fff;
}
/* line 82, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .white {
  color: #b59d70;
  background-color: #eee !important;
}
/* line 87, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 200;
}
/* line 94, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary {
  padding: 0 5% 5%;
}
/* line 96, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary p {
  font-weight: 400;
}
/* line 101, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event {
  position: relative;
  padding-left: 25px;
}
/* line 104, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a {
  background: url("../images/add-event.png") no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  font-size: 0;
  position: absolute;
}
/* line 113, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn {
  margin-left: 2%;
}
/* line 115, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  font-size: 0;
  height: 30px;
  border-radius: 80px 80px 80px 80px;
  width: 72px;
  vertical-align: middle;
}
/* line 125, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .add-event-cal {
  margin-left: 2%;
}
/* line 128, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title {
  float: left;
  padding: .8% 0 0;
  font-size: 1.3em;
}
/* line 132, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title a {
  color: #000;
  font-weight: 600;
}
/* line 137, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper {
  font-size: 1.2em;
  font-weight: 600;
}
/* line 140, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper .bar {
  margin: 0 3px;
}
/* line 146, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle {
  padding: 3% 5% 1%;
  clear: both;
  font-size: 1em;
  color: #a0a0a0;
}
/* line 151, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle .field-content span.bar {
  margin: 0 3px;
}
/* line 155, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-title h5 {
  font-weight: 500;
}
/* line 158, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-body p {
  font-weight: 400;
}
/* line 161, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .img-like-wrapper img.panopoly-image-quarter {
  max-width: 100%;
  margin-top: 0 !important;
  width: 100% !important;
}
/* line 168, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 #views_slideshow_cycle_teaser_section_movie_group_ct-panel_pane_2 {
  height: 600px !important;
}
/* line 171, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .movie-group-slide-container {
  position: relative;
}
/* line 174, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group {
  position: absolute;
  bottom: 6em;
  color: #fff;
  left: 16%;
  width: 60%;
}
/* line 180, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group a {
  color: #fff;
}
/* line 183, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .slide-movie-title h2 {
  font-size: 3rem;
}
/* line 189, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered {
  border: none;
  font-size: 1rem;
}
/* line 192, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered > thead > tr > th {
  border: none;
  font-size: 1rem;
}
/* line 197, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tbody {
  border: none;
  font-size: 1rem;
}
/* line 202, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.even {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 207, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.odd {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 213, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 th {
  border-bottom: none;
  color: #b7b7b7;
}
/* line 217, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .addthisevent-drop {
  z-index: 0;
}
/* line 220, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table > tbody > tr > td {
  border: none;
  font-size: 1rem;
}
/* line 224, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
/* line 229, ../sass/movie-group.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title {
  background-color: #312f2f;
  bottom: 42px;
  color: #a0a0a0;
  font-size: 12px;
  right: 0;
  padding: 10px 20px;
  position: absolute;
}
/* line 237, ../sass/movie-group.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  border-right: 1px solid #a0a0a0;
  padding-right: 7px;
  margin-right: 3px;
}
