/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 8, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  left: auto;
  right: 30px;
}
/* line 11, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic {
  right: 0;
}
/* line 16, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops {
  right: auto;
  left: 20px;
}
/* line 19, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .field-content, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .flag-wrapper {
  float: left;
}
/* line 22, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops a {
  left: 0;
}

/* line 32, ../sass/movie-group-rtl.scss */
.view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .lobby-title, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .title-movie, .view-id-movie_group_ct.view-display-id-panel_pane_1 .image-lobby .lobby-title, .movie-group-list .movie-group-item-header-img .title-movie, .movie-group-list .movie-group-item-header-img .lobby-title, .movie-group-list .image-lobby .title-movie, .movie-group-list .image-lobby .lobby-title {
  right: 30px;
  left: auto;
}
