/*
Error: Undefined mixin 'width'.
        on line 14 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss, in `width'
        from line 14 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss

9: 		    position: absolute;
10: 		    width: 100%;	
11: 		    z-index: 90;
12: 		    height: 118px;
13: 		     .slide-over-content{
14:  		    	@include width;
15:  		    	position: relative;
16: 		    }		
17:  		}
18:  	}
19:  	.slide-right-ct {

Backtrace:
/home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss:14:in `width'
/home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss:14
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/lib64/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `watch'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `initialize_adapter'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `initialize'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `new'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:101:in `start'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:109:in `start!'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:66:in `start!'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:405:in `listen_to'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:338:in `watch'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:30
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/lib64/ruby/gems/1.8/gems/compass-1.0.3/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'width'.\A         on line 14 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss, in `width'\A         from line 14 of /home/jercin/public_html/sites/all/themes/cinemateque/sass/movie.scss\A \A 9: 		    position: absolute;\A 10: 		    width: 100%;	\A 11: 		    z-index: 90;\A 12: 		    height: 118px;\A 13: 		     .slide-over-content{\A 14:  		    	@include width;\A 15:  		    	position: relative;\A 16: 		    }		\A 17:  		}\A 18:  	}\A 19:  	.slide-right-ct {"; }
