/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 7, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  margin-left: 0;
  margin-right: 47%;
}
/* line 13, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab {
  right: 0 !important;
  left: auto !important;
}
/* line 16, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab .field {
  float: right;
}
/* line 22, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
  padding: 0;
  margin: 1% 0px;
}
/* line 29, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 .panels-flexible-row-node_page-6-inside .panels-flexible-region {
  float: left;
}
