/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 8, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  left: auto;
  right: 30px;
}
/* line 11, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic {
  right: 0;
}
/* line 17, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht span {
  margin-right: 0px;
  margin-left: -3px;
}
/* line 22, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag {
  right: auto;
  left: 20px;
}
/* line 25, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .field-content, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .flag-wrapper {
  float: left;
}
/* line 28, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag a {
  left: 0;
}
/* line 34, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title {
  right: auto;
  left: 0;
}
/* line 37, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  padding-right: 0px;
  margin-right: 0px;
  border-left: 1px solid #a0a0a0;
  padding-left: 7px;
  margin-left: 7px;
  float: right;
}
