/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie-group.scss */
.node-type-cm-movie-group #content {
  width: 100% !important;
}
/* line 8, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-2 {
  overflow: hidden;
}
/* line 11, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3, .node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 14, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 30px;
}
/* line 17, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-content, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-content {
  margin: 0 auto;
  width: 647px;
  max-width: 100%;
}
/* line 22, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body p, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body p {
  line-height: 25px;
}
/* line 25, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .field-label, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .field-label {
  display: none;
}
/* line 30, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  margin-top: 30px;
}
/* line 33, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 {
  padding: 0 !important;
  width: 100% !important;
  overflow: visible;
  background-color: #fff;
}
/* line 38, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .table-responsive {
  overflow: visible;
}
/* line 41, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .views-field-field-cm-event-time-1 {
  width: 23%;
}
/* line 44, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .flag-wrapper {
  height: 26px;
  padding-top: 6px;
  display: block;
}
/* line 49, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding-top: 25px;
  margin-bottom: 30px;
}
/* line 55, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 {
  /*.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
  .views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
  	height: 100%;
  }*/
}
/* line 56, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .inside {
  height: 100% !important;
}
/* line 63, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 66, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main {
  height: 100%;
}
/* line 68, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main img {
  height: auto !important;
  width: 100%;
}
/* line 74, ../sass/movie-group.scss */
.node-type-cm-movie-group #atedrop1-sdrop {
  top: 36px !important;
}
/* line 77, ../sass/movie-group.scss */
.node-type-cm-movie-group #movie-group-node .panels-flexible-region {
  background-color: #f9f4ee;
}
/* line 81, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding-top: 30px;
}
/* line 84, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .view-content {
  margin: 0 auto;
  width: 647px;
  max-width: 100%;
}
/* line 90, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 94, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header {
  position: relative;
}
/* line 97, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img {
  position: relative;
}
/* line 99, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 2;
}
/* line 105, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic {
  position: relative;
  left: 0;
}
/* line 108, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic a {
  color: #000;
}
/* line 112, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a {
  color: #fff;
}
/* line 116, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img img {
  margin-bottom: 0;
}
/* line 120, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image {
  background-color: #fff;
  padding: 30px 30px 40px;
  margin-bottom: 30px;
}
/* line 124, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-meta-info {
  padding-bottom: 10px;
  color: #bbb;
}
/* line 129, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-teaser-txt p {
  line-height: 25px;
  font-size: 18px;
}
/* line 135, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht {
  position: absolute;
  top: 0;
  z-index: 90;
}
/* line 139, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht span {
  display: inline-block;
  padding: 5px;
  margin-right: -3px;
}
/* line 144, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .black {
  color: #fff;
}
/* line 147, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .white {
  background-color: #eee !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .white {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .white {
  color: #b59d70 !important;
}
/* line 152, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 18px;
}
/* line 158, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .field-content, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .flag-wrapper {
  float: right;
  width: 18px;
}
/* line 162, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag a {
  right: 0;
  top: 0;
}
/* line 166, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag.flag-action {
  background-image: url("../images/like-gold-movie.png");
}
/* line 170, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .state-nopic .flag {
  top: -5px;
}
/* line 174, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary {
  padding: 0 5% 5%;
}
/* line 176, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary p {
  font-weight: 400;
}
/* line 181, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event {
  position: relative;
  padding-left: 25px;
}
/* line 184, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a {
  background: url("../images/add-event.png") no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  font-size: 0;
  position: absolute;
}
/* line 193, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn {
  margin-left: 2%;
}
/* line 195, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  font-size: 0;
  height: 30px;
  border-radius: 80px 80px 80px 80px;
  width: 72px;
  vertical-align: middle;
}
/* line 205, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .add-event-cal {
  margin-left: 2%;
}
/* line 208, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title {
  float: left;
  padding: .8% 0 0;
  font-size: 1.3em;
}
/* line 212, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title a {
  color: #000;
  font-weight: 600;
}
/* line 217, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper {
  font-size: 1.2em;
  font-weight: 600;
}
/* line 220, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper .bar {
  margin: 0 3px;
}
/* line 226, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle {
  padding: 3% 5% 1%;
  clear: both;
  font-size: 1em;
  color: #a0a0a0;
}
/* line 231, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle .field-content span.bar {
  margin: 0 3px;
}
/* line 235, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-title h5 {
  font-weight: 500;
}
/* line 238, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-body p {
  font-weight: 400;
}
/* line 241, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .img-like-wrapper img.panopoly-image-quarter {
  max-width: 100%;
  margin-top: 0 !important;
  width: 100% !important;
}
/* line 248, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .movie-group-slide-container {
  position: relative;
}
/* line 253, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered {
  border: none;
  font-size: 1rem;
}
/* line 256, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered > thead > tr > th {
  border: none;
  font-size: 1rem;
}
/* line 261, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tbody {
  border: none;
  font-size: 1rem;
}
/* line 266, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.even {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 271, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.odd {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 277, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 th {
  border-bottom: none;
  color: #bbb;
}
/* line 281, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .addthisevent-drop {
  z-index: 0;
}
/* line 284, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table > tbody > tr > td {
  border: none;
  font-size: 1rem;
}
/* line 288, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
