/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew-bold;
  src: url("../fonts/OpenSansHebrew-Bold.eot?") format("eot"), url("../fonts/OpenSansHebrew-Bold.woff") format("woff"), url("../fonts/OpenSansHebrew-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansHebrew-Bold.ttf") format("truetype");
}
/* line 7, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  margin-left: 0;
  margin-right: 47%;
}
/* line 13, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab {
  right: 0 !important;
  left: auto !important;
}
/* line 16, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab .field {
  float: right;
}
/* line 22, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
  padding: 0;
  margin: 1% 0px;
}
/* line 29, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 .panels-flexible-row-node_page-6-inside .panels-flexible-region {
  float: left;
}
