/* line 7, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  left: auto;
  right: 20px;
}
/* line 13, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht span {
  margin-right: 0px;
  margin-left: -3px;
}
/* line 18, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag {
  right: 0px;
  left: 10px;
}
/* line 24, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group {
  right: 16%;
  left: 0;
}
/* line 30, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title {
  right: auto;
  left: 0;
}
/* line 33, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .field-content .slide-alt-title .grp-alt {
  border-right: none;
  padding-right: 0px;
  margin-right: 0px;
  border-left: 1px solid #a0a0a0;
  padding-left: 7px;
  margin-left: 3px;
}
