/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 8, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .field-name-field-folder {
  display: none;
}
/* line 11, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-field-field-cm-movie-credits {
  bottom: 60px;
  color: #fff;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 90;
  height: 118px;
}
/* line 19, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-field-field-cm-movie-credits .slide-over-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  position: relative;
}
/* line 24, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .panels-flexible-region-node_page-slider-inside {
  overflow: hidden;
}
/* line 27, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .panels-flexible-region-node_page-slider-inside .views-slideshow-cycle-main-frame-row > div {
  height: 100%;
}
/* line 32, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .view .content, .node-type-cm-movie .panels-flexible-row-node_page-3 .view .mask {
  height: auto;
  left: auto;
  position: relative !important;
}
/* line 38, ../sass/movie.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 {
  overflow: visible;
}
/* line 41, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 {
  width: auto;
}
/* line 43, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-title {
  color: #000000;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 48, ../sass/movie.scss */
.node-type-cm-movie #panels-ipe-regionid-content_left .pane-movie-top-pane-view-panel-pane-4 .views-field-field-cm-movie-body {
  color: #312f2f;
  font-size: 1.1rem;
  line-height: 28px;
}
/* line 54, ../sass/movie.scss */
.node-type-cm-movie .view-movie-top-pane-view.view-display-id-panel_pane_4 {
  float: right;
  box-sizing: border-box;
}
/* line 58, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 {
  padding-top: 50px !important;
}
@media (max-width: 767px) {
  /* line 58, ../sass/movie.scss */
  .node-type-cm-movie .panels-flexible-row-node_page-5 {
    padding: 20px 0 0 !important;
    margin-bottom: 20px;
  }
  /* line 63, ../sass/movie.scss */
  .node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_left {
    padding: 0 5% !important;
  }
  /* line 66, ../sass/movie.scss */
  .node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right {
    padding: 0 5% 25px !important;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 5px;
  }
}
/* line 75, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 {
  margin-top: 45%;
}
/* line 77, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 3%;
}
/* line 80, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-6 .pane-content .views-field-term-node-tid li a {
  color: #bbb;
  text-decoration: underline;
  font-size: 14px;
}
/* line 87, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content {
  border-top: 5px solid #000000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
/* line 94, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  background: #000000 url("../images/like-small.png") no-repeat scroll 0 0 !important;
  display: block;
  font-size: 0;
  height: 14px !important;
  margin-left: 47%;
  width: 119px !important;
}
/* line 106, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-3 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 111, ../sass/movie.scss */
.node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_4 .views-field-title, .node-type-cm-movie .view-id-movie_top_pane_view.view-display-id-panel_pane_4 .views-field-nothing {
  color: #000000;
  font-weight: 600;
  margin-bottom: 2%;
}
/* line 117, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 {
  width: 100% !important;
  background-color: #fff;
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 123, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-6 .panels-flexible-row-node_page-6-inside .panels-flexible-region {
  padding: 0 23%;
}
@media (max-width: 767px) {
  /* line 123, ../sass/movie.scss */
  .node-type-cm-movie .panels-flexible-row-node_page-6 .panels-flexible-row-node_page-6-inside .panels-flexible-region {
    padding: 0;
  }
}
/* line 131, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .view-movie-top-pane-view {
  overflow: visible;
}
/* line 133, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .view-movie-top-pane-view .table-responsive {
  overflow: visible;
}
/* line 137, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .views-field-ops {
  height: 23px !important;
  display: block;
  padding-top: 13px;
}
@media (max-width: 767px) {
  /* line 142, ../sass/movie.scss */
  .node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 thead {
    display: none;
  }
}
/* line 146, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 thead th {
  font-size: 12px;
}
/* line 150, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 .views-field-field-cm-event-time {
  width: 23%;
}
/* line 153, ../sass/movie.scss */
.node-type-cm-movie .pane-movie-top-pane-view-panel-pane-7 #atedrop5-drop {
  top: 35px !important;
}

/* line 163, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered {
  border: none;
}
/* line 165, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table-bordered > thead > tr > th {
  border: none;
}
/* line 169, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tbody {
  border: none;
}
/* line 173, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.even {
  border: none;
}
/* line 176, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 tr.odd {
  border: none;
}
/* line 180, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 th {
  border-bottom: none;
  color: #bbb;
}
/* line 184, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_7 .table > tbody > tr > td {
  border: none;
}
/* line 189, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 193, ../sass/movie.scss */
.view-id-movie_top_pane_view.view-display-id-panel_pane_1 #views_slideshow_cycle_teaser_section_movie_top_pane_view-panel_pane_1 .field-label {
  display: none;
}

/**** slider  ******/
/* line 202, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 205, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 208, ../sass/movie.scss */
  .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside tr {
    padding: 0 5%;
  }
}

/* line 214, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .field-name-field-qoutes {
  margin: 70px 23%;
}
/* line 217, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-qoute {
  font-size: 25px;
  width: 100%;
}
/* line 52, ../sass/init.scss */
.domain-1 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-qoute {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-qoute {
  color: #b59d70 !important;
}
/* line 222, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-source {
  font-size: 12px;
  margin-top: 30px;
}
/* line 52, ../sass/init.scss */
.domain-1 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-source {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-field-field-cm-review-source {
  color: #b59d70 !important;
}
/* line 227, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-fields {
  clear: both;
  text-align: center;
  padding-top: 20px;
}
/* line 232, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .pane-movie-top-pane-view-panel-pane-7 {
  padding-top: 20px;
}
/* line 235, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item {
  display: inline-block;
  margin: 0 14px;
}
/* line 238, ../sass/movie.scss */
.node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item .circle {
  background-color: #afafaf;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}
/* line 61, ../sass/init.scss */
.domain-1 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item.active .circle, .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item.active .circle.domain-1 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item.active .circle {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .node-type-cm-movie .panels-flexible-row-node_page-4 .panels-flexible-row-node_page-4-inside .views-slideshow-pager-field-item.active .circle {
  background-color: #b59d70 !important;
}
