/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie-group.scss */
.node-type-cm-movie-group #content {
  width: 100% !important;
}
/* line 8, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-2 {
  overflow: hidden;
}
/* line 11, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3, .node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  width: 100% !important;
  padding: 0 !important;
}
/* line 14, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  min-width: 615px;
  margin-top: 30px;
}
/* line 18, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .pane-content, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-title, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .pane-content {
  margin: 0 auto;
  width: 647px;
  max-width: 100%;
}
/* line 23, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body p, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body p {
  line-height: 25px;
}
/* line 26, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .pane-node-body .field-label, .node-type-cm-movie-group .panels-flexible-row-node_page-4 .pane-node-body .field-label {
  display: none;
}
/* line 31, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-4 {
  margin-top: 30px;
}
/* line 34, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 {
  padding: 0 !important;
  width: 100% !important;
  overflow: visible;
  background-color: #fff;
}
/* line 39, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .table-responsive {
  overflow: visible;
}
/* line 42, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .views-field-field-cm-event-time-1 {
  width: 23%;
}
/* line 45, ../sass/movie-group.scss */
.node-type-cm-movie-group .pane-movie-group-ct-panel-pane-3 .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  padding-top: 25px;
  margin-bottom: 30px;
}
/* line 51, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 {
  /*.panels-flexible-region, .panel-pane, .pane-content, .view, .views-slideshow-cycle-main-frame, .view-content,.skin-default, .views-slideshow-cycle-main-frame-row,
  .views-slideshow-cycle-main-frame-row-item, .views-field, .field-content, .movie-group-slide-container, .movie-group-slide{
  	height: 100%;
  }*/
}
/* line 52, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .inside {
  height: 100% !important;
}
/* line 59, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 62, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main {
  height: 100%;
}
/* line 64, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-row-node_page-3 .views_slideshow_main img {
  height: auto !important;
  width: 100%;
}
/* line 70, ../sass/movie-group.scss */
.node-type-cm-movie-group #atedrop1-sdrop {
  top: 36px !important;
}
/* line 73, ../sass/movie-group.scss */
.node-type-cm-movie-group .panels-flexible-region {
  background-color: #f9f4ee;
}
/* line 77, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  padding-top: 30px;
  min-width: 615px;
}
/* line 81, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .view-content {
  margin: 0 auto;
  width: 647px;
  max-width: 100%;
}
/* line 87, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .content {
  position: inherit;
  overflow: inherit;
}
/* line 91, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header {
  position: relative;
}
/* line 94, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img {
  position: relative;
}
/* line 96, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
/* line 101, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic {
  position: relative;
}
/* line 103, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic a {
  color: #000;
}
/* line 107, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie a {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
/* line 112, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img img {
  margin-bottom: 0;
}
/* line 116, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image {
  background-color: #fff;
  padding: 30px 30px 40px;
  margin-bottom: 30px;
}
/* line 120, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-meta-info {
  padding-bottom: 10px;
  color: #bbb;
}
/* line 125, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .under-image .movie-gorup-item-teaser-txt p {
  line-height: 25px;
  font-size: 18px;
}
/* line 131, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht {
  position: absolute;
  top: 0;
  z-index: 90;
}
/* line 135, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht span {
  display: inline-block;
  padding: 5px;
  margin-right: -3px;
}
/* line 140, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .black {
  color: #fff;
}
/* line 143, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .top-text-blk-wht .white {
  color: #b59d70;
  background-color: #eee !important;
}
/* line 148, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 18px;
}
/* line 154, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .field-content, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag .flag-wrapper {
  float: right;
  width: 18px;
}
/* line 158, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag a {
  right: 0;
  top: 0;
}
/* line 162, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .flag.flag-action {
  background-image: url("../images/like-gold-movie.png");
}
/* line 167, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary {
  padding: 0 5% 5%;
}
/* line 169, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-field-cm-movie-short-summary p {
  font-weight: 400;
}
/* line 174, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event {
  position: relative;
  padding-left: 25px;
}
/* line 177, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .movie-grp-add-event a {
  background: url("../images/add-event.png") no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  font-size: 0;
  position: absolute;
}
/* line 186, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn {
  margin-left: 2%;
}
/* line 188, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .pur_btn button {
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  font-size: 0;
  height: 30px;
  border-radius: 80px 80px 80px 80px;
  width: 72px;
  vertical-align: middle;
}
/* line 198, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .add-event-cal {
  margin-left: 2%;
}
/* line 201, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title {
  float: left;
  padding: .8% 0 0;
  font-size: 1.3em;
}
/* line 205, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .title a {
  color: #000;
  font-weight: 600;
}
/* line 210, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper {
  font-size: 1.2em;
  font-weight: 600;
}
/* line 213, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field.views-field-nothing-1 .field-content .list-wrapper .bar {
  margin: 0 3px;
}
/* line 219, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle {
  padding: 3% 5% 1%;
  clear: both;
  font-size: 1em;
  color: #a0a0a0;
}
/* line 224, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-field-cm-movie-subtitle .field-content span.bar {
  margin: 0 3px;
}
/* line 228, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-title h5 {
  font-weight: 500;
}
/* line 231, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-grp-body p {
  font-weight: 400;
}
/* line 234, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .img-like-wrapper img.panopoly-image-quarter {
  max-width: 100%;
  margin-top: 0 !important;
  width: 100% !important;
}
/* line 241, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .movie-group-slide-container {
  position: relative;
}
/* line 244, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group {
  position: absolute;
  bottom: 6em;
  color: #fff;
  width: 100%;
  padding: 0;
}
/* line 250, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .wrapper {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 252, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .wrapper .slide-eve-title, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .wrapper .slide-movie-title {
  margin: 0 23%;
}
/* line 256, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .wrapper .slide-eve-title a {
  font-size: 22px;
}
/* line 261, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group a {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
/* line 265, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_2 .slide-inner-group .slide-movie-title h2 {
  font-size: 3.56rem;
  text-shadow: 2px 2px 2px #000;
}
/* line 272, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered {
  border: none;
  font-size: 1rem;
}
/* line 275, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-bordered > thead > tr > th {
  border: none;
  font-size: 1rem;
}
/* line 280, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tbody {
  border: none;
  font-size: 1rem;
}
/* line 285, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.even {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 290, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 tr.odd {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}
/* line 296, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 th {
  border-bottom: none;
  color: #bbb;
}
/* line 300, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .addthisevent-drop {
  z-index: 0;
}
/* line 303, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table > tbody > tr > td {
  border: none;
  font-size: 1rem;
}
/* line 307, ../sass/movie-group.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_3 .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
/* line 312, ../sass/movie-group.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .slide-alt-title {
  background-color: #312f2f;
  bottom: 0px;
  color: #a0a0a0;
  font-size: 12px;
  right: 0;
  padding: 10px 20px;
  position: absolute;
}
/* line 320, ../sass/movie-group.scss */
.node-type-cm-movie-group .views_slideshow_cycle_slide .slide-alt-title .grp-alt {
  border-right: 1px solid #a0a0a0;
  padding-right: 7px;
  margin-right: 7px;
}
