/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 5, ../sass/movie-rtl.scss */
.node-type-cm-movie .slide-right-ct {
  float: right;
  padding-right: 6%;
  padding-left: 10%;
}
/* line 10, ../sass/movie-rtl.scss */
.node-type-cm-movie .slide-left-ct {
  float: right;
}
/* line 14, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct {
  float: right;
}
/* line 17, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-right-ct {
  float: right;
}
/* line 23, ../sass/movie-rtl.scss */
.node-type-cm-movie .panels-flexible-row-node_page-5 .panels-flexible-region-node_page-content_right #panels-ipe-regionid-content_right .pane-movie-top-pane-view-panel-pane-3 .pane-content .view-display-id-panel_pane_3 .flag-wrapper a {
  margin-left: 0;
  margin-right: 47%;
}
/* line 29, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab {
  right: 0 !important;
  left: auto !important;
}
/* line 32, ../sass/movie-rtl.scss */
.node-type-cm-movie .group-alttab .field {
  float: right;
}
/* line 38, ../sass/movie-rtl.scss */
.node-type-cm-movie .view-display-id-panel_pane_2 .slide-left-ct .slide-movie-title {
  padding: 0;
  margin: 1% 0px;
}
