/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 8, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie {
  left: auto;
  right: 30px;
}
/* line 11, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .movie-group-item-header-img .title-movie.nopic {
  right: 0;
}
/* line 16, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops {
  right: auto;
  left: 20px;
}
/* line 19, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .field-content, .node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops .flag-wrapper {
  float: left;
}
/* line 22, ../sass/movie-group-rtl.scss */
.node-type-cm-movie-group .view-id-movie_group_ct.view-display-id-panel_pane_1 .views-field-ops a {
  left: 0;
}

/*
.view-movie-group-ct{
	.movie-group-item-credit{
		.views-field-field-cm-movie-credits-person-ro{
			float: right;
			margin-left: 5px;
			margin-right: 0;
		}
		.views-field-views-conditional{
			float: right;
		}
	}
}*/
