/********  mixin *********/
/* line 7, ../sass/search-rtl.scss */
.page-search-search-results .cm_event .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 14, ../sass/search-rtl.scss */
.page-search-search-results .cm_movie .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 21, ../sass/search-rtl.scss */
.page-search-search-results #search-api-page-search-form .form-group .form-text {
  float: right;
  padding: 15px 2% 15px 22%;
}
/* line 26, ../sass/search-rtl.scss */
.page-search-search-results #search-api-page-search-form .form-submit {
  right: auto;
  left: 0;
}
/* line 32, ../sass/search-rtl.scss */
.page-search-search-results .search_new .region .block {
  float: right;
  margin-left: 2%;
  margin-right: 0;
}
/* line 38, ../sass/search-rtl.scss */
.page-search-search-results #RemoveFilters {
  text-align: right;
}
/* line 40, ../sass/search-rtl.scss */
.page-search-search-results #RemoveFilters a {
  margin-right: 0;
}
/* line 44, ../sass/search-rtl.scss */
.page-search-search-results .search-performance {
  float: right;
}
/* line 48, ../sass/search-rtl.scss */
.page-search-search-results .search-api-page-results .text-center {
  float: left;
  text-align: left;
}

/* line 56, ../sass/search-rtl.scss */
.select2-results__options li {
  background: url("../images/select-empty.png") no-repeat right 7px center;
  padding-right: 22px;
}
/* line 59, ../sass/search-rtl.scss */
.select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat right 7px center;
}

/* line 65, ../sass/search-rtl.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  right: auto;
  top: -4px;
  left: -0;
}
