/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 4, ../sass/search.scss */
.page-search.page-search .header .header-right .search a {
  pointer-events: none;
  cursor: default;
}
/* line 8, ../sass/search.scss */
.page-search .page-header {
  display: block !important;
}
/* line 10, ../sass/search.scss */
.page-search .page-header h1.title {
  font-weight: normal;
  margin: 60px 0 40px;
  font-size: 50px;
}
/* line 16, ../sass/search.scss */
.page-search .container, .page-search #content {
  width: 100%;
}
/* line 20, ../sass/search.scss */
.page-search .search_result .text-center {
  float: right;
  margin-top: 10px;
}
/* line 24, ../sass/search.scss */
.page-search .search_result ol {
  padding: 0;
}
/* line 28, ../sass/search.scss */
.page-search .panels-flexible-row {
  width: 100% !important;
  padding: 0 !important;
}
/* line 32, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  padding: 0 3% !important;
}
/* line 36, ../sass/search.scss */
.page-search .search-results {
  clear: both;
}
/* line 41, ../sass/search.scss */
.page-search .cm_event .pro-grid li:nth-child(1) {
  width: 25%;
  display: inline-block !important;
}
/* line 45, ../sass/search.scss */
.page-search .cm_event .pro-grid li:nth-child(2) {
  width: 73%;
  vertical-align: top;
  display: inline-block !important;
}
/* line 50, ../sass/search.scss */
.page-search .cm_event .pro-grid li img {
  max-width: 100%;
}
/* line 53, ../sass/search.scss */
.page-search .cm_event .pro-grid li h1.title {
  margin-bottom: 0;
}
/* line 55, ../sass/search.scss */
.page-search .cm_event .pro-grid li h1.title a {
  font-weight: 600;
  text-transform: uppercase;
  color: #333 !important;
}
/* line 61, ../sass/search.scss */
.page-search .cm_event .pro-grid li div.search-snippet-info {
  padding-left: 0 !important;
}
/* line 65, ../sass/search.scss */
.page-search .cm_event .pro-grid .search-view-mode p {
  font-size: 14px;
  line-height: 1.4;
}
/* line 70, ../sass/search.scss */
.page-search .search-performance {
  float: left;
  font-size: 18px;
  margin-top: 10px;
}
/* line 75, ../sass/search.scss */
.page-search .pager {
  float: right;
}
/* line 80, ../sass/search.scss */
.page-search .cm_movie .pro-grid li:nth-child(1) {
  width: 25%;
  display: inline-block !important;
}
/* line 84, ../sass/search.scss */
.page-search .cm_movie .pro-grid li:nth-child(2) {
  width: 73%;
  vertical-align: top;
  display: inline-block !important;
}
/* line 89, ../sass/search.scss */
.page-search .cm_movie .pro-grid li img {
  max-width: 100%;
}
/* line 92, ../sass/search.scss */
.page-search .cm_movie .pro-grid li h1.title {
  margin-bottom: 0;
}
/* line 94, ../sass/search.scss */
.page-search .cm_movie .pro-grid li h1.title a {
  font-weight: 600;
  text-transform: uppercase;
  color: #333 !important;
}
/* line 100, ../sass/search.scss */
.page-search .cm_movie .pro-grid li div.search-snippet-info {
  padding-left: 0 !important;
}
/* line 104, ../sass/search.scss */
.page-search .cm_movie .pro-grid .search-view-mode p {
  font-size: 14px;
  line-height: 1.4;
}
/* line 109, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results {
  margin-bottom: 30px;
  position: relative;
  overflow: visible;
}
/* line 113, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group {
  overflow: hidden;
  -webkit-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
}
/* line 118, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group label[for="edit-keys-1"] {
  display: none !important;
}
/* line 121, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group .form-text {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  background: #ffffff;
  margin-bottom: 0;
  height: auto;
  padding: 7px 22% 8px 2%;
  font-size: 25px;
  border: none;
}
/* line 134, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-submit {
  margin: 0;
  border-radius: 0 !important;
  padding: 9px 25px 11px;
  font-size: 18px;
  width: 20%;
  position: absolute;
  right: 0px;
  box-shadow: none;
  top: 0px;
}
/* line 61, ../sass/init.scss */
.domain-1 .page-search #search-api-page-search-form-search-results .form-submit, .page-search #search-api-page-search-form-search-results .form-submit.domain-1 .page-search #search-api-page-search-form-search-results .form-submit {
  background-color: #e41145 !important;
}
/* line 64, ../sass/init.scss */
.domain-2 .page-search #search-api-page-search-form-search-results .form-submit {
  background-color: #b59d70 !important;
}
/* line 148, ../sass/search.scss */
.page-search .search_new h4 {
  display: none !important;
}
/* line 151, ../sass/search.scss */
.page-search .search_new .region .block {
  float: left;
  width: 15%;
  margin-right: 2%;
}
/* line 156, ../sass/search.scss */
.page-search .search_new > * select {
  box-shadow: none !important;
  border-radius: 0 !important;
}
/* line 160, ../sass/search.scss */
.page-search .search_new .select2-selection {
  border-radius: 0;
}
/* line 164, ../sass/search.scss */
.page-search .search-api-page-result {
  border: 1px solid transparent;
  cursor: pointer;
  background: #ffffff !important;
  transition: ease 0.2s all;
}
/* line 169, ../sass/search.scss */
.page-search .search-api-page-result:hover {
  box-shadow: 0 0 4px 1px #999;
}
/* line 173, ../sass/search.scss */
.page-search #RemoveFilters {
  text-align: left;
}
/* line 176, ../sass/search.scss */
.page-search .views-row {
  margin: 10px auto;
  padding: 0;
  border: 1px solid transparent;
  transition: ease 0.2s all;
}
/* line 181, ../sass/search.scss */
.page-search .views-row:nth-child(odd) {
  background: #ffffff !important;
}
/* line 184, ../sass/search.scss */
.page-search .views-row:nth-child(even) {
  background: #e7decc !important;
}
/* line 187, ../sass/search.scss */
.page-search .views-row.views-field {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0 !important;
}
/* line 192, ../sass/search.scss */
.page-search .views-row.views-field:nth-child(1) {
  width: 10% !important;
}
/* line 195, ../sass/search.scss */
.page-search .views-row.views-field:nth-child(2) {
  width: 25% !important;
}
/* line 198, ../sass/search.scss */
.page-search .views-row.views-field .field-content {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 202, ../sass/search.scss */
.page-search .views-row.views-field .field-content a {
  font-weight: 600;
  font-size: 18px;
  color: #000000 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}
/* line 213, ../sass/search.scss */
.page-search .views-row.views-field > * img {
  width: 100% !important;
  margin: 0;
  max-width: 100% !important;
}
/* line 219, ../sass/search.scss */
.page-search .views-row:hover {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
/* line 224, ../sass/search.scss */
.page-search .container {
  background: #ffffff;
}
/* line 228, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet {
  float: left;
  width: 15.4%;
  margin-left: 1.5%;
}
/* line 232, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet *:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}
/* line 237, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet .select2-container {
  width: 100% !important;
}
/* line 241, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
  margin-left: 0;
}
/* line 244, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .form-type-select {
  margin-top: 0;
}
/* line 248, ../sass/search.scss */
.page-search .current-search-item {
  clear: both;
}
/* line 250, ../sass/search.scss */
.page-search .current-search-item li {
  float: left;
  margin-right: 30px !important;
  border-bottom: 1px solid;
  color: #c9c9c9;
}
/* line 255, ../sass/search.scss */
.page-search .current-search-item li a {
  color: #c9c9c9;
}
/* line 52, ../sass/init.scss */
.domain-1 .page-search .current-search-item li:hover {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .page-search .current-search-item li:hover {
  color: #b59d70 !important;
}
/* line 52, ../sass/init.scss */
.domain-1 .page-search .current-search-item li:hover a {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .page-search .current-search-item li:hover a {
  color: #b59d70 !important;
}
/* line 266, ../sass/search.scss */
.page-search .pane-search-current {
  clear: both;
  padding-top: 60px;
  margin-top: 60px;
  background-color: #f9f4ee;
  padding-bottom: 20px;
}
/* line 272, ../sass/search.scss */
.page-search .pane-search-current .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 274, ../sass/search.scss */
.page-search .pane-search-current .pane-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
/* line 282, ../sass/search.scss */
.page-search .pane-current-search-search-results-facets-block a {
  font-size: 0;
}
/* line 284, ../sass/search.scss */
.page-search .pane-current-search-search-results-facets-block a:before {
  content: "x";
  display: block;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  padding-top: 1px;
}
/* line 52, ../sass/init.scss */
.domain-1 .page-search .pane-current-search-search-results-facets-block li:hover:before {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .page-search .pane-current-search-search-results-facets-block li:hover:before {
  color: #b59d70 !important;
}
/* line 299, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results {
  background-color: #f9f4ee;
  padding-bottom: 50px;
}
/* line 302, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content {
  width: 1280px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}
/* line 304, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view {
  overflow: visible;
}
/* line 308, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .lobby-container {
  background-color: #fff;
  margin-bottom: 20px;
  clear: both;
}
/* line 314, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-next a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-last a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-first a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-previous a {
  padding-right: 0;
  padding-left: 0;
}
/* line 319, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-item a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-current span {
  padding: 5px 10px;
}
/* line 322, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-header {
  top: -46px;
  right: 0;
  position: absolute;
}
/* line 328, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left {
  float: left;
  width: 30%;
  position: relative;
}
/* line 332, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .top-text-blk-wht {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
}
/* line 337, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .top-text-blk-wht span {
  padding: 5px 10px;
}
/* line 340, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .top-text-blk-wht .black {
  color: #fff;
}
/* line 345, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right {
  float: right;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}
/* line 350, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right table tbody {
  border: none;
}
/* line 353, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-title a {
  font-size: 1.3rem;
}
/* line 356, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-length {
  color: #919191;
}
/* line 359, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .table-responsive {
  overflow: visible;
}
/* line 361, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .table-responsive table {
  margin-bottom: 0;
}
/* line 367, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .date {
  width: 20%;
}
/* line 370, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .time {
  width: 11%;
}
/* line 373, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .hall {
  width: 18%;
}
/* line 376, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .purchase {
  float: right;
  padding-right: 0;
  padding-left: 0;
  width: 80px;
}
/* line 382, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .flag {
  margin-top: 6px;
}
/* line 385, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .title {
  width: 23%;
}
/* line 388, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .code {
  width: 10%;
}

/* line 399, ../sass/search.scss */
.select2-results__options li:first-child {
  background: none;
}
/* line 402, ../sass/search.scss */
.select2-results__options li {
  background: url("../images/select-empty.png") no-repeat left 7px top 14px;
  padding-left: 22px;
}
/* line 405, ../sass/search.scss */
.select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 409, ../sass/search.scss */
.select2-results__options li[aria-selected="true"] {
  background: url("../images/select-gold.png") no-repeat left 7px top 14px;
}
/* line 412, ../sass/search.scss */
.select2-results__options li:first-child {
  background: none;
  padding-left: 7px;
}

/* line 418, ../sass/search.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: -4px;
  top: -4px;
}
/* line 52, ../sass/init.scss */
.domain-1 .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  color: #e41145 !important;
}
/* line 55, ../sass/init.scss */
.domain-2 .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  color: #b59d70 !important;
}

/* line 427, ../sass/search.scss */
.select2-container--default .select2-selection--single {
  border: 1px solid #c9c9c9;
}

/* line 432, ../sass/search.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f7f7;
  color: #000;
}

/* line 437, ../sass/search.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  content: "\f106";
}

/* line 441, ../sass/search.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
}

/* line 445, ../sass/search.scss */
input:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid;
}
/* line 79, ../sass/init.scss */
.domain-1 input:focus:not([readonly]), .domain-1 input[type="datetime-local"]:focus:not([readonly]), .domain-1 input[type="email"]:focus:not([readonly]), .domain-1 input[type="number"]:focus:not([readonly]), .domain-1 input[type="password"]:focus:not([readonly]), .domain-1 input[type="search-md"]:focus:not([readonly]), .domain-1 input[type="tel"]:focus:not([readonly]), .domain-1 input[type="text"]:focus:not([readonly]), .domain-1 input[type="time"]:focus:not([readonly]), .domain-1 input[type="url"]:focus:not([readonly]), .domain-1 textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #e41145 !important;
}
/* line 82, ../sass/init.scss */
.domain-2 input:focus:not([readonly]), .domain-2 input[type="datetime-local"]:focus:not([readonly]), .domain-2 input[type="email"]:focus:not([readonly]), .domain-2 input[type="number"]:focus:not([readonly]), .domain-2 input[type="password"]:focus:not([readonly]), .domain-2 input[type="search-md"]:focus:not([readonly]), .domain-2 input[type="tel"]:focus:not([readonly]), .domain-2 input[type="text"]:focus:not([readonly]), .domain-2 input[type="time"]:focus:not([readonly]), .domain-2 input[type="url"]:focus:not([readonly]), .domain-2 textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #b59d70 !important;
}

/* line 450, ../sass/search.scss */
.page-search-search-results #main #content .search_new, .page-search-search-results #main #content .region-content .views-field-php a {
  background: url("../images/add-event.png") no-repeat center center;
  vertical-align: top;
  width: 30px;
  height: 27px;
}

/* line 457, ../sass/search.scss */
.select2-container--default .select2-selection--single {
  border-radius: 0;
}

/* line 461, ../sass/search.scss */
.select2-dropdown {
  border-radius: 0;
}
