/********  mixin *********/
/* line 105, ../sass/init.scss */
.domain-1 a {
  color: #e41145;
}

/* line 109, ../sass/init.scss */
.domain-2 a {
  color: #b59d70;
}

/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 6, ../sass/search-rtl.scss */
.page-search .search_result .text-center {
  float: left;
}
/* line 12, ../sass/search-rtl.scss */
.page-search .cm_event .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 17, ../sass/search-rtl.scss */
.page-search .search-performance {
  float: right;
}
/* line 20, ../sass/search-rtl.scss */
.page-search .pager {
  float: left;
}
@media (max-width: 767px) {
  /* line 20, ../sass/search-rtl.scss */
  .page-search .pager {
    float: right;
  }
}
/* line 28, ../sass/search-rtl.scss */
.page-search .cm_movie .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 35, ../sass/search-rtl.scss */
.page-search #search-api-page-search-form-search-results .form-group .form-text {
  float: right;
  padding: 7px 2% 8px 22%;
}
/* line 40, ../sass/search-rtl.scss */
.page-search #search-api-page-search-form-search-results .form-submit {
  right: auto;
  left: 0;
}
/* line 46, ../sass/search-rtl.scss */
.page-search .search_new .region .block {
  float: right;
  margin-left: 2%;
  margin-right: 0;
}
/* line 52, ../sass/search-rtl.scss */
.page-search #RemoveFilters {
  text-align: right;
}
/* line 57, ../sass/search-rtl.scss */
.page-search .views-row.views-field .field-content {
  text-align: right;
}
/* line 63, ../sass/search-rtl.scss */
.page-search .panels-flexible-row-node_page-3 .form-submit {
  float: left;
}
/* line 66, ../sass/search-rtl.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet {
  float: right;
  margin-right: 1.5%;
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 66, ../sass/search-rtl.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet {
    margin-right: 0 !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 74, ../sass/search-rtl.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(odd) {
    float: left;
  }
}
/* line 79, ../sass/search-rtl.scss */
.page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 79, ../sass/search-rtl.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
    margin-right: 1.5%;
  }
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 85, ../sass/search-rtl.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(3n+2) {
    margin-right: 0% !important;
  }
}
/* line 92, ../sass/search-rtl.scss */
.page-search .current-search-item li {
  float: right;
  margin-left: 30px !important;
  margin-right: 0 !important;
}
/* line 100, ../sass/search-rtl.scss */
.page-search .pane-current-search-search-results-facets-block a:before {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 110, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-header {
  left: 0;
  right: auto;
}
/* line 115, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left {
  float: right;
}
/* line 118, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .person-img {
  float: right;
  padding-left: 7%;
  padding-right: 0;
}
/* line 123, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .name {
  float: right;
}
/* line 127, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .top-text-blk-wht {
  right: 0;
  left: auto;
}
/* line 132, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right {
  float: left;
}
/* line 140, ../sass/search-rtl.scss */
.page-search .view-footer .more-event .text {
  float: left;
}

/* line 147, ../sass/search-rtl.scss */
.select2-results__options li {
  background: url("../images/select-empty.png") no-repeat right 7px top 14px;
  padding-right: 22px;
  padding-left: 0;
}
/* line 151, ../sass/search-rtl.scss */
.select2-results__options li.select2-results__option-selected {
  background-position: right 7px top 14px !important;
}
/* line 155, ../sass/search-rtl.scss */
.select2-results__options li[aria-selected="true"] {
  background-position: right 7px top 14px !important;
}

/* line 160, ../sass/search-rtl.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  left: 0px;
  right: auto;
}
