/********  mixin *********/
/*
@mixin main-color(){
  .domain-1 &{
    color: #e41145!important;
  }
  .domain-2 &{
    color:#b59d70!important;
  }
}

@mixin bg-main-color(){
  .domain-1 &, &.domain-1 &{
    background-color: #e41145!important;
  }
  .domain-2 &{
    background-color: #b59d70!important;
  }
}

@mixin bg-second-color(){
  .domain-1 &{
    background-color: #b20033!important;
  }
  .domain-2 &{
    background-color: #96825d!important;
  }
}

@mixin border-main-color(){
  .domain-1 &{
    border-color:#e41145!important;
  }
  .domain-2 &{
    border-color:#b59d70!important;
  }
}

@mixin border-4-main-color(){
  .domain-1 &{
    border-color: transparent transparent transparent #e41145;
  }
  .domain-2 &{
    border-color: transparent transparent transparent #b59d70;
  }
}

@mixin border-2-main-color(){
  .domain-1 &{
    border-color: transparent #e41145 transparent transparent;
  }
  .domain-2 &{
    border-color: transparent #b59d70 transparent transparent;
  }
}
*/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-hebrew;
  src: url("../fonts/Open-Sans-hebrew.eot?") format("eot"), url("../fonts/Open-Sans-hebrew.woff") format("woff"), url("../fonts/Open-Sans-hebrew.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-hebrew.ttf") format("truetype");
}
/* line 4, ../sass/search.scss */
.page-search #search-form {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding: 0 5%;
}
/* line 8, ../sass/search.scss */
.page-search.page-search .header .header-right .search a {
  pointer-events: none;
  cursor: default;
}
/* line 12, ../sass/search.scss */
.page-search .page-header {
  display: block !important;
  margin: 0;
}
/* line 16, ../sass/search.scss */
.page-search .container, .page-search #content {
  width: 100%;
}
/* line 20, ../sass/search.scss */
.page-search .search_result .text-center {
  float: right;
  margin-top: 10px;
}
/* line 24, ../sass/search.scss */
.page-search .search_result ol {
  padding: 0;
}
/* line 28, ../sass/search.scss */
.page-search .panels-flexible-row {
  width: 100% !important;
  padding: 0 !important;
}
/* line 32, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  padding: 0 5% !important;
}
/* line 35, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .form-submit {
  float: right;
  border-radius: 0;
}
/* line 40, ../sass/search.scss */
.page-search .select2-container {
  z-index: 100;
}
/* line 43, ../sass/search.scss */
.page-search .search-results {
  clear: both;
}
/* line 48, ../sass/search.scss */
.page-search .cm_event .pro-grid li:nth-child(1) {
  width: 25%;
  display: inline-block !important;
}
/* line 52, ../sass/search.scss */
.page-search .cm_event .pro-grid li:nth-child(2) {
  width: 73%;
  vertical-align: top;
  display: inline-block !important;
}
/* line 57, ../sass/search.scss */
.page-search .cm_event .pro-grid li img {
  max-width: 100%;
}
/* line 60, ../sass/search.scss */
.page-search .cm_event .pro-grid li h1.title {
  margin-bottom: 0;
}
/* line 62, ../sass/search.scss */
.page-search .cm_event .pro-grid li h1.title a {
  font-weight: 600;
  text-transform: uppercase;
  color: #333 !important;
}
/* line 68, ../sass/search.scss */
.page-search .cm_event .pro-grid li div.search-snippet-info {
  padding-left: 0 !important;
}
/* line 72, ../sass/search.scss */
.page-search .cm_event .pro-grid .search-view-mode p {
  font-size: 14px;
  line-height: 1.4;
}
/* line 77, ../sass/search.scss */
.page-search .search-performance {
  float: left;
  font-size: 18px;
  margin-top: 10px;
}
/* line 82, ../sass/search.scss */
.page-search .pager {
  float: right;
}
@media (max-width: 767px) {
  /* line 82, ../sass/search.scss */
  .page-search .pager {
    float: left;
  }
}
/* line 90, ../sass/search.scss */
.page-search .cm_movie .pro-grid li:nth-child(1) {
  width: 25%;
  display: inline-block !important;
}
/* line 94, ../sass/search.scss */
.page-search .cm_movie .pro-grid li:nth-child(2) {
  width: 73%;
  vertical-align: top;
  display: inline-block !important;
}
/* line 99, ../sass/search.scss */
.page-search .cm_movie .pro-grid li img {
  max-width: 100%;
}
/* line 102, ../sass/search.scss */
.page-search .cm_movie .pro-grid li h1.title {
  margin-bottom: 0;
}
/* line 104, ../sass/search.scss */
.page-search .cm_movie .pro-grid li h1.title a {
  font-weight: 600;
  text-transform: uppercase;
  color: #333 !important;
}
/* line 110, ../sass/search.scss */
.page-search .cm_movie .pro-grid li div.search-snippet-info {
  padding-left: 0 !important;
}
/* line 114, ../sass/search.scss */
.page-search .cm_movie .pro-grid .search-view-mode p {
  font-size: 14px;
  line-height: 1.4;
}
/* line 119, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results, .page-search #search-form #edit-basic {
  margin-bottom: 30px;
  position: relative;
  overflow: visible;
  height: 50px;
}
/* line 124, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group, .page-search #search-form #edit-basic .form-group {
  overflow: hidden;
  -webkit-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
}
/* line 129, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group label[for="edit-keys-1"], .page-search #search-form #edit-basic .form-group label[for="edit-keys-1"] {
  display: none !important;
}
/* line 132, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-group .form-text, .page-search #search-form #edit-basic .form-group .form-text {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  background: #ffffff;
  margin-bottom: 0;
  height: auto;
  padding: 7px 22% 8px 2%;
  font-size: 25px;
  border: none;
  border-radius: 0;
  height: 50px;
}
@media (max-width: 767px) {
  /* line 132, ../sass/search.scss */
  .page-search #search-api-page-search-form-search-results .form-group .form-text, .page-search #search-form #edit-basic .form-group .form-text {
    font-size: 15px;
    padding: 13px;
  }
}
/* line 151, ../sass/search.scss */
.page-search #search-api-page-search-form-search-results .form-submit, .page-search #search-form #edit-basic .form-submit {
  margin: 0;
  border-radius: 0 !important;
  padding: 9px 25px 11px;
  font-size: 18px;
  width: 20%;
  position: absolute;
  right: 0px;
  box-shadow: none !important;
  top: 0px;
  height: 51px;
}
@media (max-width: 767px) {
  /* line 151, ../sass/search.scss */
  .page-search #search-api-page-search-form-search-results .form-submit, .page-search #search-form #edit-basic .form-submit {
    width: 100%;
    position: relative;
  }
}
/* line 169, ../sass/search.scss */
.page-search .search_new h4 {
  display: none !important;
}
/* line 172, ../sass/search.scss */
.page-search .search_new .region .block {
  float: left;
  width: 15%;
  margin-right: 2%;
}
/* line 177, ../sass/search.scss */
.page-search .search_new > * select {
  box-shadow: none !important;
  border-radius: 0 !important;
}
/* line 181, ../sass/search.scss */
.page-search .search_new .select2-selection {
  border-radius: 0;
}
/* line 185, ../sass/search.scss */
.page-search .search-api-page-result {
  border: 1px solid transparent;
  cursor: pointer;
  background: #ffffff !important;
  transition: ease 0.2s all;
}
/* line 190, ../sass/search.scss */
.page-search .search-api-page-result:hover {
  box-shadow: 0 0 4px 1px #999;
}
/* line 194, ../sass/search.scss */
.page-search #emoveFilters {
  text-align: left;
}
/* line 197, ../sass/search.scss */
.page-search #main-wrapper .views-row {
  margin: 10px auto;
  padding: 0;
  border: 1px solid transparent;
  transition: ease 0.2s all;
}
/* line 202, ../sass/search.scss */
.page-search #main-wrapper .views-row:nth-child(odd) {
  background: #ffffff !important;
}
/* line 205, ../sass/search.scss */
.page-search #main-wrapper .views-row:nth-child(even) {
  background: #e7decc !important;
}
/* line 208, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0 !important;
}
/* line 213, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field:nth-child(1) {
  width: 10% !important;
}
/* line 216, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field:nth-child(2) {
  width: 25% !important;
}
/* line 219, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field .field-content {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 223, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field .field-content a {
  font-weight: 600;
  font-size: 18px;
  color: #000000 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}
/* line 234, ../sass/search.scss */
.page-search #main-wrapper .views-row.views-field > * img {
  width: 100% !important;
  margin: 0;
  max-width: 100% !important;
}
/* line 240, ../sass/search.scss */
.page-search #main-wrapper .views-row:hover {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
/* line 245, ../sass/search.scss */
.page-search .container {
  background: #ffffff;
}
/* line 249, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-search-api-page-search-results {
  width: 100%;
}
/* line 252, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet {
  float: left;
  width: 15.4%;
  margin-left: 1.5%;
}
/* line 256, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet .form-submit {
  display: none;
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 252, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet {
    width: 32.3%;
  }
}
@media (max-width: 767px) {
  /* line 252, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet {
    margin-left: 0 !important;
  }
}
@media (max-width: 480px) {
  /* line 252, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 252, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet {
    width: 48%;
  }
}
/* line 271, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet *:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}
/* line 276, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .pane-facet .select2-container {
  width: 100% !important;
}
@media (max-width: 767px) {
  /* line 280, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet:nth-child(2) {
    padding-top: 70px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 285, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .pane-facet:nth-child(3) {
    padding-top: 70px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 290, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(odd) {
    float: right;
  }
}
/* line 295, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 295, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
    margin-left: 1.5%;
  }
}
@media (max-width: 767px) {
  /* line 295, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(6n+2) {
    margin: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 1095px) {
  /* line 304, ../sass/search.scss */
  .page-search .panels-flexible-row-node_page-3 .panel-pane:nth-child(3n+2) {
    margin-left: 0% !important;
  }
}
/* line 309, ../sass/search.scss */
.page-search .panels-flexible-row-node_page-3 .form-type-select {
  margin-top: 0;
}
/* line 313, ../sass/search.scss */
.page-search .pane-search-current {
  clear: both;
  padding-top: 60px;
  margin-top: 60px;
  background-color: #f9f4ee;
  padding-bottom: 20px;
}
/* line 319, ../sass/search.scss */
.page-search .pane-search-current .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 321, ../sass/search.scss */
.page-search .pane-search-current .pane-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
/* line 329, ../sass/search.scss */
.page-search .pane-current-search-search-results-facets-block a {
  font-size: 0;
}
/* line 331, ../sass/search.scss */
.page-search .pane-current-search-search-results-facets-block a:before {
  content: "x";
  display: block;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  padding-top: 1px;
}
/* line 341, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results {
  background-color: #f9f4ee;
  padding-bottom: 100px;
  overflow: hidden;
}
/* line 345, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content {
  width: 1355px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
/* line 347, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view {
  overflow: visible;
}
/* line 350, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search {
  position: relative;
}
/* line 352, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .lobby-container {
  background-color: #fff;
  margin-bottom: 20px;
  clear: both;
  display: inline-block;
  width: 100%;
}
/* line 360, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-next a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-last a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-first a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-previous a {
  padding-right: 0;
  padding-left: 0;
}
/* line 365, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-item a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .pager-current span {
  padding: 5px 10px;
}
/* line 368, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-header {
  top: -46px;
  right: 0;
  position: absolute;
}
@media (max-width: 767px) {
  /* line 368, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-header {
    position: relative;
    top: auto;
  }
}
/* line 379, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .event-table-data table {
  font-weight: bold;
}
/* line 381, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .event-table-data table .title {
  font-weight: bold;
}
/* line 386, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left {
  float: left;
  width: 30%;
  position: relative;
}
@media (max-width: 767px) {
  /* line 391, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left > .only-mobile {
    padding: 10px 14px;
  }
}
/* line 395, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec {
  padding: 18px;
  overflow: hidden;
}
/* line 398, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .person-img {
  float: left;
  width: 45%;
  padding-right: 7%;
}
@media (max-width: 767px) {
  /* line 398, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .person-img {
    width: 100%;
    padding: 0 !important;
  }
  /* line 405, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .person-img a {
    display: block;
    text-align: center;
  }
}
/* line 411, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .name-job {
  width: 55%;
  float: right;
}
@media (max-width: 767px) {
  /* line 411, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .name-job {
    width: 100%;
    text-align: center;
  }
}
/* line 418, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .name-job a {
  color: #000 !important;
}
/* line 423, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .person-left-sec .name .job-title {
  font-weight: normal;
  padding-top: 10px;
}
@media (max-width: 767px) {
  /* line 386, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left {
    width: 100%;
  }
}
/* line 433, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right {
  float: right;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 433, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right {
    width: 100%;
  }
}
/* line 441, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right table tbody {
  border: none;
}
/* line 443, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right table tbody tr {
  display: table-row !important;
}
/* line 447, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .content-type {
  font-size: 12px;
}
/* line 450, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-title a, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-title {
  font-weight: bold;
  color: #000 !important;
}
/* line 454, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-summary, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .enhan-summary {
  padding: 0px 0 20px;
}
/* line 457, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-summary {
  font-size: 16px;
}
/* line 459, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-summary p {
  font-size: 16px;
}
/* line 463, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .lobby-length, .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .enhan-credit-container {
  color: #919191;
  font-size: 16px;
  line-height: 28px;
}
/* line 468, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .table-responsive {
  overflow: visible;
}
/* line 470, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right .table-responsive table {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 476, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby td {
    padding-right: 0 !important;
  }
}
/* line 481, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .time {
  width: 11%;
}
/* line 484, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .hall {
  width: 19%;
}
/* line 487, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .purchase {
  padding-right: 0;
  padding-left: 0;
  width: 80px !important;
}
@media (max-width: 767px) {
  /* line 487, ../sass/search.scss */
  .page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .purchase {
    width: 72px !important;
  }
}
/* line 495, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .title {
  width: 23%;
}
/* line 498, ../sass/search.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .code {
  width: 10%;
}
/* line 507, ../sass/search.scss */
.page-search .view-footer .more-event .text {
  float: right;
}

/* line 513, ../sass/search.scss */
.current-search-item {
  clear: both;
}
/* line 515, ../sass/search.scss */
.current-search-item .item-list li {
  float: left;
  margin-right: 30px !important;
  border-bottom: 1px solid;
  color: #c9c9c9;
}
/* line 520, ../sass/search.scss */
.current-search-item .item-list li a {
  color: #c9c9c9 !important;
}

/* line 528, ../sass/search.scss */
.select2-results__options li:first-child:not([id]) {
  display: none !important;
}
/* line 531, ../sass/search.scss */
.select2-results__options li {
  background: url("../images/select-empty.png") no-repeat left 7px top 14px;
  padding-left: 22px;
}

/* line 537, ../sass/search.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* line 545, ../sass/search.scss */
.select2-container--default .select2-selection--single {
  border: 1px solid #c9c9c9;
}

/* line 550, ../sass/search.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f7f7;
  color: #000;
}

/* line 555, ../sass/search.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  content: "\f106";
}

/* line 559, ../sass/search.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
}

/* line 563, ../sass/search.scss */
.page-search-search-results #main #content .search_new, .page-search-search-results #main #content .region-content .views-field-php a {
  background: url("../images/add-event.png") no-repeat center center;
  vertical-align: top;
  width: 30px;
  height: 27px;
}

/* line 570, ../sass/search.scss */
.select2-container--default .select2-selection--single {
  border-radius: 0;
}

/* line 574, ../sass/search.scss */
.select2-dropdown {
  border-radius: 0;
}

/* line 579, ../sass/search.scss */
.domain-1 .facetapi-facet-domain-sitename {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 585, ../sass/search.scss */
  .region-overlay .block-search-api-page form .form-submit {
    height: 50px;
  }
}
