/********  mixin *********/
/****  fonts  ********/
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/Open-Sans.eot?") format("eot"), url("../fonts/Open-Sans.woff") format("woff"), url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans.ttf") format("truetype");
}
/* line 6, ../sass/search-rtl.scss */
.page-search .search_result .text-center {
  float: left;
}
/* line 12, ../sass/search-rtl.scss */
.page-search .cm_event .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 17, ../sass/search-rtl.scss */
.page-search .search-performance {
  float: right;
}
/* line 20, ../sass/search-rtl.scss */
.page-search .pager {
  float: left;
}
/* line 25, ../sass/search-rtl.scss */
.page-search .cm_movie .pro-grid li div.search-snippet-info {
  padding-right: 0 !important;
}
/* line 32, ../sass/search-rtl.scss */
.page-search #search-api-page-search-form-search-results .form-group .form-text {
  float: right;
  padding: 7px 2% 8px 22%;
}
/* line 37, ../sass/search-rtl.scss */
.page-search #search-api-page-search-form-search-results .form-submit {
  right: auto;
  left: 0;
}
/* line 43, ../sass/search-rtl.scss */
.page-search .search_new .region .block {
  float: right;
  margin-left: 2%;
  margin-right: 0;
}
/* line 49, ../sass/search-rtl.scss */
.page-search #RemoveFilters {
  text-align: right;
}
/* line 54, ../sass/search-rtl.scss */
.page-search .views-row.views-field .field-content {
  text-align: right;
}
/* line 60, ../sass/search-rtl.scss */
.page-search .panels-flexible-row-node_page-4 .pane-facet {
  float: right;
  margin-right: 1.5%;
  margin-left: 0;
}
/* line 65, ../sass/search-rtl.scss */
.page-search .panels-flexible-row-node_page-4 .pane-facet:nth-child(1) {
  margin-right: 0;
}
/* line 70, ../sass/search-rtl.scss */
.page-search .current-search-item li {
  float: right;
  padding-left: 30px;
  padding-right: 0;
}
/* line 79, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-header {
  left: 0;
  right: auto;
}
/* line 84, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left {
  float: right;
}
/* line 86, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-left .top-text-blk-wht {
  right: 0;
  left: auto;
}
/* line 91, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .lobby-term-right {
  float: left;
}
/* line 95, ../sass/search-rtl.scss */
.page-search .pane-panopoly-database-search-search-database-results .pane-content .view-panopoly-database-search .view-content .row-custom-lobby .purchase {
  float: left;
}

/* line 106, ../sass/search-rtl.scss */
.select2-results__options li {
  background: url("../images/select-empty.png") no-repeat right 7px top 12px;
  padding-right: 22px;
  padding-left: 0;
}
/* line 110, ../sass/search-rtl.scss */
.select2-results__options li.select2-results__option-selected {
  background: url("../images/select-gold.png") no-repeat right 7px top 12px;
}

/* line 116, ../sass/search-rtl.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  left: -4px;
  right: auto;
}
