.browser-wrapper {
  position: relative;
}

.browser-wrapper .filters {
  position: absolute;
  width: 25%;
  padding: 0 10px;
}

.browser-wrapper .browser-results {
  width: 70%;
  margin-left: 30%;
}

[dir="rtl"] .browser-wrapper .browser-results {
  margin-left: 0;
  margin-right: 30%;
}
