.browser-wrapper {
  position: relative;
}

.browser-wrapper .filters {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.browser-wrapper .filter{
  display: inline-block;
  width: 110px;
  margin-right: 20px;
}

.browser-wrapper .filter label.active {
  cursor: pointer;
  color: red;
}

.browser-wrapper .filter input{
  width: 100%;
}

.browser-wrapper .date-range{
  display: inline-block;
}

.browser-wrapper .filter select{
    height: 26px;
    border: 1px solid #ddd;
    width: 100%; 
}

.browser-wrapper .browser-results {
  width: 100%;
  padding: 0 10px;
}

[dir="rtl"] .browser-wrapper .browser-results {
  margin-left: 0;
  margin-right: 30%;
}

.browser-wrapper.hall .browser-results h3,
.browser-wrapper .browser-results .item-options div[data-id] {
  cursor: pointer;
  margin: 1ex 0;
  font-size: 16px;
}

.browser-wrapper.hall .browser-results h3:hover,
.browser-wrapper .browser-results .item-options div[data-id]:hover {
  background-color:gray;
}

.browser-wrapper.hall .browser-results h3 {
  border: 1px solid #ccc;
  padding: .5em;
}

.field-name-field-toptix-purchase input.browser + .description {
  color: #0074bd;
  cursor: pointer;
}

