_dev
# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/nbproject/private/
error_log
*.sql.gz

# added by IJ
.idea/
sites/all/modules/stage_file_proxy/

#ignore cache files
cache/*
