.node-type-cm-movie .error,
.node-type-cm-event .error,
.node-type-cm-movie-group .error{
    display: none;
}
.view-display-id-panel_pane_3 .views-table tbody tr,
.view-display-id-panel_pane_5 .table tbody tr{
    display:none;
}

.view-movie-group-ct.view-display-id-panel_pane_3 .views-table tbody tr{
    display: table-row;
}
.view-display-id-panel_pane_3 .views-table tbody tr.up-events-item-movie.item-show,
.view-display-id-panel_pane_5 .table tbody tr.item-show{
    display: table-row !important;
}
.view-event-ct-view .more-event{
    width: 154px;
}
.more-event{
   background: #ff656c;
    width: 84px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.view-display-id-panel_pane_1 .views-field-nothing{
    clear: both;
}