.node-type-cm-movie .error,
.node-type-cm-event .error{
    display: none;
}
.view-display-id-panel_pane_3 .views-table tbody tr{
    display:none;
}
.view-display-id-panel_pane_3 .views-table tbody tr.up-events-item-movie.item-show{
    display: table-row !important;
}
.view-footer .more-event{
   background: #ff656c;
    width: 84px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}