
.panel-1col {
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first .inside {
  margin: 0;
}


.panel-1col .panel-col {
  width: 100%;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}

.panel-panel.panel-col-left{
    width: 66.6%;
    float: left;    
}
.panel-panel.panel-col-right{
    width: 33.3%;
    float: left;    
}