.wrapper-image{
  position: relative;
}
.text-on-image{
  position: absolute;
  bottom: 20px;
  padding: 0 5%;
  width: 100%;
}

.text-on-image a, .text-on-image a:hover{
    color: #fff;
  }

#edit-node-teaser .option-text-aligner.clearfix {
  float: left;
  width: 100%;
}
#edit-node-teaser .form-item {
  float: left;
  width: 100%;
}
#modalContent #edit-node-teaser .form-item.form-type-select > label,#modalContent #edit-node-teaser .form-item.form-type-textfield > label {
  float: left;
  width: 100%;
}
.node-teaser .teaser-row{
  background-color: #fff;
}

.node-teaser.cm_event  .teaser-row {
  float: left;
  min-height: 306px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.event-flag {
  right: 15px;
  position: absolute;
  top: 15px;
}
.event-time {
  color: #ffffff;
  font-size: 15px;
  padding-top: 20px;
}
.event-summery {
  float: left;
  width: 100%;
}
.event-summery{
  font-size: 13px;
  padding: 5px 5%;
}
.event-time .time {
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 10px;
}
.event-image > img {
  width: 100%;
}
.event-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}
.event-date-black-white-background {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.black-content {
  background: #000000 none repeat scroll 0 0;
  float: left;
  padding: 2px 8px;
  color: #fff;
}
.black-white {
  background: #ffffff none repeat scroll 0 0;
  color: #daa520;
  float: left;
  padding: 2px 8px;
}
.person-image > img {
  height: 100%;
  width: 100%;
}
.person-image {
  float: left;
  height: 170px;
  margin-right: 20px;
  width: 300px;
}
.node-teaser.cm_person .teaser-row {
  float: left;
  height: 170px;
  margin: 10px;
  width: 99%;
}
.person-title > span.person-name {
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 10px;
}
.node-teaser.cm_movie .teaser-row {
  float: left;
  min-height: 300px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.movie-image > img {
  height: 270px;
  width: 100%;
}
.movie-date-black-white-background {
  position: absolute;
  top: 0;
}
.movie-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.movie-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  float: left;
}
.movie_play {
  color: #ffffff;
  float: right;
}
.movie_metainfo {
  width: 100%;
  font-size: 13px;
  color: #919191;
  padding: 14px 5% 4px;
}
.credit {
  border-left: 1px solid #000000;
  margin-left: 5px;
  padding-left: 5px;
}
.movie_summery {
  float: left;
  padding: 0 5%;
  width: 100%;
}
.movie_summery span, .movie_summery p{
    font-size: 13px;
}
.no-image .movie-title {
  color: #000000;
  margin-top: 12px;
  position: unset;
  padding: 0 5px;
}
.node-teaser.cm_movie .no-image.teaser-row {
  background-color: #ffffff;
  min-height: 100px;
}
.no-image .movie_play,.no-image .movie-date-black-white-background, .no-image .movie-flag {
  display: none;
}
.node-teaser .teaser-row.side-image {
  background-color: #ffffff;
  min-height: 168px;
  width: 98%;
}
.side-image .movie-image > img {
  height: auto;
  width: 300px;
}
.side-image .movie-image {
  float: left;
  margin-right: 20px;
}
.side-image .movie-title {
  color: #000000;
  float: none;
  position: unset;
}
.side-image .movie_metainfo,.side-image  .movie_summery {
  float: none;
}
.side-image .movie_play {
  top: 120px;
}
.node-teaser.webform .teaser-row {
  float: left;
  margin: 10px;
  padding: 10px 15px;
}
.node-teaser.cm_movie_group .teaser-row {
  float: left;
  margin: 10px;
  position: relative;
}
.moviegroup-image > img {
  height: 300px;
  width: 100%;
}
.moviegroup-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.moviegroup-title {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 220px;
}
.moviegroup_play {
  color: #ffffff;
  left: 20px;
  position: absolute;
  top: 220px;
}
.moviegroup_metainfo {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  padding: 2px 8px;
  width: 100%;
}
.moviegroup_summery {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 0 5px;
  width: 100%;
}
.no-image .moviegroup_play, .no-image .moviegroup-flag {
  display: none;
}
.no-image .moviegroup-title {
  color: #000000;
  margin-top: 12px;
  position: unset;
  padding: 0 5px;
}
.node-teaser.cm_movie_group .no-image.teaser-row {
  min-height: 100px;
}
.side-image .moviegroup-image > img {
  height: auto;
  width: 300px;
}
.side-image .moviegroup-image {
  float: left;
  margin-right: 20px;
}
.side-image .moviegroup-title {
  color: #000000;
  float: none;
  position: unset;
}
.side-image .moviegroup_metainfo,.side-image  .moviegroup_summery {
  float: none;
}
.side-image .moviegroup_play {
  top: 120px;
}
.node-teaser.cm_movie_group .teaser-row.side-image {
  min-height: 168px;
  width: 98%;
}
.teaser-row .ticket {
  background: #b6a072 none repeat scroll 0 0;
  margin-left: 10px;
  padding: 4px 13px;
  color: #ffffff;
  cursor: pointer;
}
fieldset#panopoly-form-widget-preview {
  display: none;
}
.node-teaser.cm_article .teaser-row {
  float: left;
  margin: 10px;
  position: relative;
}
.article-image > img {
  height: 300px;
  width: 100%;
}
.article-title {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 220px;
}
.article-subtitle {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 240px;
}
.article-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.article-summery {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 0 5px;
  width: 100%;
}
.article-summery span, .article-summery p{
    font-size: 13px;
}
.carousel-slide {
  width: 100%;
}
.caruosel-slideshow > li {
  list-style: outside none none;
}
#edit-node-teaser .text-format-wrapper .format-toggle {
  display: none;
}
#edit-node-teaser .text-format-wrapper .description {
  display: none;
}
.article-date-black-white-background {
  left: 0;
  position: absolute;
  top: 0;
}
.side-image .wrapper-image {
  float: left;
  width: 48%;
}
.side-image .event-image > img {
  height: auto;
}
.side-image .event-summery, .side-image .movie_metainfo {
  float: right;
  width: 52%;
}
.side-image .event-title {
  color: #fff;
  padding: 20px 5% 0;
  position: unset;
}
.side-image .event-time {
  display: none;
}
.person-description {
  background-color: #ffffff;
  font-size: 13px;
}
.person-title {
  background-color: #ffffff;
  padding-top: 20px;
}
.person-description  p,  .person-description span{
  font-size: 14px;
}
#preview.form-wrapper {
  float: left;
  height: auto;
  min-height: 30px;
  width: 100%;
}

.node-title-teaser-content-type{
  font-size: 20px;
  padding: 23px 26px 23px 10px;
  background: url("/sites/all/themes/cinemateque/images/more-gold-right.png") no-repeat right 10px center #fff; 
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
    margin-bottom: 20px;
}

.teaser-with-sub .node-title-teaser-content-type{
  padding: 10px 26px 10px 10px;
}

.node-title-teaser-content-type h3{
    font-weight: bold;
    font-size: 20px!important;
    margin: 0;
}

.node-title-teaser-content-type a{
    color: #333;
}

.node-title-teaser-content-type:hover a{
    color: #fff;
}

.node-title-teaser-content-type:hover{
  background: url("/sites/all/themes/cinemateque/images/more-white-right.png") no-repeat right 10px center #b59d70; 
  color: #fff;
}

.node-title-teaser-cm-movie{
  padding: 0!important;
  overflow: hidden;
}

.node-title-teaser-cm-movie .node-cm-movie-year{
  padding: 23px 10px;
  float: left;
  border-right: 2px solid #f9f4ee;
  margin-right: 10px;
}

.node-title-teaser-cm-movie a .node-title-teaser-title{
  padding: 26px 26px 23px 10px;
}