#edit-node-teaser .option-text-aligner.clearfix {
  float: right;
}
#edit-node-teaser .form-item {
  float: right;
}
#modalContent #edit-node-teaser .form-item.form-type-select > label,#modalContent #edit-node-teaser .form-item.form-type-textfield > label {
  float: right;
}

.node-teaser.cm_event  .teaser-row {
  float: right;
}

.event-flag {
  right: auto;
  left: 15px;
}
.event-summery {
  float: right;
}
.event-time .time {
  border-left: 1px solid #ffffff;
  border-right: none;
  margin-left: 10px;
  margin-right: 0;
  padding-right: 0px;
  padding-left: 10px;
}
.event-date-black-white-background {
  right: 0;
  left: auto;
}

.person-image {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.node-teaser.cm_person .teaser-row {
  float: right;
}
.person-title > span.person-name {
  border-left: 1px solid;
  border-right: none;
  margin-left: 10px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
}
.node-teaser.cm_movie .teaser-row {
  float: right;
}
.movie-flag {
  right: auto;
  left: 20px;
}
.movie-title {
  float: right;
}
.movie_play {
  float: left;
}
.credit {
  border-right: 1px solid #000000;
  border-left: none;
  margin-right: 5px;
  margin-left: 0;
  padding-right: 5px;
  padding-left: 0;

}
.movie_summery {
  float: right;
}
.side-image .movie-image {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.node-teaser.webform .teaser-row {
  float: right;
}
.node-teaser.cm_movie_group .teaser-row {
  float: right;
}
.moviegroup-flag {
  left: 20px;
  right: auto;
}
.moviegroup-title {
  left: 20px;
  right: auto;
}
.moviegroup_play {
  left: 20px;
  right: auto;
}

.moviegroup_metainfo {
  float: right;
}
.moviegroup_summery {
  float: right;
}

.side-image .moviegroup-image {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.node-teaser.cm_article .teaser-row {
  float: right;
}

.article-title {
  left: 20px;
  right: auto;
}

.article-subtitle {
  left: 20px;
  right: auto;
}
.article-flag {
  left: 20px;
  right: auto;
}
.article-summery {
  float: right;
}

.article-date-black-white-background {
  left: auto;
  right: 0;
}
.side-image .wrapper-image {
  float: right;
}
.side-image .event-summery, .side-image .movie_metainfo {
  float: left;
}

#preview.form-wrapper {
  float: right;
}

.node-title-teaser-content-type{
  padding: 23px 10px 23px 26px;
}

.teaser-with-sub .node-title-teaser-content-type{
  padding: 10px 10px 10px 26px;
}

.node-title-teaser-content-type:hover{
  background: url("/sites/all/themes/cinemateque/images/more-white-right.png") no-repeat left 10px center #b59d70; 
}

.node-title-teaser-cm-movie .node-cm-movie-year{
  float: right;
  border-left: 2px solid #f9f4ee;
  border-right: none;
  margin-left: 10px;
  margin-right: 0;
}

.node-title-teaser-cm-movie a .node-title-teaser-title{
  padding: 26px 10px 23px 26px;
}