/**
 * @file
 * CSS styles for Spotlight widget.
 */

/**
 * Spotlight Widget - General Components
 */
.pane-bundle-gallery {
    font-size: 1em;
}
.pane-bundle-gallery {
    font-size: 1em;
}
.pane-bundle-gallery input,
.pane-bundle-gallery select,
.pane-bundle-gallery textarea,
.pane-bundle-gallery button {
    font-size: 1em;
}
.pane-bundle-gallery .panopoly-spotlight-widget-wrapper {
    border: 0px solid #aaaaaa;
    background: transparent 50% 50% repeat-x;
    color: #222222;
}
.pane-bundle-gallery .panopoly-spotlight-widget-wrapper a {
    color: #222222;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper ul {
    border: 0px solid #aaaaaa;
    background: transparent 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper a {
    color: #222222;
}

/**
 * Spotlight Widget - Function Buttons
 */
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
}
.pane-bundle-gallery .panopoly-spotlight-function-buttons {
    display: inline-block;
    padding: 0;
    vertical-align: top;
}
.pane-bundle-gallery .panopoly-spotlight-function-buttons a {
    display: inline-block;
    line-height: 25px;
    color: #FFFFFF;
    padding: 0px 10px;
    background: none;
    background-color: #000;
    opacity: .75;
    border: 1px solid #000000 !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/**
 * Spotlight Widget - Tabs Styles.
 */
.pane-bundle-gallery .panopoly-spotlight-widget-wrapper {
    position: relative;
    padding: 0em;
    zoom: 1;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font: bold 13px/25px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li {
    list-style: none;
    float: left;
    position: relative;
    top: 0px;
    margin: 0 .2em 1px 0;
    border-bottom: 1px solid #AAAAAA !important;
    padding: 0;
    white-space: nowrap;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li a {
    float: left;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: normal;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li.active {
    margin-bottom: 0;
    padding-bottom: 0px;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li.active a {
    cursor: text;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li a {
    cursor: pointer;
}
.pane-bundle-gallery .panopoly-spotlight {
    display: block;
    border-width: 0;
    padding: 0em;
    background: none;
}

/**
 * Spotlight Widget - Specific Overrides and Styles
 */
.pane-bundle-gallery .panopoly-spotlight-wrapper ul {
    /*position: absolute; right: .7em; top: .7em;*/
}
.pane-bundle-gallery .panopoly-spotlight-wrapper {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-block;
    max-width: 85%;
}
.pane-bundle-gallery .panopoly-spotlight-wrapper h2 {
    margin: 0;
}
.pane-bundle-gallery .panopoly-spotlight-wrapper h2 a {
    text-decoration: none;
    color: #FFFFFF;
}
.pane-bundle-gallery .panopoly-spotlight-wrapper p {
    font-size: .8em;
    margin: 0;
    line-height: 1.2em;
    margin-top: 5px;
}
.pane-bundle-gallery .panopoly-spotlight-label {
    display: inline-block;
    background-color: #FFF;
    opacity: .75;
}
.pane-bundle-gallery .panopoly-spotlight-label {
    padding: .3em .7em;
    margin: 0 50px 0 0;
}
.pane-bundle-gallery .panopoly-spotlight-info {
    padding: .7em;
    background-color: #000000;
    color: #FFFFFF;
    opacity: .75;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li {
    background: none;
    background-color: #000;
    opacity: .75;
    border: 1px solid #000000 !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li a {
    color: #FFFFFF;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li.active {
    background-color: #FFFFFF;
}
.pane-bundle-gallery .panopoly-spotlight-buttons-wrapper li.active a {
    color: #000000;
}
.pane-bundle-gallery .panopoly-spotlight {
    position: relative;
}
.pane-bundle-gallery .panopoly-spotlight .panopoly-image-full {
    border: 0;
}
.html #edit-field-custom-gallery-items label {
  margin-bottom: 10px;
  width: 15em;
}

.nav > a#next2 {
  background-image: url("http://jer-cin.tikkewebsites.com/sites/all/themes/cinemateque/images/right.png");
  font-size: 0;
  right: 15px;
  opacity: 1;
  top: 50%;
  z-index: 9;
}

.nav > a#prev2 {
  background-image: url("http://jer-cin.tikkewebsites.com/sites/all/themes/cinemateque/images/left.png");
  font-size: 0;
  left: 15px;
  opacity: 1;
  top: 50%;
  z-index: 9;
}
.panopoly-spotlight-widget-wrapper .nav > a {
  height: 32px;
  position: absolute;
  width: 32px;
}
.custom-slideshow {
  width: 100% !important;
  margin: 0;
}
.custom-slideshow > li {
  width: 100% !important;
}
.panopoly-image-spotlight {
  width: 100%;
}
#edit-field-custom-gallery-duration,#edit-field-custom-gallery-pager{ 
    display: none;
}
.field-name-field-custom-sponser-image label,.field-name-field-custom-caruosel-sponser label{
  width: auto !important;
}
#modal-content fieldset.form-wrapper > legend,#modal-content fieldset.widget-preview > legend {
  font-size: 16px;
}
.panel-pane.pane-bundle-sponser {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  text-align: center;
  width: 100%;
}
.pane-bundle-sponser .panopoly-image-full {
  width: 126px  !important;
}
.field-name-field-custom-sponser-image .field-item {
  display: inline;
}
.pane-bundle-sponser h2.pane-title {
  display: none;
}

.panels-add-content-modal {
  padding-left: 200px !important;
}
.panels-section-column-categories {
  margin-left: -205px !important;
  width: 198px !important;
}
#modalContent .panels-section-column-categories .content-type-button a {
  width: 99% !important;
}
#panopoly-form-widget-preview .slide-show {
  height: auto;
  width: 100%;
}
.custom-gallery-slider {
  width: 100%;
}
.pane-bundle-caruosel h2.pane-title,.pane-bundle-gallery h2.pane-title{
  display: none;
}
.field-name-field-custom-caruosel-sponser .field-items,.field-name-field-custom-caruosel-sponser .field-item {
  width: 100% !important;
}
#modalContent #modal-content fieldset label {
  width: 15em;
}
#modalContent #modal-content .form-item {
  margin: 1em 0 !important;
}
.nav > a#next {
  background-image: url("http://jer-cin.tikkewebsites.com/sites/all/themes/cinemateque/images/right.png");
  font-size: 0;
  right: 15px;
  opacity: 1;
  top: 50%;
  z-index: 9;
} 

.nav > a#prev {
  background-image: url("http://jer-cin.tikkewebsites.com/sites/all/themes/cinemateque/images/left.png");
  font-size: 0;
  left: 15px;
  opacity: 1;
  top: 50%;
  z-index: 9;
}
.middel-content .slider-readmore {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float: left;
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 12px;
  position: absolute;
  text-align: center;
  top: 46%;
  width: 100%;
}
#edit-node-teaser .option-text-aligner.clearfix {
  float: left;
  width: 100%;
}
#edit-node-teaser .form-item {
  float: left;
  width: 100%;
}
#modalContent #edit-node-teaser .form-item.form-type-select > label,#modalContent #edit-node-teaser .form-item.form-type-textfield > label {
  float: left;
  width: 100%;
}
.node-teaser.cm_event  .teaser-row {
  float: left;
  min-height: 306px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 48%;
  background: #cdcdcd none repeat scroll 0 0;
}
.event-flag {
  right: 15px;
  position: absolute;
  top: 15px;
}
.event-time {
  top: 260px;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  right: 20px;
}
.event-summery {
  background-color: #ffffff;
  float: left;
  width: 100%;
}
.event-image {
  min-height: 306px;
}
.event-summery > p, .event-summery span {
  font-size: 13px;
  padding: 5px 10px;
}
.event-time .time {
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 10px;
}
.event-image > img {
  width: 100%;
  height: 306px;
}
.event-title {
  top: 220px;
  color: #ffffff;
  position: absolute;
  right: 20px;
}
.event-date-black-white-background {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.black-content {
  background: #000000 none repeat scroll 0 0;
  float: left;
  padding: 2px 8px;
  color: #fff;
}
.black-white {
  background: #ffffff none repeat scroll 0 0;
  color: #daa520;
  float: left;
  padding: 2px 8px;
}
.person-image > img {
  height: 100%;
  width: 100%;
}
.person-image {
  float: left;
  height: 170px;
  margin-right: 20px;
  width: 300px;
}
.node-teaser.cm_person .teaser-row {
  float: left;
  height: 170px;
  margin: 10px;
  width: 99%;
}
.person-title > span.person-name {
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 10px;
}
.node-teaser.cm_movie .teaser-row {
  float: left;
  min-height: 300px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 48%;
}
.movie-image > img {
  height: 270px;
  width: 100%;
}
.movie-date-black-white-background {
  position: absolute;
  top: 0;
}
.movie-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.movie-title {
    top: 200px;
  color: #ffffff;
  position: absolute;
  right: 20px;
}
.movie_play {
  color: #ffffff;
  left: 20px;
  position: absolute;
  top: 200px;
}
.movie_metainfo {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 2px 8px;
  width: 100%;
  font-size: 13px;
}
.credit {
  border-left: 1px solid #000000;
  margin-left: 5px;
  padding-left: 5px;
}
.movie_summery {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 0 5px;
  width: 100%;
}
.movie_summery span, .movie_summery p{
    font-size: 13px;
}
.no-image .movie-title {
  color: #000000;
  margin-top: 12px;
  position: unset;
  padding: 0 5px;
}
.node-teaser.cm_movie .no-image.teaser-row {
  background-color: #ffffff;
  min-height: 100px;
}
.no-image .movie_play,.no-image .movie-date-black-white-background, .no-image .movie-flag {
  display: none;
}
.node-teaser .teaser-row.side-image {
  background-color: #ffffff;
  min-height: 168px;
  width: 98%;
}
.side-image .movie-image > img {
  height: auto;
  width: 300px;
}
.side-image .movie-image {
  float: left;
  margin-right: 20px;
}
.side-image .movie-title {
  color: #000000;
  float: none;
  position: unset;
}
.side-image .movie_metainfo,.side-image  .movie_summery {
  float: none;
}
.side-image .movie_play {
  top: 120px;
}
.node-teaser.webform .teaser-row {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin: 10px;
  padding: 10px 15px;
  width: 48%;
}
.node-teaser.cm_movie_group .teaser-row {
  float: left;
  margin: 10px;
  position: relative;
  width: 48%;
}
.moviegroup-image > img {
  height: 300px;
  width: 100%;
}
.moviegroup-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.moviegroup-title {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 220px;
}
.moviegroup_play {
  color: #ffffff;
  left: 20px;
  position: absolute;
  top: 220px;
}
.moviegroup_metainfo {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  padding: 2px 8px;
  width: 100%;
}
.moviegroup_summery {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 0 5px;
  width: 100%;
}
.no-image .moviegroup_play, .no-image .moviegroup-flag {
  display: none;
}
.no-image .moviegroup-title {
  color: #000000;
  margin-top: 12px;
  position: unset;
  padding: 0 5px;
}
.node-teaser.cm_movie_group .no-image.teaser-row {
  background-color: #ffffff;
  min-height: 100px;
}
.side-image .moviegroup-image > img {
  height: auto;
  width: 300px;
}
.side-image .moviegroup-image {
  float: left;
  margin-right: 20px;
}
.side-image .moviegroup-title {
  color: #000000;
  float: none;
  position: unset;
}
.side-image .moviegroup_metainfo,.side-image  .moviegroup_summery {
  float: none;
}
.side-image .moviegroup_play {
  top: 120px;
}
.node-teaser.cm_movie_group .teaser-row.side-image {
  background-color: #ffffff;
  min-height: 168px;
  width: 98%;
}
.teaser-row .ticket {
  background: #b6a072 none repeat scroll 0 0;
  margin-left: 10px;
  padding: 4px 13px;
  color: #ffffff;
  cursor: pointer;
}
fieldset#panopoly-form-widget-preview {
  display: none;
}
.node-teaser.cm_article .teaser-row {
  float: left;
  margin: 10px;
  position: relative;
  width: 48%;
}
.article-image > img {
  height: 300px;
  width: 100%;
}
.article-title {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 220px;
}
.article-subtitle {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 240px;
}
.article-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.article-summery {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 0 5px;
  width: 100%;
}
.article-summery span, .article-summery p{
    font-size: 13px;
}
.carousel-slide {
  width: 100%;
}
.caruosel-slideshow > li {
  list-style: outside none none;
}
#edit-node-teaser .text-format-wrapper .format-toggle {
  display: none;
}
#edit-node-teaser .text-format-wrapper .description {
  display: none;
}
.article-date-black-white-background {
  left: 0;
  position: absolute;
  top: 0;
}
.side-image .event-image {
  height: auto;
  margin-right: 20px;
  min-height: auto;
  width: 300px;
  float: left;
}
.side-image .event-image > img {
  height: auto;
}
.side-image .event-summery {
  float: none;
}
.side-image .event-title {
  color: #000000;
  padding-top: 20px;
  position: unset;
}
.side-image .event-time {
  display: none;
}
.person-description {
  background-color: #ffffff;
  font-size: 13px;
}
.person-title {
  background-color: #ffffff;
  padding-top: 20px;
}
.person-description  p,  .person-description span{
  font-size: 14px;
}
.node-teaser.cm_person .teaser-row {
  background-color: #ffffff;
}
/**
 *  Basic Bean info block css
 **/
.bean-block {
    border: 1px solid;
  float: left;
  min-height: 100px;
  width: 240px;
  padding: 10px;
}
.bean-icon {
  float: left;
  height: 80px;
  width: 30px;
}
.bean-icon {
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 30px;
  text-align: right;
}
.bean-title {
  text-align: center;
}
.bean-body {
  text-align: center;
}
.bean-body > p,.bean-body > span {
  margin: 0;
}
/**
 * Admin bean type for dragable
 */
#preview .bean-icon {
  height: auto;
  text-align: center;
  width: 100%;
}
#preview .bean-block {
  min-height: 170px;
  width: 280px;
}
#preview .bean-title {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
#preview .bean-body {
  float: left;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
#preview .bean-block {
  min-height: 170px;
  width: 280px;
}
/**
 *  Footer Bean info block css
 **/
.footer .pane-information-info-view-block {
  background-color: #7a7a7a;
  padding: 40px;
  float: left;
  width: 100%;
}
.footer .pane-information-info-view-block .pane-content {
  margin: 0 auto;
  width: 1125px;
}
.footer .pane-information-info-view-block .bean-block {
  width: 280px;
  border: none;
}
.footer .pane-information-info-view-block  .bean-icon {
  float: left;
  text-align: center;
  width: 100%;
  height: auto;
  color: #ffffff;
}
.footer .pane-information-info-view-block .bean-title {
  color: #ffffff;
  float: left;
  padding-top: 15px;
  width: 100%;
  font-size: 20px;
}
.footer .pane-information-info-view-block  .bean-body {
  color: #ffffff;
  float: left;
  padding-top: 10px;
  width: 100%;
}
.footer .pane-information-info-view-block  .bean-body > p, .footer .pane-information-info-view-block  .bean-body > span {
  margin: 0;
}