.node-type-cm-event #messages .alert.alert-danger,
.page-search.page-search-results #messages .alert.alert-danger,
.pane-facet h2.pane-title{
    display: none;
}
.page-search.page-search-results #page-header .page-header{
    display: block !important;
}
.panels-flexible-region-node_page-slider-inside{
    height: auto !important;
}
.without-image-event-title .slide-movie-title h2,
.node-type-cm-event .pane-event-ct-view-panel-pane-3 .without-image-event-title .slide-left-ct{
    color: #000 !important;
}