body {
  font: 120%/1.538em "Lucida Grande","Lucida Sans Unicode",sans-serif !important;
}
.views-display-setting .label, .lable{
    color: #666666;
}
div.branding .breadcrumb {
    background-color: transparent;
}
table th.checkbox {
    margin: 0;
}
fieldset legend {
  font-size: 12px;
  width: auto;
}
.html #system-modules th.checkbox {
    height: 28px;
    margin: -1px 0 0;
    width: auto;
}