body {
  font: 120%/1.538em "Lucida Grande","Lucida Sans Unicode",sans-serif !important;
}
.views-display-setting .label, .lable{
    color: #666666;
}
div.branding .breadcrumb {
    background-color: transparent;
}