/******New custom css write Ricky Thomas Please don't work this file*****/
.ctr,
.pane-node-field-toptix-purchase{
  clear: both;
}
#main-wrapper {
    margin-top: 58px !important;
}
.pane-node-field-cm-event-body h2.pane-title,
.pane-node-field-tag h2.pane-title,
.pane-node-field-toptix-purchase h2.pane-title,
body.node-type-cm-movie .container #breadcrumb,
body.node-type-cm-movie-group .container #page-header .page-header h1.title,
body.node-type-cm-movie .container #page-header .page-header h1.title,
body.node-type-cm-event .container #breadcrumb,
body.node-type-cm-movie-group .container #breadcrumb,
body.node-type-cm-event .container #page-header .page-header h1.title{
  display: none;
}
body.node-type-cm-event,
body.node-type-cm-movie,
.node-type-cm-movie-group{
  background-color: #fff !important;
}

body.node-type-cm-event #content,
body.node-type-cm-movie #content,
.panels-flexible-region-node_page-slider,
.node-type-cm-movie-group #content,
.view-movie-group-ct.view-display-id-panel_pane_2 {
  width: 100% !important;
}
.node-type-cm-event .panels-flexible-region-8-center,
.node-type-cm-movie .panels-flexible-region-8-center,
.node-type-cm-event .panels-flexible-region-3-center,
.node-type-cm-movie .panels-flexible-region-3-center{
  width: 100%;  
}
.panels-flexible-region-inside-first{
  position: relative !important;
}
.views_slideshow_cycle_slide .field-content .slide-alt-title{
    background-color: #312f2f;
    bottom: 0;
    color: #a0a0a0;
    font-size: 12px;
    left: 0;
    padding: 10px 40px;
    position: absolute;
}
.view.view-display-id-panel_pane_3{
  overflow: visible;
}
.pane-event-ct-view-panel-pane-7 table tr td{
  border: medium none;
   font-size: 1.1rem;
}

.views-field-php .addthisevent-drop,
.views-field-php .addthisevent-drop:hover{
    background-color: #fff;
    border: medium none;
    font-size: 0;
    z-index: 1;
}
.pane-event-ct-view-panel-pane-7 .view-id-event_ct_view .views-field-php .addthisevent-drop{
  background-color: #f9fafb;
}
.views-field-php .addthisevent-drop .addthisevent_icon{
  background: #fff url("../images/addevent-red.png") no-repeat !important;
    height: 25px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 26px;
    z-index: 1;
}
.pane-event-ct-view-panel-pane-3 .views-field-field-main-event-credit .slide-over-content{
  position: absolute;
  bottom: 10em;
  left: 48%;
  z-index:15;
}
.slide-right-ct{
    float: right;
    margin-top: 15%;
    width: 15%;
}
.slide-right-ct a{
   background: #fff url("../images/play-icon.png") no-repeat scroll 12px center;
  border-radius: 30px;
  display: inline-block;
  font-size: 0;
  height: 55px;
  margin-left: 55%;
  padding: 2%;
  width: 55px;
}
.pane-event-ct-view-panel-pane-3 .views-field-field-main-event-credit{
  width: 100%;
}
.pane-event-ct-view-panel-pane-3 .views-field-field-main-event-credit .slide-left-ct{
  width: 85%;
  float: left;
  color: #fff;
}
.slide-eve-title{
  font-size: 22px;
  margin-top: 1%;
}
.slide-movie-title h2{
  margin: 1% 0;
  font-weight: normal;
  color: #fff;
}
.pane-event-ct-view-panel-pane-3 .views-field-nothing{
  padding: 1.4% 10%;
  background-color: #F9F9FB;
  position: relative;
}
.pane-node-field-cm-event-body .pane-content{
  margin: 6% 20%;
}
.pane-node-field-cm-event-body .pane-content p{
  font-weight: 600;
}
.pane-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.pane-event-ct-view-panel-pane-5 td a{
  color: #000;
}
.pane-event-ct-view-panel-pane-5 table,
.pane-event-ct-view-panel-pane-5 tbody,
.pane-event-ct-view-panel-pane-5 th,
.pane-event-ct-view-panel-pane-5 td,
.pane-event-ct-view-panel-pane-5 tr,
.bottom-content table,
.bottom-content tbody,
.bottom-content th,
.bottom-content tr,
.bottom-content td{
  border: none !important;
  text-align: right;
   font-size: 1.1rem;
}
.pane-event-ct-view-panel-pane-5 th{
 color: #bbb;
 font-size: 14px;
 font-weight:300;
}
.new-parent-left{
    padding-left: 10%;
    width: 24%;
    margin-right: 5%;
    float: left;
}
.pane-event-ct-view-panel-pane-6{
  margin-right: 10%;
  margin-top: 20px;
  width: auto;
  padding-left: 15%;
}
.views-field.views-field-field-cm-movie-credits-person-ro{
   color: #b3b3b3;
}
.views-field.views-field-field-cm-movie-credits-person > a {
    color: #020202;
}
.views-field.views-field-field-cm-movie-credits-person,
.views-field.views-field-field-cm-movie-credits-person-ro{
    font-size: 1.1rem;
    font-weight: normal;
}
.content.middle .panels-flexible-region-node_page-content_left{
  text-align: right;
  width: 78.804%;
}
.bottom-content .pane-test-view-for-movie-credit-panel-pane-2 .pane-content{
    margin: 3% 0;
}
.bottom-content .pane-test-view-for-movie-credit-panel-pane-2 .view-content{
  margin: auto;
  padding-right: 14%;
  text-align: right;
  width: 65%;
}
.content.middle .panels-flexible-region-node_page-content_right{
  float: left;
  text-align: right;
  width: 20.196%;
}
.pane-node-field-tag{
  margin-top: 45%;
}
.pane-event-ct-view-panel-pane-4 .pane-content{
  border-top: 5px solid #000;
  padding-top: 13px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  height: 57px;
  margin-top: 12%;
}
.pane-node-field-tag .pane-content{
  border-top: 5px solid #000;
      padding-top: 3%;
}
.sharethis-wrapper span.st_sharethis_button{
  border-bottom: 2px solid #ddd;
  display: block;
  margin-top: 6%;
  padding-bottom: 15px;
}
#panels-ipe-regionid-content_right .pane-sharethis-sharethis-block .st_facebook_button{
      display: block;
    margin-top: 5%;
}
.pane-sharethis-sharethis-block .st-sharethis-counter{
    background: url("../images/whatapp-small.png") no-repeat !important;
    font-size: 0;
    height: 15px !important;
    width: 82px !important;
}
.pane-sharethis-sharethis-block .st-facebook-counter{
    background: url("../images/facebook-small.png") no-repeat !important;
    font-size: 0;
    height: 16px !important;
    width: 56px !important;
}
.flag.flag-action{
  background: rgba(0, 0, 0, 0) url("../images/like-big.png") no-repeat scroll 0 0 !important;
   margin-top: 10px;
}
.pane-event-ct-view-panel-pane-4 .flag-wrapper a{
    background: rgba(0, 0, 0, 0) url("../images/like-small.png") no-repeat scroll 0 0 !important;
    display: block;
    font-size: 0;
    height: 14px !important;
    margin-left: 47%;
    width: 119px !important;
}
.field-name-field-tag a{
  color: #bbb;
  text-decoration: underline;
  font-size: 14px;
}
.field-name-field-tag .field-item.even{
  float: left;
  width: 50%;
  padding-top: 3%;
}
.field-name-field-tag .field-item.odd{
  float: right;
  padding-top: 3%;
  width: 50%;
}
.movie-info{
  margin-right: 5%;
}
.slide-parent-content{
  position: relative;
}
.pane-node-field-toptix-purchase{
  bottom: 1%;
  position: absolute;
  right: 25%;
}
.add-event a{
  background: url("../images/add-event.png") no-repeat !important;
  display: block;
  font-size: 0;
  height: 37px;
  width: 50px;
  position: absolute;
  bottom: 11%;
  right: 18%;
}
.field-name-field-toptix-purchase .field-item button{
  background: url("../images/toptix.png") no-repeat !important;
  border: medium none;
  display: block;
  font-size: 0;
  height: 40px;
  width: 104px;
}
.movie-flag a{
  background: url("../images/like-event.png") no-repeat !important;
  display: inline-block;
  font-size: 0;
  height: 37px;
  width: 50px;
  position: absolute;
  left: 190px;
}
.table-responsive tbody tr{
  background-color: #fff !important;
}
#colorbox{
  width: 518px !important;
  height: 435px !important;
  border-radius: 2%;
  left: 30% !important;
}
#colorbox #cboxWrapper{
  height: 453px !important;
  width: 616px !important;
}
#cboxContent{
  width: 497px !important;
  height: 399px !important;
}
#cboxLoadedContent{
  margin: 0px;
  width: 502px !important;
}
#cboxClose{
  bottom: 3% !important;
}
.pane-event-ct-view-panel-pane-7 .table-responsive tbody tr{
  background-color: #F9FAFB !important;
}
.pane-event-ct-view-panel-pane-7 .views-table,
.pane-event-ct-view-panel-pane-7 .views-table tbody,
.pane-event-ct-view-panel-pane-7 .views-table tbody tr{
  border: none;
}
.pane-event-ct-view-panel-pane-7 .view-content{
    margin-bottom: 1%;
    margin-top: 1%;
}
.pane-event-ct-view-panel-pane-7 .pane-content{
   background-color: #f9fafb;
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;  
}
.pane-event-ct-view-panel-pane-7 .views-table{
  margin-bottom: 0;
}
.pane-event-ct-view-panel-pane-8 .views-field-field-cm-event-body{
   font-size: 1.1rem;
  line-height: 28px;
  margin: 2% 20%;
    
}
.views-field.views-field-field-cm-movie-country,
.pane-event-ct-view-panel-pane-6 .views-field-title a{
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2%;
}
.pane-event-ct-view-panel-pane-6 .views-field-field-cm-movie-body{
  color: #333333;
  font-size: 1.1rem;
  line-height: 28px;
}
@media only screen and (max-width: 500px) {

}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header 
			position: absolute;*/
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Date"; }
		td:nth-of-type(2):before { content: "Time"; }
		td:nth-of-type(3):before { content: "Hall"; }
		td:nth-of-type(4):before { content: "Event Title"; }
		td:nth-of-type(5):before { content: "Event Code"; }
		td:nth-of-type(6):before { content: "Toptix purchase"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0 auto; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}